<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="tenor-gif-embed mb-5" data-postid="15917800" data-share-method="host" data-aspect-ratio="0.8"
                data-width="50%">
                <a
                    href="https://tenor.com/view/cute-kitty-best-kitty-alex-cute-pp-kitty-omg-yay-cute-kitty-munchkin-kitten-gif-15917800">Cute
                    Kitty Best Kitty GIF</a>from <a href="https://tenor.com/search/cute+kitty-gifs">Cute Kitty GIFs</a>
            </div>
            <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

            <a href="/" class="btn btn-dark">Vuelve a inicio</a>
        </div>

    </div>

</div>