<main class="bg-gray-700 px-4 pt-16 pb-24 sm:px-6 sm:pt-24 lg:px-8 lg:py-32">
  <div class="max-w-3xl mx-auto">
    <div class="max-w-xl">
      <h1 class="text-sm font-semibold uppercase tracking-wide text-white">Registro completo</h1>
      <p class="mt-2 text-4xl font-extrabold tracking-tight sm:text-5xl text-gray-300">Gracias por registrarte!</p>
      <p class="mt-2 text-base text-gray-100">Tu aumento de 500 TB de almacenamiento cerebral se aplicará una vez iniciada la sesión</p>

      <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
        <a href="/auth/signin" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-black bg-white hover:bg-gray-200 sm:px-8">Iniciar sesión</a>
      </div>
    </div>

    
  </div>
</main>