<h1>Crear usuario</h1>

<form action="/auth/create" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <label for="">Password</label>
    <input type="text" name="password" required>
    <button type="submit">Crear usuario</button>

</form>

<a href="/">Home page</a>