<h1>log-in</h1>
<br>
<div>
    <form action="/logIn" method="POST">

        <label for="username">USERNAME:</label><br>
        <input type="text" id="username" name="username" placeholder="username">

        <br><br><br>

        <label for="password">PASSWORD:</label>
        <br>
        <input type="password" id="password" name="pwd1" placeholder="password">

        <br><br>

        {{#if errorMessage}}
        <div class="error">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}


        <br><br>

        <input class="btn btn-primary " type="submit" value="LOG-IN">
    </form>
</div>
<br>
<a class="btn btn-primary btn-dark " href="/">Back</a>