<div class="container">
<h1>Log-in</h1>

<form action="/login" method="POST">

<label for="input-username">Username</label>
<input type="text" id="input-username" name="username" placeholder="Enter username" />

<label for="input-password">Password</label>
<input type="password" name="password" id="input-password" placeholder="Your password" />

<button type="submit" class="btn4">Log in!</button>
</form>
</div>

{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
{{/if}} 