
<div class="boxshadowwrapper">
    <h2>Welcome {{userInSession.currentUser.username}}! You are now logged in.</h2>
</div>

<div class='boxshadowwrapper'>
    <p>Username: {{userInSession.currentUser.username}}</p>
</div>

<div class='boxshadowwrapper'>
    <p>User ID: {{userInSession.currentUser._id}}</p>
</div>
<div class='boxshadowwrapper'>
    <p>Email-adress: {{userInSession.currentUser.email}}</p>
</div>