{{!-- receive user % errors => user.email & errors.email
they come from auth.controller from the function "renderWithErrors" --}}
<div class="row justify-content-center mt-4">
  <div class="col-sm-4">
    <h1>LOG IN</h1>

    {{!--        FORM         --}}
    <form method="POST" action="/login">
        <div class="form-group">
            <label for="loginMail">Email</label>
            <input 
            type="email" 
            value="{{user.email}}"
            name="email"
            class="form-control {{#if errors.email}}is-invalid{{/if}}" 
            >
        </div>

        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input 
            type="password" 
            name="password" 
            class="form-control {{#if errors.email}}is-invalid{{/if}}" 
            >
        </div>

        {{#if errors.email}}
          <div class="text-danger text-small mb-2">
            {{errors.email}}
          </div>
        {{/if}}

        <button type="submit" class="btn btn-primary">Log In</button>
    </form>

  </div>
</div>




