<form action="/login" method="POST">
<label for="email">email</label>
<input type="email" name="email" id='email'>
<label for="password">password</label>
<input type="password" name='password' id='password'>
<button type="submit">login</button>
</form>