{{#if error }}
    {{error}}
{{/if}}

<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="*******">
    <button type="submit">Login</button>
</form>