<div id="form">
  <h2>Login</h2>

  <form action="/auth/login" method="POST">
    <label>Tu nombre de usuario</label>
    <input type="text" name="username" placeholder="ironhacker" />
    
    <label>Password</label>
	<input type="password" name="password" placeholder="********" />

    <button type="submit" class="btn btn-warning">Entrar</button>
  </form>

	{{#if errorMessage}}
		<p class="error">{{errorMessage}}</p>
	{{/if}}

</div>