<h1>Login</h1>
<form action="/member" method="POST" class="sign-up">
  <div>
    <input placeholder="Username" name="username" type="text">
  </div>
  <div>
    <input placeholder="Password" name="password" type="text">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
  <div>
    <p>Not a Member? Sign up <a href="/auth/sign-up">here</a>!</p>
  </div>
</form>