<div id="form">
  <h2>Login</h2>
  <form action="/login" method="post">
    <label>Username
      <input
        type="username"
        name="username"
        placeholder="Write your username here"
      />
    </label>
    <label>
      Password
      <input
        type="password"
        name="password"
        placeholder="Write your password here"
      />
    </label>
    <button type="submit">Submit</button>
  </form>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>