  <a href="/">Go Back</a>
  <hr />
<h1>Log In</h1>
<hr />

<form action="/login" method="post">

  <label for="username">Username:</label>
  <input type="text" name="username" required/>

  <label for="password">Password:</label>
  <input type="password" name="password" required/>

  <button type="submit">Log In</button>

</form>

{{#if errorMessage}}
  <p>*{{errorMessage}}</p>
{{/if}}