<div class="signup-page">
  <div class="red-container">

    <h1>Log in</h1>
    <br />
    <div class="signup-container">
      <form class="signup-form" action="/login" method="post">
        <input
          type="username"
          name="username"
          value=""
          placeholder="Enter your username"
        />
        <input
          type="password"
          name="password"
          value=""
          placeholder="Enter your password"
        />
        <input type="submit" value="Log in" />
      </form>

    </div>
  </div>
</div>