<h1>This is the Log in</h1>
<form action="/signup" method="POST" >
    <label>Username
        <input type="text" name="username" id="username" placeholder="Enter your name">
    </label>

    <label>Password
        <input type="password" name="password" id="password" placeholder="******">
    </label>

    <button type="submit">Log in</button>
<a href="/signup">Sign up</a>
</form>