<form action="/login" method="post">
    <label>User name</label>
    <input type="text" name="username" placeholder="user name" value="{{user.username}}">
    
    <label>Password</label>
    <input type="password" name="password" placeholder="password">

    <button type="submit">Sign up!</button>
</form>