<nav>
  <a href="/signup">Sign up </a>
  <a href="/login">Log in </a>
</nav>

<main>
  <h2>Sign in</h2>

  <section class="form">
    <form action="/login" method="post">

      <label for="email">Email</label>
      <input type="email" name="email" id="email" />

      <label for="password">Password</label>
      <input type="password" name="password" id="password" />

      <button type="submit">Sign in</button>

    </form>
  </section>

</main>