<h2>Login</h2>

<form action='/login' method='post'>
  <label>
    Username:  </label>
    <input type='username' name='username' id='username' placeholder='username' required />


  <label>
    Password:  </label>
    <input type='password' name='password' id='password' placeholder='*******' required />


  <button type='submit'>Login</button>

</form>