<h1>Log in with your account:</h1>
<br>

<form action="/login" method="POST">

    <label for="email">Email:</label>
    <br><br>
    <input type="text" id="email" name="email">
    <br><br><br>

    <label for="password">Password:</label>
    <br><br>
    <input type="password" id="password" name="plainPassword">
    <br><br><br>

    <button type="submit">Log in!</button>


</form>