<h1>Login</h1>
<br>
<form action="/auth/login" method="post">

<label for="username">Username</label>
<input type="text" name="username" required="true">
<br>
<label for="password">Password</label>
<input type="password" name="password" required="true">
<br>
<button type="submit">Login</button>

</form> 