<form action="/log-in" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email">

    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Your phone number</label>
        <input type="number" class="form-control" id="phoneNumber" name="phoneNumber">
    </div>
    {{#if errorMessage}}
    <p id="error">{{errorMessage}}</p>
    {{/if}}
    <button type="submit" class="btn btn-success">Log in!</button>
</form>