<div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="your@mail.here" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>

  </form>
   {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

</div>

