<div id="login">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Your username" required />
    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" required />
    <button type="submit">Login</button>
  </form>
  {{#if errorMessage}}
  <p>{{errorMessage}}</p>
  {{/if}}
</div>