<h1>Inciar sesión</h1>

<form action="/iniciar-sesion" method="POST">


    <label for="usernameInput">Usuario</label>
    <input type="text" id="usernameInput" name="username">
    <hr>

    <label for="pwdInput">Contraseña</label>
    <input type="password" id="pwdInput" name="userPwd">
    <hr>

    <button type="submit">Entrar</button>

</form>