<div class="form-box">

<h1 class="title"> Login Form</h1>


<!--  views/auth/signup-form.hbs   -->


	<form id="form" action="/login" method="POST">
    
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Your username" required>

    </br>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password" required>

    </br>
    <button type="submit" class="submit-btn">Login</button>
  </form>

{{!-- error message display: --}} 
{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}

</div>

