{{!-- views/auth/login.hbs --}}

<div id="form">
  <h2>Login</h2>

  <form action="/login" method="POST">

    <label> Email
      <input type="email" name="email" placeholder="ironhacker@ironhack.com" />
    </label>
<br>
    <label>Password
      <input type="password" name="password" placeholder="********" />
    </label>
<br>
    <button type="submit">Login</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
