<h1>Log in</h1>

<form action="/auth/login" method="post">
  <label for="">Username</label>
  <input type="text" name="username" />

  <label for="">Password</label>
  <input type="text" name="password" />

  <button type="submit">Log In</button>

</form>