<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <h2>Login</h2>
            <hr>

            <form action='/login' method="POST">

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <br>

                {{#if errorMessage}}
                <div id="error" class="mb-3">{{errorMessage}}</div>
                {{/if}}

                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-info">Iniciar Sesión</button>
                </div>
                <br>

            </form>

            <br>
        </div>
    </div>

</div>