<h1>Log In</h1>

<form action="/enter" method="POST">

    <label for="email" class="form-label">Email Address</label>
    <input type="email" name="email">

    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">

    <button type="submit" class="">Log In</button>

</form>