<h2>LOG IN</h2>

<form action="/login" method="POST">
<label> Username:
  <input type="text" name="username">
</label>
<label> Password:
  <input type="password" name="inputPassword">
</label>
<button type="submit">LOG IN</button>

    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
</form>