<section class="main-content">
    <h2>Log in</h2>
    <form action="/auth/login" method="POST">
        <label for="">Username</label>
        <input type="text" name="username" required>

        <label for="">Password</label>
        <input type="password" name="password" required>

        <button type="submit" id="login-btn">Log in</button>
    </form>
</section>