<h1>This is login page</h1>

<form action="/auth/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Log in</button>
</form>