<form action="/login" method="POST" id="form">
<h2>Login</h2>


<label for="username">Username</label>
<input type="text" name="username" required>

<label for="password">Password</label>
<input type="password" name="password" required>
{{#if errorMessage }}
<div class="error-mesage">{{errorMessage}}</div>
{{/if}}
<button>Login</button>

<p class="account-message">Don´t have an account? <a href="/signup">Sign up</a>
</p>

</form>