<h3>Login here: </h3>
<br />
<form action="/login" method="POST">
  <div class="col-sm-4">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="Your Username"
    />
    <br />
  </div>
  <div class="col-sm-4">
    <label for="password" class="form-label">Password</label>
    <input 
    type="password" 
    class="form-control" 
    />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>