<h2>Log In</h2>

<form action="/ingresar" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    {{#if errorMessage}}
    <div id="error">
        <p>{{errorMessage}}</p>
    </div>
    {{/if}}
</form>