<form action="/auth/log-in" method="POST">

  <div>
    <label for="username">Username:</label>
    <input type="username" name="username" />
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </div>

  <button type="submit">Log in</button>

</form>
{{#if errorMessage}}
  <p class="error-message">{{errorMessage}}</p>
{{/if}}