<div class="login-page">
    <h2>Log Into Your Account</h2>
    <div class="login-container">
        <form action="/login" method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Submit</button>
        </form>
        {{#if errorMessage}}
        <p class="error-message">{{errorMessage}}</p>
        {{/if}}
    </div>
</div>