<h2>Login Page</h2>

<form action="/login" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>


    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Log in</button>

</form>

{{#if errorMessage}}
    <p style="background-color:red; color:white">{{errorMessage}}</p>
{{/if}}