<div class="d-flex flex-column align-items-center justify-content-center">
    <h2>Log into your account</h2>
    <form action="/auth/login" method="post" class="p-5 w-50">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="emailHelp" required>
            {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>