<form action="/auth/login" method="POST">

<label> Username
  <input type="text" name="username" placeholder="Enter your username" required>
</label>

<label>
  <input type="password" name="password" placeholder="Enter your Password" reqeuired>
</label>

  <button type="submit">Login!</button>
</form>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}