<h2>Login</h2>
counter: {{counter}}
<div id="login">
  {{#if error}}
  <p style="color: red">{{error}}</p>
  {{/if}}
  <form action="/auth/login" method="POST">
    <label for="input-email">Email</label>
    <input required type="email" id="input-email" name="email" placeholder="Your email" />

    <label for="input-password">Password</label>
    <input required type="password" name="password" id="input-password" placeholder="********" />

    <button type="submit">Login</button>

    {{!-- error message will be added here --}}
  </form>
</div>