<h2>Login</h2>
<form action="/login" method="post">
  <label for="userName">Username:</label>
  <input type="text" name="userName" id="" />
  <label for="password">Password:</label>
  <input type="password" name="password" />
  <button type="submit">Submit</button>
</form>