<div>
  <h2>Login</h2>

  <form action="/login" method="post">

    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Cool Cat"
      required
    />
    <label for="password">Password:</label>
    <input
      id="password"
      type="password"
      name="password"
      placeholder="*********"
      required
    />
    <button type="submit">Login</button>
  </form>
</div>