<div class="aaa">
<h1>Inicia Sesion bro</h1>

{{#if error}}
<h3>{{error}}</h3>

{{/if}}

<form action="login" method="post">


<input required type="text" name="username" placeholder="Nombre de usuario" id="">

<br>
<br>

<input required placeholder="Contrasena porfas" type="password" name="password" id="">

<br>
<br>
<input type="submit" value="Dale ">

</form>
</div>