<h1>Login</h1>

<form action="/login" method="post">

<div>
<input type="text" name="username" id="username" placeholder="Username" />
</div>

<div>
<input type="password" name="password" id="password" placeholder="Password" minlength="6" />
</div>

<button type="submit">Login</button>

{{#if errorMessage}}
  <h6>{{errorMessage}}</h6>
{{/if}}


</form>