<h2> Log In</h2>

<form action="/auth/login" method="post">

<label for="">Username</label>
<input type="text" name="username">

<label for="">Password</label>
<input type="text" name="password">

<button type="submit">login</button>
</form>