<div id="login-form">

  <h2>Login</h2>

  <form action="/login" method="POST">

    <div>
      <label> Username
        <input type="text" name="username" value={{user.username}} />
      </label>
    </div>

    <div>
      <label> Password
        <input type="password" name="password" placeholder="********" />
      </label>
    </div>
    
    <div>
      <button type="submit">Login</button>
    </div>

      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p> 
      {{/if}}

      {{#if message}}
      <p class="new-user">{{message}}</p> 
      {{/if}}

  </form>
</div>