<div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label for="input-email">UserName</label>
    <input id="input-email" name="Username" placeholder="Your Username" value="{{Username}}"/>
 
    <label for="input-password">Password</label>
    <input type="password" name="Password" id="input-password" placeholder="********" />
 
    <button type="submit">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>