<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>Login form</h1>

      <hr>

      <form action="/auth/login" method="POST">

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input required type="text" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input required type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-dark">Log in</button>
        <a href="/" class="btn btn-dark">Go back</a>
      </form>
      <hr>
    </div>
  </div>
  <div>
    <p>
      {{errorMessage}}
    </p>
  </div>
</div>