<h1>Login page</h1>

<div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">

    <label>
      Username
      <input type="text" name="username" placeholder="ironman" required />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" required />
    </label>

    <button type="submit">Login</button>

    {{#if errorMessage}}
      <p style="color:red;">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>