<div class="wrapper container w-50">
    <h1>User Login</h1>

    <form action="/auth/login" method="POST">
        <div class="form-group">
            <label for="user">User name</label>
            <input type="text" class="form-control"  name="name"
                placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>