      <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading">Please Log in</h2>
        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" class="form-control" name="username" placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <br>
        <% if (typeof message != "undefined" && message.length > 0) { %>
    <div class="alert alert-danger" role="alert"><%= message %></div>
  <% } %>
      </form>