<div id="loginForm">

  <h2>Login</h2>

  <form action="/login" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter your username" />

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your password" />

    <button type="submit">Login</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

  </form>

</div>
