<h2>Log-in page</h2>
{{#if error}}
    <h2>{{error}}</h2>
{{/if}}

<form action="/login" method="post">
  <input type="text" name="username" placeholder="Enter Username" value="" />
  <input
    type="password"
    name="password"
    placeholder="Enter Password"
    value=""
  />
  <button type="submit">Log-In!</button>
</form
