<div class="row justify-content-center mt-4">
  <div class="col col-sm-8 col-md-6 col-lg-4">
    
    <form action="/login" method="post">
      <div class="input-group mb-2">
        <input
          type="text"
          name="email"
          class="custom-form-control form-control py-2 ps-4 {{#if errors}}is-invalid{{/if}}"
          placeholder="Email: user@example.org"
          aria-label="User email"
          value="{{ user.email }}"
        >
      </div>

      <div class="input-group mb-3">
        <input
          id="password-input"
          type="password"
          name="password"
          class="custom-form-control form-control py-2 ps-4 {{#if errors}}is-invalid{{/if}}"
          placeholder="Password"
          aria-label="User password"
        >

        <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
          <i id="password-icon" class="fa fa-eye-slash fa-fw"></i>
        </button>
        </div>
          {{#if errors}}<div class="text-danger text-center mb-2">{{ errors }}</div>{{/if}}
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary bg-light-green border-0">Login</button>
      </div>
    </form>
  </div>
</div>