{{!-- views/auth/login.hbs --}}

<div id="form">
    <h2>Login</h2>
    <form id='login-inputs' action="/login" method="POST">
        <label for="input-username">Username</label>
        <input type="text" id="input-username" name="username" placeholder="username" />

        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" placeholder="******" />

        <button class = "btn btn-primary" type="submit">Login</button>

        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>