<h2>Login</h2>
<form action="/login" method="post">
<label for="username-input">Username:</label>
<input type="text" id="username-input" name='username'>

<label for="password-input">Password:</label>
<input type="password" id="password-input" name='password'>

<button type="submit">Login</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}} </p>
{{/if}}
