<div class='form'>
  <h2 class='form__heading'>Login</h2>

  <form class='form__fillout form__fillout--login' action='/login' method='POST'>

    <label for='username'>
      Username:
      <input type='text' name='username' placeholder='ironhacker' required='true' minlength='7' />
    </label>

    <label for='password'>
      Password:
      <input type='password' name='password' placeholder='*******' min-length='7' />

    </label>

    <button type='submit'>Login</button>

    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>