<h2>Login</h2>
<form action="/login" method="POST">

    <label>Username</label>
    <input type="text" name="username" />

    <label>Password</label>
    <input type="password" name="password" />

    <button type="submit">Login</button>

</form>


{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}

<p>Don't have an account? Sign up <a href="/signup">here</a></p>