<div id="form">
  <h2>Login</h2>
  <form action="/auth/login" method="POST">
    <label for="input-username">Username</label>
    <input type="text" required='required' id="input-username" name="username" placeholder="Your username" />
 
    <label for="input-password">Password</label>
    <input type="password" required='required' name="password" id="input-password" placeholder="********" />
 
    <button type="submit">Login</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>



<br>
<br>
<a href="/">Back to home</a>