<!--  views/auth/login-form.hbs   -->

	<form id="form" action="/login" method="POST">
    
    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Username" required>

    <label for="password">Password</label><br>
    <input type="password" name="password" required>

    <button type="submit">Login</button>
  </form>


{{!-- error message display: --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}