<h1>Login</h1>

<form method="POST" action="/auth/login">

  <div class="field">
    <label>Username</label>
    <input type="text" name="username" placeholder="Username"/>
  </div>

  <div class="field">
    <label>Password</label>
    <input type="text" name="password" placeholder="Password"/>
  </div>

  <div class="field submit">
    <button type="submit">Submit</button>
  </div>
</form>