<h2 class="form-header">Login here: </h2>
<br />
<form action="/login" method="POST">
  <div class="col-sm-4">
    <label for="username" class="form-label">Username</label>
    <input
      value="{{user.username}}"
      type="text"
      name="username"
      class="form-control {{#if errors.username}}is-invalid{{/if}}"
      placeholder="Your Username"
    >
    {{#if errors.username}}
    <small class="invalid-feedback">
      {{errors.username}}
    </small>
    {{/if}}
    <br />
  </div>
  <div class="col-sm-4">
    <label for="password" class="form-label">Password</label>
    <input 
    name="password"
    type="password" 
    class="form-control {{#if errors.password}}is-invalid{{/if}}" 
    placeholder="********"
    >
    {{#if errors.password}}
    <small class="invalid-feedback">
      {{errors.password}}
    </small>
    {{/if}}
  </div>
  <br />
  <div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

  </div>