<div>
<h2>Login</h2>
<form method="POST" action="/login">
<label>Username</label>
<input type="text" name="username">
<label>Password</label>
<input type="password" name="password">
<button type="submit">Login</button>
{{#if errorMessage}}
{{> errorPartial errorMessage}}
{{/if}}
</form>
</div>