<div>
        <h2>Login</h2>

    <form action="/login" method="POST">
    <label for="username">
        Username:
        <input type="text" name="username" placeholder="Write ya username, Matey!">
    </label>
     <label for="password">
        Password:
        <input type="password" name="password" placeholder="Yer secret password goes here!">
    </label>
    <button type="submit">Logging in!<button>
    </form>
</div>