<div id="signupDivCont" class="container">
    <h2>Sign in to this portal</h2>

    <form action="/login" method="post" class="uk-flex uk-flex-column">

        <input type="email" name="email" placeholder="Email">

        <input type="password" name="password" placeholder="Password">

        <button type="submit" class="login">Log in</button>

        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}

        
        <p id="signupQ">Don't have an account? <a href="/signup" class="signup">Sign up</a></p>
    </form>

    
</div>