<h2>Login</h2>

<div>
  <form action='/login' method='post'>

    <label for='username'>username</label>
    <input type='text' name='username' />

    <label for='password'>Password</label>
    <input type='password' name='password' />

    <button type='submit'>Login</button>

  </form>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

</div>