<img src="https://media.giphy.com/media/L1QTSCW1S7qutb2XCD/giphy.gif" alt="">
<div id="login">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label for="input-username"> Username </label>
    <input type="text" name="username"  placeholder="Your username" />
  
    <label for="input-password"> Password </label>
    <input type="password"  name="password" id="input-password" />
 
    <button type="submit">Iniciar Sesión</button>    
  </form>
    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>
