<h1>Log in here</h1>

<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  <button type="submit">Log in</button>
</form>
{{#if message}}
<p style="color: red;">{{message}}</p>
{{/if}}
<br>

<p><a href="signup">Sign up</a> if you're not a member yet</p>