<h1>Log In!</h1>

{{#if message}}
    <p style="color: red">{{message}}</p>
{{/if}}

<form action="/login" method="post">
    <label for="username">Username or Email: </label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
    
    <button type="submit">Log In!</button>
</form>
