<form method="POST" action="/login">

    <label for="username">Username</label>
    <input id= "username" type="text" name="username" placeholder="Enter username" required> 

    <label for="password">Password</label>
    <input id= "password" type="password" name="password" placeholder="Enter password">

    <button type="submit">Log In!</button>
        
</form>

{{#if errorMessage}}
    <div>{{errorMessage}}</div>
{{/if}}