<h1>Login Form</h1>
<form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="Please, put in your username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Please, put in your password" required>

    <button type="submit">Login</button>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>