<div class="container pt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h1>Inicio de sesión</h1>
			<hr>
			<form action="login" method="POST">
				<div class="mb-3">
					<label for="username" class="form-label">Nombre de usuario</label>
					<input type="text" class="form-control" id="username" name="username">
				</div>
				{{#if errorUserMsg}}
				<p id="error">{{errorUserMsg}}</p>
				{{/if}}
				<div class="mb-3">
					<label for="password" class="form-label">Contraseña</label>
					<input type="password" class="form-control" id="password" name="password">
				</div>

				{{#if errorPassMsg}}
				<p id="error">{{errorPassMsg}}</p>
				{{/if}}
				{{#if errorMsg}}
				<p id="error">{{errorMsg}}</p>
				{{/if}}

				<button type="submit" class="btn btn-success">Iniciar sesión</button>
			</form>
		</div>
	</div>
</div>