<h1>LOGIN</h1>

<form action="/login" method="POST">
  <label>
    <p>Username :</p>
    <input type="text" name="username" />
  </label>

  <label>
    <p>Password :</p>
    <input type="password" name="password" />
  </label>

  <div><button>Login</button></div>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</form>