<div class="container">

    <h1>Login</h1>
    <br>

    <form action="/login" method="post">
        <div>

            <div>
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username">
            </div>

            <div>
                <label for="passwordIn" class="form-label">Password:</label>
                <input type="password" id="passwordIn" name="passwordIn">
            </div>

            <div>
                <button class="btn btn-success" type="submit">Log in</button>
            </div>

        </div>
        {{#if errorMsg}}
        <p class="btn btn-danger">{{errorMsg}}</p>
        {{/if}}
    </form>

</div>