<h1>Log in to your profile:</h1>
<br />
<p>{{message}}</p>
<form action='/login' method='POST'>
  <label for='username'>Username:</label>
  <input
    type='text'
    name='username'
    id='username'
    placeholder='Enter your username'
    required
    pattern='^(?=.{3,20}$)(?![_.-])(?!.*[_.-]{2})[a-zA-Z0-9_-]+([^._-])$'
  />
  <label for='password'>Password:</label>
  <input
    type='password'
    name='password'
    id='password'
    placeholder='Enter your password'
    required
    pattern='^((?=\\\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9]).{6,})\S$'
  />
  <button type='submit'>Log in</button>
</form>