<h2>Login Form!</h2>

<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" placeholder="user" />

  <label for="pass">Password</label>
  <input type="password" name="pass" id="pass" />

  <button type="submit">Access!</button>
  <br>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>

<a href="/">Go Back!</a>