<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h1>Login</h1>
			<hr />
			<form action="/login" method="POST">
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" id="username" name="username" />
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="initialPassword" />
				</div>
				{{#if errMsg}}
					<div id="error" class="text-white mb-3 p-3 bg-danger rounded" style="--bs-bg-opacity: .75;">{{errMsg}}</div>
				{{/if}}
				<button type="submit" class="btn btn-dark">Login</button>
			</form>
		</div>
	</div>
</div>