<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Acceso</h1>
            <hr>
            <form action="/inicio-sesion" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                {{#if errorMessage}}
                <div id="error">{{errorMessage}}</div>
                {{/if}}

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Acceder</button>
                </div>
            </form>
        </div>
        <img src="../../images/login.gif" style="width: 30%;">
    </div>
</div>