<h1>Please Log in here</h1>

<form action="/auth/login" method="post">

  <li>
    <input type="text" name="username" placeholder="Insert username here" value="" />
  </li>
  <li>
    <input type="password" name="password" placeholder="******" value="" />
  </li>
  <button type="submit"> Log in</button>

</form>