<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 py-5">
      <h1 class="mb-5 text-center">Login</h1>
      <form action="/login" method="POST" class="form-floating">
        <div class="form-floating mb-3">
          <input 
            name="email" 
            type="text" 
            class="custom-form-control form-control {{#if error.email}}is-invalid{{/if}}" 
            id="floatingInput" 
            placeholder="name@example.com"
            value="{{user.email}}"
          >
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input 
            name="password" 
            type="password" 
            class="custom-form-control form-control {{#if error.password}}is-invalid{{/if}}" 
            id="floatingPassword" 
            placeholder="password"
          >
          <label for="floatingPassword">Password</label>
          {{#if error.password}}<div class="invalid-feedback">{{ error.password }}</div>{{/if}}
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success btn-lg">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>