<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="col-6">

            <h1>Login Supermerluzo</h1>
            <hr>
            <form action="/login" method="post">

                <div class="form-group">E-mail</label>
                    <input type="email" class="form-control" name="username" id="username">
                </div>

                <div class="form-group">
                    <label for="passwordText">Contraseña</label>
                    <input type="password" class="form-control" name="passwordText" id="passwordText">
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>




            </form>



        </div>




    </div>






</div>