<h1>Please login into your account</h1>

<form action="/auth/login" method="post">
  <label>Username:
    <input
      type="text"
      name="username"
      placeholder="Please login with your username"
    />
  </label>

  <label>
    Password:
    <input
      type="password"
      name="password"
      placeholder="Please fill in your password"
    />
  </label>
  <button type="submit">Login into your account</button>
</form>