<div class="basic-container" id="login-page">
  <h1>Log in</h1>
  <div class="signup-container">

    <form class="signup-form" action="/login" method="post">
      <input
        type="username"
        name="username"
        value=""
        placeholder="Enter your username"
        required
      />
      <input
        type="password"
        name="password"
        value=""
        placeholder="Enter your password"
        required
      /><br>
      <button type="submit" class="basic-btn">Log in</button>
    </form>

  </div>
</div>