<div id="form">
  <h2>Login Here!</h2>
  <form action="/login" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="alienhunter"/>
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********"/>
    </label>

    <button type="submit">Login</button>
  </form>
</div>

<p>
    You don't have an account? Click <a href="/register">here</a> to register.
</p>

<p>
  <a href="/">Home</a>
</p>