<h2>Login</h2>
<form action="/auth/login" method="POST">
    <label>
        Username:
        <input type="text" name="username">
    </label>
    <br>
    <br>
    <label>
        Password:
        <input type="password" name ="password">
    </label>
    <br>
    <br>
    <button>Login</button>
</form>