<form action="/login" method="post">
    <label for="">Username</label>
    <input type="text" name="username">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Login</button>
    {{#if message}}
    <p>{{message}}</p>
    {{/if}}

</form>