<h1>Log in</h1>

<form action="/login" method="POST">

<label>Username</label>
<input type="text" name="username" required/>

<label>Password</label>
<input type="password" name="password" required/>

<button type="submit">Login</button>

</form>

<p>If you dont have an account? sign up <a href="/signup">HERE</a></p>