<h2>Log In</h2>

<form action="/login" method="post">
  <label>
    Username:
    <input type="text" name="username" id="username">
  </label>

  <label>
    Password:
    <input type="password" name="password" id="password">
  </label>
  <button type="submit">Log In</button>
</form>

{{#if errorMessage}}
<div>
    <p>Error: {{errorMessage}}</p>
</div>
{{/if}}