<h2>Login</h2>
<form action='/signup' method='post'>

  <label>
    Email:
    <input type='email' name='email' id='email' placeholder='your@email.com' required />
  </label>

  <label>
    Password:
    <input type='password' name='password' id='password' placeholder='*******' required />
  </label>

  <button type='submit'>Login!</button>

</form>