<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Acceso</h1>
            <hr>
            <form action="/inicio-sesion" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="username" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="userPassword">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>