<div class="container">
    <div class="row justify-content-center">

<h1>Log In </h1>
<hr>
<form action="/login" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
        <div id="emailHelp" class="form-text"></div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
{{#if errorMessage}}
<div id="error" class="mb-3">{{errorMessage}}</div>
{{/if}}
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

</div>
