
<label> Password
 <input type="password"  name="password">
 </label>
 <button type="submit">Logout</button>


  {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
  {{/if}}
</form>
</div>