<div class="index-page">
  <div class="red-container">
    <br />
    <br />
    <img class="cat-img" src="/images/funnycat.avif" />
    <br />
    <br />
    <a class="btn" href="/private">Private page</a>
  </div>

</div>