<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Main Page</h1>
<img src="/images/self-care-cat.jpg" alt="Funny Cat Picture">
<a href="/">Back to home page </a>
</body>
</html>