<h2>Main page</h2>

{{#if userInSession}}
<img src="https://static.boredpanda.com/blog/wp-content/uploads/2014/02/funny-wet-cats-36.jpg" alt="funny cat">
 {{else}}
     You don't have access!
     <a href="/login">Login</a>
 {{/if}}