<div>
    <div>
   <img src="https://i.pinimg.com/originals/74/88/22/7488228009d153e94a00427f674d54bb.jpg" alt="Happy dog" width="500" height="600">
</div>
<a href="/" class="btn btn-primary">Home</a>
</div>