
{{log "view:" this}}

<h1>It's a munchkin cat, {{currentUser}}....</h1>
<img src="https://preview.redd.it/0nybg7zed9w21.png?auto=webp&v=enabled&s=213fffe493c642b7a56ab547d279c3c6de65f5a8" alt="Munchkin cat">