<div class= 'container'>
    <div class='row'>
        <div class='col xl-12'>
<img src="/images/116455564_1415874718616407_8116022626399318180_n.jpg" alt="">
<a href="/iniciar-sesion">Go to the login page</a>

</div>
</div>
</div>