<h1>Bienvenido {{username}}</h1>


<img src="https://estaticos.delooks.es/media/cache/1140x_thumb/uploads/images/gallery/5a01986d5bafe8fd4c3c986b/gatos.jpg" alt="gato">

<a href="/" class="btn btn-dark">Vuelve a inicio</a>
