<h1>Funny cats, can't get enough!</h1>
<img src="https://i2.wp.com/www.cutesypooh.com/wp-content/uploads/2018/10/PRINGUS-54.jpg?w=1080&ssl=1" alt="Cute funny cat">

  <form id="logout-form" action="/auth/logout" method="POST">
    <button>Logout</button>
  </form>