{{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      <a href="/login">Go to log in</a>
{{/if}}
{{#if success}}
      <h1>{{success}}</h1>
      <img src="https://images-na.ssl-images-amazon.com/images/I/61YDY3QPTRL._AC_SL1000_.jpg">
{{/if}} 