<img
  src="https://i.pinimg.com/originals/db/66/e1/db66e1c85f95abcc5ea2373244763458.jpg"
  alt="cat-sushi-img"
/>
<div>
  <ul>
    <li><a href="/profile">Back to Home</a></li>
    <li><a href="/private">To Private Page</a></li>
  </ul>
</div>