<h1>Logged to our App!</h1>

{{!-- <form action="/views/auth/signup.hbs" method="post">
  <input type="email" name="email" value="" placeholder="Email" />
  <input type="password" name="password" value="" placeholder="*********" />

  <input type="submit" value="Login now" />
</form>

{{#if error}}
  <h2 style="color: red;">There was an error logging in... {{error}}</h2>
{{/if}} --}}