<h1>MAIN PAGE SECRET</h1>
<img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/150EA/production/_107005268_gettyimages-611696954.jpg" alt="">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat asperiores explicabo dolor perspiciatis molestiae, id exercitationem magnam in labore obcaecati molestias. Assumenda earum sapiente, consequatur natus impedit ad voluptas sunt.</p>
<a href="/logout">LOGOUT</a>