<h2>Welcome to your private page,</h2>


<h4>{{userData.username}}</h4>

<img src="https://media0.giphy.com/media/13FrpeVH09Zrb2/giphy.gif?cid=790b7611fe008b8d865ca0f251f275832c27b74a2fba2cbc&rid=giphy.gif&ct=g" alt="">

<p>Do you like CSS, {{userData.username}}?</p>

<a href="/profile">Back to your profile</a>