<h1>This page is private!</h1>

Are you sure you are seeing it?


{{log _locals}}
{{#if session.currentUser}}
    <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--nJjfteXn--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/yyvpwe28d4cqv76rjjpz.gif" alt="my preferred gif">
{{else}}
Private page!
{{/if}}