{{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    <a href="/login">Go to log in</a>
{{/if}}
{{#if success}}
    <h1>Private</h1>
    <iframe src="https://giphy.com/embed/3oEhmFYGbhslCn6uQM" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
{{/if}} 