<div class="container">
<h1>YOUR PROFILE</h1>
<hr>
<figure>
    <img src="../../images/cat!.gif" alt="coding cat">
</figure>
<hr>
<a class="btn bg-secondary text-white" href="/">HOME PAGE</a>
<a class="btn bg-secondary text-white" href="/logout">LOG OUT</a>
</div>