
<div class="d-flex p-2">
    {{#if userInSession}}
        <h1>Private</h1>
        <img src="https://media.giphy.com/media/lrIlelMmuEUSF2ddI2/giphy.gif" alt="Fresh Gif">
    {{else}}
        <p>You're not authorized to see this page, please signup or login.</p>
    {{/if}}
</div>