<h1>Private Page</h1>
<img src="https://c.tenor.com/bK1qpWGyQKkAAAAM/kitty.gif" alt="" />
<div>
  <ul>
    <li><a href="/profile">Back to Home</a></li>
    <li><a href="/main">To Main Page</a></li>
  </ul>
</div>