<h1>This is a Private Page</h1>
<iframe src='https://giphy.com/embed/3oEdv8dC56yDmFgpiM' width='480' height='318' frameBorder='0' class='giphy-embed' allowFullScreen></iframe><p><a
    href='https://giphy.com/gifs/afvpets-afv-3oEdv8dC56yDmFgpiM'
  >via GIPHY</a></p>