<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Tulips </h1>

  <img src="https://homepages.cae.wisc.edu/~ece533/images/tulips.png">
</body>
</html>