  
  {{#if user}}

  <h2>Hello {{user.username}}!</h2>
  <h4>Welcome to your profile page</h4>

 <img src="https://acegif.com/wp-content/gifs/hello-67.gif" width="600" height="400"/>

  <div>
  <button> <a href="/main">Logout</a></button>
  </div>

{{else}}
  <p>You're not logged in!</p>

{{/if}}