
<h1>This is a Private Page</h1>
<iframe src="https://giphy.com/embed/br99SojJZ5rlfSYset" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/coding-goddev-code-awesome-shit-br99SojJZ5rlfSYset"></a></p>
<button>
    <a href="/">Back to Home</a>
</button>