<h1>Private Page</h1>
<img width="500" src="https://immotion-jzfyoi19mmhwtlehhr7.netdna-ssl.com/wp-content/uploads/2018/04/The-Office-Beyonce-GIF-downsized.gif?x52309" alt="funny-gif">
<hr>
<a href="/profile">Back to Home</a>
<a href="/main">To Main Page</a>