

<h2>Privat</h2>

<p>hi {{name}}, this is privat</p>

<img src="https://media1.giphy.com/media/1ps1JpJqCZgEo/200w.gif?cid=82a1493b3vywnnfdwz0pzse8d7b1p9xnb2m4vyzk72tw1rd6&rid=200w.gif&ct=g" alt="cat">

<a href="/profile">Profile</a>