<h2>Private page</h2>

{{#if userInSession}}
<img src="https://media1.tenor.com/images/14b2c956421ee24ae40695d1ea210c8b/tenor.gif?itemid=15924101" alt="gif">
     {{!-- <a href="/">Private</a> --}}
 {{else}}
<h1> NO YOU CANT SEE!</h1>
<a href="/login">Login</a>
 {{/if}} 