<body id="private-page">
  <div id="private-page-content">
  <h2>Private Page</h2>
  <img id="private-image" src="https://media0.giphy.com/media/L5aC2b3jRvURi/200w.webp?cid=ecf05e47mlbxog7kv85w5nkiowv125ie4dpjp9cmjy6ip7cy&rid=200w.webp&ct=g" alt="">
</body>