{{!-- I will  arrange this file --}}

{{#if userInSession}} 
<img src="/images/Estaciones discovered by María José on We Heart It.gif" alt="seasons">
{{else}}
  <p>You should login to see this page!</p>
{{/if}}
