<div>
  <h1>PRIVATE PAGE</h1>
  <iframe
    src="https://giphy.com/embed/W4uQ2KZt14br2hJ3sM"
    width="480"
    height="480"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
  ></iframe><p><a
      href="https://giphy.com/gifs/IntoAction-books-are-freedom-world-literacy-day-W4uQ2KZt14br2hJ3sM"
    ></a></p>
</div>