<h1>This is a Private Page</h1>
<div style="width:100%;height:0;padding-bottom:125%;position:relative;">
    <iframe src="https://giphy.com/embed/VbnUQpnihPSIgIXuZv" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
<p><a href="https://giphy.com/gifs/computer-cat-wearing-glasses-VbnUQpnihPSIgIXuZv">via GIPHY</a></p>
<a href="/">Back to Home</a>
</button>