<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 py-5 text-center">
      <h1 class="mb-5">{{ currentUser.name }} profile</h1>
        <a href="/logout" class="btn btn-outline-danger btn-lg">Logout</a>
    </div>
  </div>
</div>