<div class="index-page">
  <div class="red-container">
    <h1>Your Profile</h1>
    <br />
    <a class="btn" href="/main">Main</a>
    <br />
    <br />
    <br />
    {{#if isAdmin}}
      <a class="btn" href="/private">Private</a>
    {{/if}}
  </div>
</div>