<h4>Welcome to your profile, </h4>
<h1><b>{{user.username}}.</b></h1>

<h4>How are you feeling today?</h4>

<a href="/main/{{user._id}}"> Access your private page</a>


<a href="/">Back to the homepage</a>