<div class="container">
    <h1>¡Me pillaste, {{loggedUser.username}} !</h1>
    <hr>
    <img src="https://i0.wp.com/images.onwardstate.com/uploads/2015/05/oie_14175751vZSQRLEn.gif?fit=650%2C408&ssl=1"
        alt="GIF animado">
    <a href="/" class="btn btn-dark">Volver a inicio</a>
</div>