<h1>Profile</h1>
<h6>Welcome to your profile</h6>

{{#if user}}
  <h2>Hello {{user.username}}</h2>
{{else}}
  <p>You're not logged in!</p>
{{/if}}

<a href="/main">Main Page</a>
<a href="/private">Private Page</a>
<hr>
<button><a href="/logout">Logout</a></button>
