<h2>profile of {{email}} </h2>

<ul id="frontlogin">
            {{!-- <li><a href="/">Home</a></li> --}}
            {{!-- <li id="indexList"><a href="/signup">Signup</a></li>
            <br> --}}
            <li id="indexListT"><a href="/logout">Logout</a></li>
        </ul>