<div class="basic-container" id="profile-page">
    <h1>Your Profile</h1>

    <a href="/main">Main</a> |

    <a href="/private">Private</a><br><br>

    <form method="POST" action="/logout">
        <button type="submit" class="basic-btn">Log out</button>
    </form>



</div>

