
<div id="form">
  <h2>Please register.</h2>
  <form action="/register" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="alienhunter"/>
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********"/>
    </label>

    <button type="submit">Create account</button>
  </form>
</div>

<p>
    Do you have an account? Click <a href="/login">here</a> to login
</p>

<p>
  <a href="/">Home</a>
</p>