<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-3">
            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwd" name="plainPwd">
                </div>
                <button type="submit" class="btn btn-dark">Create!</button>

                {{#if errorMsg}}
                <p id="error">{{errorMsg}}</p>
                {{/if}}

            </form>
        </div>
    </div>
</div>