<form method="post" action="/auth/register">
  <label>Username:
    <input
      type="text"
      name="username"
      placeholder="Please enter a username"
      value="{{username}}"
    />
  </label>
  <label>Email:
    <input
      type="email"
      name="email"
      placeholder="Please enter your email address"
      value="{{email}}"
    />
  </label>
  <label>Password:
    <input
      type="password"
      name="password"
      placeholder="Please enter your password"
    />
  </label>

  <button type="submit">Create Account</button>
</form>