<h1>Register</h1>

<form action="/register" method="POST">
    <div>
        <label for="username">Name:</label>
        <br>
        <input type="text" name="username" placeholder="Name">
    </div>
    <div>
        <label for="email">Email:</label>
        <br>
        <input type="email" name="email" placeholder="example@example.com">
    </div>
    <div>
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password">
    </div>
    <button type="submit">Register</button>
</form>