<br />
<form action="/register" method="POST">
  <div class="col-sm-4">
    <label for="username" class="form-label">User name:</label>
    <input
      type="string"
      name="username"
      class="form-control"
      placeholder="your username"
    />
  </div>
  <br />
  <div class="col-sm-4">
    <label for="email" class="form-label">Email</label>
    <input 
        type="email" 
        name="email" 
        class="form-control" 
        placeholder="yourname@whatever.com"
    />
  </div>
  <br />
  <div class="col-sm-4">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>