<div id="container">
    <h2>You are in a personal session!</h2>
    <img src="https://media1.tenor.com/images/7d2354a20330ad9459074548a406abae/tenor.gif?itemid=7849508" atl="">
    <hr>

    <button type="button" class="btn btn-outline-light"><a href="/logout">Log out</a></button>
</div>