<form action="/signup" method="post">

  {{#if error}}
  <p style="color: red;">{{error}}</p>
  {{/if}}

  <label for="username">USERNAME
    <input type="text" name="username" id="username">
  </label>
  <br>
  <label for="password">PASSWORD
    <input type="password" name="password" id="password">
  </label>
  <br>
  <button type="submit">SIGN UP</button>
</form>
