<h1>Sign up here:</h1>

<form action="/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" required>
  <label for="password">Password</label>
  <input type="password" name="password" required>
  <button type="submit">Sign up</button>
</form>
{{#if message}}
<p style="color: red;">{{message}}</p>
{{/if}}

<p>Already signed up? <a href="login">Log in</a></p>