<div id="form"><

<h2>Signup</h2>


<form action="/signup" method="POST">
  <label> Username
  <input type="text" name="username" required>
  </label>

  <label> Password
  <input type="password" name="password" required>
  </label>

  <button type="submit">Create account</button>

 {{#if errorMessage}}
        <p style="background-color: red; padding: 25px; color: white;">{{ errorMessage }}</p>
    {{/if}}

</form>
</div>