<h1>signup</h1>

<form action="/login" method="post">

  {{#if error}}
  <p style="color: crimson;">{{error}}</p>
  {{/if}}

  <label for="name">Name
    <input type="name" name="name" id="name">
  </label>
  <br>
  <label for="email">Email
    <input type="email" name="email" id="email">
  </label>
  <br>
  <label for="password">Password
    <input type="password" name="password" id="password">
  </label>
  <br>
  <button type="submit">Signup</button>
</form>
