<h1>Registro</h1>

<hr>

<form action="/registro" method="POST">


    <label for="usernameInput">Usuario</label>
    <input type="text" id="usernamelInput" name="username">

    <hr>

    <label for="pwdInput">Contraseña</label>
    <input type="password" id="pwdInput" name="userPwd">

    <hr>



    <button type="submit">Registrar</button>

</form>