<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>SIGN UP</h1>
            <hr>

            <form action="/signup" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="plainPassword">
                </div>

                <button type="submit" class="btn btn-dark">Sign Up</button>
            </form>

        </div>
    </div>
</div>