<div class="form-box">

<h1 class="title"> Signup Form</h1>


<!--  views/auth/signup-form.hbs   -->


	<form id="form" action="/signup" method="POST">
    
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Your username">

    </br>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Your password">

    </br>
    <button type="submit" class="submit-btn">Sign up</button>
  </form>

</div>
{{!-- error message display: --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}