<form action="signup" method="post">

<label>Username:
    <input type="text" name="username" required />
</label>
<label>Password:
    <input type="password" name="password" placeholder="your password" required />
</label>

<button type="submit">Create account</button>

</form>