<form method="POST" action="/signin">
  <label>Username</label>
  <input type="text" name="username" placeholder="Enter your username" required >
  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password" required >
  <button type="submit" >Sign In</button>
</form>

{{#if message}}
  <div class="error">{{message}}</div>
{{/if}}