<div id="form">
  <h2>Signup</h2>
  <form action="/signUp" method="POST">
 
    <label> Email
      <input type="email" name="email" placeholder="example@mail.com" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Create account</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>