<div class="container">

    <h2>Create your account</h2>

    <form action="/signup" method="post" class="signup-container uk-flex uk-flex-column">
        <input type="text" name="username" placeholder="Username">

        <input type="password" name="password" placeholder="Password">

        <button>Create account</button>

        {{#if errorMessage}}
            <p>{{ errorMessage }}</p>
        {{/if}}
    </form>
</div>