<section class="py-3 py-md-5">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1 class="h2 mb-3">Sign In</h1>
        {{#if errorMessage}}
        <div class="alert alert-danger p-2" role="alert">
            {{errorMessage}}
        </div>
        {{/if}}
        <form action="/auth/signin" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{body.username}}" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{body.password}}" required>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-3">Sign In</button>
          <p class="text-muted text-center">No account yet? <a href="/auth/signup">Sign up now?</a></p>
        </form>
      </div>
    </div>
  </div>
</section>