<h1 class="title"> Signup form</h1>


<!--  views/auth/signup-form.hbs   -->


	<form id="form" action="/signup" method="POST">
    
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Your username">

    </br>

    <label for="password">Password</label>
    <input type="password" name="password">

    </br>
    <button type="submit">Sign up</button>
  </form>


{{!-- error message display: --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}