<form method="POST" action="/signin">
  <label>Name</label>
  <input type="text" name="username" placeholder="Enter your username"  >
  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password"  >
  <button>Sign In</button>
</form>