<form action="/signup" method="post">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Create account</button>
</form>