<form method="POST" action="/signin">
  <label for="user-email">Email</label>
  <input type="email" name="email" id="user-email" required>
  <label for="user-password">Password</label>
  <input type="password" name="password" id="user-password" required>
  <button type="submit">Sign In</button>
</form>

{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}}