<form method="POST" action="/signin">


    <label>Name</label>
    <input name="username" type="text" placeholder="Enter your username">

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your Password">
    <button>Sign In</button>
</form>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}