<h2>Sign up now</h2>
<form action="/auth/signup" method="POST">
    <label>
        Username:
        <input type="text" name="username">
    </label>
    <br>
    <label>
        Password:
        <input type="password" name="password">
    </label>
    <br>
    <button>Create Account</button>
</form>