<section class="formulary">
    <form action="/auth/signup" method="post">
        <label for="">Username</label>
        <input type="text" name="username" required/>

        <label for="">Password</label>
        <input type="password" name="password" required />

        <button type="submit">Sign Up</button>
    </form>
</section>