<div class="container">

    <div class="row justify-content-center">

        <h2>Registrar usuario</h2>
        <hr>
        <form action="/registro" method="POST">

            <div class="mb-3">

                <label for="username" class="form-label"></label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username">

            </div>

            <div class="mb-3">

                <label for="password" class="form-label"></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password">

            </div>



            <button type="submit" class="btn btn-dark btn-sm">Registrar usuario</button>

            <a href="/" class="btn btn-dark btn-sm">Volver</a>

        </form>
    </div>
</div>