{{!-- views/auth/signup.hbs --}}
 
<div>
  <h2>Signup</h2>
  <form action="/signup" method="POST">
 
    <label> Username
      <input type="text" name="username" placeholder="My username" />
    </label>
    <label> Email
      <input type="email" name="email" placeholder="Enter a valid email address" />
    </label>
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
    <button type="submit">Create account</button>
  </form>
  {{#if err}}
    <p class="error">{{err}}</p>
  {{/if}}
</div>