<form action="/signup" method="POST">
{{#if error}}
<p style="color:red;">{{error}}</p>
{{/if}}

<label for="username">Username
    <input type="text" name="username" id="username">
</label>
<br>
<label for="password">Password
    <input type="password" name="password" id="password">
</label>
<br>
<button type="submit">Sign Up</button>
</form>