<h1>Registro</h1>
<form action="/registro" method="POST">

<div>
    <label for="name">Nombre usuario</label>
    <input type="text" id="name" name="name">
</div>

<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
</div>

<div>
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password">
</div>
<div>
    <button type="submit">Registrarme</button>
</div>

{{!-- mensaje de error? --}}

</form>