<h1>Sing Up</h1>
<form action="" method="post">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="text" name="password">

    <button type="submit">Sing Up</button>
</form>