<h2>Sign-in page</h2>

<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Enter Username" value="" />
  <input
    type="password"
    name="password"
    placeholder="Enter Password"
    value=""
  />
  <button type="submit">Submit data!</button>
</form>