<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-4">
            <h1>Register</h1>
            <hr>
            <form action="/signup" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">USER NAME</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <div class="form-text">*Obligatory field</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">EMAIL</label>
                    <input type="email" class="form-control" id="email" name="email">
                    <div class="form-text">*Obligatory field</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">PASSWORD</label>
                    <input type="password" class="form-control" id="password" name="password">
                    <div class="form-text">*Obligatory field</div>
                </div>
                <div class="mb-3">
                    <label for="birthday" class="form-label">BIRTHDAY</label>
                    <input type="birthday" class="form-control" id="birthday" name="birthday">
                </div>
                <div class="mb-3">
                    <label for="profession" class="form-label">PROFESSION</label>
                    <input type="profession" class="form-control" id="profession" name="profession">
                </div>
                <div class="mb-3">
                    <label for="experience" class="form-label">EXPRERIENCE</label>
                    <input type="experience" class="form-control" id="experience" name="experience">
                </div>
                <div class="mb-3">
                    <label for="pet" class="form-label">PET</label>
                    <input type="pet" class="form-control" id="pet" name="pet">
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Registrarme</button>
                </div>
            </form>
        </div>
    </div>
</div>



