<div id="form">
    <h2>Signup in our amazing project!</h2>

    <form action= "/signup" method = "post">
        <label>Username
            <input type="text" name="username" placeholder="annie">
        </label>

        <label>Emal account
            <input type="text" name="email" placeholder="annie@yahoo.com">
        </label>
        

        <label>Password
            <input type="password" name="password" placeholder="**********">
        </label>

        <button type="submit">Create an account</button>
    
    </form>

</div>