<div class="form-container">

    <h2>Create an Account</h2>

    <form action="/signup" method="post">

        {{#if errorMessage}}
            <p class="error"> {{errorMessage}} </p>
        {{/if}}

        <label for="username">Username</label>
        <input type="text" name="username" required>

        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <button type="submit">Create account</button>

    </form>

</div>
