<h2>Crea tu usuario</h2>

<div>

  <form action="/auth/signup" method="POST">
    <h2>Tu nombre de usuario</h2>
    <input type="text" name="username" placeholder="mikenieva" />

    <h2>Escribe una contraseña</h2>
    <input type="password" name="password" placeholder="password" />


    <button type="submit">
      Crear cuenta
    </button>

  </form>

</div>