<div class='boxshadowwrapper'>

  <h2>create an account:</h2>
</div>
<form action='/signup' method='POST'>
 <div class="boxshadowwrapper">
  <label for='input-username' >Username:</label>
  <input
    type='text'
    id='input-username'
    name='username'
    placeholder='Your username'
  />
</div>
 <div class="boxshadowwrapper">
  <label for='input-password' >Password:</label>
  <input
    type='password'
    id='input-password'
    name='password'
    placeholder='make up a password!'
  />
</div>
  <br />
  <button type='submit'>Sign up!</button>
</form>