<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Registro</h1>
            <hr>
            <form action="/registro" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <div class="form-text">No trolling pls!</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="userPassword">
                    <div class="form-text">min.4 caracteres</div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Registrate</button>
                </div>
            </form>
        </div>
    </div>
</div>