
<form method="POST" action="/signup">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <br><br>
    <label for="user-pass">Password</label>
    <input type="password" name="password" id="user-pass" required>
    <br><br>
    <button type="submit" >Sign Up</button>
</form>

{{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
{{/if}}