<div id="form">
  <h2>Sign-up</h2>
  <form action="/signup" method="POST">
    <div class="mb-3">
      <label class="form-label">
        <div class="form-text">Username</div>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="ironhacker"
        />
      </label>
    </div>
    <div class="mb-3">
      <label class="form-label">
        <div class="form-text">Password</div>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="********"
        />
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Create account</button>

  </form>
</div>