<h1>Sign up</h1>

<form action="/signup" method="post" >
<input type="email" name="email" value="" placeholder="Email">
<input type="password" name="password" value="" placeholder="*********">
<input type="submit" value="Create User">
</form>