<div class="container">
    <div class="row">
        <div class="col col-6 offset-3">

            <form action="/sign-in" method="POST">

                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>

                <div class="form-group">
                    <label for="pwd">Contraseña</label>
                    <input type="password" class="form-control" name="pwd" id="pwd">
                </div>

                <button type="submit" class="btn btn-dark btn-block btn-lg">Autentificarse</button>

            </form>
            {{#if errorMessage}}
            <div
                style="margin-top: 20px; padding: 5px; color: white; background: red; text-align: center; font-size: .95em">
                {{errorMessage}}
            </div>
            {{/if}}

        </div>
    </div>
</div>