<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>[APPLY]</h1>
            <hr>
            <form action='/register' method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">[secret email]</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">[what is the password?]</label>
                    <input type="password" class="form-control" id="password" name="plainPassword">
                    <div class="form-text">4 characters min</div>
                </div>

                {{#if errorMessage}}
                <div id="error">{{errorMessage}}</div>
                {{/if}}

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark custom-danger-btn">[submit]</button>
                </div>
            </form>
            <a class="btn btn-danger custom-danger-btn" href="/">[back to where you came from, intruder]</a>
        </div>
    </div>



</div>