<h1>Signup</h1>

<form action='/signup' method='post'>
  <label for='username'>Username</label>
  <input type='text' name='username' id='username' /><br><br>
  <label for='password'>Password</label>
  <input type='password' name='password' id='password' required /><br><br>

  <button type='submit'>Create account</button>

</form>

{{#if errorMessage}}
  <p style='background-color: rgba(255, 0, 0, 0.415); color:white'> {{errorMessage}}</p>
{{/if}}
