<div id="signup-form">
    <h2>Sign up here:</h2>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
    <form action="/signup" method="POST">
        <label>
            Choose your username:
            <input type="text" name="username">
        </label>
        <label>
            Create your password:
            <input type="password" name="password">
        </label>
        <button type="submit">Create account</button>
    </form>
</div>