<form action="/signup" method="post">
    <label>user</label>
    <input type="text" name="username">
    <label>password</label>
    <input type="password" name="password">
    <button type="submit">create</button>

</form>