<h1>Sign up</h1>

<form action="/signup" method="post">

    <label for="username">Enter Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Enter Password</label>
    <input type="password" name="password" id="password">

    <button type="submit">Sign up</button>
</form>