<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
</head>
<body>
  <form id="form" action="/signup" method="POST">
    <label for="username" name="username" placeholder="Usuario"></label>
    <br>
    <input type="text" name="username" placeholder="Usuario">
    <br><br>
    <label for="password">Contraseña</label>
    <br>
    <input type="text" name="password" placeholder="Contraseña">
    <br><br>
    <button>Crear cuenta</button>
  </form>
  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}
</body>
</html>
