<form action="/auth/signup" method="POST" class="form-group">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="username" class="form-control" required>
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="password" class="form-control" required>
  <button type="submit" class="btn btn-style form-control">Sign up</button>
</form>
