<form method="POST" action="/signin">

    <h1>se ve?</h1>

    <label>Email</label>
    <input type="email" name="email" placeholder="Enter email"  >

    <label>Password</label>
    <input type="password" name="passwordHash" placeholder="Enter Password"  >
    <button type="submit" >Sign In</button>
    
</form>
