<div class="basic-container" id="signup-container">
  <h1>Sign up</h1>
  <div class="signup-container">

    <form class="signup-form" action="/signup" method="post">
      <input
        type="username"
        name="username"
        value=""
        required
        placeholder="Enter your username"
        
      />
      <input
        type="password"
        name="password"
        value=""
        required
        placeholder="Enter your password"
        
      />
      <br>
      <button type="submit" class="basic-btn">Sign up</button>
    </form>
    <br>

    <a href="/auth/login">Signed up? Go to login page.</a>

  </div>
</div>