<div class="signup-page">
  <h1>Signup</h1>
  <br />
  <div class="signup-container">

    <form class="signup-form" action="/auth/signup" method="post">
      <input
        type="username"
        name="username"
        value=""
        placeholder="Enter your username"
      />
      <input
        type="password"
        name="password"
        value=""
        placeholder="Enter your password"
      />
      <input type="submit" value="Signup" />
    </form>

  </div>
</div>