<h1>Sign Up</h1>

<form action="/signup" method="post">

<div>
<input type="text" name="username" id="username" placeholder="Username" />
</div>

<div>
<input type="password" name="password" id="password" placeholder="Password" />
</div>

<button type="submit">Sign Up</button>


</form>