<h1> Welcome back!!</h1>


<form method="POST" action="/auth/signin">

	<div>

		<label for="userName">Username</label>
		<input type="text" id="userName" name="userNAme" value="signin" />
	</div>
	<div>
		<label for="password"> Password </label>
		<input type="password" id="password" name="password" value="123" />

	</div>

	<button> Log in! </button>



</form>