<h2>Sign up</h2>
<form method="POST" action="/signup">
    <div class="field">
        <label>Username:</label>
        <input type="text" name="username" required>
    </div>

    <div class="field">
        <label>Password:</label>
        <input id="myPassword" type="password" name="password" required>
    </div>
    {{message}}
    <div class="field">
        <button type="submit">Signup</button>
    </div>
</form>