<h1>Sign In Page</h1>

 <form method="POST" action="/signin">
     <label>email</label>
     <input type="text" name="email" placeholder="Enter your email">

   <label>password</label>
   <input type="password" name="password" placeholder="Enter your Password"  >
   <button type="submit" >Sign In</button>
 </form>

 <div>{{message}}</div> 