<h1>Sign Up</h1>

<form action="/signup" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    
    <label for="password">Password</label>
    <input type="text" name="password" id="password">

    <button type="submit">Create your account</button>

</form>

{{#if errorMessage}}

    <p>{{errorMessage}}</p>

{{/if}}