<h1>SIGNSUP</h1>

<form action="/signup" method="POST">
  <label>Username</label>
  <input type="text" name="username">
  <label>Email</label>
  <input type="email" name="email">
  <label>Password</label>
  <input type="password" name="password">

  <button type="submit">Salvar</button>
</form>