<h1>Create a New Account !</h1>
<form action="/signup" method="POST">

<div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
</div>

{{#if errorMessage}}
<div class="error-message">{{errorMessage}}</div>
{{/if}}

<div>
    <button>Create account</button>
</div>

<p class="account-message">
    Do you already have an account ?
    <a href="/login">Login</a>
</p>

</form>