<form action="/signup" method="POST">

  <label>Usernme</label>
  <input name="username" type="text"  placeholder="Enter your username" >

  <label>Password</label>
  <input name="password" type="password"  placeholder="Enter your Password" >

  <button>Sign Up</button>

</form>

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}