<h2>Sign Up</h2>
<div style="width:200px">
  <form action="/signup" method="post">
    <label for="userName">Username:</label>
    <input type="text" name="userName" id="" />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <button type="submit">Submit</button>
  </form>
</div>