<div class="singup">
    <form action="/signup" method="POST">
        <div class="username">
            <label for="username">User Name</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>

        <button type="submit">Create</button>
    </form>

    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}