<head>
  <link rel="stylesheet" href="stylesheets/forms.css" />
</head>

<nav>
  <a href="/">Homepage</a>
  <a href="/signup">Sign up </a>
  <a href="/login">Log in </a>
</nav>

<main>
  <section class="main-section">
    <h2>Sign up</h2>

    <section class="form">
      <form action="/signup" method="post">

        <label for="username">Enter a username</label>
        <input type="text" name="username" id="username" />

        <label for="email">Enter your email address</label>
        <input type="email" name="email" id="email" />

        <label for="password">Create a password</label>
        <input type="password" name="password" id="password" />

        <button class="button" type="submit">Create account</button>

      </form>
    </section>
  </section>
</main>