<h1>SIGN UP</h1>
<form method="POST" action="/signup">

  <div class="field" >
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter your pretty name"/>
  </div>

  <div class="field" >
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Do u even remember your password"/>
  </div>

  <div class="field submit">
    <button type="submit">Create account</button>
  </div>
</form>