<div class="container">
    <form action="/registro" method="POST">
        <div class="mb-3">
            <label for="emailInput" class="form-label">Dirección email</label>
            <input type="email" class="form-control" id="emailInput" name="email">
        </div>
        <div class="mb-3">
            <label for="usernameInput" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="usernameInput" name="username">
        </div>
        <div class="mb-3">
            <label for="pwdInput" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="pwdInput" name="userPwd">
        </div>
        <button type="submit" class="btn btn-primary">Completar registro</button>
    </form>
</div>