<div class="container">
    <div class="row">
        <form class="w-50" action="/sign-up" method="POST">
            <div class="mb-4">
                <label for="user" class="form-label">Nuevo Usuario</label>
                <input type="text" class="form-control" id="user" name="username">
            </div>
            <div class="mb-4">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="pass" name="password">
            </div>
            {{#if errorMessage}}
            <div class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>
            {{/if}}
            <input type="submit" class="btn btn-dark" value="Registrarme">
        </form>
    </div>
</div>