<h1>Signup</h1>

<form action="/auth/signup" method="post">
  <input type="username" name="username" value="" placeholder="Enter your username" />
  <input
    type="password"
    name="password"
    value=""
    placeholder="Enter your password"
  />
  <input type="submit" value="Signup" />

</form>