<h2>Sign Up</h2>

<form action="/signup" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email">

    <label for="username">Username</label>
    <input type="text" name="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="">

    <button type="submit">Create</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</form>