<div class="container">
    <h1>Sign-up</h1>

    <form action="/signup" method="POST" class="form-container">

    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Enter username" />

    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="Your password" />

    <button type="submit" class="btn3" >Sign up!</button>
</form>

</div>