<h1>Sign up for a profile:</h1>
<br />
<form action='/signup' method='POST'>
  <label for='username'>Username:</label>
  <input
    type='text'
    name='username'
    id='username'
    placeholder='Enter new username'
  />
  <label for='password'>Password:</label>
  <input
    type='password'
    name='password'
    id='password'
    placeholder='Enter password'
  />
  <button type='submit'>Sign up</button>
</form>