<div id='form'>
  <h2>Sign Up</h2>

  <form action='/signup' method='POST'>

    <label for='username'>
      Username:
      <input type='text' name='username' placeholder='ironhacker' required='true' minlength='7' />

    </label>

    <label for='password'>
      Password:
      <input type='password' name='password' placeholder='*******' min-length='7' />

    </label>

    <button type='submit'>Submit</button>

  </form>
</div>