<section>
<a href="/">Go back</a>

  <h2>Sign up form</h2>

  {{#if errorMessage}}
  
  <p>{{errorMessage}}</p> 

  {{/if}}
  
  <form action="/signup" method="post">
   <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter username" >
   <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter password ****" >

    <button type="submit">Submit</button>

  </form>

</section>
