<h3>Sign Up:</h3>
<form action="/signup" method="post">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="Submit">
</form>