
<form action="/signup" method="post">
    {{#if error}}
    <p style="color: crimson;">{{error}}</p>
    {{/if}}
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="username" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password">
    </div>
<button type="submit" class="btn btn-success">Submit</button>
</form>


{{!-- <form action="/signup" method="post">

    {{#if error}}
    <p style="color: crimson;">{{error}}</p>
    {{/if}}
    <br>
    <label for="email">Email
        <input type="email" name="email" id="username">
    </label>
    <br>
    <label for="password">Password
        <input type="password" name="password" id="password">
    </label>
    <br>
    <button type="submit">Create account!</button>
</form> --}}