<h2>Signup</h2>
  <form action="/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Create account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/login">Login</a>
    </p>

    {{!-- error message --}}
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>