<h2>signup</h2>
{{#if error}}
<p>{{error}}</p>
{{/if}}

<form action="/signup" method="post">

<label for="username"></label>Username
<input type="text" name="username" id="username">
{{!-- <label for="username"></label>Username
<input type="text" name="username" id="username"> --}}
<label for="password"></label>Password
<input type="password" name="password" id="password">
<button type="submit">Sign up</button>
</form>