<div class="container signupCont">

    <h2 id="signupTitle">Create your account</h2>

    {{#if errorMessage}}
    
        {{!-- <div class="errorMessageCont">
            <span>!</span>
            <h3>Uh oh, something went wrong</h3>
            <p>{{ errorMessage }}</p>
            <a class="errorMessageClose">x</a>
        </div> --}}

        <p id="signupErrMess">
            Uh oh, something went wrong 
            <br> <span>{{ errorMessage }}</span>
            <div id="exclamationMark">!</div>
            <a href="/signup" id="closeIcon">x</a>
        </p>
    {{/if}}

    <form id="signupForm" action="/signup" method="post" class="signup-container uk-flex uk-flex-column">
        
        <span class="label" id="nameSignupInput">Name</span>
        <input id="inputName" type="text" name="name" placeholder="Name">

        <span class="label" id="emailSignupInput">Email</span>
        <input id="inputEmail" type="email" name="email" placeholder="Email">

        <span class="label" id="passSignupInput">Password</span>
        <input id="inputPassword" type="password" name="password" placeholder="Password">
        
        <button id="signupCreate" type="submit" disabled>Sign up</button>

    </form>
</div>