<h1>Sign up to our App!</h1>

<form action="/auth/signup" method="post">
  <input type="email" name="email" value="" placeholder="Email" />
  <input type="password" name="password" value="" placeholder="*********" />

  <input type="submit" value="Signup now" />
</form>


<a href="/auth/login">Already have an account? Click here!</a>

