<form id="form" action="auth/signup" method="POST">
    <h2>Sign Up</h2>
    <label for="username">Username</label>
    <br />

    <input type="username" name="username" placeholder="Your username" />

    <label for="password">Password</label>
    <br />

    <input type="password" name="password" placeholder="********" />

    <button type="submit">Create account</button>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

</form>

