<h1>Sign up</h1>
<form action="/new-user" method="POST" class="sign-up">
  <div>
    <input placeholder="Name" name="name" type="text">
  </div>
  <div>
    <input placeholder="E-mail Adress" name="email" type="text">
  </div>
  <div>
    <input placeholder="Username" name="username" type="text">
  </div>
  <div>
    <input placeholder="Password" name="password" type="password">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
  <div>
    <p>Already Member? Login <a href="/auth/login">here</a>!</p>
  </div>
</form>