<div id="signup">
  <h2>Signup</h2>
  <form action="/signup" method="post">
    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="Your username">
    <label for="input-password" name="password" id="input-password" placeholder="******">Password</label>
    <input type="password" id="password-input" name="password" placeholder="Your Password">
    <button type="submit">Create account</button>
  </form>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>
