<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="ironhacker">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="********">
    <button type="submit">Signup</button>
  </form>
</div>