
 

<h1>Sign up to our App!</h1>

<form action="/auth/signup" method="post">
  <input type="username" name="username" value=""  />
  <input type="password" name="password" value=""  />

  <input type="submit" value="Signup now" />
</form>