<form action="/sign-up" method="POST">
  <div>
    <label for="username">Username:</label>
    <input required type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input required type="password" name="password">
  </div>
  <button type="submit">Sign up</button>
</form>
{{#if errorMessage}}
  <p class="error-message">{{errorMessage}}</p>
{{/if}}
<p>Already have an account? <a href="/login">Login</a></p>