<h2>SIGN UP</h2>

<form action="/signup" method="POST">
<label> Mail:
  <input type="text" name="inputMail">
</label>
<label> Password:
  <input type="password" name="inputPassword">
</label>
<button type="submit">Sign Up</button>
</form> 