<h1>This is the signup</h1>
<form action="/signup" method="POST" >
    <label>Username
        <input type="text" name="username" id="username" placeholder="Enter your name">
    </label>

    <label>Password
        <input type="password" name="password" id="password" placeholder="******">
    </label>

    <button type="submit">Sign up</button>

</form>