<div id ="signupForm">
<h2>Signup</h2>
<form action ="/signup" method="POST">

<label> Username
    <input type="text" name="username" placeholder="Type your username" />
</label>

<label> Password
<input type="text" name="password" placeholder="Type your password" />
</label>

<button type="submit">Create Your Account</button>

</form>



</div>