<h1>LOGIN</h1>

<form method="POST" action="/signup">
    <label for="username">Username:</label>
    <input placeholder="Username" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <button type="submit">SIGNUP</button>
    <h2>{{message}}</h2>
</form>