<div>
  <h3>Registro</h3>

  <form action="/auth/signup" method="post">
    <div>
      <label for="username">Nombre: </label>
      <input type="text" name="username" />
    </div>
    <div>
      <label for="password">Contrasena: </label>
      <input type="password" name="password" />
    </div>
    {{errorMessage}}
    <br>
    <button>Registrarse!</button>
  </form>

</div>