<h1>estas en signUp!!</h1>



<form action="/auth/signup" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name:</label>
        <input type="text" name="username" class="form-control w-25" id="exampleInputEmail1"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control w-25" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>