{{!-- views/auth/signup.hbs --}}

<div id="form">
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">

        <div class="mb-3">
          <label for="username" class="form-label">UserName</label>
          <input required type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input required type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-dark">Create User</button>
        <a href="/" class="btn btn-dark">Go back</a>
      </form>
  <nav>
      <ul>
        <li id="to-left">
          <p><a href="/"> Users - demo </a></p>
        </li>
        <li id="to-right">
          <a href="auth/signup">Signup</a>
        </li>
      </ul>
    </nav>
 {{#if errorMessage}}
     <p>
      {{errorMessage}}
    </p>
     {{/if }}
</div>
