<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">

    <label>
      Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>

    <label>
      Password
      <input type="text" name="password" placeholder="*****" />
    </label>

    <button type="submit">Create account</button>

    {{! error message will be added here }}
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>