<h3>Sign up</h3>
<form action="/auth/signup" method="POST">
  <label for="username">Username</label>
  <br>
  <input type="text" name="username" placeholder="username" required>
  <br>
  <label for="password"></label>
  <br>
  <label for="password">Password</label>
  <br>
  <input type="password" value="password" name="password" required>
  <br>
  <br> {{message}}
  <input type="submit" value="Create account">
</form>