<h2>Signup</h2>

<div>
  <form action="/signup" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" required />

    <label for="password">Password</label>
    <input type="password" name="password" minlength="6" required />

    <button type="submit">Create account</button>

  </form>

  <a href="/">Back Home</a>
  |
  <a href="/login">Already a member?</a>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

</div>