<form action="/entered" method="post">
<label> Username:
    <input type="text" name="username">
</label>
<label>Password:
<input type="password" name="userPassword">
</label>
<button>Sign up!</button>
</form>