<div class="container pt-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>Registro</h1>
      <hr />
      <form action="/registro" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="plainPassword"
          />
          <div class="form-text">Mínimo 4 caracteres.</div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-dark">Registrarme</button>
        </div>
      </form>
    </div>
  </div>
</div>