<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label>Username
      <input name="username" placeholder="
      {{#if username}}
      {{username}}
      {{/if}}
      enter your username" required />
    </label>
    <label>Password
      <input type="password" name="password" placeholder="*****" required />
    </label>
    <button type="submit">Create Account</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    {{#if newUserMessage}}
      <p>{{newUserMessage}}</p>
    {{/if}}
  </form>
</div>