<h2>Create Account</h2>
<form action="/auth/signup" method="POST">
  <div>
    <label>Name</label>
    <input type="text" placeholder="username" name="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" placeholder="********" name="password">
  </div>
  
  <button type="submit">Create</button>
</form>