<div id="form">
    <h2>Signup</h2>
    <form action="/auth/signUp" method="POST">
    <label> Username
        <input type="text" name="username" placeholder="Desired Username">
    </label>
    <label> Email
        <input type="text" name="email" placeholder="Your Email">
    </label>
    <label>Password
        <input type="password" name="password" placeholder="Desired Password">
    </label>
    
    <button type="submit">Create Account</button>
    </form>
</div>