<div class="row">
    <div class="col">
    <h2>New User</h2>
      {{#if errorMessage}}
        <div class="alert alert-warning" role="alert">
            {{errorMessage}}
        </div>
      {{/if}}
    <form action="/signup" method="POST">
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" name="username" id="username" required placeholder="required, unique" {{#if attempt}}value="{{attempt}}"{{/if}}>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" required placeholder="required">
    </div>
        <button type="submit" class="btn btn-success mb-2">Register</button>
    </form>
    </div>
</div>