<div>
    <h2>Sign Up Page</h2>
    <form action="/signup" method="post">
        <label for="">Username</label>
        <input type="text" name="username" required>
        <label for="">Email</label>
        <input type="email" name="email" required>
        <label for="">Password</label>
        <input type="password" name="password" placeholder="********" required minlength="6"/>
        <button type="submit">Create account</button>
    </form>
    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>