<h1>Sign up Page</h1>

<form action="/signup" method="POST">
<label for="username">
    <input type="text" name="username" placeholder="username">
</label>
<label for="password">
    <input type="password" name="password" placeholder="password">
</label>
<button type="submit">Submit</button>

</form>

{{#if error}}
{{error}}

{{/if}}