{{! views/auth/signup-form.hbs  }}

<form id="form" action="/signup" method="POST">

  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Create a username" />
  <br>
  <label for="email">E-mail:</label>
  <input type="email" name="email" placeholder="Your e-mail" />
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Create a password" />
  <br>
  <button type="submit">Create account</button>
</form>

{{! error message display: }}

{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}