	<form id="form" action="/signup" method="POST">
    <p>
       <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Choose username" required> 
    </p>
    
    <p>
        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="Choose a password" required>
    </p>
    
    <button type="submit">Create user</button>
  </form>


{{!-- error message display: --}} 
<br>
{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}