<br>
<h2>Signin to your profile</h2>
<br>
<hr>
<form action="/auth/signin" method="post">

<div class="raw">
<div class="input-container">
    <label  for="mail">Email: </label>
    <input class="form-input" type="email" name="email" id="mail" required>
</div>

<div class="password input-container">
    <label for="pass">Password:</label>
    <input class="form-input" type="password" name="password" id="pass" required>
</div>

{{#if errorMessage}}
    <p class="error">⚠️{{errorMessage}}</p>
{{/if }}

<button class="btn btn-dark" id="user"> Log-in</button>
</div>

</form>
<hr>