<div>
    <h2>Signup Page</h2>
    <div>
        <form action="/signup" method="post">
            <label>Username:
                <input type="text" name="username" placeholder="ex: ironhacker"></label>
            <label><span>.</span>Password:
                <input type="password" name="password" placeholder="**"></label>
            <button type="submit">Create Account</button>
        </form>
    </div>
</div>