<div class='form'>

  <h2 class='form__heading'>Sign Up</h2>

  <form class='form__fillout form__fillout--signup' action='/signup' method='POST'>

    <label for='email'>
      Email:
      <input type='email' name='email' placeholder='ironhacker' required='true' />

    </label>

    <label for='password'>
      Password:
      <input type='password' name='password' placeholder='*******' min-length='7' />

    </label>

    <button type='submit'>Submit</button>
    {{#if errorMessage}}
      <p class='user__content'>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>