<form method="POST" action="/signin">

  <label for="username">Name</label>
  <input id="username" type="text" name="username" placeholder="Enter your name">

  <label for="password">Pasword</label>
  <input id="password" type="password" name="password" placeholder="Enter password">

  <button type="submit">Sign In</button>
</form>

{{#if errorMessage}}
    <div class="error">{{errorMessage}}</div>
{{/if}}