<h1>Sign Up Page</h1>
 <form method="POST" action="/signup">
     <label>email</label>
     <input required="required" type="text" name="email" placeholder="Enter your email">

   <label>password</label>
   <input required="required" type="password" name="password" placeholder="Enter your Password"  >
   <button type="submit" >Sign In</button>
 </form>

 <div>{{message}}</div> 