<h2>Singup</h2>
<form action="/signup" method="post">
<label>Username:</label>
<input  type="text" name="username">
<label>Password</label>
<input  type="password"  name="password">
<button type="submit">Sign up</button>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
</form>