<h1>Sign Up</h1>

<form action="/auth/signup" method="post">
<input type="email" name="email" value="" placeholder="Enter your Email">
<input type="password" name="password" value="" placeholder="Enter your password">
<input type="submit" value="sign up">

</form>