<div id="signup">

  <h2>Signup</h2>

  <form action="/signup" method="POST">

        <label for="input-username"> Username </label>
        <input type="text" name="username" placeholder="Type a username" />
        <label for="input-email"> Email </label>
        <input type="email" name="email" placeholder="Type your email" />
        <label for="input-password"> Password </label>
        <input type="password" name="passwordHash" placeholder="type a password" />

        <button type="submit">Create account</button>

        {{!-- error message will be added here --}}
  </form>

</div> 