
<div>
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">
 
    <label> Username
      <input type="text" name="username" placeholder="user name" />
    </label>
 
    <label> Email
      <input type="email" name="email" placeholder="email@domain.com" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Create User</button>
 
    {{!-- error message will be added here --}}
    {{#if errorMessage}}
        <p class="alert alert-danger" role="alert">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>