<h3>Sign up</h3>

<form action="/signup" method="POST">
<label>
    Username:
    <input type="text" name="username" placeholder="Your username">
</label>

<label>
    Password:
    <input type="password" name="password" placeholder="********">
</label>
<button type="submit">Create account</button>
</form>
