<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Sign up</h1>
            <hr>

            <form action="/signup" method="POST">


                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="pwdInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwdInput" name="userPwd" required>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Sign up</button>
                </div>

                {{#if errorMessage}}
                <div id="error">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}

            </form>
            <p> Already a member? <a href="/login">Log In</a></p>
        </div>
    </div>

</div>