<h1>sign me up daddy</h1>
<h3>{{errorMessage}}</h3>
<form action="/signup" method="POST">
    <div>
        <label>User Name: </label>
        <input type="text" name="userName">
    </div>
    <div>
        <label>Password: </label>
        <input type="password" name="password">
    </div>
    <button>Submit</button>
</form>