<div id="signup">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label for="input-username">Username</label>
    {{#if username}}
      <input type="text" id="input-username" name="username" placeholder="Your username" value={{username}} required />
    {{else}}
      <input type="text" id="input-username" name="username" placeholder="Your username" required />
    {{/if}}
    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" required/>
 
    <button type="submit">Create account</button>
  </form>
       
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}} 
</div>