<h1>Sign Up</h1>


<form action="/signup" method="post" id="form">
    <div>
        <label>Username</label>
        <input type="text" name="username" required>
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password" required>
    </div>

    <button type="submit">Sign Up</button>
</form>