<div class="inner__container__center">
     <h4>Sign Up!</h4>
    <form id="form" action="/signup" method="POST">
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" placeholder="AnakinSkywalker">
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input id="myPassword" type="password" name="password" >
         <br>
        {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
        <br>
        <button type="submit">Create account</button>
    </form>
</div>
