<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="userName" class="form-control" placeholder="Type your username" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Type your email address" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Type your password" aria-describedby="helpId" >
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create account</button>
                </div>
            </form>
        </div>
    </div>
</div>