<form action="/auth/sign-up" method="POST">

  <label for="email">Email:</label>
  <input type="email" name="email" />

  <label for="username">Username:</label>
  <input type="text" name="username" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <button type="submit">Registrarse</button>

</form>

{{#if errorMessage}}
  <p class="error-message">{{errorMessage}}</p>
{{/if}}

<p>¿Ya tienes cuenta? <a href="/auth/log-in">Inicia sesión</a></p>
<p>Vuelve al <a href="/">Inicio!</a></p>