  
{{!-- View do formulario de criacao de usuario --}}

{{!-- Dispara uma requisicao POST para a rota /signup quando o usuario clicar no botao "Salvar" --}}

<form action="/signup" method="POST">
  <label>Username</label>
  <input type="text" name="username">
  <label>Email</label>
  <input type="email" name="email">
  <label>Password</label>
  <input type="password" name="password">

  <button type="submit">Salvar</button>
</form>

{{!-- o botão capta em um array o username, o email e o 
   password e envia por um metodo POST para a rota /signup --}}









