<h2>Signup</h2>

<form action="/signup" method="POST">
<label>Username</label>
<input type="text" name="username" required/>

<label>Password</label>
<input type="password" name="password" required/>

<button type="submit" name="Create account">Create account</button>
</form >
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
