
<h2> Regístrate</h2>

<form action="/auth/signup" method="post">

<label for="">Username</label>
<input type="text" name="username">

<label for="">Password</label>
<input type="text" name="password">

<button type="submit">Registrarme</button>
</form>





</form>