<div>
    <h2>Sign Up!</h2>
    <form action="/signup" method="POST">
       <label> Username
          <input type="text" name="username" placeholder="ironhacker"/>
       </label>
       <label> Email
           <input type="email" name="email" placeholder="Ironhacker"/>
       </label>
       <label>Password
           <input type="password" name="password" placeholder="*******"/>
       </label>

       <button type="submit"> Create Account</button>
    
    </form>
</div>