<h1>Sign Up</h1>

<form action="/auth/signup" method="post" required>

  <label>Username
    <input type="text" name="username" placeholder="username" required>
  </label>
  <label>Password
    <input type="password" name="password" placeholder="**********">
  </label>
  <button type="submit">Sign Up</button>

</form>