{{!-- views/auth/signup.hbs --}}

<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="ironhacker" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Create account</button>

    {{!-- error message will be added here --}}
  </form>
</div>
