  <div class ='container'>
    
    <h1>Registrate!</h1>
    <hr>
     <div class="row justify-content-center">

        <div class="col-md-6">
                    
            <form action="/register" method="post">
                <form>

                    <div class="mb-3">
                        <label for="exampleInputUserName1" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="exampleInputuserName1" name="username">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password"> 
                    </div>
                
                    <button type="submit" class="btn btn-primary">Listo!</button>
                </form>
            </form>
        </div>
     </div>

</div>  