<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <h2>Fomulario de registro</h2>

            <form action="/registro" method="POST">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" name="email" id="emailInput">

                </div>

                <div class="mb-3">
                    <label for="nameInput" class="form-label">Usuario</label>
                    <input type="text" name="username" id="nameInput">
                </div>


                <div class="mb-3">
                    <label for="pswInput" class="form-label">Contraseña</label>
                    <input type="password" name="password" id="pswInput">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary block">Completar registro</button>
                </div>

        </div>

        </form>

    </div>
</div>