<h1>formuario</h1>


<form action="/auth/sing-up" method="POST">
<label>
    nombre de usuario
    <input type="text" name="username">
</label>
<label for="pwdInput">
    contraseña
    <input type="password" id="pwdInput" name="password">
</label>
<input type="submit" value="sing in">


</form>