<h2>Singup</h2>

<form action="/singup" method="post">

<div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
</div>

<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
</div>
<button>Create user</button>
</form>