<div id="form">

    <h1>Signup</h1>

    <hr>
    <form action="/registro" method="post">
        <label>
            Username
            <input type="text" name="username" id="username" />
        </label>

        <label>
            Password
            <input type="password" name="plainPassword" id="plainPassword" />
        </label>

        <button type="submit"> Signup</button>

        {{#if errorMessage}}

        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>