<h2>Singin</h2>

<form action="/singin" method="post">

<div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
</div>

<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
</div>
<button>Login</button>
</form>