<h2>SingUp</h2>
<form action="/singup" method="post">
    <label> Username
        <input type="text" name="username">
    </label>
    <label> Password
        <input type="text" name="password" placeholder="*****">
    </label>
    <button type="submit">Create Account</button>
</form>