<form action="/signup" method="post">
  <label for="">Username:
    <input type="text" name="username" id="username">
  </label>

  <label for="">Password:
    <input type="password" name="password" id="password">
  </label>

  <button type="submit">Create account</button>
</form>