<div class="form-container">
  <div class="logo">
    <h1 class="main-title">IRON</h1>
    <img class="ih-logo" src="../images/logo.png" alt="">
    <h1 class="main-title">QUOTES</h1>
  </div>
  <h1 class="form-title">Log in</h1>
  <form method="POST" action="/auth/login">
    <div class="field">
      <input type="text" placeholder="Username" name="username" />
    </div>
    <div class="field">
      <input type="password" placeholder="Password" name="password" />
    </div>
    <div class="field submit">
      <button type="submit" class="btn btn-submit">Log in</button>
    </div>
  </form>
</div>