<div class='container'>
  <h1>This is private, you little rebel...</h1>
  <img src='https://gif-finder.com/wp-content/uploads/2016/03/Leonardo-DiCaprio-Sarcastic-Laugh.gif?v=2'>
  <a href='/'>Return</a>
</div>