<div id="form">
  <h2>Registrarse</h2>
  <form action="/registro" method="POST">
 
    <label> Nombre de usuario
      <input type="text" name="username" placeholder="username" />
    </label>
 
    <label> Contraseña
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Crear cuenta</button>
 
  </form>
</div>