<form action="login" method="post">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </p>
  <P>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </P>
  <input type="submit" value="login">

</form>
<p>Si no tienes cuenta <a href="/signup">regístrate</a></p>
<p>{{error}}</p>