<form action="/login" method="post">

  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  </p> 

  <input type="submit" >


</form>

<p> Si no tienes cuenta <a href="./signup">registrate</a></p>

<p>{{error}}</p>