<form id="form" action="/signin" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="">

  <br><br>

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="">
  <br><br>

  {{#if message}}
  <div style="color:red">{{message}}</div>
  {{/if}}
  <br><br>

  <button>Sign in</button>

  <p>Don't have an account? <a href="/signup">Sign up</a></p>

</form>