<h1>Exams to practice</h1>
<div class="col-3">
  <div class="box-images">
    <img src="../images/exam1.jpg" alt="">
  </div>
  <div class="box-images">
    <img src="../images/exam2.jpg" alt="">
  </div>
  <div class="box-images">
    <img src="../images/exam3.jpg" alt="">
  </div>
</div>