<div id="container">
  <h2>You are in a session!</h2>
</div>

<div>
  <iframe src="https://giphy.com/embed/13CoXDiaCcCoyk" width="480" height="398" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/wiggle-shaq-13CoXDiaCcCoyk">via GIPHY</a></p>
</div>


<div>
  <a class="inicio" href="/"> Home </a>
</div>

