<div class="container">
  <h1>Private Area</h1>
  <p>Welcome, {{userInfo.username}}</p>

  <a href="/login">Log Out</a>

  <div>
    <img src="https://media.giphy.com/media/SVYrs1hU0SiAf1nw1n/source.gif" alt="Kitty">
  </div>
</div>