<div class="container">
  <div class="private-main">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSDTsR5SufQEgp5fd5hE-LydsPAw2t7KWbFxei97ih4n_Sd39Ua"
      alt="Cat image">
    <a href="/private">Private Site</a>
    <a href="/">Home</a>
  </div>
</div>