<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" />
  <title>Main protected page</title>
</head>

<body class="text-center">
    <button class="mb-3 btn btn-warning" ><a href="/logout">Logout</a></button>
    <h2>This page is main protected page!</h2>
    <iframe src="https://giphy.com/embed/nyDuytA5bRdbW" width="480" height="219" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cats-drifting-nyDuytA5bRdbW">via GIPHY</a></p>
</body>
</html>