<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Private</title>
  </head>
  <body>
    <p>Private Gif for you</p>
    <iframe src="https://giphy.com/embed/Ph05xuYgrX5te" width="480" height="192" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/thumbs-up-zach-galifianakis-the-hangover-Ph05xuYgrX5te">LOLZ</a></p>
    <a href="/logout">Logout</a>
  </body>
</html>
