<div class="private-main">
<h1 style="text-align: center;">You are in private site</h1>
<img src="https://media.giphy.com/media/m92t0yvltPSV2/giphy.gif" alt="Rabit gif" style="width: 50vw;">
<a href="/main">main</a>
<a href="/">Home</a>
</div>