<ul>
    <li><a class="nav" href="/">Home</a></li>
    <li><a class="nav" href="/signup">Sign up</a></li>
    <li><a class="nav" href="/login">Login</a></li>
    <li><a class="nav" href="/profile">Profile</a></li>
    <li><a class="nav" href="/main">Main</a></li>
    <li><a class="nav" href="/private">Private</a></li>
    <li><a class="nav" href="/logout">Logout</a></li>
</ul>