<h1>Perfil.</h1>
<h2>Bienvenido: {{user.username}}</h2>
<p>He aquí unas de las opciones a las cuales puedes ir (de más):</p>
<ul>
    <li><a href="/main">Main</a></li>
    <li><a href="/private">Private</a></li>
</ul>