<section class="center-sec">
    <h1>We DON'T like cats :3</h1>
    <img src="https://cdn.shopify.com/s/files/1/0020/6526/8795/products/Pet-Halloween-Costume-Cat-Dog-Clothes-with-Funny-Guitar-Costume-Suit-Cosplay-Clothing-For-Cat-Cool.jpg_640x640_de3c643c-9e25-4bf4-b281-74208f13bf85_620x.jpg?v=1571721821"
        alt="Funny dog">
    <hr>
    <a href="/" class="btn btn-primary btn-sm">Go back!</a>
</section>