<section class="center-sec">
    <h1>Welcome to your profile, {{username}}!!</h1>
    <img src="https://media.giphy.com/media/JOLeBruZyl3fqfHNEr/giphy.gif" alt="my profile gif!" width=250 />
    <hr>
    <a href="/" class="btn btn-primary btn-sm">Go back!</a>
</section>