<h1>Welcome {{userInSession.name}}</h1>

<form action="">
    <label for="assistance">Assistance
<input type="text" placeholder="who created JS?" name="assistance"  />
<button>Send</button>
    </label>


</form>
 <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
  