<div class="container">
    <h1>Perfil de {{user.username}}</h1>
    <hr>
    <p>¡Bienvenid@!</p>
    <a href="/principal" class="btn btn-primary btn-lg" >Principal</a>
    <a href="/privado" class="btn btn-primary btn-lg">Privado</a>
</div>