<h1>Login Page</h1>

<form action="/login" method="post">


<label for="">Username</label>
<input type="text" name="theUsername" id="">


<label for=""></label>

<input type="password" name="thePassword">
<button>Submit</button>
</form>

{{#if errorMessage}}
<div>
    {{errorMessage}}
</div>
{{/if}}