<h1>Welcome to the Sign Up Page!</h1>

<form action="/signup" method="post">

  <label for="username">Username</label>
  <input id="username" type="text" name="theUsername"/>

  <label for="password">Password</label>
  <input id="password" type="password" name="thePassword"/>

  <button>Submit</button>
</form>

{{#if errorMessage}}
<div class="error">{{errorMessage}}</div>
{{/if}}
