<h2>Sign Up</h2>
<form action="/signup" method="POST">
<label for="username">Username</label>
<input type="text" name="username" placeholder="admin">
<label for="password">Password</label>
<input type="password" name="password" placeholder="admin123">
<button>Register</button>
</form>