<h1>RESGISTER USER</h1>
<div>
  <form action="/register" method="POST">
    <input type="text" name="Username" placeholder="Username">
    <br>
    <input type="password" name="Password" placeholder="Password">
    <br>
    <button type="submit">SUBMIT</button>
  </form>
  <p>{{errorMessage}}</p>
</div>