<h1>REGISTER USER</h1>
<div>
  <form id="myForm" action="/register" method="POST">
    <input type="text" name="Username" placeholder="Username">
    <br>
    <input id="myPassword" class="strength_meter" type="password" name="Password" placeholder="Password">
    <br>
    <button type="submit">SUBMIT</button>
  </form>
  <p>{{errorMessage}}</p>
</div>