<form action="/logs/login" method="POST" autocomplete="off">

  <h2>Login</h2>

  <div>
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>

  <p>Don't have an account? register <a href="/logs/register">here</a></p>

  <button>Submit</button>
</form>