<form action="/logs/register" autocomplete="off" method="POST">

  <h2>Register</h2>

  <div>
    <label for="username">Username</label>
    <input type="text">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text">
  </div>

  <button>Submit</button>
</form>