<div id="topLinks">
    <a href="/"> Home</a>
</div>
<div id="forms">
    <form action="/authenticate/login" method="POST">
        <h1>Bloody Well Log In</h1>
        <div id="formLine">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Your username" id="username">
        </div>
        <div id="formLine">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password">
        </div>
        <button type="submit">Log In</button>
    </form>
</div>
{{!-- the handlebars doing us a favour, a very simply if followed by the key name, in this case its errorMessage
which we defined in the authenticate.js file along with the message we want to display which in this case is a string but could be another value --}}
{{#if errorMessage}}

<h3 style='color: red'>{{errorMessage}}</h3>

{{/if}}