<div id="topLinks">
    <a href="/"> Home</a>
</div>
<div id="forms">
    <form action="/authenticate/signup" method="POST">
        <h1>Bloody Well Sign Up</h1>
        <div id="formLine">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Your username" id="username">
        </div>
        <div id="formLine">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password">
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>
{{!-- same as the login page --}}
{{#if errorMessage}}

<h3 style='color: red'>{{errorMessage}}</h3>

{{/if}}