<h2>Sign UP</h2>

<form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="*******" required>

    <button type="submit"> Sign up!</button>

    {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
    {{/if}}
</form>