<footer class="navbar sticky-bottom bg-dark d-flex justify-content-center align-items-baseline">
    <p class="text-white mx-3">Ironhack Lab - Developed by <a href="https://github.com/xavirepi" target="_blank"
            class="developer">Javier Repi</a></p>
</footer>