<nav class="navbar navbar-light bg-light">
    {{#if view}}
        <a class="navbar-brand" href="/signup">Signup</a>
        <a class="navbar-brand" href="/login">Login</a>
    {{/if}}
    <a href="/" class="navbar-brand">Home</a>
    {{#if logout}}
        <a href="/logout" class="navbar-brand">Logout</a>
    {{/if}}
</nav>