

<div class="buttons-nav">
  <a href="/main" class="btn marginTop private">Main</a>
  <a href="/private" class="btn marginTop private">Private</a>
  <a href="/profile" class="btn marginTop private">User Profile</a>
  <a href="/" class="btn marginTop">HOME</a>
</div>

