<nav>
    <div>
        <a href="/">Home</a>
        <a href="/cat">Cat</a>
        <a href="/private">Private page</a>
    </div>
    
    <div>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </div>
    
</nav>