<nav>
  <ul class="navbar">
    <li><a href="/auth/main">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
    <li><a href="/auth/sign-up">Register</a></li>
    <li><a href="/auth/login">Login</a></li>

  </ul>
</nav>