<nav>
  <ul class="navbar">
    {{#if currentUser}}
      <li><a href="/auth/private">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    {{else}}
      <li><a href="/auth/sign-up">Register</a></li>
      <li><a href="/auth/login">Login</a></li>
    {{/if}}

  </ul>
</nav>