<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container-fluid">
         <a class="navbar-brand" href="/">Express authentificator</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{#if isLoggedIn}}
                 <li class="nav-item"><a class="nav-link active" href="/profile" id="profile">Profile</a></li>
                 <li class="nav-item"><a class="nav-link active" href="/auth/logout">Logout</a></li>
                {{else}}
                <li class="nav-item"><a class="nav-link active" href="/auth/signin" id="profile">Signin</a></li>
                <li class="nav-item"><a class="nav-link active" href="/auth/signup">Signup</a></li>
                {{/if}}
               <li class="nav-item"><a class="nav-link active " href="/">Home</a></li>
            </ul>
         </div>
      </div>
</nav>