<ul class="nav justify-content-end">
    {{#if loggedIn}}
        <li class="nav-item">
            <a class="nav-item nav-link" href="/authenticated/private">Welcome {{user.username}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/authenticated/main">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/user/logout">Logout</a>
        </li>

    {{else}}
        <li class="nav-item">
            <a class="nav-item nav-link" href="/user/signup">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="/user/login">Login</a>
        </li>
    {{/if}}
</ul>
