<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
<div class="container-fluid">
    <a class="navbar-brand" href="/">Lab Basic Auth</a>
    <button
      class="navbar-toggler d-flex align-items-center"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon {{#if currentUser}}me-3 {{/if}}"></span>
      {{#if currentUser}}
        <div>
          Hola,
          {{currentUser.username}}
        </div>
      {{/if}}
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if currentUser}}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/profile"
            >Profile</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-danger"
              aria-current="page"
              href="/logout"
            >Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/register"
            >Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
