<nav>
    <ul>
        <li><a href="/register">Register User</a></li>
        <li><a href="/login">Login</a></li>
        <form action="/logout" method="POST">
            <button>Logout</button>
        </form>
    </ul>
</nav>