<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">Emosi2 Enseña2</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mi cuenta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{#if currentUser}}
            <li><a class="dropdown-item" href="/profile">Mi perfil</a></li>
            <form action="/logout" method="POST"> 
            <li>
              <button class="dropdown-item" type="submit">Cerrar sesión</button>
              </li>
              
            </form>

            {{else}}

            <li><a class="dropdown-item" href="/register">Registro</a></li>
            <li><a class="dropdown-item" href="/login">Iniciar sesión</a></li>
            {{/if}}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>