<nav id="navbar">
    <ul class="navbar-nav d-flex justify-content-around">
      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/signUp">Sign In</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/">Log out</a>
      </li>
    </ul>
</nav>