<div class="navbar">
  <!-- Logo -->
  <a class="logo-link" href="/">
    <div class="navbar-logo">
      <h1 class="main-title">EXERCISE</h1>
    </div>
  </a>
  <!-- Right Navigation -->
  <div class="navbar-right">
    <a href="/" class="navbar-item navbar-link">List</a>
    <a href="/" class="navbar-item navbar-link">Add</a>
  </div>
</div>