<div class="container">
<form  method="POST" action="/register">
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="text" name="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" id="inputEmail" value={{user.email}}>
    <div id="emailHelp"   class="form-text">We'll never share your email with anyone else.</div>
    {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
    {{/if}}
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="passwordInput">
     {{#if errors.password}}
      <div class="invalid-feedback">
        {{errors.password}}
      </div>
    {{/if}}
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
</div>