<form action="{{route}}" method="post">
    <input name="username" type="text" placeholder="Please enter username">
    <input name="password" type="password" placeholder="Please enter password">
    <button type="submit">Submit!</button>
</form>