<h1>Add a room</h1>
<form action="/rooms" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required>

    <label for="price">Price:</label>
    <input type="number" name="price" required>

    <button type="submit">Add room</button>
</form>