<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Express Auth </h1>
    <p class="lead">ExpressJS + HBS authentication & authorization tutorial</p>
  </div>
</div>