<div class="container">
    <h1>Login</h1>
    <hr>
    <form action="/login" method="post">
        <label for="username">Usuario</label>
        <input type="string" id="username" name="username">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>

    </form>
</div>