@charset "utf-8";
/* CSS Document */

.strength_meter{
	height:44px;
	width: 154px;
	background:silver;
	margin: 5px;
	width: 100%;
}
.strength_meter div{
	height:44px;
	width:100%;
	height:44px;
	text-align:center;
	color:black;
	font-weight:bold;
	line-height:23px;
	padding: 10px;
}
.button_strength {
	padding: 3px 5px 0 40px;
	width: 100%;
	text-align: center;
}
.input-group>.form-control {
	width: 80%;
}
.strength {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 80%;
	height: calc(2.25rem + 2px);
}
.veryweak{
	height:44px;
	background-color: #FFA0A0;
border-color: #F04040!important
}
.weak{
	height:44px;
background-color: #FFB78C;
border-color: #FF853C!important;
}
.medium{
	height:44px;
background-color: #FFEC8B;
border-color: #FC0!important;
}
.strong{
	height:44px;
background-color: #C3FF88;
border-color: #8DFF1C!important;
}