body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  background: white;
}

a {
  color: #00b7ff;
}

#myform {
  margin: 30px auto;
  width: 380px;
}
#myform label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
#myform input,
#myform button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}
#myform button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
  height: 45px;
  margin-top: 20px;
}
#myform button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

#myform input[type="“password”"],
#myform input[type="“text”"] {
  // background: transparent;
  // border: 2px solid #46ac84;
  // color: #777;
  // font-family: “Lato”, sans-serif;
  // font-size: 14px;
  // padding: 9px 5px;
  // height: 21px;
  // text-indent: 6px;
  // -webkit-appearance: none;
  // -webkit-border-radius: 6px;
  // -moz-border-radius: 6px;
  // border-radius: 6px;
  // -webkit-box-shadow: none;
  // -moz-box-shadow: none;
  // box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear;
  -moz-transition: border 0.25s linear, color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear;
  -webkit-backface-visibility: hidden;
  width: 100%;
}
#myform input[type="“password”"]:focus,
#myform input[type="“text”"]:focus {
  outline: 0;
}
#myform {
  width: 500px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 60px;
}
.strength_meter {
  //position: absolute;
  // left: 0px;
  // top: 0px;
  width: 100%;
  height: 45px;
  z-index: -1;
  border-radius: 5px;
  padding-right: 13px;
  box-sizing: border-box;
  padding: 0 10px;
}
.button_strength {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.strength_meter div {
  width: 0%;
  height: 43px;
  text-align: right;
  color: #000;
  line-height: 43px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-right: 12px;
  border-radius: 5px;
}
.strength_meter div p {
  position: absolute;
  top: 22px;
  right: 0px;
  color: #fff;
  font-size: 13px;
}
.veryweak {
  background-color: #ffa0a0;
  border-color: #f04040 !important;
  width: 25% !important;
}
.weak {
  background-color: #ffb78c;
  border-color: #ff853c !important;
  width: 50% !important;
}
.medium {
  background-color: #ffec8b;
  border-color: #fc0 !important;
  width: 75% !important;
}
.strong {
  background-color: #c3ff88;
  border-color: #8dff1c !important;
  width: 100% !important;
}
h1,
h2 {
  color: black;
  text-align: center;
  //   font-size: 50px;
  //   text-align: center;
  //   padding-top: 30px;
  //   margin-bottom: 20px;
}
// h1 span {
//   font-weight: bold;
//   color: white;
//   opacity: 0.3;
// }

h1 {
  text-align: left;
}

input,
label {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: left;
}
