body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.background {
  background-image: url('../images/FUNNY-CAT-PICTURES.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

