body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:black;
  border: 1px solid black;
  padding:5px;
  margin: 5px;
  text-decoration: none;
  
}

a:hover{
  text-decoration: none;
  background-color: lightseagreen;
}
