body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}

a {
  color: rgb(27, 167, 132);
}

h1,h2,p{
  padding:20px;
}


input{
  padding:10px 20px;
  font-size:20px;
  background-color: #ffffff;
}

