body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.err {
  &-message {
    background: #f02b63;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
  }
}
