# Dependency directory
node_modules
.env
npm-debug.log
package-lock.json

# Debug log from npm

# Environment Variables should NEVER be published
# We are submitting it for learning purposes 

# for maintenance purposes - not best practices

