<h1 class='display-5 text-light'>Main</h1>
<div class='m-5'>
  <div></div>
  <h5 class='text-light'>Cats are liquids</h5>
  <img class='w-50 m-2' src='https://sadanduseless.b-cdn.net/wp-content/uploads/2019/11/liquid-cats2.jpg' alt='' />
  <h6 class='mt-2 text-light'>More liquid cats found here:
    <br />
    <a href='https://www.sadanduseless.com/liquid-kitties-gallery/' target='blank'>https://www.sadanduseless.com/liquid-kitties-gallery/</a></h6>
</div>
<a class='btn btn-secondary me-5' href='/userprofile'>back</a>
<a class='btn btn-secondary' href='/content/private'>Private</a>