<h1 class='display-5 text-light'>Private</h1>
<div class='m-5'>
  <iframe src='https://giphy.com/embed/hGwvzBNwXDwlO' width='480' height='360' frameBorder='0' class='giphy-embed' allowFullScreen></iframe><p></p>
</div>
<a class='btn btn-secondary me-5' href='/userprofile'>back</a>
<a class='btn btn-secondary' href='/content/main'>Main</a>