<form action="/" method="POST">
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <input type="text" class="form-control" placeholder="Username" name="username">
    </div>
    <div class="col-sm-3 my-1">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-lock"></i></div>
        </div>
        <input type="text" class="form-control" placeholder="Password" name="password">
      </div>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>