<div class="row justify-content-center">
    <div class="col-md-6">

        <h1>Iniciar sesión</h1>

        <form action="/login" method="POST">
            <div class="form-group">
                <label for="field1">Usuario</label>
                <input name="username" type="text" class="form-control" id="field1">
            </div>
            <div class="form-group">
                <label for="field2">Contraseña</label>
                <input name="password" type="password" class="form-control" id="myPassword">
            </div>

            <button type="submit" class="btn btn-dark btn-block btn-lg">Iniciar sesión</button>

            <div id="errorMsg">{{{errorMessage}}}</div>

        </form>
    </div>
</div>

