<h2>Login</h2>

<form action="/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input type="text" name="username" required>
  <br>
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" required>
  <br>
  <% if ( typeof(error) != "undefined") { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
      <br>
      <button>Login</button>
</form>