<div class="login">
<form method="POST" class="w-75 mx-auto mt-5">
  {{#if errorMessage}}
  <div class="text-right">
    <span class="p-3 border border-danger error-msg">{{errorMessage}}</span>
  </div>
  {{/if}}
  <div class="row justify-content-right">
    <div class="col-md-6 col-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="alejandro@garcia.ironhacker"name="username">
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder= "1234"name="password">
      </div>
    </div>  
  </div>
  <div class="row justify-content-center mt-5">
    <button type="submit" class="btn btn-success btn-lg">Login</button>
  </div>
    <p class="text-center mt-3">Don't you have an account?</p>
    <p class="text-center" ><a href="/auth/signup">Sign up!</a></p>
</form>
</div>