<h1>Login</h1>
<div class="box-img">
  <img src="../images/class.jpg" alt="English">
</div>
<form method="POST" action="/login">
  {{> input type="email" name="username" label="Email address" placeholder="example@example.com" small="We'll never share your email with anyone else."}}
  {{> input type="password" name="password" label="Password" placeholder="Your password"}}
  <button type="submit" class="btn btn-primary">Login</button>