<h1>LOG IN</h1>
<form action='/login' method='POST'>

  <label for=''>Username</label>
  <input type='text' name='username' required='required'>

  <label for=''>Password</label>
  <input type='password' name='password' required='required'>

  <button type='submit'>Log In</button>
</form>

{{#if errorMsg}}
  <p>{{errorMsg}}</p>
{{/if}}