<h2>Login</h2>

<% if(typeof(errorMessage) !== "undefined"){ %>
  <div class="error-message"> <%= errorMessage %></div>
<%}%>

<form action="/login" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" value=""><br>
  <label for="password">Password</label>
  <input type="password" name="password" value="">
  <input type="submit" name="" value="Submit">

  <p>
    Don't have an account? <a href="/signup"><strong>Sign up</strong></a>
  </p>
</form>
