<h1>Login</h1>

<form action="/auth/login" method="POST">
  <p>
    <label for="username">Username</label>
    <input type="text" name="username" >
  </p>
  <br>
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" >
  </p>
  <br>
  <input type="submit" value="Login">
</form>

{{#if message}}
  <p class="error">{{message}}</p>
{{/if}}