

<div class='login-container'>

<form action="/login" method="POST" id="form">
  <h2 class="center">Please login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/auth">Sign up</a>
  </p>
</form>

</div>