<div class="login-container">
  <form action="/login" method="POST" id="form">
    <label for="username">Username</label>
    <input type="text" name="username" required placeholder="Username">
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" required placeholder="Password">

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <button type='submit' class="submit">Sign in</button>

    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>
  </form>
</div>