<h2>Login</h2>

<h2 style="color: red;">{{err}}</h2>
<form action="/login" method="POST">
  <input type="text" class="form-control" name="username">
  <input type="password" class="form-control" name="password">
  <input type="submit" class="btn btn-primary" value="Login">
</form>