<h2>Login</h2>

<h2 style="color: red;">{{err}}</h2>

<div class="container">
  <div class="row">
  <form action="/login" method="POST">
  <div class="col-lg">
      <input class="form-control"  type="text" name="username">
  </div>

  <div class="col-lg">
    <input class="form-control"  type="password" name="password">
  </div>

  <input class="btn btn-info"  type="submit" value="Login">
</form>
</div>
</div>