<h2 class="my-3">Log into your account</h2>

<div class="card col-lg-4 form">
  <form id="form" action="/login" method="POST">
  <br>
  <label class="mt-3" for="password">Username</label>
  <input class=" w-100" type="text" name="username" placeholder="Username">
  <br>
  <label class="mt-3" for="password">Password</label>
  <input class=" w-100" type="password" name="password" placeholder="Password">
  <br>
  <button type="submit" class="btn my-4 btn-primary w-100">Log into your account</button>
  </form>

{{#if errorMessage}}
<h4 class="rounded-pill text-center py-3 px-2 bg-danger text-light font-weight-bold mb-5">{{ errorMessage}}</h4>
{{/if}}
</div>