<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Usuario</label>
  <input type="text" name="username" >

  <label for="password">Password</label>
  <input type="password" name="password" >

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Sign in</button>

  <p class="account-message">
    No tienes cuenta? <a href="/signup">Registrate</a>
  </p>
</form>