<div class="container">
	<div class="row  d-flex justify-content-center">
		<div class="col-lg-6 bg-light shadow-sm p-3 mb-5 rounded">
			<h2>Login Form</h2>

			<form action="/login-process" method="POST">
				<div class="row">
					<div class="col-md-12 form-group">
						<input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 form-group">
						<input type="password" placeholder="Enter your password" class="form-control" name="originalPassword">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 form-group">
						<button class="btn btn-success btn-lg m-2">Submit</button>
					</div>
				</div>

			</form>
		</div>

	</div>
</div>