<h2>Login</h2>

<h2 style="color: red">{{err}}</h2>
<form action="/login" method="POST">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="Login">
</form>