<h2>Log In</h2>
<form id="form" action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="AnakinSkywalker">
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="DeathStar">
  {{> error}}
  <button class="loginBut">Log in</button>
  <p class="account-message">Don't have an account? <a href="/signup">Sign up</a></p>
</form>
