<h2>Type in your account</h2>
<p style="color:red"> {{error}} </p>
<form action="/login" method="post">
    <p>
        Type your username:
        <input name="username" type="text">
    </p>
    <p>
        Write your passoword;
        <input name="password" type="password">

    </p>
    <input type="submit">
</form>