<h2 style="color: brown">{{err}}</h2>
<div class="cont">
  <form action="/login" method="post">
    <h1>Login</h1>
    <div>
      <label for="">Username</label><br>
      <input placeholder="UserXXX" type="text" name="userName"><br><br>
    </div>
    <div>
      <label for="">Password</label>
      <input type="password" name="password" id=""><br><br>
    </div>
    <input type="submit" value="Login"><br>
    <br>
    <br>
</div>