<h1>Inicia tu sesion</h1>

<form action="/auth/crearCuenta" method= "POST">

<p>
  <label for="username">Nombre de usuario</label>
  <input type="text" name= "username" id="username">
</p>

<p>
<label for="password">Contraseña</label>
<input type="text" name= "password" id="password">
</p>
<br>
<input type="submit" value= "Crear cuenta">