<form action="/login" method="POST" id="form">
    <h2>Login</h2>

    <label for="username">Username(required)</label>
    <input type="text" name="username">

    <label pattern = "(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" for="password">Password  </label>
    <input type="password" name="password"> {{#if errorMessage }}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

<button>Log in</button>

<p class="account-message">Don't have an account? <a href="/signup">Sign up</a>
</p>
</form>