<div class="row">
  <div class="col-4 mx-auto">
    <form action="/login" method="POST">
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="email" name="email" class="form-control {{#if errors.email }} is-invalid {{/if}}" placeholder="Email"
            value="{{ user.email }}">
          {{#if errors.email }} <div class="invalid-feedback">{{ errors.email }}</div> {{/if}}
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="password" name="password" class="form-control {{#if errors.password }} is-invalid {{/if}}" placeholder="password"
            value="{{ user.password }}">
          {{#if errors.password }} <div class="invalid-feedback">{{ errors.password }}</div> {{/if}}
        </div>
      </div>
      <div class="actions-group">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </div>
    </form>
  </div>
</div>