<h1>Login page</h1>

<form action="/auth/login" method="POST">
    <input type="text" name="username" id="">
    <input type="text" name="password" id="">
    <button type="submit">LOGIN</button>
</form>