<h1>Login</h1>

<form method="POST" action="/auth/login">

  <div class="field" >
    <label>Username</label>
    <input type="text" name="username"/>
  </div>

  <div class="field" >
    <label>Password</label>
    <input type="password" name="password"/>
  </div>

  <div class="field submit">
    <button type="submit">Login</button>
  </div>
</form>

{{!--
{{#if messages.length}}
<ul class="validation">
  {{#each messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}
--}}