<h2>Login</h2>


  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
    <% } %>

<form action="/login" method="POST" id="form">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password">


  <button>Log in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>

<a href="/">Home</a>
