<div id="logbox">
      <form id="login" method="POST" action="/login">
        <h1>account login</h1>
        <input name="username" type="text" placeholder="Username" class="input pass"/>
        <input name="password" type="password" placeholder="Password" class="input pass"/>
        <input type="submit" value="Sign me in!" class="inputButton"/>
        <div class="text-center">
        <a href="/signup" id="">create an account</a> - <a href="#" id="">forgot password</a>
                </div>
      </form>
    </div>