{{!-- <form id="form" action="/login" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Your username">
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="********" autocomplete="new-password">
  <button type="submit">Sign in</button>
</form>
{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}} --}}

<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>