{{#if errorMessage}}
    <div>{{errorMessage}}</div>
{{/if}}

<form action="/login" method="POST">
    <input name="username" type="text" placeholder="AnakinSkywalker" required>
    <input name="password" type="password" placeholder="******" required>
    <button>Login</button>
</form>