
<h2>Welcome back!</h2>

  <a href="/auth/signup">Sign up</a>
  <a href="/auth/login">Log in</a>
  <form id="form" action="login" method="POST">
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="Pick Username">
    <br>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Pick Password">
    <br>
    <br>
    <button>Enter</button>
    <a href="/auth/signup">Don't have an account?</a>
</form>