

<div class="container">

  <h1>LOGIN FORM</h1>

    <div class="insidecontainer"></div>

      <form class="formstyles" action='/auth/login' method='POST'>

        <label for=''>Username</label>
        <input type='text' name='username'>

        <label for=''>Password</label>
        <input type='password' name='password'>

        <button class="buttonstyle" type='submit'>LOGIN</button>


{{!-- error message display --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}

 <p class="account-message">
      Don't have an account? <a href="/auth/signup">Sign up</a>
      </p>

      <p class="account-message">
      Return to home<a href="/">Get back</a>
      </p>


</form>
</div>
</div>