<form action="/auth/login" method="POST" id="form">
    <h2>Login</h2>
  
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="obiwan">
  
    <label for="password">Contraseña</label>
    <input type="password" name="password" placeholder="thatsnomoon">
  
    <% if (typeof errorMessage !== "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
  
    <button>Login</button>
  
    <p class="account-message">
      ¿No tienes cuenta? <a href="/auth/signup">Create una cuenta</a>
    </p>
  </form>