<form method="post" action="/admin/login" class="form">
    <h1 class="title">Signin</h1>

    <label for="username">Username</label>
    <input class="input" name="username" type="text" value="wonderfulta">
    <label for="password">Password</label>
    <input class="input" name="password" type="password" value="12345">

    <button class="btn">go !</button>
    <hr>
    
    <p>
        No account yet ? <a class="link" href="/admin/signup">please signup !</a>
    </p>
</form>