<div class="form">
  <h2>Log in</h2>

  <form method="POST" action="/auth/login">

    <div class="field" >
      <label>Username</label>
      <input type="text" name="username"/>
    </div>

    <div class="field" >
      <label>Password</label>
      <input type="password" name="password"/>
    </div>

    <div class="field submit">
      <button type="submit">Log In</button>
    </div>
    <p class="account-message">
      Don't have an account? <a href="/auth/signup">Sign up</a>
    </p>
  </form>

{{> message}}

</div>
