

<div id="container">
  <h2>Welcome stranger</h2>
  <img src="/images/cat.jpg" alt="">
</div>


<p>what would you like to do?</p>
<a href="/"> Go to index page</a>
<br><br>

<a href="/login"> Log in</a>
<br>
<br>

<a href="/signup"> Sing up</a>
<br>
<br>

<a href="/private"> access private content</a>
