<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="text-center">
            <h1>Welcome to the main page</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://media.giphy.com/media/Gt1IikDkRnLe8/giphy.gif" alt="dancing">
        </div>
        <br>
        <a href="/" class="btn btn-large btn-block btn-primary">Return</a>
    </div>
</div>