<h2>Hola {{username}}</h2>
<p>Estás en el main :) </p>
<div class="container">
  <img src="https://media.giphy.com/media/mhDwIpbsgGKk/giphy.gif" />
</div>
<a href="/">
  <button type="button" class="btn btn-success">back to home page</button>
</a>
<a href="/private">
  <button type="button" class="btn btn-success">This is private ❤️</button>
</a>