<h2>Hola {{username}}</h2>

<p>Estas loggeado!! Ahora mira este kawaii neko chan</p>

<img src="./images/neko.jpg" alt="gatito jugueton">

<div>
    <a class="btn btn-info" href="/private">Go private!</a>
    <a class="btn btn-info" href="/login">Go back!</a>

</div>
