<div class="container">
  <p>Hi {{ user.email }}!</p>
  <div class="row">
    <img src="../../../images/Bringing-Your-Kitten-Home_0.jpg">
  </div>
  <div class="row">
    <a href="/auth/private" class="btn btn-secondary btn-sm">Go to your private page.</a>
  </div>
</div>