<img src="/images/rawpixel-558599-unsplash.jpg" id="bg2">
<div class="container text-center mt-5">
       <h1 class="mx-auto">Hola {{user.email}}!!!</h1>
       <h4 class="jumbotron-heading">Aquí no hay mucho mas que hacer</h4>
        <a class="btn btn-outline-dark btn-lg mt-3" href="/">Volver al principio</a>
      </p>
    </div>
