<h2>Private Login</h2>
<h2 style="color: red">{{err}}</h2>
<form action="/private-login" method="POST">
  <label for="username">Username</label>
  <input type="username" name="username" id="username">
  <label for="password"> Password</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Login">
</form>