<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>This page is private</h1>
    </div>
</div>


<div class="row">
    <div class="text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://media1.tenor.com/images/98c8b8ff7f28ed9a1a14a26d69667104/tenor.gif?itemid=5495549" alt="monkey">
        </div>
        <br>
        <a href="/" class="btn btn-large btn-block btn-primary">Return</a>
    </div>
</div>