<h1>This page is private</h1>

<h2>Hola {{username}}</h2>

<img src="./images/kitten.gif" alt="gatito jugueton" width="300px" height="auto">

<div>
    <a class="btn btn-info" href="/login">Go back!</a>
     <a class="btn btn-info" href="/main">Return to main</a>

</div>
