<div class="container">
  <h1>Private page</h1>
  <img src="https://media1.giphy.com/media/W8krmZSDxPIfm/200w.webp?cid=790b76115d3548374b2e6b77513d5608&rid=200w.webp" alt="cats">
  <a href="/">Back</a>
</div> 
