<div class="forms">


    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                name="username">
            <small id="emailHelp" class="form-text text-muted" style="text-align: left">Mete el correo que te dé la
                gana</small>

            <label for="exampleInputPassword1">Password</label></br>

            <input id="myPassword" type="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>