<div class="container">
    <h2>Register page:</h2>
    <div class="row">
        <form action="/auth/register" method="POST">
            <div class="form-group"></div>
                <input type="text" name="email" class="form-control {{#if errors.email}} is-invalid {{/if}}" placeholder="email" value="{{user.email}}">
                {{#if errors.email }} <div class="invalid-feedback">{{ errors.email }}</div> {{/if}}
                <input type="password" name="password" class="form-control {{#if errors.password}} is-invalid {{/if}}" placeholder="password">
                {{#if errors.password }} <div class="invalid-feedback">{{ errors.password }}</div> {{/if}}
                <button type="submit">Register</button>
                <a href="/" class="btn btn-secondary btn-sm">Back.</a>
            </div>    
        </form>
        
    </div>
</div>
