<h1>Register</h1>
<div class="box-img">
  <img src="../images/class.jpg" alt="English">
</div>
<form method="POST" action="/register">
  {{> input type="text" name="name" label="Name" placeholder="Your Name" value=obj.name}}
  {{> input type="text" name="lastname" label="LastName" placeholder="Your LastName" value=obj.lastname}}
  {{> input type="text" name="country" label="Country" placeholder="Your Country" value=obj.country}}
  {{> input type="email" name="username" label="Email" placeholder="Your email" value=obj.username}}
  {{> input type="password" name="password" label="Password" placeholder="Your password" value=obj.password}}
  {{> inputcheck label="I accept the use of my data with professional fines." name="accept" value=obj.accept}}
  <button type="submit" class="btn">Register</button>
</form>