<div class="already">

      <div ><a href="/" type="button" class="btn btn-secondary m-1">Back to Index</a></div>
</div>
<img src="http://todoloinsolito.com/wp-content/uploads/2014/04/fotos-graciosas-de-gatos-mojados-19.jpg" alt="cat">
