
<section>
<h1>{{action}}</h1>
<h2>{{error}}</h2>
<form action="/auth/{{action}}" method="POST">
<input type="text" name="name" placeholder="Usuario">
<input type="text" name="email" placeholder="mail">
<input type="password" name="password" placeholder="Password">
<input type="password" name="passVerif" placeholder="Verify password">

<input type="submit"  value="{{action}}">
</form>
</section>





