<form action="/signup" method="POST" id="form">
    <h2>Sign Up</h2>

    <label>Username</label>
    <input type="text" name="username">

    <label>Password</label>
    <input type="password" name="password">

    <!-- <% if (typeof errorMessage !== "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %> -->

    <button>Sign up</button>

</form>