{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}

<form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Username" required>

    <label for="password">Password</label><br>
    <input  id="myPassword" type="password" name="password"
      placeholder="Password" required>

    <button>Create account</button>
  </form>
