
<p>Please Sign up</p>

<form action="/signup" method="post">
  <label for="username">UserName .:</label>
  <input type="text" name="username" id="username">
  <br>
    <br>

  <label for="password">password ...:</label>
  <input type="password" name="password" id="password">
  <br>
  <input type="submit" value="Signup">
  
  </label>
</form>

<p>Already have and account?: <a href="/login"> log in!</a></p>


{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}