<h2>Crear cuenta</h2>

<form action="/signup" method="post">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="Crear cuenta">
</form>

<br>
<p>Ya tienes una cuenta?</p>

<div>
  <a class="btn btn-info" href="/login">Login</a>
</div>