<h2>Create account</h2>
<form action="/signup" method="POST">
  <label for="username">Username</label>
  <input type="username" name="username" id="username">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Sign up">
</form>