 <form id="form" action="signup" method="POST">
    <h2>Sign Up</h2>
    <label for="username">Username</label><br>
    <input type="text" name="username" placeholder="Username">
    <label for="password">Password</label><br>
    <input id="password" type="password" name="password" placeholder="********">
    <button type="submit">Create account</button>
    {{> message}}
  </form>

 