<form method="post" action="/auth/signup" class="form">
    <h1 class="title">Signup</h1>
    <label for="username">username</label>
    <input class="input" name="username" type="text" value="">
    <label for="password">password</label>
    <input class="input" name="password" type="password" value="">
    {{!-- <div class="row">
        <label for="avatar">avatar</label>
        <i id="avatar-icon" class="is-clickable toggle-active fa fa-user fa-lg"></i>
        <input id="input-file" type="file" class="is-hidden" name="avatar">
    </div> --}}

    <button class="btn">go !</button>
    <hr>
    <p>
        Already have an account ? <a class="link" href="/auth/signin">please signin !</a>
    </p>
</form>