<div class="signin">

<h1>signUP</h1>
<form action="/signup" id="form" method="POST" class="signup-form">
  <label for="username"> Username</label>
  <input type="text" name="username" id="username" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required minlength="6" maxlength="6">
  <input id= "boton" type="submit" value="Signup">
</form>

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage}}</div>
{{/if}}

</div>