<h1>Signup</h1>

<form action="/auth/signup" method="POST">
  <p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </p>
  <br>
  <p>
    <label for="password1">Password</label>
    <input type="password" name="password1" id="password1">
  </p>
  <br>
  <p>
    <label for="password2">Repeat your password</label>
    <input type="password" name="password2" id="password2">
  </p>
  <br>
  <input type="submit" value="Sign up">
</form>

{{#if message}}
  <p class="error">{{message}}</p>
{{/if}}
