<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h1>Sign Up</h1>

        <form id="form" action="/signup" method="POST">
            <div class="form-group">
                <label for="username">User name:</label>
                <input type="text" class="form-control" name="username" placeholder="UserName" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary" name="button">Sign Up</button>
        </form>
        <br>
        {{#if errorMessage}}
        <div class="alert alert-danger">
            {{errorMessage}}
        </div>
        {{/if}}
    </div>
</div>