<form action="/signup" method="POST">
  <h2>Sign Up</h2>
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required placeholder="Password">
  <button type="submit" class="submit">Signup</button>
</form>

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}