{{#if error}}
  <h1 style="color:red">{{error}}</h1>
  {{else}}
    <h1>Crea tu cuenta</h1>
{{/if}}

<form validated action="signup" method="post">
  <p>
      Tu nombre de usuario:
      <input value="{{username}}" type="text" name="username" required>
  </p>
  <p>
      Tu email:
      <input value="{{email}}" type="email" name="email" required>
  </p>
  <p>
      Tu password:
      <input  type="password" name="password" required>
  </p>
  <p>
      Repite tu password:
      <input  type="password" name="password2" required>
  </p>
  <input type="submit">
</form>