<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<form action="/signup" method="POST" id="form">

<label for="userName">Enter Username</label>
<input type="text" name="userName">

<label for="password">Enter Password</label>
<input type="password" name="password" id="password">

<button type="submit">Submit</button>

<% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>


</form>

  </body>
</html>
