<div class="container">
<h1>SIGN FORM</h1>

 <div class="insidecontainer">

<form class="formstyles" action='/auth/signup' method='POST'>

  <label for=''>Username</label>
  <input type='text' name='username'>

  <label for=''>Password</label>
  <input type='password' name='password'>

  <button class="buttonstyle" type='submit'>Submit</button>



{{!-- error message display --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}


<p class="account-message">
      Do you have an account? <a href="/login">login</a>
</p>
<p class="account-message">
      Return to home<a href="/">Get back</a>
</p>
</form>

</div>
</div>