{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

<form id="form" action="/signup" method="POST">
  <h2>Sign Up now!</h2>

  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Your username" required>

  <label for="password">Password</label><br>
  <input type="password" id="strongPassword" name="password" placeholder="********" required>

  <button type="submit">Create account</button>
</form>