<form method="post" action="/auth/signup" class="form">
    <h1 class="title">Signup</h1>
    
    <label for="username">username</label>
    <input class="input" name="username" type="text" value="ironhacker">
    <label for="password">password</label>
    <input class="input" name="password" type="password" value="12345">

    <button class="btn">go !</button>
    <hr>
    <p>
        Already have an account ? <a class="link" href="/auth/signin">please signin !</a>
    </p>
</form>