<form id="form" action="/signup" method="POST" accept-charset="utf-8">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Your username">

    <label for="password">Password</label><br>
    <input id="myPassword" type="password" name="password" value="">

    <button type="submit">Create account</button>
  </form>

  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}