<div class="container">
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="username" required>
    <input id="myPassword" type="password" name="password" placeholder="password" required>

    <button type="submit" class="btn btn-primary">Sign Up</button>

    {{#if error}}
    <p style="color:red">{{error}}</p>
    {{/if}}
  </form>

  <span>Already have an account? <a href="/login">Log In</a></span>
</div>