<h2 class="underline">Sign Up</h2>
<form id="myform" action="/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" autocomplete="off" {{!--placeholder="AnakinSkywalker"--}}>
  <label for="password">Password</label>
  {{!-- <input id="securePassword" type="password" name="password" autocomplete="off" placeholder="DeathStar"> --}}
  <input id="securePassword" type="password" name="password" autocomplete="off" readonly onfocus="if (this.hasAttribute('readonly')) {
  this.removeAttribute('readonly');
  this.blur(); this.focus();}"/>
  {{> error}}
  <button class="signupBut">Create account</button>
</form>
