
<div class="container">
    <h1>SIGNUP TO OUR WEBSITE</h1>

    <form class="loginform" action="/auth/signup" method="post">
        <label for="fname">Username</label>
        <input type="border-box" name="username" id="">
        <label for="fpassword">Password</label>
        <input type="border-box" name="password" id="">
        <button type="submit">CREATE USER</button>
    </form>

    <a href="/auth/login">Log in</a>
</div>