<h1>SignIn - Login</h1>
<form id="form" action="/signin" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" 
      placeholder="Your username">
<br><br>
    <label for="password">Password</label>
    <input type="password" name="password"
      placeholder="********">
<br><br>
    <button type="submit">Login</button>
  </form>
<br>
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}