<h1>Signup page</h1>

<form action="/auth/signup" method="POST">
    <input type="text" name="username" id="">
    <input type="password" name="password" id="">
    <button type="submit">SIGNUP</button>
</form>



