<form method="post" action="/auth/signup" class="form">
    <h1 class="title">Signup</h1>
    <label for="username">Username</label>
    <input class="input" name="username" type="text">
    <label for="password">password</label>
    <input class="input" name="password" type="password">

    <button class="btn">Create account</button>
    <hr>
    <p>
        Already have an account ? <a class="link" href="/auth/signin">please signin !</a>
    </p>
</form>