<form id="form" action="/signup" method="POST">

  <h2>Sign Up</h2>
  <label for="username">Username</label><br>
  <input type="text" name="username"
    placeholder="Your username" minlength="6" maxlength="12" required>

  <label for="password">Password</label><br>
  <input type="password" name="password"
    placeholder="********" min="6" required>

  <button type="submit">Create account</button>

  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <p class="account-message">
    Allready have an account? <a href="/login">Login</a>
  </p>

</form>