<form method="post" action="/auth/signin" class="form">
    <h1 class="title">Signin</h1>

    <label for="username">Username</label>
    <input class="input" name="username" type="text">
    <label for="password">Password</label>
    <input class="input" name="password" type="password">

    <button class="btn">Login</button>
    <hr>
    
    <p>
        No account yet ? <a class="link" href="/auth/signup">please signup !</a>
    </p>
</form>