<!-- <a href="/">Back to home</a>
<form action="/signup" method="post">
  <label for="id">Username</label><br>
  <input id="username" idtype="text" name="username" placeholder="AnakinSkywalker">

  <br><br>
  <label for="password">Password</label><br>
  <input id="password" type="password" name="password" placeholder="DeathStar">
  <br><br>

  <button>Create account</button>
</form> -->

<form action="/signup" method="POST">
  <h2>Signup Prueba</h2>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="obiwan">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="thatsnomoon">

  <button>Sign up</button>

</form>
