  <form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="AnakinSkywalker" min="4" max="10" required>

    <label for="password" >Password</label><br>
    <input id="myPassword" type="password" name="password"
      placeholder="DeathStar" required>

  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

    <button>Create account</button>
  </form>