<form method="post" action="/auth/signin" class="form">
    <h1 class="title">Signin</h1>

    <label for="username"></label>
    <input class="input" name="username" type="text" value="memo75">
    <label for="password"></label>
    <input class="input" name="password" type="password" value="12345">

    <button class="btn">go !</button>
    <hr>
    
    <p>
        No account yet ? <a class="link" href="/auth/signup">please signup !</a>
    </p>
</form>