<h1>sign in to our mysterious website</h1>

<form action="/auth/signin" method="post" class="form">

    <label for="username">username</label>
    <input class="input" name="username" type="text" value="Roberta" required>
    <label for="password">password</label>
    <input class="input" name="password" type="text" value="123456" required>
    <button class="btn">submit</button>
</form>