<form id="form" action="/auth/signup" method="POST">
<label for="username">Username</label>
  <input type="text" name="username" placeholder="obiwan">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="thatsnomoon">

  <button>Sign in</button>
  </form>