<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
  <title>Sign Up</title>
</head>

<body>
    
  <form id="form" action="/signup" method="POST">
    <h2>Sign Up</h2>
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Username">

    <br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="Password">
    <br><br>

    <button>Create account</button>
    <% if (typeof(errorMessage) != "undefined") { %>
        <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <br><br>
    <p class="account-message">
        Already have an account? <a href="/login">Log In</a>
    </p>
  </form>
</body>
</html>