<h2>Welcome to our app !</h2>

<h3>Please, choose a username and password to sign up</h3>


<form action="/signup" id="form" method="POST">

<label for="username"></label> <br>
<input type="text" name="username"  placeholder="Your username" >


<label for="password"></label>
<input type="text" name="password"  placeholder="**********"  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$">
<p>The password must contain between 8 to 15 characters which contain at least 
  one lowercase letter, one uppercase letter, one numeric digit, and one special character</p>

<button type="submit"> Sign up !</button>
<p>Already have an account ? <a href="/login">Login</a> </p>
</form>

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}

