<script>

</script>
<div class="container d-flex align-items-center justify-content-around mt-5 "
  style="height:300px">
  <form class="mt-5" id="form" action="/signup" method="POST">
    <div class="mt-2">
      <label for="username">Usuario</label>
      <input type="text" name="username" placeholder="Your username">
    </div>
    <div class="">
      <label for="password">Password</label>


      <input id="myPassword" type="password" name="password" placeholder="">
    </div>
    <div class="">
      <label for="repeatPassword">Repita el Password</label>
      <input type="password" name="repeatPassword" placeholder="">
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-danger" type="submit">Crear cuenta </button>

      <a class="btn btn-success" href="/">Volver</a>
    </div>


  </form>
</div>





{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}
</div>