<div class="cont">
  <form action="" method="post">
    <h1>Signup</h1>
    <br>
    <div>
      <label for="">Username</label><br>
      <input placeholder="UserXXX" type="text" name="userName" id=""><br><br>
    </div>
    <div>
      <label for="">Password</label><br>
      <input type="password" name="password" id=""><br>
    </div>
    <br>
    <div>
      <input type="submit" value="Create Account" name="" id=""> <br><br>
    </div>
    <div>
      <span> Alredy have an account? <a href="/login">Login</a></span>
    </div>
    <br>
  </form>
</div>