<h2 style="color: red">{{ err }}</h2>

<form action={{action}} method="POST">
  <p>
    <label>Username:</label>
    <input type="text" name="username" />
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" />
  </p>
  <p>
    <input type="submit" value="{{button}}">
  </p>
</form>