<div class="container">
    <h1>SIGNUP TO OUR WEBSITE</h1>

    <form class="" action="/auth/signup" method="post">
        <label for="">Username</label>
        <input type="" name="username" id="">
        <label for="">Password</label>
        <input type="" name="password" id="">
        <button type="submit">CREATE USER</button>
    </form>

    <a href="/auth/login">Log in</a>
</div> 