<h1>SIGN UP</h1>
<form action='/signup' method='POST'>

  <label for=''>Username</label>
  <input type='text' name='username' required='required'>

  <label for=''>Password</label>
  <input type='password' name='password' required='required'>

  <button type='submit'>Sign Up</button>
</form>

{{#if errorMsg}}
  <p>{{errorMsg}}</p>
{{/if}}