<div id="logbox">
    <form id="form" action="/signup" method="POST">
      <h1>Create an account</h1>
      <input name="username" type="text" placeholder="Username" class="input pass"/>
      <input name="password" type="password" placeholder="Password" class="input pass"/>
      <input type="submit" value="Sign me up!" class="inputButton"/>
      <div class="text-center">
          already have an account? <a href="/login" id="login_id">login</a>
      </div>
    </form>
</div>