<div class="form-container">
    <form id="form" action="/auth/signup" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="Your username">

        <label for="password">Password</label><br>
        <input type="password" name="password" placeholder="********">
        <button type="submit">Create account</button>
        <p>Already have an account? <a href="/auth/login">Log in</a></p>
    </form>
    <div class="error-container">
        {{#if error}}
        <span class="error-message">{{error}}</span>
        {{/if}}
    </div>
</div>