{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}
<form id="form" action="/user/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Your username" required><br>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="********" required><br>

    <button type="submit">Create account</button>
  </form>