<h1>SignIn - Login</h1>
<form id="form" action="/signin" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Your username" required>
<br><br>
    <label for="password">Password</label>
    <input id="myPassword" type="password" name="password" placeholder="********" value="" required>
<br><br>
    <button type="submit">Login</button>
  </form>
<br>
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  