<h1>Sign up</h1>

<form action="/signup" method="POST">
  Username:<br>
  <input type="text" placeholder="username" name="username"></input><br>
  Password:<br>
  <input type="password" placeholder="Enter password" name="password"></input><br>
  <input type="submit" value="Sign up"></input>
</form>
