<section class="page">
  <h2>Sign up</h2>
  <form method="post" action="/auth/signup">
    <label for="username">Username</label>
    <input name="username" type="text" value="toto" required>
    <label for="password">Password</label>
    <input name="password" type="password" value="12345" required>

    <button type="submit">Ok</button>
  </form>
  <p>Already have an account ? <a href="/auth/signin">Sign in</a></p>
</section>