
<section>
<h1>{{signup}}</h1>
<h2>{{error}}</h2>
<form action="/{{signup}}">
<input type="text" name="name" placeholder="Usuario">
<input type="text" name="email" placeholder="mail">
<input type="password" name="password" placeholder="Password">
<input type="password" name="password" placeholder="Verify password">

<input type="button"  value="enviar">
</form>
</section>





