<form action="/auth/signup" method="POST" id="form">

<h2>Sign Up</h2>

<label for="username">Username</label><br>
<input type="text" name="username" placeholder="Your Username" required><br>
<br>
<label for="password" >Password</label><br>
<input type="password" name="password" placeholder="*********" required><br>

<button type="submit">Creat your account</button>

</form>

  {{#if errorMessage}}
  <br>
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}