<form action="/signup" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <br>
  <input type="submit" value="Signup">
</form>

{{#if error}}
<p style="color: red;">{{error}}</p>
{{/if}}