<h1>Sign up</h1>

<form action="/signup" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username">

    <br>

    <label for="password">Password</label>
    <input type="password" name="password">

    <br>


    <button>Sign up</button>

    <br>
    <br>


    <p class="account-message">
        Do you have an account? <a href="/login">Login</a>
    </p>
</form>

{{#if errorMessage}}
<p style="background-color: red; padding: 10px 20px; color: white; font-weight: bold">{{errorMessage}}</p>
{{/if}}