<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <button>SIGNUP!</button>
</form>


{{#if messageError}}
  <p>{{messageError}}</p>
{{/if}}
