<form method="post" action="/signup" class="form">
    <h1 class="title">Signup</h1>

    <label for="email"></label>
    <input class="input" name="email" type="text" value="admin@artistify.com">
    <label for="password"></label>
    <input class="input" name="password" type="password" value="12345">

    <button class="btn">go !</button>
    <hr>
    
    <p>
        No account yet ? <a class="link" href="/login">please login !</a>
    </p>
</form>