<form method="post" action="/admin/signup" class="form">
    <h1 class="title">Sign up</h1>

    <label for="email">Username</label>
    <input class="input" name="username" type="text" value="wonderfulta">
    <label for="password">Password</label>
    <input class="input" name="password" type="password" value="12345">

    <button class="btn">go !</button>
</form>