<h2>Crear nueva cuenta</h2>

<form action="/signup" method="POST">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="Crear cuenta">
</form> 

<br />
<a href="/">Homepage</a>