<h2>Crear cuenta</h2>

<form action="/signup" method="POST">
  <input type="text" class="form-control" name="username">
  <input type="password" class="form-control" name="password">
  <input type="submit" class="btn btn-primary" value="Crear cuenta">

</form>
<div class="already">

  <a href="/login">
    <button type="button" class="btn btn-secondary">Log In</button>
  </a>
</div>