<form id="form" action="/signup" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="Your username">
      
      {{#if errorMessage }}
      <br><br>
        <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
      <br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="********">

    <button type="submit">Create account</button>
  </form>