<h1>Sign up</h1>


<form id="form" action="/signup" method="POST">
  <label>Username</label>
  <input type="text" name="username" placeholder="Your username"/>
  <label>Password</label>
  <input type="password" name="password" placeholder="******" id="myPasswordSignUp" />
  
  
  {{#if errorMessage}}
  <div class="error-message"> {{ errorMessage }}</div>
  {{/if}}
  
  <button type="submit">Create Account</button>
</form>