<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup</title>
</head>
<body>

<h1>Sign up here, denizens of Bikini Bottom</h1>

<% if (typeof errorMessage !== 'undefined') { %>
  <h2><%= errorMessage %></h2>
<% } %>

<ul>
  <form action="/signup" method="POST">
    <li>
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="MrKrabs">
    </li>
    <li>
      <label for="password">Password</label>
      <input id="password" type="text" name="password" placeholder="Are you feeling it now, Mr.Krabs?" style="height:auto; width:200px;">
    </li>
    <li><button type="submit">Sign up</button></li>
  </form>
</ul>
</body>
</html>
