<form action="/signup" method="POST" id='form'>
  <label>Username</label>
  <input type="text" name="username" placeholder="Your username">
  <label>Password</label>
  <input type="password" name="password" placeholder="******">
  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}} </div>
  {{/if}}
  <button type="submit">Create Account</button>
</form>