<form action="/signup" method="POST">
      <h2>Signup</h2>

      <label for="username">Username</label><br>
      <input class="txt" type="text" name="username" placeholder="Enter your username" required><br><br>

      <label for="password">Password</label><br>
      <input id="password" class="txt" type="password" name="password" placeholder="Enter your password" required><br><br>
      <button type="submit" class="btn">Create account</button>
</form>
