<section>
    <h2>Hello {{currentUser.username}}!</h2>
    <iframe src="https://giphy.com/embed/Cmr1OMJ2FN0B2" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</section>
<a href="/">back to index</a>
<a href="/logout">Logout</a>