<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<body>
  <h2> What Up Dogg </h2>


<iframe src="https://giphy.com/embed/6yU7IF9L3950A" width="480" height="330" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
</body>
</html>
