<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <title>BASIC AUTH</title>
</head>

<body>
    {{#each errors as |error|}}
    <div class="alert alert-danger">
        {{error}}
    </div>
    {{/each}} {{{ body }}}
</body>

</html>