<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <h2 class="mb-3 p-2">Registro</h2>
            <form action="/register" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" name="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email" required>
                    {{#if errors.username}}
                        <div class="invalid-feedback">
                            {{errors.email}}
                        </div>
                    {{/if}}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Nombre de usuario</label>
                    <input type="username" name="username" class="form-control {{#if errors.username}}is-invalid{{/if}}" id="username" required>
                    {{#if errors.username}}
                        <div class="invalid-feedback">
                            {{errors.username}}
                        </div>
                    {{/if}}
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" required>
                {{#if errors.password}}
                    <div class="invalid-feedback">
                    {{errors.password}}
                    </div>
                {{/if}}
                </div>
                 <div class="col text-center">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>