<div class="background">

    <div class="container">

        <div class="row">

            <div class="col-6">
                <div class="login">
                    <h2>Sign Up</h2>

                    <form action="/signup" method="POST">

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>

                        <div class="mb-3">
                            <label for="name" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="stringPassword">
                        </div>


                        <button type="submit" class="createButton">Sign Up</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

</div>