<h2>Sign up:</h2>

<form action="/signup" method="POST">

<label> Username:
    <input type="text" name="username">
</label>
<br/>
<label> Password:
    <input type="password" name="password">
</label>

<br/>

<button type='submit'>Sign Up</button>

<br/>

{{#if errorMessage}}
    {{errorMessage}}
{{/if}}

</form>
