<h1>Welcome!</h1>
<iframe src="https://giphy.com/embed/VbnUQpnihPSIgIXuZv" width="384" height="480" frameBorder="0" class="giphy-embed"
  allowFullScreen></iframe>
<p>
  <a href="https://giphy.com/gifs/computer-cat-wearing-glasses-VbnUQpnihPSIgIXuZv">via GIPHY</a>
</p>

<div id="container">
  <a href="/"><button type="button" class="btn btn-info">Go back</button></a>
  <a href="/protected/private"><button type="button" class="btn btn-info">Private page</button></a>
</div>