<div class="container">
  <h1>Main Page</h1>
  <h2>Only available for registered users</h2>
  <img src="https://i.imgflip.com/1k4n2a.jpg" alt="">
  <a href="/"  class="btn btn-primary mt-4 d-block">Go back to the home page</a>
</div>