<h1>Welcome back!</h1>
<iframe src="https://giphy.com/embed/VbnUQpnihPSIgIXuZv" width="384" height="480" frameBorder="0" class="giphy-embed"
  allowFullScreen></iframe>
<p>
  <a href="https://giphy.com/gifs/computer-cat-wearing-glasses-VbnUQpnihPSIgIXuZv">via GIPHY</a>
</p>

<div id="container">
  <a href="/">Go back</a>
  <a href="/private">Private page</a>
</div>