<div id="protected" class="text-center">


  <h1>This is my private page</h1>
  <iframe src="https://giphy.com/embed/lkc6z9BpmdJvO" width="480" height="413" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>

  <div id="container">
      <a href="/protected/main"><button type="button" class="btn btn-info">Go back</button></a>
      <a href="/"><button type="button" class="btn btn-info">Home</button></a>
  </div>
</div>