<h1>This is a private page</h1>
<iframe src="https://giphy.com/embed/lkc6z9BpmdJvO" width="480" height="413" frameBorder="0" class="giphy-embed"
  allowFullScreen></iframe>
<p>
  <a href="https://giphy.com/gifs/lkc6z9BpmdJvO">via GIPHY</a>
</p>

<div id="container">
  <a href="/main">Go back</a>
  <a href="/">Home</a>
</div>