<div class="container">
  <h1>Private Page</h1>
  <h2>Only available for registered users</h2>
  <img src="https://thumbs.gfycat.com/AggressiveTastyDikdik-max-1mb.gif" alt="Cat GIF">
  <a href="/" class="btn btn-primary d-block mt-4">Return to home page</a>
</div>