<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" name="{{name}}" {{#if value}}checked{{/if}} required>
  <label class=" form-check-label" for="{{name}}Check1">{{label}}</label>
</div>