<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarMenu" aria-controls="navBarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navBarMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">LogIn</a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/">LogOut</a>
      </li> --}}
    </ul>
  </div>
</nav>
