<nav class="main-nav">
  <ul class="main-menu">
    <li class="main-menu__item"><a class="main-menu__link" href="/">Home</a></li>
    {{#if userLoggedIn}}
    <li class="main-menu__item"><a class="main-menu__link" href="/profile">Profile</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="/logout">Log out</a></li>
    {{else}}
    <li class="main-menu__item"><a class="main-menu__link" href="/login">Login</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="/signup">Sign up</a></li>
    {{/if}}
  </ul>
</nav>