<nav class="nav main">
  <div class="logo">Authentication</div>
  <ul class="list">
    <li><a class="link" href="/">Home Page</a></li>
    <li><a class="link" href="/private">Private</a></li>
    <li><a class="link" href="/signup">Sign up</a></li>
    <li><a class="link" href="/login">Log in</a></li>
    <li><a class="link" href="/logout">Log out</a></li>
  </ul>
</nav>