<div class="container">

    <div class="card main-page">
        <h1>What would you like to see?</h1>
        <a class="choice-btn" href="/main">CAT PICTURE</a>
        <a class="choice-btn" href="/private">CAT GIF</a>
        <br>
        <a class="logout-btn" href="/sign-out">Log out</a>
    </div>
</div>