<h1>Sign up</h1>
<form action="/auth/signup" method="POST">
    <input type="text" name="username" placeholder="enter username" required>

    <input type="password" name="password" placeholder="enter password" required>

    <button type="submit">Signup</button>
</form>