<h3>Please enter your email and a password:</h3>

<form action="/signup" method="POST" enctype="application/json">
  <input type="text" value="" name="email" placeholder="Email address" />
  <input type="password" value="" name="password" placeholder="Choose password" />
  <button type="submit">Create account</button>
</form>