<form method="POST" action="/create">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email Address</label>
    <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    {{#if errors.email}}
      <div class="invalid-feedback">
        {{errors.email}}
      </div>
    {{/if}}
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="password" required>
    {{#if errors.password}}
      <div class="invalid-feedback">
        {{errors.password}}
      </div>
    {{/if}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>