<div>
  Hello {{name}}, you are in your dashboard page
</div>

<img src="/images/cat.jpg" width="500px">
<br>
<button><a href="/private">See your private gif</a></button>
<br>
<button><a href="/">Go Back To The Main Page</a></button>