<div class="p-5">
    <form method="POST" action="/profile/edit">
    <div class="mb-3">
        <label for="email" class="form-label fw-bolder">Email address</label>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="algo@algo.com" value={{user.email}}>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label fw-bolder">Username</label>
        <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="algo" value={{user.username}}>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label fw-bolder">Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="********" value={{user.password}}>
    </div>
    <button type="submit" class="btn btn-primary fw-bolder">Update</button>
    </form>
</div>