<div class='container'>
    <div class='row'>
        <div class=' col center__all'>
            <h1>Error!</h1>
            <h2>La contraseña no coincide</h2>
            <a class="btn btn-profile btn-primary col- my-3" href="/" role="button">Regresa a la Home</a>
        </div>

        <iframe src="https://giphy.com/embed/1RkDDoIVs3ntm" width="300px" height="200px" frameBorder="0" class="giphy-embed"
            allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/1RkDDoIVs3ntm">via GIPHY</a></p>

    </div>