<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>YOU SHALL NOT PASS</h2>
<img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTY3MTQ0Y2Y0NTZiZGRlODM1MzhiYWM5OTM4Njc2YWMyNDg5ZDUyMCZjdD1n/njYrp176NQsHS/giphy.gif" alt="">
<a href="/"><h2>Home Page</h2></a>
</body>
</html>