<h1>{{title}}</h1>
<p>Welcome to ANOTHER PAGE</p>



{{#if username}}

<p>this shows because we know who you are</p>
<a href="/private">GOTO your private page</a>
<a href="/logout"><a href="/logout">Click to log out</a></a>



{{else}}

<p>This only show because we do not know you!</p>
<a href="/signup">Sign UP</a>
<a href="/login">Log in</a>

{{/if}}

<p>here are links for everybody</p>
<a href="/">Home page</a>
<a href="/hello">Simple page</a>