

<div id="container row">
    <h1 class="text-center">HOME</h1>
    <hr>
<div class="col d-flex justify-content-around">
    <a href="/signup" class="btn btn-outline-dark ml-5">Sign up</a>
    <a href="/login" class="btn btn-outline-dark ml-5">Login</a>
    <a href="/main" class="btn btn-outline-dark ml-5">Protected</a>
    <a href="/private" class="btn btn-outline-dark ml-5">Private</a>
    <a href="/logout" class="btn btn-outline-dark ml-5">Logout</a>
    </div>
</div> 