<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 py-5 text-center">
      <h1 class="mb-5">Home</h1>
      <a href="/register" class="btn btn-outline-dark btn-lg">Register</a>
    </div>
  </div>
</div>