<div id="container">
    <p>se supone que aqui va un gato... me da pereza</p>
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret">Protected page (requires authentication!)</a>
  
</div>

