<div id="container">
    <ul>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/private">Protected page (requires authentication!)</a></li>
    <li><a href="/main">Only for registered users!!</a></li>
    </ul>
</div>