<div id="container">
    <button type="button" class="btn btn-outline-info"><a href="/signup">Sign up</a></button>

    <button type="button" class="btn btn-outline-info"><a href="/login">Log in</a></button>

</div>