<div id="container">
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
    <a href="/main">Protected page (requires authentication!)</a>
    <a href="/private">Protected page (requires authentication!)</a>
</div>