<div id="container">
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
    <a href="/private">Private (requires authentication)</a>
    <a href="/main">Main (requires authentication)</a>
    <a href="/logout">Logout</a>
</div>