<img src="/images/Simple-Login.png">

<div id="container">
  
  <button class="button"><a href="/signup">Sign up</a></button>
  <button class="button"><a href="/login">Login</a></button>
  <button class="button"><a href="/secret">Protected page (requires authentication)</a></button>
</div>