<div class="jumbotron mt-5">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is the Ironhack's basic authentication lab. Coded by SantiCasa.</p>
    <hr class="my-4">
    <p>Please, signup or login using the options below.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
        <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
    </p>
</div>
