<h1>HOME</h1>
<p>Welcome to home</p>

<!-- I-1 singup link route--> 
<div>
    <p>Go to <a href="/signup">SignUp</a></p>
</div>
<!-- I-2 -->
<div>
    <p>Go to <a href="/login">LogIn</a></p>
</div>
<!-- I-3 -->
<div>
    <p>Go to <a href="/main">main page</a> if logged</p>
</div>
<div>
    <p>Go to <a href="/private">"secret" page</a> if logged</p>
</div>