<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="linksholder">
    <a href="/signup">Sign up for the service!</a>
    <p>Alternatively, <a href="/login">log in</a> to see your profile</p>
</div>