
<div class="bg-light rounded p-4">

    <div class="row">
        <div class="col-md-4">

            <h1>{{title}}</h1>
            <hr>
            <h2>Estaría guapísimo si te registrases en esta pedazo de web. Verás cosas.</h2>
        </div>
        <div class="col-md-8">

            <img class="w-100" src="./images/You_Shall_Not_Pass!_0-1_screenshot.jpg" alt="You Shall Not Pass!">
        </div>
    </div>

</div>
