<section>
    <article>
        <h1>Another Ironhack Lab</h1>
        <p>Look for the best Cat and gif of the world</p>
    </article>
</section>
{{#if alert}}
<section id="alert">
    <article>
        <h3>{{alert}}</h3>
    </article>
</section>
{{/if}}