<div class="index">
    <div class="container">
        <div class="row ">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center pt-5">
                <h1 class="mt-5 pt-5 text-white" style="font-size: 100px;">Welcome</h1>
                <p class="ms-5 me-5 mb-5 text-white" style="font-size: 60px;">to Cats App</p>
            </div>
        </div>
    </div>
</div>