<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br><br>
<nav class="navbar">
<a href="/auth/login">Log in</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/auth/signup"><button class="button-26" role="button">Sign up for free</button></a>
</nav>