<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/auth/signup"><button>Sign up</button></a>
<a href="/auth/login"><button>Log in</button></a>
<a href="/user/"><button>See Profile</button></a>
