<h1 style="color: rgb(31, 168, 99)">Welcome to this amazing website</h1>
<p>We have not one, not two, not three, not four, but FIVE links for you to click on!</p>
<br>
<iframe src="https://giphy.com/embed/4cUCFvwICarHq" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p>Enjoy!</p>