<div id="index-page" class="basic-container">
  <h1>Welcome</h1>
  <a href="/signup">
    <button class="basic-btn">Sign up</button>
  </a>
  <a href="/login">
    <button class="basic-btn">Log in</button>
  </a>
  </div>
</div>