<div class="container">
    <div class="row justify-content-center">
        <div class="col center-text">
            <h1>{{title}}</h1>
            <p>Welcome to {{title}}</p>
            <h2>Regístrate</h2>
            <a class="btn btn-dark" href="/auth/signup">Registrarse</a>
            <a class="btn btn-dark" href="/auth/login">Iniciar sesión</a>
            <a class="btn btn-dark" href="/cat">¿Quieres ver la foto de un gato?</a>
            <a class="btn btn-dark" href="/private-gif">Mira este gif</a>
        </div>
    </div>

</div>