<div class="container2 d-flex flex-column text-center">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <a href="/login"><button class="btn btn-dark btnInputIndex maxWidthInput">Log in</button></a>
    <a href="/signup"><button class="btn btn-dark btnInputIndex maxWidthInput"> Register</button></a>
    <a href="/userProfile"><button class="btn btn-dark btnInputIndex maxWidthInput"> Check middleware
            access</button></a>
</div>