<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<hr>
<a href="/log-in">inicia sesion</a>
<br>
<a href="/sign-up">crea cuenta</a>
<br>
<a href="/log-in/log-out">cerrar sesion</a>
<br>
<a href="/main">vamos a ver la foto del gatito</a>
<br>
<a href="/private">yo el viernes</a>
<BR>
PERDON POR LOS BRAKES , ME DABA MUCHA MORRIÑA PONER TODO EN PARRAFOS AJJAJA