<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="" method="post">
  <p>Login</p>
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password:
    <input type="password" name="password" />
  </label>
  <button>Log in</button>
</form>
<br>
<div>
    <a href="/signup">Create a new accout</a>
</div>