<h1>Welcome to myAPP</h1>


<div class="form-container">
    <div class="form">
        <h2>Login</h2>
        <form class ="form" action="/login" method="POST">
            <label class="label" for="username">Username</label>
            <input class="input" type="text" name="username" id="username" placeholder="Enter your username"> 
            <label class="label" for="password">Password</label>
            <input class="input" type="password" name="password" id="password" placeholder="Enter your password">
            <button type="submit">Login</button>
        </form>
    </div>
</div>

<h4>Not a member yet? <a href="/register">Sign up for free</a></h4>