<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div>
  <p>Network and fun page!</p>
  <img class='gif' src="https://img.picturequotes.com/2/566/565143/funny-facebook-quote-1-picture-quote-1.png">
</div>


<a href="/signup">Sign up!</a>

<div>
<a href="/login">Login!</a>
</div>

