<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!---///LINK QUE NOS LLEVA AL SIGNUP EN EL HOME//////////-->
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/profile">Profile</a>
