<h3>My Amazing Sign In, Log In and Log Out Website</h3>

<img src="./images/welcome.jpeg" alt="" style="width: 400px;">

<p><a href="/signup">SIGN UP NOOOWOWWWWWWWW!!!!!!!!!!</a></p>
<p><a href="/login">LOG IN NOOOWOWWWWWWWW!!!!!!!!!!!</a></p>