<h1>welcome</h1>
{{#if message}}
<p>{{message}}</p>
{{/if}}
<a href="/users/login">login</a>
<br>
<a href="/users/signup">signup</a>
<br>
<a href="/users/logout">logout</a>
<br>
<a href="/users/test-loggedin">super secret on for logged in users</a>