 <nav class="nav-bar top-nav-bar">
            <div>
                <ul>
                    <a href="/signup">Sign up</a>
                    <a href="/login">Login</a>
                    <a href="/secret">Protected page (requires authentication!)</a>
                </ul>
            </div>
        </nav>




<