<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/signup">
    <p>Click here to sign-up</p>
</a>
<br>
<a href="/login">
    <p>Click here to log-in</p>
</a>
<br>
<a href="/main">Click here for the main page if you are logged in!</a>
<br>
<a href="/private">Click here for the secret page if you are logged in!</a>