<h1></h1>
<p>Welcome to ∞</p>

<div>
    <div>
        <a href="auth/login">Log In Amigo</a>
    </div>

    <div>
        <a href="auth/signup">Oh, un nuevo amigo! Sign up aquí</a>
    </div>

    <div>
        <a href="private">Accede a la cámara oscura...</a>
    </div>


    <div>
        <a href="auth/logout">LOGOUT: Eres libre...</a>
    </div>
    
</div>