<h1>
    <p>Welcome to Gonzalo's website</p>
</h1>



<a href="/login" class="btn btn-secondary">Log In</a>
<p style="padding-top: 25px">
    <a href="/signup" class="btn btn-secondary">Sign up</a>
</p>