<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if user}}
  <h3>Hey,
    {{user.username}}</h3>
  <a href="/logout">Log out</a>
  |
  <a href="/private">Private</a>
{{else}}
  <a href="/login">Login</a>
  |
  <a href="/signup">Sign Up</a>
{{/if}}
|
<a href="/main">Main</a>