<div class="container">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <hr />
  <div style="justify-content-center">
    <a href="/registro" class="btn btn-dark">Sign up</a>
    <a href="/inicio-sesion" class="btn btn-dark">Login </a>
  </div>

</div>