<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<h3>Hello!:)</h3>
</br>
<a href="/protected/main">A picture of a funny cat</a>
</br>
<a href="/protected/private">Markus' private page</a>
</br>
<a href="/auth/register">Register</a>
</br>
<a href="/auth/sign-in">Sign in</a>