<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a class="btn btn-secondary" href="/auth/signup">Signup</a>
<a class="btn btn-primary" href="/auth/login">Log in</a>

<h2 class="">Only registered users</h2>
<a class="btn btn-primary" href="/profile">Profile</a>
<a class="btn btn-success" href="/protected/main">Main Spy</a>
<a class="btn btn-success" href="/protected/private">Cool Cat</a>
