<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<button type="button" class="btn btn-info">
    <a href="/inicio-sesion">Inicio de sesión</a>
</button>

<button type="button" class="btn btn-info">
    <a href="/registro">Registro</a>
</button>