<div>
    <h1>Basic authentication</h1>
    <nav>
        <a href="/" class="btn btn-outline-primary m-2">Home</a>
        <a href="/auth/signup" class="btn btn-outline-primary m-2">Sign Up</a>
        <a href="/auth/login" class="btn btn-outline-primary m-2">Log in</a>
    </nav>
</div>