<div class="index-page">

  <div class="red-container">
    <h1>Hello, Friend!</h1>
    <br />
    <button class="btn">
      <a href="/login">Login</a>
    </button>

  </div>

  <div class="white-container">
    <h2>Enter your personal details
      <br />
      <br />
      and start journey with us</h2>
    <br />
    <button class="btn">
      <a href="/signup">sign up</a>
    </button>
  </div>

</div>