<h1>Wellcome Stranger</h1>
<p>Login or Signup to se the <b>SECRET</b></p>
<a href="auth/login">LOGIN</a>
<a href="auth/signup">SIGNUP</a>
<a href="auth/private"><b>SECRET ONE</b></a>
<a href="auth/main"><b>SECRET TWO</b></a>