<div class="container">
    <h1>Home-page</h1>
    <p>Welcome</p>
    <div class="mt-4">
        <a href="/auth/signup">Register</a>
        <a href="/auth/start-session">Log In</a>
    </div>
    <div class="mt-5 mr-5">
        <h2>After Login</h2>
        <a href="/user/main">Profile</a>
        <a href="/user/private">Private section </a>
    </div>
</div>