<h1>{{title}}</h1>
<p>¡Como diria Miguel Rios, bienvenido a {{title}} !</p>

{{#if successMsg}}
<div style="background: rgb(0, 69, 0); color: white; text-align: center; padding: 10px; margin-top:10px">
    {{successMsg}}</div>
{{/if}}