<div class="container-fluid index">
     <a href="/signup" class="btn btn-primary">Create account</a>
     <a href="/login" class="btn btn-primary">Sign up</a>
     <form action="/logout" method="post">
        <button type="submit" class="btn btn-primary">Log out</button>
     </form>
    <a href="/main" class="btn btn-primary">Go to main</a>
    <a href="/private" class="btn btn-primary">Go to private</a>
</div>
