<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/signup"> <button>Click here to signup</button> </a>

<article>If you already have an account, please <a href="/login"><button>Login</button></a> here</article>