<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <div>
    <a href="/auth/signup" class="btn btn-primary">Signup</a>
  </div>
  <br />
  <div>
    <a href="/auth/login" class="btn btn-primary">Login</a>
  </div>
  <br />
  <div>
    <a href="/main" class="btn btn-primary">Dashboard</a>
  </div>
</div>