<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/auth/signup"><button>Signup!</button></a>
<a href="/auth/login"><button>Log-In!</button></a>
<a href="/main"><button>Main</button></a>
<a href="/private"><button>private</button></a>
<form id="logout-form" action="/auth/logout" method="POST">
        <button>Logout</button>
</form>
