<h1>{{title}}</h1>
<p>Welcome to the website of your dreams{{title}}</p>

<div id="main-page">
    <a href="/signin">Sign in</a>
     <a href="/signup">Sign up</a>
    <a href="/main">VIP? Need an authentication</a>
    <a href="/private">VIP? Need an authentication</a>
</div> 