<h1>Index Page</h1>




{{#if user}}


<form action="/logout" method="POST">
  <button type="submit">Logout</button>

<a href="/private">Private stuff</a>
<a href="/main">More private stuff</a>


{{else}}
 
 <a href="/login">Login</a>

{{/if}}
