<h1>Página de Verificación</h1>
<h2>Bienvenido nuevo Usuario</h2>

<div>
<iframe src="https://giphy.com/embed/YLE9OqtitWRWw" width="480" height="259" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-blog-love-YLE9OqtitWRWw">via GIPHY</a></p>

</div>
