<section class="home">
    <h1>Cat Reveal</h1>
    <p>Si te registras te enseño una foto de mi gato...</p>
    <p>Aviso, es muy guapo</p>
    <p>Sé que quieres verlo</p>
    <div class="buttons">
        <a href="/signup" class="btn btn-light">Enséñamelo</a>
        <a href="/login" class="btn btn-light">Ya estoy registrado</a>
    </div>
</section>