<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Welcome to {{appTitle}}</h1>
            <div class="d-grid gap-2">
                <a href="/registro" class="btn btn-primary">Sing up</a>
            </div>
            <br><br>
            <div class="d-grid gap-2">
                <a href="/inicio-sesion" class="btn btn-primary">Log in</a>
            </div>
        </div>
    </div>
</div>