<div class="w-full pb-5 pl-3">
<a class="w-full mr-3 py-3 mt-10 px-4 bg-yellow-600 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none"  href="/signup">Welcome {{#if user}} {{user.username}} {{/if}} 👋</a>

<a class="w-full mr-3 py-3 mt-10 px-4 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none"  href="/signup">Sign Up</a>
<a class="w-full mr-3 py-3 mt-10 px-4 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none" href="/login">Log In</a>
<a class="w-full mr-3 py-3 mt-10 px-4 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none" href="/main">Main</a>
<a class="w-full mr-3 py-3 mt-10 px-4 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none" href="/private">Private</a>

</div>