<div class='h-75 d-flex justify-content-center align-items-center'>
  <div class='card bg-secondary text-warning mb-5 w-50'>
    <div class='card-body p-4'>
      <h2 class='card-title'>{{title}}</h2>
    </div>
  </div>
</div>