<form class="form-signin" method="post">
  <img class="mb-4" src="/images/form-icon.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal"><strong>HACKER</strong>FORM</h1>
  <label for="username" class="sr-only">Username</label>
  <input type="text" id="username" name="username" class="form-control mb-2" placeholder="Username" autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password">
  {{#if alert}}
  <div class="alert alert-danger" role="alert">
    {{alert}}
  </div>
  {{/if}}
  <div class="row justify-content-between">
    <div class="col-6">
      <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="/signin">Sign in</button>
    </div>
    <div class="col-6">
      <button class="btn btn-lg btn-outline-primary btn-block" type="submit" formaction="/signup">Sign Up</button>
    </div>
  </div>
  <p class="mt-5 mb-3 text-muted">Created by <a href="https://github.com/Ahernandez-av">Ahernandez-av</a></p>
</form>