<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<a href="/auth/signup">Sign Up</a>
<br>
<a href="/auth/login">Log In</a>
<br>
<a href="/profile">Profile</a>
<br>
<a href="/main">Main</a>
<br>
<a href="/private">Private</a>