<div class='index__container'>
    <div class='main__title__index'>
        <h1>Learn how to register and login</h1> 
    </div>
    <div class='main__second__title__index'>
        <h3>Keep calm and content the frustration</h3>
    </div>
</div>
