<h1>{{title}}</h1>



{{#if successMsg}}

<div style="background: rgb(0, 69, 0); color: white; text-align: center; padding: 10px; margin-top:10px">

    {{successMsg}}</div>

{{/if}}

<iframe src="https://giphy.com/gifs/leroypatterson-cat-glasses-CjmvTCZf2U3p09Cn0h/fullscreen" width="480" height="382"
    frameBorder="0" class="giphy-embed"></iframe>