<div class='h-75 d-flex justify-content-center align-items-center'>

  <div class='card bg-secondary text-light w-50'>
    <div class='card-body p-4'>
      <h5 class='card-title'>{{title}}</h5>
      <p class='mt-1 card-text'>Welcome to {{title}}</p>
    </div>
  </div>
</div>