
<h1 class="has-text-weight-bold is-size-3">{{title}}</h1>

<nav class="menu">
    <ul class="list">
        <li><a href="/log-in">Log in</a></li>
        <li><a id="signup" href="/sign-up">Sign up</a></li>
    </ul>
</nav>