<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<iframe src="https://giphy.com/embed/CqVNwrLt9KEDK" width="480" height="382" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-funny-lol-CqVNwrLt9KEDK">via GIPHY</a></p>