<div class="container">

    <h1>Welcome to {{appTitle}}</h1> 
    <p>Follow the next steps to access</p> 
    <h2>First </h2>
    <a class="btn btn-danger mb-5" href="/sign-up"> Sign up</a>
    <h2>Then</h2>
    <a class="btn btn-danger" href="/log-in"> Log in</a>

</div>
