
<div class="jumbotron">
    <h1 class="display-4">{{title}} 😮</h1>
    <p class="lead">Welcome to the party</p>
    <hr class="my-4">
    <p>Login if you have an account or sign up to create a new one!</p>
    {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
    <a href="/login" class="btn btn-success btn-lg" href="#" role="button">Log in</a>
    <a href="/signup" class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
    
</div>



