<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/">Home</a>
<a href="/signup">SignUp</a>
<a href="/login">Login</a>
<form action="/logout" method="post">
    <button type="submit">LogOut</button>
    </form>