<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>
<br>
<hr>
<br>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary btn-dark " href="http:/user/main">USER PAGE</a>
</div>

<br>
<br>

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary " href="http:/logIn">LOG IN</a>
    <a class="btn btn-primary btn-dark" href="http:/signUp">SIGN UP</a>

</div>