<div id="form">
    <h2>Signup</h2>
    <form action="/signup" method="POST">
    <label>Username
        <input name="username" placeholder="enter your username">
    </label>
     <label>Password
        <input type="password" name="password" placeholder="*****">
    </label>
    <button type="submit">Create Account</button>
    </form>
</div>

