<div class="index">


    <h1 class="mainTitle">A collection of our favorites Operas</h1>

    <div class="buttonA">

        <a href="/operas" class="btn btn-dark btn-lg " style="padding: 20px">Operas </a> <br>

    </div>


</div>