<div class="container">
    <h1>{{appTitle}}</h1>
    <p>Welcome to the wonderful súper useful page to test my DB Hard Skills</p>
    <img class="img-fluid" src="https://runcode.ninja/static/img/ninjared.png" alt="index ninja img">
</div>