<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Click <a href="/signup">HERE</a> to signup</p>
<p>Click <a href="/login">HERE</a> to login</p>

<p>Click <a href="/main">HERE</a> to access a secret place</p>
<p>Click <a href="/private">HERE</a> to access another secret place</p>