<div>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<a href="/sign-up">Sign up</a>
<a href="/log-in">Log in</a>
<br>
<h4>TOP SECRET</h4>
<a href="/main">Main</a>
<a href="/private">Private</a>
</div>