<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/signup">Sign Up</a>
<a href="/login">Login</a>
<a href="/profile">Go to your profile</a>
<a href="/logout">Logout</a>
<a href="/main">Main Page</a>
<a href="/private">Private Page</a>