<div class="homeMain">
{{!-- <h1>HOME</h1> --}}
<a href="/singin" class="btn btn-dark">Sing-in</a>
<a href="/singup" class="btn btn-dark">Sing-up</a>
</div>
{{!-- <form action="/logout" method="POST">
    <button class="nav-link" type="submit">Cerrar sesión</button>
</form> --}}