<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/sign-up" class="btn btn-primary">Sign up</a><br><br>
<a href="/login" class="btn btn-primary">Login</a><br><br>
<a href="/main" class="btn btn-primary">Main</a><br><br>

<a href="/private" class="btn btn-primary">See my secret .gif</a>