<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if theUser}}
<div>
    {{theUser.username}}
</div>
<div>
<a href="/logout">Logout</a>
</div>

<div>
<a href="/private">Private page</a>
</div>

<div>
<a href="/main">Main page</a>
</div>
{{/if}}

