<!DOCTYPE html>
<html lang="en">



<body>
  <nav>
  <ul>
     <li id="to-right">

   <h1>{{title}}</h1>
   <p>Welcome to {{title}}</p>


   <a href="/signup"><button style="background-color:blue;color:white; font-size:24pt; width: 200px">Sign up</button></a>
   <a href="/login"><button style="background-color:red;color:white; font-size:24pt; width: 200px">Log in</button></a> 
    {{!-- <a href="/profile">Profile</a> <span> | </span>

  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form> --}}
    </ul>
  </nav>


  {{!-- {{{body}}} --}}

  {{!-- <script src="/js/script.js"></script> --}}
{{!-- </body> --}}

</html>



