<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!-- views/index.hbs -->

<!DOCTYPE html>
<html>
<head>
  <title>Hello there!</title>
</head>
<body>
  <h1>Welcome!</h1>
  <p>Let's sign in!.</p>
</body>
</html>
