<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/signup">Signup</a>
<a href="/login">Login</a>
<a href="/main">Profile</a>

<a href="/private">Private</a>
<div class="logout">
<form action="/logout" method="post">
  <button type="submit">Logout</button>
</form>
</div>