<div class="bg-gray-800">
  <br>
  <main>
    <div>
      <!-- Hero card -->
      <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-800"></div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
          <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
            <div class="absolute inset-0">
              <img class="h-full w-full object-cover" src="https://static.scientificamerican.com/sciam/cache/file/54C3F60A-E9AE-4918-A88C09F1A994C45B_source.jpg" alt="People working on laptops">
              <div class="absolute inset-0 bg-gray-600 mix-blend-multiply"></div>
            </div>
            <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
              <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                <span class="block text-white">Obtén 500 TB de </span>
                <span class="block text-gray-300">espacio cerebral gratis</span>
              </h1>
              <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">Regístrate y obtén este beneficio para nuevos usuarios.</p>
              <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                <a href="/auth/signup" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-black bg-white hover:bg-gray-200 sm:px-8">Regístrate</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>