<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p><a href="/auth/signup">Sign Up</a></p>
<p><a href="/auth/login">Log In</a></p>

<p>Go to <a href="/main">Main</a></p>
<p>Go to <a href="/private">Private</a></p>