<div class="d-flex justify-content-center">
    <h1>Welcome</h1>
</div>
<div class="container d-flex justify-content-between">
    <a class="btn btn-dark" href="/register">Register</a>
    <a class="btn btn-dark" href="/login">Log in</a>

    <form action="/logout" method="get"> <button class="btn btn-dark" type="submit">Log out</button></form>

    <a class="btn btn-dark" href="/main">Main</a>
    <a class="btn btn-dark" href="/private">Private</a>
</div>