<h1>Hola Yani!</h1>
<p>Bienvenida a mi pagina toda fea!</p>

<a href="/auth/signup"><button>Sign Up</button></a>
<a href="/auth/login"><button>Log in</button></a>
<a href="/main"><button>Main - must be logged in</button></a>
<a href="/private"><button>Fotos Privadas :) - Must be logged in</button></a>