<h1>Welcome this amazing APP</h1>

<h3>Let's start: </h3>

<div class="todo">
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <form id="logout-form" action="/logout" method="POST">
        <button>Logout</button></form>
</div>