<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<body>
      <nav>
    <ul>
      <li id="to-left">
        <p><a href="/"> Users - demo </a></p>
      </li>
      <li id="to-right">
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      </li>
    </ul>
  </nav>

  {{{body}}}
  
</body>