<div class="container">
    <div class="row">
        <div class="card">
            <div>
                <h3>BIENVENIDX CHIQUI</h3>
            </div>

            <div>
                <a href="/signup" class="btn btn-dark btn-lg">REGISTRATE</a>
                <a href="/login" class="btn btn-dark btn-lg">INICIAR SESIÓN</a>
            </div>
        </div>
    </div>
</div>