<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
      <ul>
        <li id="to-left">
          <p><a href="/private"> The best memes </a></p>
        </li>
        <li id="to-right">
          <a href="/main">Some memes</a>
        </li>
        </ul> 
