<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/main">Main</a></li>
    <li><a href="/private">Private</a></li>
    <li><a href="/login">Log In</a></li>
</ul>