<h1>Express and Bcrypt</h1>
<p>Created just for you...</p>
<p>Welcome to {{title}}</p>

<a href="/signup">Sign up!</a>
<br><br>
<a href="/login">Log In</a>
<br><br>
<a href="/secret">Private Party (requires you join the club)</a>
