<div class="container">

    <h1>{{title}}</h1>

    <span>Welcome to {{title}}</span>

    <div class="mt-5">

        <a href="/login" class=" btn btn-dark"> Log In</a>
        <a href="/signup" class=" btn btn-dark"> Sign Up</a>

    </div>

</div>