<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>La App de Autenticación de usuario que estabas buscando y Google no te quería mostrar.</h2>
            <hr>
            <p>
                Authentication (from Greek: αὐθεντικός authentikos, "real, genuine", from αὐθέντης authentes, "author")
                is the act
                of
                proving an assertion, such as the identity of a computer system user. In contrast with identification,
                the act of
                indicating a person or thing's identity, authentication is the process of verifying that identity. It
                might involve
                validating personal identity documents, verifying the authenticity of a website with a digital
                certificate,
                determining the age of an artifact by carbon dating, or ensuring that a product or document is not
                counterfeit.
            </p>
            <hr>

        </div>
    </div>
</div>