<div class="container">
    <h1 class="cent">Bienvenido a esta maravillosa página</h1>
    <a href="/registro">
        <h2 class="cent">Regístrate para acceder a nuestra sección privada</h2>
    </a>
</div>