<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="https://ericeiraonline.pt/wp-content/uploads/2021/04/beneficios-da-banana-1.jpg" alt="">

<hr>

<a href="/signup">Signup</a>
<a href="/login">Login</a>