<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/register" class="btn btn-dark">Signup</a>
<a href="/login" class="btn btn-dark">Login</a>
<a href="/main" class="btn btn-dark">Main</a>
<a href="/private" class="btn btn-dark">Private</a>