

<div class="contanier">
    <div class="row justify-content-center">
        <div class="col-12 center">
            <h1>{{appTitle}}</h1>
        </div>
        <div class="col-12 center">
            <p>The APP of Authentication and Authorization</p>
        </div>
    </div>

</div>



