<section id="main">
    <div class="titles">
        <h1>{{title}}</h1>
        {{!-- <p>Welcome to {{title}}</p> --}}
        <ul id="frontlogin">
            {{!-- <li><a href="/">Home</a></li> --}}
            <li id="indexList"><a href="/signup">Signup</a></li>
            {{!-- <br>
            <li id="indexList"><a href="/login">Login</a></li> --}}
        </ul>
    </div>


</section>