<div class="container">

    <div class="card main-page">
        <h1>Hello!</h1>
        <a class="sign-btn" href="/auth/sign-up">Create an account</a>
        <p class="account-question">Already have an account?</p>
        <a class="sign-btn" href="/auth/sign-in">Sign in</a>
    </div>
</div>