<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1><a href="/auth/login">sign in</a></h1>

<br>
<h5>Don't have an account? <a href="/auth/signup/">Sign up now!</a></h5>


<h5>For users only <a href="/secret">private area</a></h5>


