<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>time to authenticate!</p>

<p>Welcome {{#if user}} {{user.username}} {{/if}}</p>

{{#unless user}}
    <p>
        <button><a href="/signup">Signup</a></button>
        <button><a href="/login">Login</a></button>
    </p>
{{else}}
    <p>
        <button><a href="/private">Private Page</a></button>
        <button><a href="/logout">Logout</a></button>
    </p>
{{/unless}}