<head> <link rel="stylesheet" href="stylesheets/index.css" /></head>

<nav>

  {{#if user}}
    <a href="/">Homepage </a>
    <a href="/profile">My Profile</a>
    <a href="/logout">Log out </a>
  {{else}}
    <a href="/signup">Sign up </a>
    <a href="/login">Log in </a>

  {{/if}}
</nav>

<main>
  <h1>Welcome to the authentication test app</h1>
</main>