<div class="container col-6 justify-content-center">
<h1> Welcome to {{title}}</h1>
    <hr>
  <a href="/sign-in" class="btn btn-dark">Registro</a></div>
   <hr>
  <a href="/log-in" class="btn btn-dark">Inicio de sesión</a></div>
</div>
  