<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

    <div id="to-right">
       <form id="logout-form" action="/auth/signup" method="GET">
        <button>Signup</button>
      </form>
       <form id="logout-form" action="/auth/login" method="GET">
        <button>Login</button>
      </form>
      <form id="logout-form" action="/auth/logout" method="GET">
        <button>Logout</button>
      </form>

    </div>
 