<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div>
<button><a href="/lab-express-basic-auth/views/auth/singup.hbs">signin</a></button>
<button><a href="/lab-express-basic-auth/views/auth/login.hbs"></a>login</button>
<button><a href="/lab-express-basic-auth/views/auth/profile.hbs"></a></button>

</div>