<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/login"><p>Log In</p></a>

<a href="/signup"><p>Sign Up</p></a>

<a href="/main"><p>Main area</p></a>

<a href="/private"><p>Private area</p></a>
