<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="container">
  {{#if userIsLoggedIn}}

 <a href="/main">
    <button>Main page (requires authentication!)</button>
  </a>

  <a href="/private">
    <button>Private page (requires authentication!)</button>
  </a>

  <a href="/logout">
    <button>Logout</button>
  </a>

  {{else}}

  <a href="/signup">
    <button>Sign up</button>
  </a>

  <a href="/login">
    <button>Login</button>
  </a>
{{/if}}
 
</div>