<div class="container">
    <h1>Welcome Ironhacker :3</h1>
    <hr>
    <a href="/registro" class="btn btn-dark">Regístrate</a>
    <a href="/inicio-sesion" class="btn btn-dark">Iniciar Sesion</a>

</div>

</div>