<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/signup">Sign up for my super amazing website</a>
<a href="/login">Log in into your super cool profile</a>
<a href="/main">Main Page :O</a>
<a href="/private">Private page ;)</a>

<div>
    <a href="/logout">Log out of this beautiful website</a>
</div>