<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/login" method="GET">
    <button type="submit">Login</button>
</form>
<form action="/register" method="GET">
    <button type="submit">Register</button>
</form>