<h1>{{title}}</h1>

<img src="/images/padlock.jpg" alt="padlock">
<br>
<br>
<button><a href="/sign-up">SIGN UP</a></button>
<br>
<br>
<br>
<button><a href="/log-in">LOG IN</a></button>
<br>
<br>
<br>
<button><a href="/main">MAIN</a></button>
<br>
<br>
<button><a href="/private">PRIVATE</a></button>
<br>
<br>
<br>
<h4>A lot of technologies in this stuff:<br>HTML, CSS, JavaScript, npm, Handlebars,<br> Express, Mongoose, MongoDB.</h4>