<div>
    <section class="hero">
        <h1 class="naming">E N C R Y P T 3 R</h1>
        <p><strong>The best platform to encript data, with us, your data always will be safe</strong> </p>
    </section>
</div>