<section>
    <h1>Basic Auth LAB</h1>
    <h2>Welcome to our main page!</h2>
    <p>What do you want to do?</p>
    <a href="/signup" class="btn btn-primary btn-sm">Sign up</a>
    <a href="/login" class="btn btn-primary btn-sm">Log in</a>
    <a href="/private" class="btn btn-primary btn-sm">Go to your profile</a>
    <a href="/main" class="btn btn-primary btn-sm">Super secret area</a>
</section>