<a href="/registrate"> REGISTRATE</a>
<p>necesitamos tus datos</p>
<br>
<a href="/inicia-tu-sesion"> INICIATE MAJ@</a>
<br>
<a href="/mi-perfil"> MI PERFIL</a>
<br>
<a href="/main"> SI NO ESTAS REGISTRADO NO ENTRAS</a>
<br>
<a href="/private"> PRIVATE</a>