<div class="p-5">
    <h1><strong>User Database</strong></h1>
    <div class="pt-2">
        {{#each users as |user|}}
            <ul>
                <li><a href="/user/{{user.id}}">{{user.username}}</a> - {{user.email}} - {{user.password}}</li>
            </ul>
        {{/each}}
    </div>
    
</div>


