<h1>{{title}}</h1>
<hr>
<a class="btn btn-dark" href="/auth/signup">Sign Up</a>
<a class="btn btn-dark" href="/auth/login">Login</a>
<a class="btn btn-dark" href="/main">Main page</a>
<a class="btn btn-dark" href="/private">Only members</a>
<a class="btn btn-dark" href="/logout">Log Out</a>
<div class="row">
    <p class="mt-3 bg-info">{{MessageSuccess}}</p>
</div>