
<div class="content-center">
    <h1>Welcome to the Lab-Express-Basic-Auth Webpage</h1>

    <div id="homepage-btns">
        <p>If you don't have an account choose Signup</p>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
</div>