<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="buttons-container">
        <a href="/signup">
        <button>
            Sign Up
        </button>
    </a>

    <a href="/login">
        <button>
            Log In
        </button>
    </a>

    <a href="/main">
        <button>
            Main Page
        </button>
    </a>

    <a href="/private">
        <button>
            Private Page
        </button>
    </a>
</div>