<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="container">
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
    <a href="/main">Main</a>
    <a href="/private">Private</a>
</div>