<h1>{{title}}</h1>
<a href="/user/login">Login</a> <br>
<a href="/user/signup">Create account</a>
<p>Check if you have access:</p>
<button>
    <a href="/others/main">Main</a>
</button>
<button>
    <a href="/others/private">Private</a>
</button>