<div class="container text-center justify-content-center">
    <h1>✷ <h1 class="display-1 mb-4">Welcome</h1></h1>
    <h5>To access this page please <a class="btn btn-sm btn-dark mt-3" href="/login">Login > </a> or <a class="btn btn-sm btn-dark mt-3" href="/register">Register > </a></h5>
</div>