<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="">
    <a class="btn btn-secondary" href="/auth/signup">Signup</a>
    <a class="btn btn-primary" href="/auth/login">Log in</a>
</div>

<div class="bg-dark p-4 mt-5" style="float:left;">
    <h4 class="text-light">Only registered users</h4>
    <a class="btn btn-primary" href="/profile">Profile</a>
    <a class="btn btn-success" href="/protected/main">Main Spy</a>
    <a class="btn btn-success" href="/protected/private">Cool Cat</a>
</div>
