<h1 class="text-center pt-5 fw-bold">Learn more about Perú</h1>
<img class="mt-5" src="https://sites.google.com/site/perualdeaglobal/_/rsrc/1518751994312/home/PeruCountryBrand_02.jpg"
    width="100%" alt="image-portada">
<div class="pt-3">
    <a href="/signup" class="btn btn-dark">
        <p class="fs-5 m-0">Sign up with us</p>
    </a>
</div>