<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>If you don't have an account <a href="/signup">click here</a></p>
<br>
<p>For accessing with your account <a href="/login">click here</a></p>
<br>
<p>Go to your exclusive member site <a href="/secret">click here</a></p>


