<div class="container">
    <div class="row justify-content-center">
        <h1 class="mt-4">{{title}}</h1>
        <p>Bienvenido!</p>
    </div>
    <div class="mt-2">
        <a href="/login" class="btn btn-dark me-2">login</a>
        <a href="/logout" class="btn btn-dark me-2">logout</a>
        <a href="/main" class="btn btn-dark me-2">Main</a>
        <a href="/private" class="btn btn-dark me-2">Private</a>
    </div>
</div>