<div class="container pt-4">
    <h1>HOME</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus laboriosam iste minus ut earum. Tempore,
        accusantium? Tempora dignissimos id laudantium at quos facere reprehenderit iste impedit error non! Veniam
        consequatur provident nam, alias id doloribus temporibus iusto aspernatur quam? Incidunt nam sint, aut illo
        possimus aspernatur quae accusamus voluptatem sunt?</p>

</div>