<div class="container">

    <h1>

        HOLA ES MI PRIMER AUTH CON MIDDLEWARES

    </h1>

    <figure>

        <h3> Como me siento ahora mismo</h3>

        <img src="/images/102.jpg" alt="como me siento " />
    </figure>
</div>