<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#if currentUser}}
    <a href="/profile" class="text-info btn btn-outline-secondary">Profile</a>
    <form action="/logout" method="POST">
        <button class="text-info btn btn-outline-secondary">Log out</button>
    </form>
    <a href="/main" class="text-info btn btn-outline-secondary">Main</a>
    <a href="/private" class="text-info btn btn-outline-secondary">Private</a>
{{else}}
    <a href="/register" class="text-info btn btn-outline-secondary">Register</a>
    <a href="/login" class="text-info btn btn-outline-secondary">Login</a>
    <a href="/main" class="text-info btn btn-outline-secondary">Main</a>
    <a href="/private" class="text-info btn btn-outline-secondary">Private</a>
{{/if}}

