<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/login">WANNA LOGIN??</a>
<a href="/signup">PLEASE SIGN UP</a>

<a href="/private">GO TO PRIVATE PAGE</a>
<a href="/main">GO TO MAIN PAGE</a>

<a href="/logout">LOGOUT</a> {{!-- added this to check if private and main worked  --}}

<h3 style='color: red'>{{errorMessage}}</h3>
<h3 style='color:green'>{{generalMessage}}</h3>