<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="to-right">
    <form action="/signup" method="GET" id="logout-form">
    <button>Sign up</button>
    </form>

    <form action="/login" method="GET" id="logout-form">
    <button>Log in</button>
    </form>

    <form action="/logout" method="GET" id="logout-form">
    <button>Log out</button>
    </form>

</div>