<div class="allPagesDiv">
    <div class="allTextDiv">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <button><a href="/sign-up">Click Here to Sign-up!</a></button>
        <button><a href="/login">Click Here to Login!</a></button>
        </form>
        <br>
        <img src="/images/authenticate.png" alt="img" id="mainImg">
    </div>
</div>