<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="signup"><button>Sign Up</button></a>
<a href="login"><button>Login</button></a></br>
<a href="/main"><button>VIPER</button></a>
<a href="/private"><button>PRIVADO</button></a>