<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
    {{#if isLoggedIn}}
    <li><a href="/logout">Logout</a></li>
    {{else}}
    <li><a href="/singup">Singup</a></li>
    <li><a href="/singin">Singin</a></li>
    {{/if}}
</ul>