<div class="img">

    <div class="container">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <hr>

        <form action="/cerrar-sesion" method="POST">
            <button class="nav-link" type="submit">Cerrar sesión</button>
        </form>
    </div>

</div>