<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a href="/registrarse" class="btn btn-dark mb-3">Registrarse</a>
<hr>
<a href="/acceder" class="btn btn-dark mb-3">Iniciar sesión</a>
<hr>
<a href="/private" class="btn btn-dark mb-3">Mi perfil privado</a>
<hr>
<a href="/main" class="btn btn-dark mb-3">Soy un main público</a>
<hr>
<a href="/cerrar-sesion" class="btn btn-dark mb-3">Cerrar sesión</a>