<h1>{{appTitle}}</h1>
<p>Welcome to {{appTitle}}</p>

<a href="/sign-up">Sign up</a>
<br>
<a href="/login">Log in</a>
<br>
<a href="/main">Go to main (Only if you are already logged in)</a>
<br>
<a href="/private">Go to private (Only if you are already logged in)</a>