<h1>{{titleSite}}</h1>
<p>Welcome to {{titleSite}}</p>

<a type='button' class='btn btn-dark' href='/login'>Log In</a>
<a type='button' class='btn btn-warning' href='/signup'>Sign Up</a>
<a type='button' class='btn btn-primary' href='/main'>Geeky coder cat</a>
<a type='button' class='btn btn-danger' href='/private'>Sassy cheerleader</a>