<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6 justify-content-center">

      <h2>Welcome!</h2>
      <br />
      <br />
      <a
        href="/registro"
        class="btn btn-outline-dark"
        class="col-md-6 justify-content-center"
      >Registrarme</a>
      <br />
      <br />
      <a
        href="/inicio-sesion"
        class="btn btn-outline-dark"
        class="col-md-6 justify-content-center"
      >Iniciar sesión</a>
    </div>
  </div>
</div>