<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">

    <a href="/registro" class="btn btn-dark">Reegistro </a>
    <a href="/inicio-sesion" class="btn btn-dark">inicio sesion </a>
    <a href="/inicio-sesion" class="btn btn-dark">Perfil </a>


</div>
