<div class="container">
    <h1>{{title}} 🚀</h1>
    <hr>
    <p>Welcome!!</p>
    <a href="/signup" class="btn btn-primary">Sign Up</a>
    <a href="/login" class="btn btn-success">Log In</a>
</div>
