<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/login" method="post">
<button type="submit">Login</button>
</form>

<form action="/signup" method="post">
<button type="submit">Sign up</button>
</form>

