<h1>{{title}}</h1>
<br />

<p>Welcome to this wonderful place! </p>
<br />

<div
  class="tenor-gif-embed"
  data-postid="7518103"
  data-share-method="host"
  data-aspect-ratio="1.78571"
  data-width="50%"
><a href="https://tenor.com/view/science-kind-of-our-thing-gif-7518103">Science
    Kind GIF</a>from
  <a href="https://tenor.com/search/science-gifs">Science GIFs</a></div>
<script type="text/javascript" async src="https://tenor.com/embed.js">
</script>

<br />
<div id="container">
  <a href="/signup">
    <button>Sign up</button>
  </a>

  <br />
  <a href="/login">
    <button>Login</button>
  </a>

  <br />
  <a href="private">
    <button>Private page!</button>
  </a>

  <br />
  <a href="/logout">
    <button>Logout</button>
  </a>
</div>

<br />