<div class="container">

<div class="row justify-content-center">

 <div class="col-md-6">

<h1>Welcome</h1>

<a href="/signup" class="btn bg-secondary text-white">SIGN UP</a>
<hr>
<a href="/login" class="btn bg-secondary text-white">LOG IN</a>
<hr>
<a href="/" class="btn bg-secondary text-white">LOG OUT</a>
</div>
</div>
</div>