<div class="container">
    <h1>Chiara's Mystery Page</h1>
    <hr>

    <h4>Welcome! This page is just an exercise.
        You can create a profile, login, logout, and look at your profile.</h4>

</div>