<h2>Welcome to:</h2>
<h1>{{title}}</h1>


<button type="button" onclick='window.location.href="/auth/signup"'>Sign up!!!</button>
{{#if currentUser}}
      <img src="https://www.hdwallpaper.nu/wp-content/uploads/2015/02/Funny-Cat-Hidden-1024x768.jpg" alt="">
{{/if}}