<section class="hero-section section mt-5">
  <div class="container text-center">
    <h1 class="display-3">Lab-express-basic-auth</h1>
    <p class="lead">Generated with Ironlauncher</p>
  </div>
</section>

<section class="btn-section">
  <div class="container-sm mx-auto text-center">
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-secondary">Register</a>
  </div>
</section>
