<h1>{{title}}</h1>
<p>Welcome {{#if user}}
  {{user.username}}
  {{/if}}
</p>

{{#unless user}}
<a href="/signup">Signup</a>
<a href="/login">Login</a>
<a href=""></a>
{{else}}
<a href="/private">Private Page</a>
<a href="/logout">Logout</a>
{{/unless}}


<a href="/private">TOP SECRET ONLY FOR USERS</a>