<div class="initial">
    <h1 class="title">-Bienvenido a la pagina de COLEGAS-</h1>
    <img class="image" src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia-exp1.licdn.com%2Fdms%2Fimage%2FC4D22AQF1-813dY7v7Q%2Ffeedshare-shrink_800%2F0%2F1630667999351%3Fe%3D1633564800%26v%3Dbeta%26t%3D2HUtXnSjHYIfRwcyXg-9q7hI5vn6gd-T9huZWq39h9M" alt="image friends">
</div>