<div class="container">

    <head>
        <title>Mi sitio web</title>

    </head>

    <body>

        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <img src="/images/Padlock.png" alt="Imagen de muestra" class="img-fluid">
                <h1 class="mt-4">SECURE WEB PAGE</h1>
            </div>
        </div>

    </body>
</div>