<div id="indexContainer" class="row mt-5">
    <div class="col-md-6 m-auto">
        <divclass="card card-body text-center">
            <h1>{{title}}</h1>
            <p>Welcome to {{title}}</p>
            <h1><i class="fa-regular fa-note-sticky fa-3x"></i></h1>
            <p>Create an account or login</p>
            <a href="/register" class="btn btn-light btn-block">Register</a>
            <a href="/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>

