<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Welcome</h2>
            <hr>
            <a href="/login" class="btn btn-primary">Log in</a>
            <span>or</span>
            <a href="/register" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>