<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AUTENTICACIÓN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="user/main">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="auth/inicio-sesion">LogIn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="auth/registrate">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user/private">Private</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>