<body class="index-body">

    <div class="container">

        <h1>FRIJOL FANTASY</h1>
        <h4>Frijol's fanpage</h4>

        <div class="home">

            <div class="row justify-content-center align-items-center col-md-4">

                <div class="button-sing-up mb-4 mt-4">
                    <a href="/registro" class="btn btn-lg btn-dark">Regístrate</a>
                </div>
                <div class="button-log-in  mb-4 mt-1 ">
                    <a href="/inicio-sesion" class="btn btn-lg btn-dark">Entra</a>
                </div>

            </div>

        </div>

</body>