<header class="container-fluid">
    <div class="row">
        <h1 class="col">Bienvenido</h1>
        <img class="col" src="https://media.giphy.com/media/dZCvzMHpjv0ORmYsS0/giphy.gif" alt="">
    </div>
</header>
<h2>Aplicación super increíble con nombre mega original</h2>
<br>
<a href="/auth/signup"><button class="btn btn-primary btn-lg">Sigun up for free</button></a>
<a href="/auth/login"><button class="btn btn-dark btn-lg" >Logged in</button></a>
