<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#unless user}}
<a href="/signup">Signup</a>
<a href="/login">Login</a>
{{else}}
<a href="/private">Private Page</a>
<a href="/main">Main Page</a>
<a href="/logout">Logout</a>
{{/unless}}