<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/singin">Sing-in</a>
<a href="/singup">Sing-up</a>
<form action="/logout" method="POST">
    <button class="nav-link" type="submit">Cerrar sesión</button>
</form>