<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class='bg-dark'>

    <nav class='navbar navbar-expand-sm navbar-dark bg-dark' aria-label='Third navbar example'>
      <div class='container-fluid'>
        <a class='navbar-brand text-secondary' href='/'>lab-express-basic-auth</a>
        <div class='d-flex justify-content-space-between'>
          <ul class='navbar-nav me-auto mb-2 mb-sm-0'>
            <li class='nav-item dropdown me-5'>
              <a class='nav-link dropdown-toggle' href='#' data-bs-toggle='dropdown' aria-expanded='true'>Content</a>
              <ul class='dropdown-menu dropdown-menu-dark'>
                <li><a class='dropdown-item' href='/content/main'>Main</a></li>
                <li><a class='dropdown-item' href='/content/private'>Private</a></li>
              </ul>
            </li>
            <li class='nav-item'>
              <a class='nav-link me-5' href='/userprofile'>Profile</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/login'>Login</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/signup'>SignUp</a>
            </li>
            <form id='logout-form' action='/logout' method='POST'>
              <button type='submit' class='nav-link bg-dark ms-5'>Logout</button>
            </form>
          </ul>
        </div>
      </div>
    </nav>

    {{{body}}}
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8'
      crossorigin='anonymous'
    ></script>

    <script src='/js/script.js'></script>
  </body>

</html>