<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul style="display: flex; flex-direction:row; justify-content:space-around ; list-style-type: none;  align-items: center;">
        <li id="to-left">
          <p><a href="/"> Home</a></p>
        </li>
        <li id="to-right" style="display: flex; flex-direction:row; justify-content:space-evenly; align-items: center; width: 400px;">
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
          <a href="/private">Your private page</a>
          <a href="/main">cat pic</a>
          <form action="/logout" method="post">
            <button type="submit">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>