<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/auth/signup">Registrarse</a>
      <a href="/auth/login">Inicia sesion</a>
      <a href="/profile">Perfil</a>
      <a href="/auth/logout">Cerrar sesion</a>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>