<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class='logo'>
      <h2>Die Authentizitäts-App</h2>
    </div>
    <hr />
    <div class='boxshadowwrapper'>
      <nav>
        <ul>
          <li><a href='/signup'>create an account</a></li>
          <li><a href='/login'>sign in</a></li>
        </ul>
      </nav>
    </div>
    <hr />
    <br />
    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>