<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex ">
      <a class="navbar-brand" href="/">Inicio</a>
      <a href="/login">Log in</a>
      <a href="/signup">Sign up</a>
      <a href="/private">Private</a>
      <a href="/main">Main</a>
    </div>
  </nav>


  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>