<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <a href="/">Home</a>
  {{#if isLoggedIn}}
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login"> <b>Login</b></a>
    <a href="/signup"> <b>Signup</b></a>
  {{/if}}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>