<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="general__container">
    {{{body}}}
  </div>
  <script src='/javascripts/script.js'></script>
</body>

</html>
