<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{siteTitle}}</title>
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
      <a class='navbar-brand' href='/'>{{siteTitle}}</a>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
         aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
         <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse'>
         <ul class='navbar-nav ml-auto'>
            <li class='nav-item'>
               <a class='nav-link' href='/'>Inicio</a>
            </li>
            <li class='nav-item'>
               <a class='nav-link' href='/signup-page'>Registro</a>
            </li>
            <li class='nav-item'>
               <a class='nav-link' href='/login-page'>Iniciar sesión</a>
            </li>
            <li class='nav-item'>
               <a class='nav-link' href='/desconectar'>Cerrar sesión</a>
            </li>
            <li class='nav-item'>
               <a class='nav-link' href='/user-profile'>Mi perfil</a>
            </li>
            <li class='nav-item'>
               <a class='nav-link' href='/main'>main</a>
            </li>
            <li class='nav-item'>
               <a class='nav-link' href='/private'>private</a>
            </li>
         </ul>
      </div>
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>
</body>

</html>