<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    {{#if loggedIn}}
      <nav>
         <ul>
            <li> <a href="/"> Users - demo </a></li>
            <li><a href="/auth/profile">Profile</a></li>
            <li> <a href="/auth/main">Cat Photo</a></li>
            <li> <a href="/auth/private">Cat GIF</a></li>

            <li> 
             <form id="logout-form" action="/auth/logout" method="POST">
               <button>Logout</button>
             </li>
            </form>
         </ul>
      </nav>
     {{else}}
      <nav>
         <ul>
            <li> <a href="/"> Users - demo </a></li>
            <li>
            <a href="/auth/signup">Signup</a> <span> | </span>
            <a href="/auth/login">Login</a> {{!-- !!! --}}
            </li>
            <li> <a href="/auth/main">Cat Photo</a></li>
            <li> <a href="/auth/private">Private page</a></li>
            
            
         </ul>
      </nav>
     {{/if}}

    {{{body}}}
    
    <script src="/js/script.js"></script>
  </body>

</html>