<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

<nav><ul>
  <li><a href="/sign-up">Sign-up</a></li>
  <li><a href="/login">Login</a> </li>
  <li><a href="/profile">See profile</a></li>
</ul></nav>
    {{{body}}}
    <form id="logout-form" action="/logout" method="POST">
  <button type="submit">Logout</button>
  </form>

    <script src="/javascripts/script.js"></script>
  </body>

</html>