<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <ul>
        <li id="to-right">
          <a href="/singup"> Sing in</a>
          <a href="/login"> Login</a>
          <a href="/profile">Profile</a>


        </li>
        <form id="'logout-form" action="/logout" method="post">
        <button>Logout</button>
        </form>
      </ul>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>