<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  
   <div><a href="/">Home</a></div> 
   <div><a href="/signup">Signup</a></div> 
   
  </head>

  <body>

{{#if loggedInUser}}
Welcome
{{loggedInUser}}
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>