<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>

     

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  

  
  
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/login">Log-in <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/signup">Sign-up <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/logout">Log-out <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/main">Main <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/private">Private <span class="sr-only">(current)</span></a>
  </li> 
</ul>
    
  
</nav>

  </div>
</nav>


    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>

</html>