<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/stylesheets/style.css" />
   <link rel="stylesheet" href="/public/stylesheets/main.css" />
    <link rel="stylesheet" href="/public/stylesheets/private.css" />
     <link rel="stylesheet" href="/public/stylesheets/profile.css" />
      <link rel="stylesheet" href="/public/stylesheets/register.css" />
            <link rel="stylesheet" href="/public/stylesheets/login.css" />
</head>
<nav class="navbar  navbar-expand-lg  navbar-dark" style="background-color: #ff0a4d;;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../public/images/wire.png" alt="" width="30" height="24" class="d-inline-block align-top">
      WireIn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{#if currentUser}}
            <li><a class="dropdown-item" href="/profile">Mi perfil</a></li>
            <form action="/logout" method="POST">
              <li>
                <button class="dropdown-item" type="submit">Cerrar sesión</button>
                </li>
            </form>

            {{else}}
            <li><a class="dropdown-item" href="/register">Registrarse</a></li>
            <li><a class="dropdown-item" href="/login">Iniciar sesión</a></li>

            {{/if}}

          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>