<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar main-nav navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><b>Gatitos</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/registro">Registro</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/inicio-sesion">Inicio sesión</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/main">Gatito</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/private">Muy Privado</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/cerrar-sesion">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>