<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="uk-navbar-container uk-light" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="uk-active">
            <a href="#" class="plus">☰</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="/userProfile">Profile</a></li>
                <li><a href="/main">Main</a></li>
                <li><a href="/private">Private</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          {{#if userInSession}}
            <li><form action="/logout" method="post"><button class="navbutton">Log out</button></form></li>
          {{else}}
            <li><form action="/login"><button class="navbutton">Log in</button></form></li>
            <li><form action="/signup"><button class="navbutton navbuttonD">Sign up</button></form></li>
          {{/if}}
        </ul>
      </div>
    </nav>
    {{{body}}}

    <script src="/js/script.js"></script>
    <script src="/js/functions.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
  </body>

</html>