<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>

    {{{body}}}
  {{!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.13.0/dojo/dojo.js"></script> --}}
    {{!-- <script type="text/javascript" src="/javascripts/jquery.pwstrength/jquery.pwstrength.min.js"></script> --}}
    <script src='/javascripts/script.js'></script>
  </body>
</html>
