<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <form action="">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Inicio</a>
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/registro">Registrar</a>
            <a class="nav-link active" aria-current="page" href="/iniciar-sesion">Iniciar</a>
            <a class="nav-link" href="/perfil">Perfil</a>
          </div>
        </div>
      </nav>
    </form>
    {{{body}}}
    <script src="/js/script.js"></script>
  </body>

</html>