<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="932542032466-kmcmou3042vniq0lm7kqn7nuv5opfnbr.apps.googleusercontent.com">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>

</html>