<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <header>
    <a href="/"><button type="button">Home</button></a>
    <a href="/auth/signup"><button type="button">Signup</button></a>
    <a href="/auth/login"><button type="button">Login</button></a>
  </header>

  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>