<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

   <h3><a href="/signup">Sign Up</a></h3>
   <h3><a href="/login">Log In</a></h3>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>