<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <div class="navbar">
    <nav>
      <div class="nav-wrapper">
        <ul class="right">
          <li><a href="/">home</a></li>
          <li><a href="/main">main</a></li>
          <li><a href="/private">private</a></li>
          <li><a href="/signup">sign up</a></li>
          <li><a href="/login">log in</a></li>
          <li>
            <form id="logout-form" action="/logout" method="POST">
              <button class="btn">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>