<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <a href="/signup">Register</a> <span> | </span>
  <a href="/login">Log in</a> <span> | </span>

  {{#if userInSession}}
  <a href="/main">See the main page</a> <span> | </span>
  <a href="/private">See your private page</a><span> | </span>
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>

  {{/if}}

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>