<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <a href="/">Home</a>
    <a href="/signup"> Signup</a>
    <a href="/login">Login</a>
    <a href="/profile">Profile</a>
    <a href="/testfile">testfile</a>
    <a href="/main">Main</a>
    <a href="/private">Private</a>
    <a href="/open">open</a>

    <form action="/logout" method="post">
      <button>logout

      </button>

    </form>

    {{{body}}}

    <br />
    <br />
    <p>username: <span id="pass">qq </span> </p>
    <p> password: <span id="pass">qq </span> </p>
    <script src="/js/script.js"></script>
  </body>

</html>