<!DOCTYPE html>
<html lang="en">
 
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 </head>
 
 <body>
<a href="/" class="waves-effect waves-light btn">
     Inicio
   </a>
{{#unless user}}
   <a href="/usuario/registro" class="waves-effect waves-light btn red">
     Registro
   </a>
   <a href="/usuario/login" class="waves-effect waves-light btn orange">
     Login
   </a>
   {{/unless}}
{{#if user}}
       <a href="/usuario/privado" class="waves-effect waves-light btn yellow">
         Privado
       </a>
       <a href="/usuario/cerrar-sesion" class="waves-effect waves-light btn green">
         Cerrar sesión
       </a>
{{/if}}
 
   {{{body}}}
 
   <script src="/js/script.js"></script>
 </body>
 
</html>