<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header class="header">
      <h1>Basic user auth page</h1>
      <nav class="header-nav-bar">
        <a href="/">Home</a>
        {{#unless userInSession}}
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
        {{/unless}}
        {{#if userInSession}}
          <a href="profile">Profile</a>
          <form
            class="header-nav-bar-logout-form"
            action="/logout"
            method="post"
          >
            <button type="submit">Log out</button>
          </form>
        {{/if}}
      </nav>
    </header>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>