<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item active"><a class='nav-link' href="/">Inicio</a></li>
      <li class="nav-item active"><a class='nav-link' href="/registro">Registro</a></li>
      <li class="nav-item active"><a class='nav-link' href="/iniciar-sesion">Iniciar sesión</a></li>
      <li class="nav-item active"><a class='nav-link' href="/main">Main</a></li>
      <li class="nav-item active"><a class='nav-link' href="/private">Private</a></li>
    </ul>
  </nav>

  
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>