<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>
        <a href="/">Home</a>
          <span> | </span>
        <a href="/profile">Profile</a>
      {{#if loggedIn}}
        <span> | </span>
        <form id="logout-form" action="/logout" method="POST">
          <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
        </form>
      {{else}}
        <span> | </span>
        <a href="/signup">Signup</a>
          <span> | </span>
        <a href="/login">Login</a>
      {{/if}}
      
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>