<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <nav>
    <a class="btn" href="/">Home</a>
    <a class="btn" href="/privada">privada</a>
    <a class="btn" href="/signup">signup</a>
    <a class="btn" href="/login">Log-in</a>
    <form action="/logout" method="POST">
     <button class="btn" type="submit">LOGOUT</button>
    </form>
  </nav>
  <body>

    {{{body}}}

    <script src="/javascripts/script.js"></script>
  </body>

</html>