<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          {{#unless isLoggedIn}}
          <li><a href="/auth/signup">Signup</a></li>
          <li><a href="/auth/login">Log in</a></li>
          {{/unless}}
          {{#if isLoggedIn}}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>