<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <nav>
         <ul>
            <li id="to-left">
               <p><a href="/"> Home </a></p>
            </li>
            <li id="to-right">
               <a href="/signup">Signup</a> <span> | </span>
            </li>
            <li id="to-right">
               <a href="/signin">SignIn</a> <span> | </span>
            </li>
            {{!-- <li id="to-right">
                  <a href="/logout">Logout</a> <span> | </span>
            </li> --}}
          </ul>
  </nav> 

  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>