<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <ul>
      {{!-- <li id="to-left">
        <p><a href="/"> Users - demo </a></p>
      </li> --}}
      <li id="to-left">
        <a href="/">Home <span> | </span></a>
      </li>
      <li>
        <a href="/signup">Signup <span> | </span></a> 
      </li>
      <li>
        <a href="/login">Login  <span> | </span></a> 
      </li>
      <li>
        <a href="/main">Main❤️ <span> | </span></a> 
      </li>
      <li>
        <a href="/private">Private🚀 <span> | </span></a> 
      </li>
    </ul>
  </nav>

  {{{body}}}

  <script src="../public/javascripts/script.js"></script>
</body>

</html>