<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tsukino APP Version 1.0</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        {{#if currentUser}}
          <li>
            <a href="/users/profile">My profile</a>
          </li>
          <li>
            <form action="/auth/logout" method="POST">
              <button class="button">Log out</button>
            </form>
          </li>
        {{else}}
          <li> <a href="/auth/signup">Sign up</a></li>
          <li> <a href="/auth/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
    
    <p class="welcome">Hi
      {{currentUser.username}}, Welcome to Tsukino APP Version 1.0</p>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>