<h1>Página privada solo para Admins </h1>


<img src="https://upload.wikimedia.org/wikipedia/commons/8/8f/Cute-kittens-12929201-1600-1200.jpg" alt="Kitten" width="50%" height="50%" />

<ul>
{{#each users}}
    <li>{{email}} role:{{role}}</li>
    <br />
{{/each}}


</ul>

<a href="/"> Go back home</a>