<h1>Log in</h1>

<form action="/log-in" method="POST">
    <div>
        <label for="username">Nombre de usuario</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>

    <div>
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="userPwd">
    </div>
    <br>

    <button type="submit" class="btn btn-dark btn-block">Iniciar sesión</button>

</form>