<h1>Login</h1>
<form action="/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>
<br>
   <a href="signup" type="button">Signup</a>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}