<form action="/login" method="post">
  <label for="Username">
    <input type="text" name="username" placeholder="insert unsername" />
  </label>

  <label for="Password">
    <input type="password" name="password" placeholder="********" />
  </label>
  <p>{{error}}</p>
  <button>log-in</button>
</form>