<h1>Login</h1>
<form action="/ath/login" method="post">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>