<form action="/auth/login" method='post'>
 
    <input type="text" name='username' placeholder='Name'>

    <input type="password" name='password' placeholder='Password'>
    <button type='submit'>Login</button>
</form>

{{#if errorMessage}}
    <h3>{{ errorMessage }}</h3>
{{/if}}