<h1>Log In</h1>

<form action="/auth/login" method="post">
  <label for="username">Username
    <input type="text" name="username" id="username" />
  </label>

  <label for="password">Password
    <input type="text" name="password" id="password" />
  </label>

  <button type="submit">Log In</button>

</form>