<h2>LOG IN TO MY ACCOUNT:</h2>

<form action="/log-in" method="POST">

    <label for="username">User name: </label>
    <input type="text" name="username" id="username" required>
<br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
<br>    

<button class="button is-warning" style="margin: 10px">LOG IN</button>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</form>