
<form action="/log-in" method="POST">
    
    <label for="email"></label>
    <input type="email" name="email" id="email" required="required">

    <label for="password"></label>
    <input type="password" name="password" id="password" required="required" min="8">

    <button type="submit">Log-in</button>

</form>

{{#if message}}
    <p>{{message}}</p> 
{{/if}}