<h1>Sign In</h1>
<form action="/login" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" value="{{username}}">
  <label for="password">Password: </label>
  <input type="text" name="password" id="password" value="{{password}}">
  <small>At least 10 characters</small>
  <button type="submit">Login</button>
</form>