<h2>User Login</h2>


<form action="/login" method="POST">

<label for="username">Username</label>
<input type="text" name="username" id="username">

<label for="password">Password</label>
<input type="text" name="password" id="password">
<button type="submit">Login</button>

</form>

{{message}}