<h3 class="pt-5">Log-in into your account</h3>
<form class="py-4" action="/login" method="POST">
<div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control {{#if errors.username}}is-invalid{{/if}}" id="username" name="username" value="{{user.username}}" required>
</div>
<div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" name="password" required>
     {{#if error}}
      <p class="alert alert-danger mt-3">{{error}}</p>
    {{/if}}
</div>
<button type="submit" class="btn btn-dark">Log-in</button>
</form>