<div id="signup">
  <h2>LogIn</h2>
  <form action="/login" method="POST">
 
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Your email" />
 
    <label for="password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />
 
    <button type="submit">Log in</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>