<form action='/auth/login' method='post'>
    <input type='text' name='username' value='' placeholder='username'>
    <input type='password' name='password' value='' placeholder='password'>
    <button type='submit'>Log in</button>
</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}