<form action="/Login" method="POST">
    <label for ="username">User Name</label>
    <input name="username" type="text" />
    <label for ="password" >Password</label>
    <input name="password" placeholder="******"  type="password" minlength="6"/>
    <button> Login </button>
</form>
<a href="/">Main</a>
<p style="text-align: center; color:red; font-size:30px; border:none">{{errorMessage}}</p>