<h1>Welcome</h1>
<p>Please login with your credentials</p>
<hr>
<form action="/profile", method="POST">
<label for="username">Username</label>
<input required type="text" name="username" id="">
<br>
<label for="password">Password</label>
<input required type="text" name="password" id="">
<br>
<button type="submit">Log in</button>
</form>