<div id="side">
    <div id="to-right">
        <a href="/signup">Sign up</a>
    </div>
</div>
<div id="form">
    
    <h2>LOGIN</h2>
    <form action="/login" method="POST">

        <label> Username
            <input type="text" name="username">
        </label>  
        <br>

        Password: <input type="password" name="password" id="myInput">
        <input type="checkbox" id="checkbox" onclick="myFunction()">Show Password

        <button type="submit">Login</button>

        {{#if message}}
            <h3 class="error">{{message}}</h3>
        {{/if}}
    </form>

</div>