<h1>Please enter your login details</h1>

<form action="/login" method="POST"> 
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username"  class="form-control" id="username" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
