<h1>Log In</h1>

<form action="/log-in" method="post">
    <label for="username">Username</label>
    <input type="email" name="username" id="user">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Send</button>
</form>