  <h2 class="text">Inicia Sesiòn</h2>
<form  action="/login" method ="post">
<div >
<p>
  <input require type="text" name="name" placeholder="Username" >
</p>
<p>
  <input require type="password" name="password" placeholder="Password">
</p>
</div>
<input type="submit">
</form>