<form action="/auth/login" method='post'>
 
    <input type="text" name='username' placeholder='Name' value=''>

    <input type="password" name='password' placeholder='Name' value=''>
    <button type='submit'>Login</button>
</form>