

<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
</head>
<body>
  <h1>Log In</h1>

  <form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Log In</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</body>
</html>
