<h1>Log in</h1>

<form action="/login" method="post">
    <input type="text" name="username" id="username" placeholder="Awesome Yeti">
    <input type="password" name="password" id="password" placeholder="a secure Password">
    <button type="submit">Log me in</button>
</form>