<main>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <h2>Inicio de sesión</h2>

    <form action="/login" method="POST">

        <div class="form-group">
            <label for="username">Nombre de usuario</label><br>
            <input type="text" class="form-control-lg" name="username" placeholder="Nombre de usuario"><br><br>
        </div>

        <div class="form-group">
            <label for="password">Constraseña</label><br>
            <input type="password" class="form-control-lg" name="password" placeholder="*****"><br>
        </div>

        {{#if errorMessage}}
        <p class="error-message">{{errorMessage}}</p>
        {{/if}}

        <button class="btn btn-dark" type="submit">Entrar</button><br><br>

        <div>
            <p>¿Aún no te has registrado en esta página vacía?</p>
            <a class="btn btn-dark" href="/register">Regístrate!</a>
        </div>
    </form>

</main>