<form action="/doLogIn" method="POST" class="content">
  <div class="col-10 d-flex align-items-center flex-column">
    {{#if error}}
    <div style='color: red'>
      {{error.message}}
    </div>
    {{/if}}
    <div class="form-group">
      <label for="exampleUsername">Username</label>
      <input name="username" type="text" class="form-control" id="exampleUsername" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/signup">Sign Up</a>
  </div>
</form>