<h2>Log In</h2>

<form action="/login" method="POST">

    <label>Username:</label>
    <input type="text" name="username" required/>

    <label>Password:</label>
    <input type="password" name="password" required/>

    <button type="submit">Log In</button>

</form>

{{#if errorMsg}}
<p>{{errorMsg}}</p>
{{/if}}

<a href="/">Go back to homepage</a>