<a href="/">Home</a>


<h1>Login</h1>

<form action="/login" method="POST">
    <label for="">Username: </label>
	<input type="text" name="username">

	<label for="">Password: </label>
	<input type="password" name="password">

    <button type="submit">Login</button>

    {{#if message}}

    {{message}}

    {{/if}}

</form>

<div><a href="/signup">Don't have an account yet? Sign up here</a>
</div>

