<h1>Log In</h1>
<form action="/login" method="POST">
	<label for="">Name: </label>
	<input type="text" name="username">
	<label for="">Password: </label>
	<input type="password" name="password">
	<button type="submit">Log In</button>
    {{#if message}}
		<h3>{{message}}</h3>
	{{/if}}
</form>