<div>
  <form action="" method="post">
    <label for="">User name in</label>
    <input type="text" name="name" placeholder="name">
    <label for="" >Password</label>
    <input type="password" name="password" placeholder="password">
    {{#if errorMessage}}
    <div class="">{{errorMessage}}</div>
    {{/if}}
    <button type="submit">Log In</button>
    <p class="">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
  </form>
</div>