<section id="form">
    <form action="/login" method="post">
        <input type="text" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button type="submit">Iniciar Sesión</button>
    </form>
</section>
{{#if alert}}
<section id="alert">
    <article>
        <h3>{{alert}}</h3>
    </article>
</section>
{{/if}}