<h2>Log in</h2>

<form method="post" action="/login">
<label id="username">Username</label>
<input id="username" name="username" type="text">
<label id="password">Password</label>
<input id="password" name="password" type="password">
<button>Log in</button>
</form>