<form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
