<!doctype html>
<html lang="en">
  <head>

    <title> GHOST </title>

 
    <link href="/style/style.css" rel="stylesheet">
  </head>
  <div class="body"></div>
  <div class="grad"></div>
  <div class="header">
      <div>GHOST <span> Feel it.</span></div>
  </div>
  <br>
  <div class="login">
    <form action="/login" method='POST'>
          <label for="email" ></label>
          <input type="email" placeholder="email"  id="email" name="email" required><br>

          <label for="password" ></label>
          <input type="password" placeholder="password" type="password" id="password" name="password" required><br>

          <button type="submit"> Login </button>
    </form>
    
    <a href="/register">
        <input type="button" value="Click here to signup" />
     </a>
  </div>
</body>
</html>
