<h2>Login</h2>

<form action="/login" method="post">
    <label for='email'>Email</label>
     <input type='text' name='email' id='email' placeholder='Enter your email' />

    <label for='password'>Password</label>
    <input type='password' name='password' id='password' placeholder='Enter your password' />

     <button type='submit'>Login</button>

</form>

{{#if errorMessage}}
  <h6>{{errorMessage}}</h6>
{{/if}}