<form action="/login" method="post">
  <label>Username :
    <input type="text" name="username" required/>
  </label>
  <label>Password :
    <input type="password" name="password" required />
  </label>
  <button type="submit">Connect</button>
  <p>{{#if errorMessage}}
      {{errorMessage}}
    {{/if}}</p>
</form>