<a href="/">Go Home</a>

<h1>Login Page</h1>
  <form method="post" action="/login">
    <div class="stacked">
      <label>Username</label>
      <input type="text" name="username">
    </div>
    <div class="stacked">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div>
      <button type="submit">Log In</button>
    </div>
  </form>