<div>
  <h2>Login page</h2>
  <form action="/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" />
    </div>
    <button type="submit">Login</button>
  </form>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>