<h1>Login</h1>

<form action='/login' method='post'>

  <label for='username'Username</label>
  <input type='username' name='username' id='username' required />

  <label for='password'>Password</label>
  <input type='password' name='password' id='password' required />

  <button type='submit'>Login</button>

</form>