<h2>Login</h2>

<form action="/login" method="post">
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
    <div>
        <input type="text" name="userName" placeholder="Name">
       
    </div>

    <div>
        <input type="password" name="userPassword" placeholder="Password">
        
    </div>

    <button type="submit">login</button>


</form>