<h1>Log In</h1>
<p>Welcome to {{title}}</p>

{{#if message}}
	<p style="color: red">{{message}}</p>
{{/if}}

<form action="/login" method="POST">
	<label for="">Username: </label>
	<input type="text" name="username">
	<label for="">Password: </label>
	<input type="password" name="password" id="password">
	{{!-- <button type="submit" disabled="true">Sign up</button> --}}
	<button type="submit">Log In</button>
</form>