<h1>Log in</h1>

<form action="/login" method="post">
    <input type="email" name="email" id="email" placeholder="email@adress.yours">
    <input type="password" name="password" id="password" placeholder="a secure Password">
</form>