<div class="container">
    <a href="/" class="btn btn-dark mb-4">Ir al inicio</a>
    <div class="row">
        <div class="col-6">
            <img src="https://i.pinimg.com/564x/5b/02/47/5b0247d140ff9659066d61fa63edc79a.jpg" alt="Pedro">
        </div>
    </div>
</div>