<div>
    <div>
        <a href="/" class="btn btn-outline-primary mb-5">Home</a>
    </div>
    <div class="d-flex justify-content-center">
        <img src="http://static.boredpanda.com/blog/wp-content/uploads/2015/03/sphynx-cat-photos-by-alicia-rius-25__880.jpg"
            width="320" alt="">
    </div>
</div>