<div class="container">
<h1 style="text-align: center;" >Main</h1>
<hr>
<img style="object-position: center;" src="https://worldcatcomedy.com/wp-content/uploads/2021/05/maxresdefault-61.jpg" alt="">
</div>