<section class="profile">
    <h2>Esta es tu página principal</h2>
    <p>No puedes hacer nada aquí, pero recuerda...</p>
    <div class="container">
        <div class="row align-items-center">
            <img class="col-6" src="https://media.giphy.com/media/UvvK8rOSHPxgjo9ryD/giphy.gif" alt="Excersice is good for heatl">
            <a href="/profile/secret" class="col"><button type="button" class="btn btn-info">Pasa a la página super secreta de la super aplicación</button></a>
        </div>
    </div>
</section>