<h2>Main page</h2>
<hr>
<a href="/" class="btn btn-dark mb-3">Go Home</a>
<img src="https://614now.com/wp-content/uploads/2023/08/330419735_4825235767601583_8778361413180178245_n.jpg"
    class="w-50" alt="cat">