<h1> Hello {{userData.username}}</h1>
<div style="width:100%">
    <div style="height:0;padding-bottom:56.25%;position:relative;width:100%">
        <iframe allowfullscreen="" frameBorder="0" height="100%" src="https://giphy.com/embed/cJ4qg6E4fpVSmvYhJO/video" style="left:0;position:absolute;top:0" width="100%">
        </iframe>
    </div>
</div>
<a href="/private">ULTRA SECRET!</a>
<a href="/">Go home</a>