<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card" style="width: 22rem; text-align: center; margin: 80px 0 0 85px;">
                <img class="card-img-top" src="/images/843490651fa9079c45481809b4e3fb13.jpg" alt="Garacol">
                <div class="card-body">
                    <h5 class="card-title">Garacol</h5>
                    <a class='btn btn-dark' href="/">Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>