<div class="row">

    <a href="/" class="pt-3 pb-3">Get outa here! (Go Home)</a>
    <div class="col d-flex justify-content-center">
        <img src="/images/meowfie.png" alt="funny cat pix">
    </div>
</div>