<div class="flex flex-wrap">
    <div class="w-full pb-5 pl-3">
    <a class="w-full mr-3 py-3 mt-10 px-4 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:shadow-none" href="/">
                    Home
    </a>

    <a class="w-full mr-3 py-3 mt-10 px-4 bg-gray-800 rounded-sm
                    font-medium text-white uppercase
                    focus:outline-none hover:bg-gray-700 hover:sha
                    dow-none" href="/logout">
                    Logout
    </a>
</div>
    <img src="/images/funny_cat.jpg" class="w-1/2 m-auto"alt="Funny cat">
</div>


