<h1>Hello {{username}}, this is the Main Page</h1>

<img src="https://placekitten.com/{{#random 400 500}}{{/random}}/{{#random 500 600}}{{/random}}" alt="random cat pic">

<div class="buttons-container">
    <a href="/">
<button>Home</button>
</a>

<a href="/profile">
<button>Profile</button>
</a>

</div>