
<div class="main-content">

<h1>Estás en la zona principal</h1>

<figure class="visuals">
    <img src="./images/burgerCat.jpg">
</figure>

<a  class="btn btn-outline-info" href="/">Go back home</a>

</div>
