<h1 class="pt-5">Main section</h1>
<h3 class="pt-3">Your are now logged-in as {{currentUser.username}}.</h3>
<div class="">
    <img src="https://i.imgflip.com/36capl.jpg" class="img-fluid" alt="Good job">
</div>
<div class="">
    <button type="button" class="btn btn-dark mt-4" onclick="window.location.href='/'">Go back home</button>
</div>