<h1>Main page</h1>

<img src="https://i.pinimg.com/originals/dc/7f/01/dc7f01240f714363d53960b7ad505a14.jpg" alt="Funny cat picture">
<br>
<a href="/private">Go to my private page</a>
<br>
<a href="/logout">
  <button type="button">Logout</button>
</a>