<div id="container">
  <h2>You are in a session!</h2>

<img class="dogs" src="images/64778.jpg" alt="dogs">
<br>
<a href="/private">Acces to private zone.</a>
<br>
<br>
<a href="/">Get back to the Home.</a>
<br>
<br>
<a href="/logout" >Log out</a>
</div>

