<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="https://media.tenor.com/rARy9nOW8XAAAAAM/cat-funny.gif" alt="">
    <a href="/"><h2>Home Page</h2></a>
</body>
</html>