{{#if activeUser}}
    <h1>Hello</h1>

<p>Ok, bruh, just admit it... This cat is WAY cooler than you (and me)</p>

    <img src="https://catzone-tcwebsites.netdna-ssl.com/wp-content/uploads/2017/11/cool-cat-with-sunglasses.jpg" alt="">
    
    <button>
        <a href="/">Back =)</a>
    </button>

{{else}}
    <p>Sorry mate, can't touch this (8)</p>
    <img src="https://media3.giphy.com/media/glbFOvFuyHSi4/giphy.gif?cid=ecf05e47tpdi2qypzq8xejew4ignon0n8u5poq5x026zfc3d&rid=giphy.gif" alt="">
    <br>
    <br>
    <button>
        <a href="/">Take me back to the home page =(</a>
    </button> <span> | </span>
    <button>
        <a href="/login">Log in</a>
    </button>
{{/if}}


