<h1>This is your profile page</h1>
<h1>Hello {{user.username}}</h1>
<img src = "https://c.tenor.com/tMRY35MWfYYAAAAd/funny-silly.gif" alt="wild cat">
<div>
<a href="/">Back to Homepage</a>
</div>
<div>
<a href="/logout">Logout</a>
</div>