

<h1>Cat page</h1>


<hr>

<main class="gif">
  <p>Me when deadline is far ahead:</p>
  <img class='gif' src="https://media.giphy.com/media/JuFwy0zPzd6jC/giphy.gif" alt="cat coding gif">
  <p>Me when deadline is approaching:</p>
  <img class='gif' src="https://media.giphy.com/media/ule4vhcY1xEKQ/giphy.gif" alt="cat coding gif">
 
</main>

<div class="link">
  <a class="user" href='/user-profile'>Return</a>
</div>

