<div class="container cat-container">

    <h1>Esta página es privada</h1>
    <h2>Mira qué buen gif</h2>
    <img src="images/dog-gif.gif" alt="dog gif">
    <a class="btn btn-dark" href="/">Volver al inicio</a>
</div>