<body class="main-body">

    <div class="container">

        <div class="row">
            <h1>Ohhhh no tienes muchos privilegios</h1>

            <img src="https://media2.giphy.com/media/71PLYtZUiPRg4/giphy.gif" alt="cat crying">

            <div class="col-md-5 mt-3">
                <a href="/private" class="btn btn-dark-main btn-block justify-content-center">Entra para ver cositas
                    buenas</a>
            </div>
        </div>

    </div>

</body>