<div class="container">

    <div class="row justify-content">

        <h1>This page is PRIVATE!!!</h1>

        <img src="./../images/giphy.gif" alt="">


        <a href="/" class="btn btn-dark">Go Back</a>

    </div>
</div>