<h1>Andá pa allá bobo {{user.username}}</h1>

<img src="https://i.pinimg.com/474x/c4/86/5b/c4865b31956c0571ac923bdce5934419.jpg" alt="alto gato">

<a href="/">Home</a>
<a href="/auth/logout">Logout</a>