<p>¡Bienvenido a la página {{username}}, garcias por registrate!</p>
<p>Te regalamos la foto de un gatito</p>

<img class="cat" src="https://wamiz.es/media/cache/resolve/upload_main-image_1366/article/main-picture/5c5328bde77a3957455947.jpg" alt="Gato precioso">
<h1>Gatito</h1>