<div class="container">
    <div class="row">
        <div class="main">
            <img src="https://kaikucaffelatte.com/blog/wp-content/uploads/2017/08/kaiku-caffe-latte-videos-graciosos-gatos.jpg"
                alt="Pig Meme">
            <a href="/" class="btn btn-dark btn-lg home-btn">Home</a>
        </div>
    </div>
</div>