<div class="container">
    <div class="row main">
        <img class="img-cat" src="/images/5cfb641454a6ade3de89bea38c00dea4468cd4781befcc2c5fbe178eb97cdbc6.jpg"
            alt="funny cat">
        <a class="btn btn-dark btn-sm btn-cat" href="/" role="button">Volver al inicio</a>
    </div>
</div>