<div class="container">
    <h1>This is a restricted area, only for members</h1>
    <figure>
        <img src="/images/confuse.png">
    </figure>
    <a class="btn" href="/logout">Logout</a>
    <a class="btn" href="/private">Go to Private Page</a>
</div>