<h1>Bienvenido a tu Main zone: "{{username}}"!, estamos encantados de verte de nuevo. Y TU GATITO TAMBIÉN!</h1>

<img src="https://elsumario.com/wp-content/uploads/2017/02/el-sumario-Conoce-el-tipo-de-gato-que-tienes.jpg" alt="tu gatito feliz"><br><br>


<a class="btn btn-primary" href="/" role="button">VOLVER A INICIO</a>