<div class="container">

    <h1>¡Bienvenid@ a tu página principal, {{username}}!</h1>
    <img src="https://media1.tenor.com/images/f46caceaa923268d9f1590d53a34b153/tenor.gif?itemid=17761219" alt="">

</div>

