<h1>Main</h1>
<h2>You love brutalist architecture!</h2>
<br>
<img src="https://images.unsplash.com/photo-1446771326090-d910bfaf00f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2942&q=80" width="750px">
<br><br>
<a href="/">Home</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/profile">Profile</a>