<div class="container">
    <div class="col-lg-8 mx-auto mt-5">
        <img class="d-block" src="https://static.iris.net.co/semana/upload/images/2019/6/18/620159_1.jpg">
        <a class="mt-5 btn btn-danger" href="/">Back to home</a>
    </div>
</div>

