<div class="row flex-column">

    <h1>It's private</h1>
    <h2>You read this on Monday</h2>
    <img class="cat" src="https://i.ytimg.com/vi/317jz-PU7Mg/maxresdefault.jpg" alt="funny cat">
    <p>Happy reviewing our codes! 💜</p>

    <div class="col-4">
        <a class="btn btn-dark" href="/">Ir a inicio</a>
    </div>
    

</div>
