<div class="container">
    <div class="row">
        <div class="col-4">
            <h1 class="mb-5">Main</h1>
            <img class="mb-5" src="/images/cat.jpg" alt="cat">
            <a href="/" >Back</button>
        </div>
    </div>
</div>