<h1>Welcome {{user.username}}</h1>
<img style = "width: 30%" src="https://upload.wikimedia.org/wikipedia/commons/0/09/Funny_cats_-_Bengal_Cat_is_resting_because_of_tired.jpg" alt="cat-image">
<a href="/private/private">Visit your private page</a>
<a href="/">Back to Homepage</a>