<h1>Main</h1>
<h1>{{name}}</h1>
<img src="https://kittybloger.files.wordpress.com/2014/03/skydiving-cat.gif?w=600&h=425">

<a href="/logout">
    <button class="btn btn-lg btn-primary" type="submit">Log out</button>
</a>