<div id="container">
  
</div>

<h3>Hello</h3>

<h3>your name is {{username}}</h3>

<h3>Here is a funny picture of a cat</h3>
<div> <img src = "http://2.fimagenes.com/i/5/8/b5/am_199352_4797675_650368.jpg"></div>


<a href="/">Back to Home</a>
<a href="/logout">Logout</a>

<a href="/private">Click here for your exclusive gif!</a>


