<h3>main page</h3>
<img src="https://www.top13.net/wp-content/uploads/2015/10/perfectly-timed-cat-photos-funny-cover.jpg" alt="funny cat">
<br>
<a href="/private">Private page</a>
<br>
<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>