<div id="container">


<h2>You are in main page, {{name}}</h2>
    <nav>
         <a href="/secret-page">Secret page</a>
         <a href="/private">Private</a>
         <a href="/logout">Logout</a>

    </nav>
 <img src="https://images.unsplash.com/photo-1548681528-6a5c45b66b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="favorite cat img"> 

 </div>