<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 ">
            <img src="images/funnycat.jpeg">
            <a href="/" class="btn btn-dark">Volver a inicio</a>

                {{#if errorMsg}}
                <div style="background: red; color: white; text-align: center; padding: 10px; margin-top:10px">
                    {{errorMsg}}</div>
                {{/if}}
        </div>
    </div>
</div>