  <a href="/">Go Back</a>
  <hr />
<h1>Main</h1>
<hr>
<p>Congrats! You're logged in so you can see this page!</p>
<img src="https://i.gifer.com/origin/b8/b842107e63c67d5674d17e0f576274fa_w200.gif" alt="funny gif">