<div class="login-box">

  <h2>Hello {{username}}</h2>
  <img src="../images/funny-cat.jpg" alt="" />

  <form action="" method="">
    <button>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <a href="/">
        Home
      </a>
    </button>
  </form>

</div>