<h2>Volvemos a encontrarnos Señor {{username}}</h2>
<img src="https://akns-images.eonline.com/eol_images/Entire_Site/2012107/634.bondvillian.ls.11712.jpg?fit=around%7C776:1254&output-quality=90&crop=776:1254;center,top" alt="gato/>"

<a href="/">Home</a>