<div>You are in main page, {{name}}</div>

<ul>
    <li>
        <a href="/">Go Home</a>
    </li>
    <li>
        <a href="/private">Private</a>
    </li>
</ul>

<img src="https://images-na.ssl-images-amazon.com/images/I/51VmmRDO1EL._AC_SY450_.jpg" alt="favorite cat img"> 