<h1>Main page</h1>

<h3>Welcome {{username}}</h3>

<form id="home-page" action="/" method="GET">
            <button>Home</button>
</form>

<img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif" alt="Gif">

