<div class="container">
    <div class="card form-container">

        <a href="private"><img src="/images/cat-funny.jpg" alt="cat" height="300px" width="200px"></a>
        <a class='a-link' href="/logout">Sair</a>

    </div><!-- /card-container -->
</div><!-- /container -->

