<div class="flex">
    <img class="catgif" src="https://media1.giphy.com/media/f8ywYgttpGzzVPH5AO/source.gif" alt="">
    <br>
    <a class="btn btn-primary catgif" href="/" role="button">Return to Index</a>
</div>