<div style="width:100%">
    <div style="height:0;padding-bottom:56.25%;position:relative;width:100%"><iframe allowfullscreen="" frameBorder="0"
            height="100%" src="https://http.cat/204" style="left:0;position:absolute;top:0" width="100%"></iframe></div>
</div>