<h1>Protected Main Page</h1>

<img src="https://images.unsplash.com/photo-1534521152192-2e2cb02c6ea1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=658&q=80" alt="home">

<hr>

<a href="/">Back Home</a>