<h1>Welcome {{username}}</h1>

<p>This is your logged session. Enjoy!</p>

<img src="https://i.chzbgr.com/full/8811128320/h031F9FC6/welcome-to-the-hood" alt="Cats on top of a car saying 'Welcome to the hood'">