<h2>Página principal.</h2>
<p>No es necesario estar registrado</p>
<img src="https://i1.wp.com/s3.amazonaws.com/tugatocurioso/wp-content/uploads/2020/01/06180920/Razas-de-perros.jpg?fit=600%2C400&ssl=1" alt="perretes">
<br>
<a href="/">Volver</a>