<div class="container">
    <h4>SI HAS LLEGADO HASTA AQUÍ ES QUE ERES VIP, RELAJATE Y DISFRUTA</h4>
<figure>
    <img src="https://acegif.com/wp-content/gifs/happy-cat-27.gif" alt="gif gatito">
</figure>
</div>