<!doctype html>
<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
    <h1>Welcome to the main page!</h1>
    <img src="https://www.placekitten.com/200/300" alt="A funny cat picture">
    <br><br>
    <a href="/">Go back to the home page</a>
  </body>
</html>