<div id="container">
  <h2>You have successfully logged in</h2>
  
  <img src="/images/gif-of-a-cat-getting-all-comfy-inside-a-fishbowl-or-some-sort.gif" alt="Cat inside a  fishbowl">
  <br>
  <a class="button button2" href="/">Go back!</a>
</div>