<a class="btn btn-primary" href="/">Home Page</a>

<div class="tenor-gif-embed" data-postid="16211498" data-share-method="host" data-aspect-ratio="1.01911"
    data-width="100%"><a href="https://tenor.com/view/sad-cat-meme-colorful-dank-gif-16211498">Sad Cat Meme GIF</a>from
    <a href="https://tenor.com/search/sad+cat-gifs">Sad Cat GIFs</a>
</div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>