<h2>Welcome to the main page, {{name}}!</h2>
<div>
  <img
    class="cat-image"
    src="https://boredpanda.com/blog/wp-content/uploads/2014/02/funny-wet-cats-8.jpg"
  />
</div>
<a href="/">Back to home page</a>