<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-cat-wearing-sunglasses-while-sitting-royalty-free-image-1571755145.jpg?crop=1.00xw:0.754xh;0,0.122xh&resize=1200:*"
    alt="one cool cat">
<a href="/">Home</a>
<a href="/dashboard">Dashboard</a>