<h1>Hello {{username}}</h1>

<img class="cat-img" src="/images/cat.jpg" alt="cat">

<form action="/">
    <button type="input">Home</button>
</form>

<form action='/private' method='get'>
  <button type='submit'> Private</button>
</form>

<form action='/logout' method='post'>
  <button type='submit'> Logout</button>
</form>

