<img src="https://images.theconversation.com/files/350865/original/file-20200803-24-50u91u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop" alt="catwithmask" width="250" height="300">


<a href="/">
    <button>HOME PAGE</button>
</a>