<img src="https://i.pinimg.com/originals/c1/17/c3/c117c3bd3b06dd012ec816a1ef07dc24.jpg" alt="">


<h1>You are in main</h1>
<a href="/">BACK TO HOME</a>


<a href="/login">WANNA LOGIN??</a>
<a href="/signup">PLEASE SIGN UP</a>

<a href="/private">GO TO PRIVATE PAGE</a>
<a href="/main">GO TO MAIN PAGE</a>
<a href="/logout"></a>