<h1>New User :(</h1>
<form action="/new-user" method="POST">
  <div>
    <label for="email">Insert Email Address</label>
    <input type="email" name="email" />
  </div>
  <div>
    <label for="username">Insert Username</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label for="password">Insert Password</label>
    <input type="password" name="password" />
  </div>
  <button type="submit">Submit</button>
</form>