<!-- user-info-form.hbs -->
<form action="/new-project-form">
    <label for="name-input">Company</label>
    <input id="name-input" type="text" name="name">
   
    <label for="age-input">Age</label>
    <input id="age-input" type="number" name="age">
   
    <label for="superhero-input">Description</label>
    <input id="superhero-input" type="text" name="superhero">
   
    <button type="submit"> Submit new project </button>
  </form>