<h1>bien venido a tu perfil</h1>

<br>
<br>
<div class="d-grid gap-2">
    <a href="/main"  type="submit" class="btn btn-dark">Main</a>
</div>
<br>
<br>
<div class="d-grid gap-2">
    <a href="/private" type="submit" class="btn btn-dark">Private</a>
</div>