
<div id="container">
  
</div>


<h3>Here is a gif of cat</h3>
<div> <img src="http://www.teamjimmyjoe.com/wp-content/uploads/2016/02/giphy.gif"></div>


<a href="/">Back to Home</a>
<a href="/logout">Logout</a>


