<div class="login-box">

  <h2>[PRIVATE] Hello {{username}}</h2>

  <img
    src="https://goodmorningland.com/wp-content/uploads/2022/06/Good-Morning-Funny-Dog-Wake-Up-GIF.gif"
    alt=""
  />

  <form action="/logout" method="post">
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Logout
    </button>
  </form>

</div>