<div class="container">


    <h1>Te mereces esta galería </h1>



    <div class="galeria-frijol">
        <div class="row">

            <div class="col-md-3">
                <img src="../images/1683572567184.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572567241.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572684085.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572684141.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572684222.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572684454.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572684482.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572684530.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572743731.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572743778.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572743850.jpg" alt="frijol">
            </div>
            <div class="col-md-3">
                <img src="../images/1683572743804.jpg" alt="frijol">
            </div>

        </div>
    </div>


    {{!-- <div class="row galeria-frijol">

        <div class="col-md-3">
            <img src="https://imagenes.elpais.com/resizer/iTvj-2_NqCqbV8Q8KxaC7uafCB0=/1960x1470/cloudfront-eu-central-1.images.arcpublishing.com/prisa/ZM2ZBNP5XUKH63E4MNQDBLV3SI.jpg"
                class="img-fluid square" alt="Imagen 1">
        </div>
        <div class="col-md-3">
            <img src="https://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg" class="img-fluid square "
                alt="Imagen 2">
        </div>
        <div class="col-md-3">
            <img src="https://s3.ppllstatics.com/laverdad/www/multimedia/202211/23/media/cortadas/como-saber-cuanto-frio-soportar-perro-kpaB-U180813416069owF-1248x770@La%20Verdad.jpg"
                class="img-fluid square" alt="Imagen 3">
        </div>
        <div class="col-md-3">
            <img src="https://s3.ppllstatics.com/laverdad/www/multimedia/202211/23/media/cortadas/como-saber-cuanto-frio-soportar-perro-kpaB-U180813416069owF-1248x770@La%20Verdad.jpg"
                class="img-fluid square" alt="Imagen 4">
        </div>
        <div class="col-md-3">
            <img src="https://s3.ppllstatics.com/laverdad/www/multimedia/202211/23/media/cortadas/como-saber-cuanto-frio-soportar-perro-kpaB-U180813416069owF-1248x770@La%20Verdad.jpg"
                class="img-fluid square" alt="Imagen 5">
        </div>
        <div class="col-md-3">
            <img src="https://s3.ppllstatics.com/laverdad/www/multimedia/202211/23/media/cortadas/como-saber-cuanto-frio-soportar-perro-kpaB-U180813416069owF-1248x770@La%20Verdad.jpg"
                class="img-fluid square" alt="Imagen 6">
        </div>
        <div class="col-md-3">
            <img src="https://s3.ppllstatics.com/laverdad/www/multimedia/202211/23/media/cortadas/como-saber-cuanto-frio-soportar-perro-kpaB-U180813416069owF-1248x770@La%20Verdad.jpg"
                class="img-fluid square" alt="Imagen 7">
        </div>
        <div class="col-md-3">
            <img src="https://s3.ppllstatics.com/laverdad/www/multimedia/202211/23/media/cortadas/como-saber-cuanto-frio-soportar-perro-kpaB-U180813416069owF-1248x770@La%20Verdad.jpg"
                class="img-fluid square" alt="Imagen 8">
        </div>

    </div> --}}

</div>