<div class="container">
    <div class="row">
        <div class="main">
            <img src="https://i.pinimg.com/originals/15/5c/ed/155cedf86e435a89d42a768d6dff0861.gif" alt="Pig Meme">
            <a href="/" class="btn btn-dark btn-lg home-btn">Home</a>
        </div>
    </div>
</div>