<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 ">
            <img src="images/giphy.webp">
            <a href="/" class="btn btn-dark">Volver a inicio</a>
        </div>
    </div>
</div>