<div class="container">

    <h1>PRIVATE CONTENT</h1>

    <div class="gif">
        <div class="tenor-gif-embed" data-postid="3479485" data-share-method="host" data-aspect-ratio="1.66667"
            data-width="100%"><a
                href="https://tenor.com/view/bruce-almighty-comedy-jim-carrey-angry-typing-gif-3479485">Angry
                Typing GIF</a>from <a href="https://tenor.com/search/bruce+almighty-gifs">Bruce Almighty GIFs</a></div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

    </div>
</div>