<h1 class="text-center py-5">Private content</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://sjferret.com/wp-content/uploads/Thinking-of-getting-a-cat.png" alt="a picture of a cat">
        </div>
    </div>
</div>
