<h1>Secret place</h1>

<iframe
  src="https://giphy.com/embed/nu4DN4nKos3m0"
  width="480"
  height="271"
  frameBorder="0"
  class="giphy-embed"
  allowFullScreen
></iframe>

<br />
<a href="/logout">log out</a>