<h1 class="private"> Estás accediendo a un lugar "privado"</h1>

<img class="cat" src="https://media.giphy.com/media/lea5DJxF4Lz4k/giphy.gif" alt="Gato">

<a class="cat-btn btn btn-outline-dark my-2 my-sm-0" href="/">Home</a>