<h1>This is the PRIVATE-TWO page, available only to users who have logged in</h1>

<img src="https://images.unsplash.com/photo-1521401830884-6c03c1c87ebb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="secret image" style="height: 500px; border-radius: 100px; margin-left: 20px">

<p>
    <a href="/">Go to the homepage</a>
</p>

<p>
    <a href="/private">Go to the PRIVATE page</a>
</p>