<div class="container">
    <h4>SHHHHH ENTRE TÚ Y YO </h4>
    <figure>
        <img src="https://i.pinimg.com/originals/ea/50/67/ea506729dc3c3e574c646c98a770966d.gif"
            alt="gif gatito">
    </figure>
</div>