<div class="container">
    {{#with user}}
    <h1>Hello {{username}}</h1>
    <figure>
        <img src="/images/giphy.gif">
    </figure>
    <a class="btn" href="/main">Go to Main Page</a>
    {{/with}}
</div>