<div class="container">

    <h1>¡Bienvenid@ a tu página privada, {{username}}!</h1>
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/homer-meme-1547553537.gif?resize=980:*" alt="">

</div>