<h1>Hello my dear {{username}}, this is a private page</h1>

<p>Enjoy a random kitten-pic</p>

<img src="https://placekitten.com/{{#random 400 500}}{{/random}}/{{#random 500 600}}{{/random}}" alt="random pic">

<div class="buttons-container">
    <a href="/">
<button>Home</button>
</a>

<a href="/profile">
<button>Profile</button>
</a>

</div>