<div id="container">
  <a href="/">Pagina privada</a>
  <div>
    <iframe src="https://giphy.com/embed/AAsj7jdrHjtp6" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/meme-chloe-side-eye-AAsj7jdrHjtp6">via GIPHY</a></p>
  </div>
</div>
