<h1>Hello: It is a private site {{username}}</h1>

<form action='/logout' method='post'>
  <button type='submit'> Logout</button>
</form>

<img src="/public/images/beach.jpg" alt="" width=60 height=40>