
<div class="box">
<h2>This is a private page</h2>
<iframe src="https://giphy.com/embed/3o8dFgRzTzaLx3mWgo" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<a href="/">Back to Homepage</a>
</div>