<h1>This is a private area, only for members</h1>
<div style="width:50%;height:0;padding-bottom:73%;position:relative;"><iframe src="https://giphy.com/embed/3o6Zt0hNCfak3QCqsw" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
<a href="/logout">Logout</a>