<h1>Enjoy your privacy</h1>
<h1>{{name}}</h1>
<img src="https://media3.giphy.com/media/xTiTnEHBh7qapyuvwQ/giphy.gif">

<a href="/logout">
    <button class="btn btn-lg btn-primary" type="submit">Log out</button>
</a>