<div id="container">
  <p>You have successfully logged in and...</p>
  <h2>You are in a private session!</h2>
  <img src="/images/QualifiedNeedyAntarcticgiantpetrel-small.gif" alt="Private party">
</div>