<h1>This is Private!</h1>

{{#if userData}}
    <p>Username: {{userData.username}}</p>
    <p>Passwort hash: {{userData.password}}</p>
{{else}}
    <p>No User Data available</p>
{{/if}}

<a href="/private">Reload</a>