<h1> Welcome {{username}} !! </h1>
<h2>This is your private site</h2>
   <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
    </form>
<img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif" alt="Gif">