<h1>Saving Private Ryan!</h1>
<h1>Btw, this is a private page dude</h1>

<img src="https://media1.giphy.com/media/6Ty74pFLyrd2E/giphy.gif" alt="Tom in Private Ryan">

<a href="/" class="btn btn-info">HOME</a>