<h1>Acceso concedido!</h1>

<p>Ésta es tu área personal!</p>

<br>

<img src="https://i.pinimg.com/originals/20/2b/a9/202ba994a368d5cea1f90c0cfc9c0ba6.gif" alt="wat image">
<hr>
<a href="/cerrar-sesion">Cerrar sesión</a>
<hr>
<br>
<a href="/">Volver</a>
