<div>
    <h1>Welcome to the VIP party</h1>
    <div>
        <img src="https://2.bp.blogspot.com/-Z0vmQLZdHCQ/VuBfCGgP9JI/AAAAAAAAAfs/nMT_NU-kHB8/s1600/tumblr_mvhveaaNcb1sedjuto1_400.gif">
    </div>
</div>

