<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../images/Babycat1.JPG" class="d-block w-50" alt="babycat1">
        </div>
        <div class="carousel-item">
            <img src="../images/marvel4.JPG" class="d-block w-50" alt="cat">
        </div>
        <div class="carousel-item">
            <img src="../images/Babycat2.JPG" class="d-block w-50" alt="babycat2">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

</h1>
<div class="btn new">
    <a href="#" class="btn btn-dark">See secrets</a>
</div>