<h1>This is the PRIVATE page</h1>

<img src="https://images.unsplash.com/photo-1603792907191-89e55f70099a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="secret image" style="height: 500px; border-radius: 100px; margin-left: 20px">

<p>
    <a href="/">Go to the homepage</a>
</p>

<p>
    <a href="/private-two">Go to the PRIVATE-TWO page</a>
</p>
