<h1>PRIVATE</h1>

<img src="https://www.google.com/imgres?imgurl=https%3A%2F%2F833250.smushcdn.com%2F1694534%2Fwp-content%2Fuploads%2F2021%2F06%2F7-1017x1024.png%3Flossy%3D1%26strip%3D1%26webp%3D1&imgrefurl=https%3A%2F%2Fflatlogic.com%2Fblog%2Ftop-40-javascript-meme-for-developers%2F&tbnid=z171yrR7OLi3VM&vet=12ahUKEwjxn6jzkav5AhUJRhoKHV8QDXMQMygEegUIARDGAQ..i&docid=mWN8Y9ec13Lk7M&w=1017&h=1024&q=funny%20memes%20about%20javascript&ved=2ahUKEwjxn6jzkav5AhUJRhoKHV8QDXMQMygEegUIARDGAQ" alt="frameworkMeme">