<h1>Private</h1>
<h2>Shhh! This page is a secret!</h2>
<br>
<iframe src="https://giphy.com/embed/NdKVEei95yvIY" width="480" height="270" frameBorder="0"></iframe><br><br>
<a href="/">Home</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/profile">Profile</a>