<!doctype html>
<html>
  <head>
    <title>Private Page</title>
  </head>
  <body>
    <h1>This is a private page!</h1>
    <img src="https://media.giphy.com/media/3o85xKxvh7L9luXOQs/giphy.gif" alt="A funny gif">
  </body>
</html>