<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card" style="width: 35rem; text-align: center; margin-top: 80px;">
                <h1>PRIVATE</h1>
                <img class="card-img-top"
                    src="https://media1.tenor.com/images/1056e92668594b262d3338c897ce9bd3/tenor.gif?itemid=7706023"
                    alt="Garacol">
                <div class="card-body">
                    <h5 class="card-title">Er Gandalf to' chulo</h5>
                    <a class='btn btn-dark' href="/">Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>