<h1> Private PAGE ULTRA SECRET!! </h1>

<img src="https://gph.is/g/E0nyvMp" alt="">

<ul>
    <li> <a href="/"> Home </a>  </li>
    <li> <a href="/main"> Main </a> </li>
    <li> <a href="/logout"> Logout </a> </li>
</ul>