<body style="background-color: black;">
    
<h2>private</h2>

<div>

    <img style="width=500px" src="https://tiroalcorazon.com/wp-content/uploads/2020/05/697b023b-64a5-49a0-8059-27b963453fb1.gif" alt="">
</div>
<a href="/">vuelve atras</a>
</body>