<div class="container">
    <h1 class="mb-5">This page is private</h1>
    <div class="row">
        <div class="col-4">
            <img class="mb-5" src="/images/catgif.gif" alt="cat gif">
            <a href="/">Back</button>
        </div>
    </div>
</div>