<h1>A private page</h1>
<img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXpmdTkyZHlmYTZ3YTJnaHpvbDEwYWMydXNhY2p6c3Q4OXJxeXgxeCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/ZGU890vUpxuOKjKcpZ/giphy.gif" alt="">
