<div class="container">
    <h1>This is a restricted area, only for members</h1>
    <figure>
        <img src="/images/giphy.gif">
    </figure>
    <a class="btn" href="/main">Go to Main Page</a>
</div>