<h1>Private page</h1>
<br><br>

<img src="https://media4.giphy.com/media/enj50kao8gMfu/giphy.gif?cid=790b7611c4701c3deaef99edc6ed65a5e7a96786aac0ec36&rid=giphy.gif&ct=g" alt="spinning seal">
<br><br>
<a href="/user-profile" class="btn btn-primary">Back to profile</a>