<h1>Welcome to your private page{{name}}</h1>
<ul>
     <li>
        <a href="/">Go home</a>
    </li>
    <li>
        <a href="/main">Main</a>
    </li>
   
</ul>
<div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/BzyTuYCmvSORqs1ABM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/hallmarkecards-cute-hallmark-shoebox-BzyTuYCmvSORqs1ABM">via GIPHY</a></p>