<h1>This is a private page!</h1>

<iframe src="https://giphy.com/embed/unQ3IJU2RG7DO" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/unQ3IJU2RG7DO">via GIPHY</a></p>