<h1> Welcome {{username}} !! </h1>
<h2>This is your private site</h2>
   <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
    </form>
<img src="https://i.pinimg.com/originals/ee/82/01/ee82017cdeab9732dfa8c78b05492081.gif" alt="Gif">