<h1>Private page</h1>

<div>
  <img src="https://media.giphy.com/media/cXblnKXr2BQOaYnTni/giphy.gif" class="rounded" alt="The office">
</div>

<div>
  <a href="/" class="btn btn-link">Home </a>
</div>