<div class="container">
    <div class="col-lg-8 mx-auto mt-5">
        <h1>PRIVATE PAGE</h1>
        <iframe src="https://giphy.com/embed/fDbzXb6Cv5L56" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-young-pope-candidimg18521-fDbzXb6Cv5L56"></a></p>
        <a class="mt-5 btn btn-danger" href="/">Back to home</a>
    </div>
</div>