<section class="main-content">
    <h3>This is a private page</h3>
    <div class="main-content">
        <img class="gif" src="https://c.tenor.com/fsB5wCoXtSsAAAAd/cat-type.gif">
    </div>
    <h4>Hi {{username}}</h4>
</section>