<h1>This is a private page</h1>
<img class="cat-img" src="/images/giphy.webp" alt="gif">

<form action="/">
    <button type="input">Home</button>
</form>

<form action='/logout' method='post'>
  <button type='submit'> Logout</button>
</form>