<div id="container">
  <h2>You are in a private session!</h2>


    <nav>
         <a href="/secret-page">Secret page</a>
         <a href="/private">Private</a>
         <a href="/logout">Logout</a>
    </nav>
    
</div>