<h1>Private page</h1>
<hr>

<div>
  <p>This is your private and secret page:</p>
  <img class='gif' src="https://media.giphy.com/media/yow6i0Zmp7G24/giphy.gif" alt="private">
</div>


<div>
  <a class="link" href='/user-profile'>Return</a>
</div>


