<p>This is a cat</p>
<img src="https://unsplash.com/photos/7AIDE8PrvA0">
<a href="https://unsplash.com/photos/7AIDE8PrvA0">Here's my cat</a>
    <button>
        <a href="/">Return to home page</a>
    </button>