<h1>This is Private!</h1>

{{#if userData}}
    <p>Username: {{userData}}</p>
    <p>Passwort hash: Nope, not anymore!</p>
{{else}}
    <p>No User Data available</p>
{{/if}}

<a href="/private">Reload</a>