<div class="flex">
    <img class="catgif" src="https://images-na.ssl-images-amazon.com/images/I/71C6tb1NC-L._AC_SL1280_.jpg" alt="">
    <br>
    <h1 class="catgif">Esto es una pagina <strong style="color: red">Privada</strong></h1>
    <a class="btn btn-primary catgif" href="/" role="button">Return to Index</a>
</div>