<div class="main-content">

    <h1>Estás en zona privada</h1>

    <iframe src="https://giphy.com/embed/b23a67ZhemOe4" width="480" height="368" frameBorder="0"
        class="giphy-embed visuals"></iframe>

    <a class="btn btn-outline-info" href="/">Go back home</a>

</div>