<h1>THIS IS A PRIVATE PAGE WOWOWOWOW!!!!</h1>

<p>MYSELF DURING BOOTCAMP</p>

<img src="https://media3.giphy.com/media/4JVTF9zR9BicshFAb7/giphy.gif?cid=ecf05e47fsy3sk6mtm21ggsjy4ma4m6owk7sr8fhq0aiuj3v&rid=giphy.gif&ct=g" alt="GIF" width="450" height="400">


<a href="/">
    <button>HOME PAGE</button>
</a>