<p>{{username}}'s gif</p>

<div class="tenor-gif-embed" data-postid="26112528" data-share-method="host" data-aspect-ratio="0.784375" data-width="50%"><a href="https://tenor.com/view/kitty-cat-sandwich-cats-sandwich-gif-26112528">Kitty Cat Sandwich GIF</a>from <a href="https://tenor.com/search/kitty-gifs">Kitty GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
