<p>Welcome {{#if user}}
  {{user.username}}
  {{/if}}
</p>
<p>Congrats for making it to the super secret site</p>
<img src="https://images.unsplash.com/photo-1510337550647-e84f83e341ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="top secret puppy">