<h1 class="pt-5">Hi, {{currentUser.username}}.</h1>
<h3 class="pt-3">This is a private section. You are here because you are logged-in.</h3>
<img src="https://memegenerator.net/img/instances/64425701.jpg" class="img-fluid" alt="Good job">