<h1>Hi {{username}}, you are now on a private page</h1>
<iframe src="https://giphy.com/embed/hrA9GZ1c1m9XRrIu47" width="480" height="196" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>