<h1>Private page</h1>

<img src="https://media.giphy.com/media/zAYZOtH5OMhuU/giphy.gif" alt="Jordan GIF">
<br>
<a href="/main">Go to my main page</a>
<br>
<a href="/logout">
  <button type="button">Logout</button>
</a>