<h1>Welcome to this private page</h1>
<div>
  <img
    src="https://media1.giphy.com/media/g8CJl0epg71MQ/giphy.gif?cid=ecf05e47x08tmkjlk4fnz2w5i86ek0atbrjhj060uzlitibn&ep=v1_gifs_search&rid=giphy.gif&ct=g"
    alt="Some GIF"
  />
</div>