


<div class="container">
    <div class="card form-container">
        <h1>This Is A Private Page</h1>
        <img src="/images/funny.gif" alt="cat" height="300px" width="300px">
        <a class='a-link' href="/main">Voltar</a> 

        {{!-- <a href="/logout">Sair</a>  --}}

    </div><!-- /card-container -->
</div><!-- /container -->

