<div class="container">
    <a href="/" class="btn btn-dark mb-4">Ir al inicio</a>
    <div class="row">
        <h2>Esto es privado!</h2>
        <div class="col-6">

            <img src="https://media.glamour.com/photos/580e1fc08bd9950546d001f6/master/pass/giphy%20(11).gif"
                alt="Impressed cat">
        </div>
    </div>
</div>