<h3>private page</h3>
<img src="https://i.pinimg.com/originals/5d/50/96/5d50964c25f8ce13e5531c60892c03dd.gif" alt="funny cat">
<br>
<a href="/main">Main page</a>
<br>
<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form>