<h1>Protected Private Page</h1>

<iframe src="https://giphy.com/embed/Tj4pUMfy7zjq6rgORw" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/somegoodnews-yes-sgn-prom-Tj4pUMfy7zjq6rgORw">via GIPHY</a></p>
