<h1>Hello {{user.username}}</h1>
<h2>Welcome back!</h2>
<br><br>
<a href="/">Home</a><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/auth/logout"><button class="button-26" role="button">Log out</button></a>