
<div class="container">
<h2> Welcome {{user.username}}</h2>

<img src="https://media.istockphoto.com/photos/curious-kitten-looking-at-the-camera-picture-id1270023880?b=1&k=20&m=1270023880&s=170667a&w=0&h=7tAE4L2d7qJ4k1OMydwof1kObkG6TuNkDj2n2QC88ic=" alt="">

<a id="logout" href="/logout">Log out</a>
<a href="/private">Click here to see a funny meme</a>
</div>