<h2> Hola: {{username}}! </h2>
<img src="https://media0.giphy.com/media/krewXUB6LBja/giphy.gif?cid=790b7611ba1a6c12aa060fe4bbd46f07862b8a63e0b9975f&rid=giphy.gif&ct=g"> <br> <br>

<a href="/logout"> Sign Out</a>