<h1>Hello {{username}}</h1>

<img
  src="https://www.montarumnegocio.com/wp-content/uploads/2015/09/Como-fazer-salada-de-frutas-para-vender-na-rua.jpg"
  alt=""
/>

<hr />

<form action="/logout" method="post">
  <button type="submit">Logout</button>
</form>