<main>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <h2>Bienvenido a tu perfil vacío, {{username}}</h2>
    <img src="../images/lettering-quote-welcome-chalkboard-background_67074-371.jpg" alt="Welcome!">
    
    <p>La única funcionalidad actual es salir de tu sesión de nuevo, gracias por tu tiempo! :D</p>
    <a class="btn btn-dark" href="/logout">Cerrar sesión</a>

</main>