<h2>Your profile</h2>

{{#if user}}

  <p>Welcome {{user.username}}</p>
  <a href="/profile">Reload</a>
  <a href="/main">Main</a>
  <a href="/private">Private</a>

{{else}}

  <br /><p>Still no logged in user, sorry!</p>

{{/if}}