<h1>This is your profile page !</h1>

{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <button><a href='/profile'>Reload the page</a></button>
{{else}}
  <p>Please log in...</p>
{{/if}}