<section>
  <div class="container">
    <h1>Profile of {{foundUser.username}}</h1>
    <img src="https://images.unsplash.com/photo-1536652119853-fe5377a095b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c2hpYmFpbnV8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60" alt="dog" width="400" height="500" />
  </div>
</section>