<h1>Bienvenido {{username}}</h1>
<iframe src="https://giphy.com/embed/xUOwGgxZLBmqB87sic" width="360" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/xUOwGgxZLBmqB87sic">via GIPHY</a></p>