<h1>Private profile page</h1>

<h2>Hello {{username}}!</h2>

<img
  src='https://c.tenor.com/ewG5N8jfWAIAAAAC/magic-henning.gif'
  alt="It's magic meme"
/>

<form action='/logout' method='POST'>
  <button type='submit'>Log Out</button>
</form>