<h1>Welcome</h1>
<p>{{user.username}}</p>
<a href="/private/main">Go to main</a>
<a href="/private/profile">Refresh</a>
<a href="/auth/logout">Logout</a>

<img src="https://media.giphy.com/media/ASd0Ukj0y3qMM/giphy.gif" alt="ralph">