<div class="row justify-content-center w-100">
  <div class="col-4">
    <div class="card text-center py-4">
      <div>
        <img src="{{user.avatar}}" class="card-img-top" style="width: 40%;">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <a href="/logout" class="btn btn-danger">Log Out</a>
      </div>
    </div>
  </div>
</div>