<h1>This is the profile page</h1>
<div><img style="height: 100px;" src="/images/sisters.jpg" alt=""></div>

<div>
    <a href="/">Go back to main page</a>
    <a href="/private">Go to your private page</a>
</div>