<div class="p-5">
    <h1><strong>{{currentUser.username}}</strong></h1>
    <div class="pt-2">
        <h5><strong>Email: </strong>{{currentUser.email}}</h5>
        <h5><strong>Password: </strong>{{currentUser.password}}</h5>
    </div>

    <a href="/profile/edit" class="btn btn-primary btn-lg fw-bodler" role="button">Update User</a>
    
</div>
