{{#if foundedUser}}
  <h2>Welcome, {{ foundedUser.username }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/auth/profile">Reload the page</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}