<h1 class="pt-5">Welcome {{currentUser.username}}!</h1>
<h3 class="pt-3">Your are now logged-in.</h3>
<img src="https://sayingimages.com/wp-content/uploads/good-job-memes.jpg" class="img-fluid" alt="Good job">
