<h1>Tu Perfil</h1>

<p>¡Bienvenido, {{username}}!</p>


<p>Quieres ver algo Wuapo, Wuapo!!!!!</p>
<button><a href="/perfil/main">Ver imagen</a></button>


<p>El super gif</p>
<button><a href='/images/giphy.gif'>Pulsa aqui!!</a></button>