<h1>This is your profile page</h1>

{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>

{{else}}
  <p>Please log in...</p>
{{/if}}

<form action='/logout' method='POST'>
  <button>Logout</button>
</form>