<!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<div class="bg-white min-h-full flex flex-col lg:relative">
  <div class="flex-grow flex flex-col">
    <main class="flex-grow flex flex-col bg-white">
      <div class="flex-grow mx-auto max-w-7xl w-full flex flex-col px-4 sm:px-6 lg:px-8">
        <div class="flex-shrink-0 pt-10 sm:pt-16">
          <a href="/" class="inline-flex">
            <span class="sr-only">Workflow</span>
            <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=600" alt="">
          </a>
        </div>
        <div class="flex-shrink-0 my-auto py-16 sm:py-32">
          <p class="text-sm font-semibold text-indigo-600 uppercase tracking-wide">Hola, actualmente te encuentras en</p>
          <h1 class="mt-2 text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">Mi perfil</h1>
          <div class="mt-6">
            <a href="/" class="text-base font-medium text-indigo-600 hover:text-indigo-500">Go back home<span aria-hidden="true"> &rarr;</span></a>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>