<h1>¡Bienvenid@, {{username}}!</h1>

<p>Este es tu perfil</p>




<iframe src="https://giphy.com/embed/mC1duXkO0RawcTkqID" width="480" height="480" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/gnomo-summer-que-calor-qucalor-mC1duXkO0RawcTkqID">via GIPHY</a></p>