<div>
  <div>
    <img class="h-32 w-full object-cover lg:h-48" src="https://static.scientificamerican.com/sciam/cache/file/54C3F60A-E9AE-4918-A88C09F1A994C45B_source.jpg" alt="">
  </div>
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
      <div class="flex">
        <img class="h-24 w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32" src="https://winaero.com/blog/wp-content/uploads/2018/08/Windows-10-user-icon-big.png" alt="">
      </div>
      <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
        <div class="sm:hidden md:block mt-6 min-w-0 flex-1">
          <h1 class="text-2xl font-bold text-gray-50 truncate">Nuevo usuario</h1>
        </div>
        <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
          
          <a href="/" class="inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-red-200 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
            <!-- Heroicon name: solid/phone -->
            
            <span>Cerrar sesión</span>
          </a>
        </div>
      </div>
    </div>
    <div class="hidden sm:block md:hidden mt-6 min-w-0 flex-1">
      <h1 class="text-2xl font-bold text-gray-900 truncate">Nuevo usuario</h1>
    </div>
  </div>
</div>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-900 shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-50">Información</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500"></p>
  </div>
  <div class="border-t border-gray-800">
    <dl>
      <div class="bg-gray-700 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-50">Usuario</dt>
        <dd class="mt-1 text-sm text-gray-50 sm:mt-0 sm:col-span-2">Nuevo usuario</dd>
      </div>
      <div class="bg-gray-600 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-50">Contraseña</dt>
        <dd class="mt-1 text-sm text-gray-50 sm:mt-0 sm:col-span-2">*********</dd>
      </div>
    </dl>
  </div>
</div>