<h1>Welcome {{username}}</h1>

<form action="/logout" method="post">
  <a href="/">Back to Home</a>

  <button type="submit">Sign Out</button>

</form>

<img src="http://placekitten.com/300/400" alt="kitten" />

<img src="https://api.lorem.space/image/pizza?w=150&h=150" alt="hmmmm" />