<div class="container">
    <h1>HELLOW-THA</h1>
    <h5>Public</h5>

    <hr>
    <img src="images/123.gif" alt="" class="hellouda">
    <hr>
    <div>
        <a href="/" class="btn btn-dark">GO BACK HOME</a>

    </div>
</div>