<h1>Registro Usuario</h1>

<form action="/registro" method="post">


    <label for="username">Nombre de usuario</label>
    <input name="username" type="text" id="username">
    <label for="password">Contraseña</label>
    <input name="password" type="password" id="password">

    <button type="submit">Registrarme</button>

    <p class="error">{{errorMsg}}</p>
</form>