<div class="container">  
    <form action="/register" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name= "email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            {{#if errors.email}}
                <div class="invalid-feedback">
                    {{errors.email}}
                </div>
            {{/if}}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
            {{#if errors.password}}
                <div class="invalid-feedback">
                    {{errors.password}}
                </div>
            {{/if}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>