<h1>Registro</h1>
<form action="/ath" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name">
    <label for="pasword">Pasword:</label>
    <input type="password" name="password">
    <input type="submit">
</form>