<form action="/register" method="post">

    <label for="username">username</label>
    <input type="text" name="username" id="user">
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="register">

</form> 