<a href="/">Back</a>
    <div class="form">
        <h2>Sign Up</h2>
        <form class ="form" action="/signup" method="POST">
            <label class="label" for="username">Username</label>
            <input class="input" type="text" name="username" id="username" placeholder="Choose a username">
            <label class="label" for="password">Password</label>
            <input class="input" class="input" type="password" name="password" id="password" placeholder="Choose a password">
            <button type="submit">Signup</button>
        </form>
    </div>


