
<!doctype html>
<html lang="en">
  <head>

    <title> GHOST </title>

 
    <link href="/style/style.css" rel="stylesheet">
  </head>
  <div class="body"></div>
  <div class="grad"></div>
  <div class="header">
      <div>GHOST <span> Feel it.</span></div>
  </div>
  <br>
  <div class="login">
    <form action="/register" method='POST'>
          <label for="name" ></label>
          <input type="text" placeholder="name"  id="name" name="name" required><br>

          <label for="email" ></label>
          <input type="email" placeholder="email"  id="email" name="email" required><br>

          <label for="password" ></label>
          <input type="password" placeholder="password" type="password" id="password" name="password" required><br>

          <button type="submit"> Sign Up </button>
    </form>
    
   
    <a href="/login">
        <input type="button" value="Click here to login" />
     </a>
  </div>
</body>
</html>





<!-- <h1> Register </h1>
<form action="/register" method="POST">
    <div>
        <label for="name" > Name </label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email" > Email </label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password" > Password </label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit" > Register </button>
</form>
OK <a href="/login" > Login </a>   -->