<h1>{{title}}</h1>
<p>Welcome Back dear User!</p>

<img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg"
     width="300px"/>


<p style="color: red"><a href="/auth/logout">Log Out</a></p>






