<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="container">
  <h2>You are in a session!</h2>

  <a href="/logout">Logout</a>
<a href= "/private">Private</a>
</div>

</body>
</html>