
<section class="profile">
    <h2>¡Felicidades!</h2>
    <p>Has accedido a la página secreta</p>
    <div class="container">
        <div class="row align-items-center">
            <img src="https://media.giphy.com/media/xT8qBepJQzUjXpeWU8/giphy.gif"  class="col-6" alt="Congratulations">
            <a href="/" class="col"><button type="button" class="btn btn-info">Regresa a la página principal</button></a>
        </div>
    </div>
</section>