<h1>Sign Up Form</h1>

<form action="signup/new-user" method="post">
    <label for="username">Enter name: </label>
    <input id="username" type="text" name="username" value="" placeholder="Insert username">
    <label for="password">Password</label>
    <input type="password" name="passwprd" id="password">
    <input type="submit" value="Submit">
</form>