<h2>Sign up</h2>
<form method="post" action="/signup">
<label id="username">Username</label>
<input id="username" name="username" type="text">
<label id="password">Password</label>
<input id="password" name="password" type="text">
<button>Sign up</button>
</form>