{{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
{{/if}}
<form action="/signup" method="post">
    <label>Username:</label>
    <input type="text" name="username" required>

    <label>Password:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Create!</button>
</form>