<form action="/auth/signup" method="POST">
    <input type="text" name="username">
    <label for="username">Username</label>
    <input type="password" name="" password"">
    <label for="password">Password</label>
    <button type="submit">Sign up</button>
</form>