<form action="/sign-up" method="POST">

    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" id="username">
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password">
    <button type="submit">Crear</button>

    <p>{{errorMessage}}</p>








</form>