<form action="/signup" method="post">
  	Username:<br>
  	<input type="text" name="username" placeholder="Username" required><br><br>
  	Password:<br>
  	<input type="password" name="password" placeholder="Password" required><br><br>
  	<input type="submit" value="login">
	</form>

	<a href="/">home</a>