<h1>Sign Up!!!</h1>
<form action="/signup" method="POST">
  <div>
    <label for="username">Enter Username:</label>
    <input type="text" name="username" id="username" placeholder="username" />
    <label for="password">Enter Password:</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="password"
    />
  </div>
  <button>Sign Up</button>
</form>

{{#if message}}
  <h3 class="error">{{message}}</h3>
{{/if}}