<h1>Sign up</h1>
<form action="/signup" method="POST">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password">
    <button type="submit" disabled>Sign up</button>
</form>

<ul>
	<li>Password should have at least 8 characters <span style="visibility: hidden;">✅</span></li>
</ul>

{{#if message}}
	<p style="color: red">{{message}}</p>
{{/if}}