<h1>Please signup!</h1>
<form action="/signup" method="post">

<label for="username">Username:</label>
<input type="text" name="username" id="username">

<label for="password">Password:</label>
<input type="password" name="password" id="password">
<button type="submit">Submit</button>
</form>