<div class="signup-page">
    <h2>Sign Up for the Ironhack Service</h2>
    <div class="signup-container">
        <form action="/signup" method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required>
            <label for="email">Email address: </label>
            <input type="email" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Submit</button>
        </form>
        {{#if errorMessage}}
        <p class="error-message">{{errorMessage}}</p>
        {{/if}}
    </div>
</div>