<form action="/signup" method="post">

    Username: <input type="text" name="username" placeholder="Username"> <br>
    Password: <input type="password" name="password" placeholder="Password"> <br>

    <button class="save-button" type="submit">Signup</button>
</form>