<h1>Sign Up</h1>

<form action="/auth/signup" method="post">
  <label for="username">Username
    <input type="text" name="username" id="username" />
  </label>

  <label for="password">Password
    <input type="text" name="password" id="password" />
  </label>

  <button type="submit">Create Account</button>

</form>