<form action="/auth/signup" method="POST">
<label for="username">Username</label>
<input required type="text" name="username" minlength="3", maxlength="15">

<label for="password">Password</label>
<input required type="password" name="password">

<button type="submit">Sign Up</button>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}

</form>