<div class="container">

    <div class="card sign-page">
        <h1>Sign Up</h1>

        <form action="/auth/sign-up" method='POST'>
            <input type="username" name='username' required='true' placeholder="username">
            <br>
            <input type="password" name='password' required='true' placeholder="password">
            <br>
            <br>
            <button type='submit'>Create my User Account</button>
        </form>

        <p class="account-question">Already have an account?</p> <a href="/auth/sign-in">Sign In</a>
    </div>
</div>