<h1>Sign up here please</h1>
<form action="/auth/signup" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username">

  <label for="password">Password: </label>
  <input type="password" name="password">

  <button type="submit">Sign Up</button>

{{#if message}}
  <h3 class="error">{{message}}</h3>
{{/if}}

</form>