
<form action="/sign-up" method="POST" class="mt-3">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <br>
    <button type="submit" class="btn btn-dark">Sign Up</button>
</form>