<h1 id="signuph1">Welcome to XY</h1>

<form action="/signup" method="POST" id="signupForm">
<label >
    Username:
    <br><input type="text" name="username" placeholder="Username123">
</label>
<label >
    Password:
    <br><input type="password" name="password" placeholder="******">
</label>
<button type="submit">Sign up</button>
</form>