Hello, baby!

<div id="signup">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label for="input-username">Username</label>
    <input type="text"  name="username" placeholder="Your username" />
 
    <label for="input-password">Password</label>
    <input type="password" name="password"  placeholder="********" />
 
    <button type="submit">Create account</button>
 
  </form>
</div>