<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>SIGN UP</h1>
            <hr>
            <form action="/signup" method="POST">

                <div class="mb-3">
                    <label for="username" class="form-label">email</label>
                    <input type="email" class="form-control" id="username" name="email">
                    <div class="form-text">Please fiel the gap!</div>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">UserName/nick</label>
                    <input type="text" class="form-control" id="username" name="username">
                    <div class="form-text">Please fiel the gap!</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="plainPassword">
                    <div class="form-text">Please fiel the gap!</div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">SIGN UP</button>
                </div>
            </form>
        </div>
    </div>
</div>