<div>
  <form action="/signup" method="post">
    <label for="">User name</label>
    <input type="text" name="name">
    <label for="">Password</label>
    <input type="password" name="password">
    <button type="submit">Register</button>
  </form>
</div>