<div id="signup">
    <h2>Sign up</h2>
    <form action="/signup" method="POST">
    <label>
        Username
        <input type="text" name="username" placeholder="Your username"/>
    </label>

    <label>
        Password
        <input type="password" name="password" placeholder="Your password"/>
    </label>

    <button>Create Account</button>
    </form>
</div>