<div class="container">
  <div class="card">
    <h1>Sign in with your username</h1>

    <form action="/auth/sign-in" method='POST'>
      <input type="text" name='username' required='true'>
      <br>
      <input type="password" name='password' required='true'>
      <br>
      <br>
      <button type='submit'>Sign In</button>
      <br>
      <br> {{#if error}}
      <p>ERROR: {{error}}</p>
      {{/if}}
    </form>
  </div>
</div>