<h1>Sign in</h1>

<form action="/sign-in" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required id="email" value="test@test.com">
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>

    <button type="submit">Sign up!</button>
</form>