<h1>Sign Up</h1>
<form method="POST" action="/sign-up">
<label for="username">Username:</label>
<input type="text" name="username"/>

<label for="password">Password:</label>
<input type="text" name="password"/>
<button type="submit">Sign up</button>
</form>