<form action="/newUser" method="POST">
    <p>Crea tu cuenta</p>
    <label for="name">Nombre Usuario</label>
    <input type="text" name="user" id="name" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <button type="submit">Submit</button>
    
</form>