<div class="container mt-5">
    <div class="row">
        <form action="/signup" method="post">
            <label for="" class="text-white">Username</label>
            <input type="text" name="username">

            <label for="" class="text-white">Password</label>
            <input type="password" name="password">

            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>