<h1>Sign Up</h1>
<form action="/signup" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" value="{{username}}">
  <label for="password">Password: </label>
  <input type="text" name="password" id="password" value="{{username}}">
  <small>At least 10 characters</small>
  <button type="submit">Sign Up</button>
</form>