<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Your username" id="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password">

    <button type="submit">Sign up</button>
</form>


{{#if errorMessage}}

<h3 style='color: red'>{{errorMessage}}</h3>

{{/if}}