<a href="/">Home</a>

<h1>Sign Up</h1>

<form action="/signup" method="POST">
    <label for="">Username: </label>
	<input type="text" name="username">

	<label for="">Password: </label>
	<input class="password" type="password" name="password"  placeholder="must be at least 4 characters">

    <button type="submit">Sign Up</button>

    {{#if message}}

    {{message}}

    {{/if}}

</form>

{{#unless session}}
<div><a href="/login">Already have an account? Login here</a>
</div>
{{/unless}}