<form id="form" action="/sign-up" method="POST">
    <h2>Sing Up</h2>
    <label for="username">Username</label><br>
    <input type="text" name="username" id="username"
      placeholder="Username" required="true">

    <label for="password">Password</label><br>
    <input type="password" name="password" id="password"
      placeholder="Password" required="true">

    <button type="submit">Sign Up</button>
    {{#if errorMessage}}
    <div>{{errorMessage}}</div>
    {{/if}}
  </form>
