 <h2>Signup</h2>
  <form action="/users/signup" method="POST">
 
    <label> Username
      <input type="text" name="username" placeholder="username" required="true" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" required="true" />
    </label>
 
    <button type="submit">Sign up</button>
 
    
  </form>