<section id="form">
    <form action="/signup" method="post">
        <input type="text" name="username" id="mail" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <button type="submit">Registrarse</button>
    </form>
</section>