<div class="container">
    <div class="row">
        <h1>Registrate ¿qué sino?</h1>
        <form action="/signup" method="POST">
            <div class="mb-3">
                <label for="emailInput" class="form-label-username">Username</label>
                <input type="email" class="form-control" id="emailImput" name="username">
            </div>
            <div class="mb-3">
                <label for="passInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passInput" name="password">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-dark">Registrado</button>
            </div>
        </form>
    </div>
</div>