<h2>Create User</h2>

<form action="/signin" method="POST">

  <label>Username:</label>
  <input type="text" name="username" />

  <label>Password:</label>
  <input type="password" name="password" />

  <button type="submit">Create User</button>

</form>

{{#if justCreatedUser}}
    <h3>User {{justCreatedUser}} created succesfully</h3>
{{/if}}