<div>
	<h2>Signup</h2>

	<form action="/signup" method="POST">

		<label> Email
			<input type="email" name="email" placeholder="julito@ironhack.com" />
		</label>

		<label>Password
			<input type="password" name="password" placeholder="********" />
		</label>

		<button type="submit">Signup</button>

	</form>
</div>