<h2>Sign Up page</h2>
<form action="">

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="password">Password:</label>
    <input type="password" required>

    {{message}}

</form>