<form method="POST" action="/signup"> 
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Enter username">

    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter Password">

    <button type="submit">Sign Up</button>
</form>

{{#if errorMessage}}
    <div>{{errorMessage}}</div>
{{/if}}