<style>
  body { padding: 50px; }
</style>

<form action="/signup" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" required>
    {{#if usernameError}}
        <small>{{usernameError}}</small>
    {{/if}}
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control"  name="password" id="password" minlength="6" required>
    {{#if passwordError}}
        <small>{{passwordError}}</small>
    {{/if}}
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
  <a href="/" class="btn btn-primary">Back to Home</a>
</form>