<h1>Sign up</h1>

<form method="post" action="/signup">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <button type="submit">Submit</button>
</form>