<form action="/signup" method="POST">
    <label>
        Username
        <input type="text" name="username">
    </label>

    <label>
        Password
        <input type="text" name="password">
    </label>

    <button type="submit">Signup</button>
</form>