<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
</head>
<body>
  <h1>Signup</h1>

  <form action="/auth/signup" method="POST">
    <label>
      Username:
      <input type="text" name="username">
    </label>

    <br>

    <label>
      Password:
      <input type="password" name="password">
    </label>

    <br>

    <button type="submit">Signup</button>

    {{#if errorMessage}}
      <p style="color: red">{{errorMessage}}</p>
    {{/if}}
  </form>
</body>
</html>
