<form id="form" action="/signup" method="POST">
    <label for="name">*Nombre de usuario*</label><br>
    <input type="text" name="name"
      placeholder="Crea tu usuario">

    <br><br>
    <label for="password">*Contraseña*</label><br>
    <input type="password" name="password"
      placeholder="Aqui va tu nuevo password!">
    <br><br>

    <button>Click para crear tu cuenta!</button>
  </form>