<form action="/newUser" method="POST" class="content">
  <div class="col-10 d-flex align-items-center flex-column">
    {{#if error}}
    <div style='color: red'>
      {{error.message}}
    </div>
    {{/if}}
    <div class="form-group">
      <label for="exampleUsername">Username</label>
      <input name="username" type="text" class="form-control" id="exampleUsername" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input name="checkbox" type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I have read ToS and User Agreement</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>