<form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username">
    {{#if usernameError}}
        <span class="warning">{{usernameError}}</span>
    {{/if}}
    <input type="password" name="password" placeholder="Password">
    {{#if passwordError}}
        <span class="warning">{{passwordError}}</span>
    {{/if}}
    <button type="submit">Sign up!</button>
</form>