<h1>Sing In</h1>

<form action="/signUp" method="post">

    <label for="name-input">Userame:</label>
    <input type="text" name="username" id="name-input" />

    <label for="password-input">Password:</label>
    <input type="text" name="password" id="password-input" />

    <button type="submit">Create</button>

</form>

<p><b><a href="/">( Back home )</a></b></p>