<h2>Suscribe to Auth App</h2>
<form action="/auth/signup" method='post'>
  <label for="name">Name</label><br>
  <input type="text" name="name" placeholder="name">
  <br><br>
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="username">
  <br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="choose password">
  <br>
  <br>
  {{message}}
  <br>
  <br>
  <button>Create account</button>
</form>