<form action='/auth/signup' method = 'post'>
  <input type = 'text' name='username' value=''placeholder='username'>
  <input type='text' name='password' value=''placeholder='password'>
  <button type='submit'>Sign up!</button>

</form>