<h1>Sign Up</h1>
<form action="/signup" method="post">
<div>
  <label for="usernamelInput">Username:</label>
</div>
<div>
  <input type="text" name="username" id="usernameInput" />
</div>

<div>
 <label for="passwordInput">Password:</label>
</div>
<div>
 <input type="password" name="password" id="passwordInput" />
</div>



<button type="submit">Sign Up!</button>

</form>