<h1> Registro de usuario</h1>

<form action="/registro" method="post">
    <label for="username">UserName:</label><br>
    <input type="text" name="username" placeholder="Tu nombre aqui merluzo"><br><br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="***********"><br><br>

    {{#if errorMessage}}
    <p style="color: red; font-weight:bold">{{errorMessage}}</p>

    {{/if}}
    <button type="submit">Registro</button>
</form>