<a href="/">Home</a>

<h2 class="has-text-weight-bold">REGISTER</h2>
<h2>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</h2>

<form ction="/sign-up" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required>

    <br>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>

    <br>

    <button class="button is-warning" style="margin: 10px;">Sign up</button>

</form>