<h1>Sign up Page!</h1>
<div id="form">
  <form action="/auth/signup" method="POST">
    <label for="username">Username:</label>
        <input type="text" name="username" required>
    <label for="password">Password</label>
        <input type="password" name="password" required>
    <button type="submit">Submit!</button>
  </form>
</div>