<form method="POST" action="/auth/signup">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="foo" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="123" />
  </div>
  <button>Signup !</button>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}

</form>