<h1>Sign up</h1>
<form action="/signup" method="POST">

<label for="username">Username:</label>
<input type="text" name="username" required>

<label for="password">Password:</label>
<input type="password" name="password" required>

<button type="submit">Signup</button>

</form>

{{#if message}}
	<h3 class="error">{{message}}</h3>
{{/if}}

