<div id='form'>
  <h2>Signup</h2>
  <form action='/signup' method='POST'>

    <label>
      Username
      <input type='text' name='username' placeholder='User name' />
    </label>

    <label>
      Password
      <input type='password' name='password' placeholder='********' />
    </label>

    <button type='submit'>Create account</button>

    {{#if err}}
      <p class='error'>{{err}}</p>
    {{/if}}

    {{! error message will be added here }}
  </form>
</div>