<form action="/signup" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" minlength="4" pattern="\w+" required>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" min="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>

    <button type="submit">Sign up</button>
</form>

{{#if message}}
<p style="color: brown;">{{message}}</p>
{{/if}}