<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/signup" method="POST">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password">
    <button type="submit">Sign up</button>
</form>

<ul>
	<li>Password is at least 3 characters long? <span style="visibility: hidden;">✅</span></li>
</ul>