<h2> Sign up</h2>

<form action="/signup" method="post">
<label for="username">Username:</label>
<input type="text" name="username">
<label for="password">Password:</label>
<input type="password", name="password">
<button type="submit">Sign up</button>
</form>

{{#if message}}
	<p class="error-message">{{message}}</p>
{{/if}}
