<form id="form" action="/signup" method="POST">

    <label for="name">Nombre de usuario</label>
    <input type="text" name="name"
      placeholder="Crea tu usuario">

    <label for="password">Contraseña</label>
    <input type="password" name="password"
      placeholder="Aqui va tu nuevo password!">
    

    <button class="button">Crea tu cuenta!</button>

  </form>