<form action='/auth/signup' method='post'>
    <input type='text' name='username' value='username'>
    <input type='password' name='password' value='password'> 
    <button type='submit'>Sign up!</button>
</form>