<form action="/auth/signup" method='post'>
 
    <input type="text" name='username' placeholder='Name'>

    <input type="password" name='password' placeholder='password'>
    <button type='submit'>Sign in</button>
</form>