<form action="/sign-up" method="post">
    <label for="username">User</label>
    <input type="text" name="username" id="user">
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
    <button type="submit">Send</button>
</form>