<h2>Sign up to join us</h2>

<form action="/newUser" method="post">
  <label for="">User:</label>
  <input type="text" name="user" value="Write a valid user name">

  <label for="">Password:</label>
  <input type="text" name="password" value="Write a valid & strong password">

  <button type="submit">Sing Up</button>
</form>