<h1>Sign up</h1>
<br>

<form action="/auth/signup" method="post" >

<label for="username">Username</label>
<input type="text" name="username" placeholder="username" required="true">

<label for="password">Password</label>
<input type="password" name="password" placeholder="password" required="true">

<button type="submit">Save</button>


</form>