
<div class="container">
    <div class="container-celebrity-details">

        <h4>Tu perfil, {{user.username}}, chiquiiiii. </h4>
        <hr>
        <a href="/" class="btn btn-dark">CASITA</a>

    </div>
</div>