{{#if userInSession}}
    <h1>Hi, {{userInSession.username}}! This is your Profile Page  :)</h1>
{{else}}
    <p>Still not logged  in :( </p>
{{/if}}

<a href="main">Main Page</a>
<a href="private">Private Page</a>