<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Bienvenid@, {{user.username}}</h1>
            <br>
            <hr>
            <br>
            <a href="/">Volver al inicio</a>
            <a href="/gato">ver gato</a>
             <a href="/gifgato">es un secreto</a>
        </div>
    </div>
</div>