<p>This is your profile page my friend!</p>
    <div>
        <button>
            <a href="/main">This is public</a>
        </button>
    </div>
    <div>
        <button>
            <a href="/private">This is public</a>
        </button>
    </div>