<div>
    <form action="/Signin" method="POST">
    <label>username</label>
    <input placeholder="username" id="username" name="username" type="text">
    <label>Password</label>
    <input placeholder="password" id="password" name="password" type="password" minlength="6" >
    <button type="submit"> Registrar</button>
    </form>
</div>
<p style="text-align: center; color:red; font-size:30px; border:none">{{Message}}</p>
<a href="/">Main</a>
