<div>
    <form action="/Signin" method="POST">
    <label>username</label>
    <input placeholder="username" id="username" name="username" type="text">
    <label>Password</label>
    <input placeholder="password" id="password" name="password" type="password" >
    <button type="submit"> Registrar</button>
    </form>
</div>