<h1>User profile</h1>

{{#if user.username}}
    Hello {{ user.username }} !!
{{else}}
    Hello!!
{{/if}}

{{#if message}}
    <p class="message">{{message}}</p>
{{/if}}

<!--
<form action="/auth/logout" method="GET" class="logout">
  <button type="submit">Log me out!</button>
</form>
-->

<a href="/auth/logout" class="btn marginTop">Log me out!</a>