<form method="post" action="./sign-in">
    <span class="align-middle">
        <div class="form-group">
            <label for="usrName"> User Name:</label>
            <input id="usrName" type="text" name="usrName">
        </div>
        <div class="form-group">
            <label for="usrPassword"> User Password:</label>
            <input id="usrPassword" type="password" name="usrPassword">
        </div>
        <div class="form-group">
            <button type="submit"> Sign In</button>
        </div>
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </span>
</form>