<h2>Log In</h2>

<form action="/process-login" method="POST" >
<label >
    User name:
    <input type="text" name="userName" placeholder="leia bazada">
</label>
</br>

<label >
    Password:
    <input type="password" name="originalPassword"  placeholder="It's a Secret">
</label>
</br>

<button>Log In</button>


</form>