<form action="/process-enregistrement" method="POST">
  <label>
    Nom : <input type="text" name="fullName" required placeholder="Votre nom">
  </label>

  <label>
    Mot de passe : <input type="password" name="originalPassword" required placeholder="Votre mot de passe">
  </label>




  <button>Se connecter </button>
</form>