<h1>Now That You Are Signed Up, Please Log In:</h1>

<form action="/process-login" method="POST">

  <label>Username: <br> <br>
    <input type="text" name="userName" placeholder="Enter your user name..." required />
  </label>
  <br>
  <br>
  <label>Password: <br> <br>
    <input type="password" name="originalPassword" placeholder="You know it..." required />
  </label>
  <br> <br>


  <button>LOG IN</button>

</form>