<div class="row">
  <div></div>
  <h1>Log In</h1>

  {{!-- {{> flash-messages}} --}}

  <form action="/process-login" method="POST">
    <label>
      Username:<br />
      <input type="text" name="username" placeholder="username" />
    </label>

    <label>
      Password:<br />
      <input type="password" name="originalPassword" placeholder="password" />
    </label>

    <button>Log In</button>

  </form>
</div>
</div>