<div id="form-container">
<h1>Login</h1>

<form action='/auth/login' method='POST'>

  <label for=''>Username</label>
  <input type='text' name='username' required>
<br>
  <label for=''>Password</label>
  <input type='password' name='password' min="8" required>
<br>
  <button type='submit'>LOGIN</button>
<br>
    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>

</form>

{{!-- error message display --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}

</div>