<h2>Log In</h2>

{{> flash_messages}}

<form action="/process-login" method="POST">
  <label>
    Username:
    <input type="text" name="username" placeholder="Input username here..." required minlength="2">
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="***********" required>
  </label>

  <button>Log In</button>
</form>

<p class="account-message">
  Don't have an account? <a href="/signup">Sign up</a>
</p>

<a href="/" class="link">Back to Home</a>