<div class="container">
  <h1>Login</h1>

  <form action='/auth/login' method='POST'>

    <div class="inputs">
      <label for=''>Username</label>
      <input type='text' name='username'required>
    </div>

    <div class="inputs">
      <label for=''>Password</label>
      <input type='password' name='password'required>
    </div>

    <button type='submit'>LOGIN</button>

    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>

  </form>

  {{!-- error message display --}} 

  <div class="error">
    {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
  </div>

</div>