<h2>Log In !</h2>

{{> flash_messages}}

<form action="/process-login" method="POST" class="form" id="myform2">
    <label>
      Username :
      <input type="text" name="username" placeholder="voldemort" required>
    </label>
  
  <div class="row">
  <label>
    Password :
    <input type="password" name="originalPassword" placeholder="secret" required>
  </label>
  <button>Log In</button>
</form>