<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<h1>PRIVATE</h1>

<iframe src="https://giphy.com/embed/deOKie3HCHOAo" width="361" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
   
<br>

<a href="/">
    <button class="home-btn">Home</button>
</a>