<div class="container">
  <div class="row">
    <h1>Success!</h1>
    <h2>You have accessed the super private page!</h2>

    <iframe src="https://giphy.com/embed/xNBcChLQt7s9a" width="480" height="480" frameBorder="0" class="giphy-embed"
      allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/win-xNBcChLQt7s9a">via GIPHY</a></p>
  </div>
</div>