<h1>THIS IS A PRIVATE PAGE
</h1>

<a href="/">
  <img src="https://media.giphy.com/media/l1KVboXQeiaX7FHgI/giphy.gif" alt="">
</a>

<a href="/auth/logout">
  <button style="background: red">LOGOUT</button>
</a>