<h2>Sign Up</h2>

{{> flashms}}

<form action="/process-form" method="POST">
  <label>
    Username: <input type="text" name="username" placeholder="Type your username...">
  </label>

  <label>
    Password: <input type="password" name="originalPassword" placeholder="Password...">
  </label>

  <button>Sign Up</button>
</form>