<form id="myform" action="/process-signup" method="POST">
  <label>
    Your full name: (2 characters min)<input type="text" name="fullName" minlength="2" placeholder='Leia Organa' />
  </label>



  <label>
    Email : <input type="email" name="email" placeholder='Leia@resistance.com' />
  </label>

  <label>
    Password: <input id="myPassword" type="password" name="originalPassword" placeholder="It's a secret" />
  </label>



  <button>Sign Up</button>
</form>