<h2>Welcome ! Please Sign Up ✌️</h2>

<form action="/process-signup" method="POST">

  <label>Username: <br> <br>
    <input type="text" name="userName" placeholder="Choose your user name..." required />
  </label>
  <br>
  <br>
  <label>Password (at least one digit [0-9]): <br> <br>
    <input type="password" name="originalPassword" placeholder="Don't forget it..." required />
  </label>
  <br> <br>
  <button>Sign UP</button>

</form>