<form action="/login" method="post">
    Username: <input type="text" name="name" id="" placeholder="username" required >
    Password: <input type="password" name="password" id="" placeholder="password" required>
    <button>Log in!</button>
</form>