<form action="/signup" method="post">
    Username: <input type="text" name="name" id="" placeholder="pepe..." required >
    Password: <input type="text" name="password" id="" placeholder="password"  required>
    <button>Sign up!</button>
</form>