<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Ya estás autenticado, {{user.username}}</h1>
            <hr>
            <p>Del lat. tardío authentĭcus, y este del gr. αὐθεντικός authentikós.

                1. adj. Acreditado como cierto y verdadero por los caracteres o requisitos que en ello concurren. Es un
                goya auténtico.

                2. adj. coloq. Consecuente consigo mismo, que se muestra tal y como es. Es una persona muy auténtica.

                3. adj. desus. Dicho de un bien o de una heredad: Sujetos u obligados a alguna carga o gravamen.

                4. f. Certificación con que se testifica la identidad y verdad de algo.

                5. f. Copia autorizada de alguna orden, carta, etc.</p>
            <hr>
            <p>Pero no te flipes, que solo tienes 1 minuto para ver tus páginas MAIN y PRIVADO.</p>
            <hr>
        </div>
    </div>
</div>