<div class="container">
    <h1>Hola tu nombre es: {{user.name}}</h1>

    <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pikpng.com%2Fpngl%2Fb%2F58-584346_doge-full-smiling-doge-meme-transparent-clipart.png&f=1&nofb=1&ipt=52c47e51c590005ab7cb211acc6dd82d8fb72280274f9e29b5d5c161bef5feaa&ipo=images">
    <a href="/" class="btn btn-outline-dark">Go Home</a>
    <a href="/profile" class="btn btn-outline-success">Profile</a>
</div>
