<div class="container">


    <div class="row justify-content-center">

        <div class="col-md-4">

            <h1>GET IN MY AREA</h1>
            <br>
            <hr>
            <br>

            <form action="/log-in" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="userPwd">
                </div>

                <button type="submit" class="btn btn-warning btn-block">Sign In</button>
            </form>

            {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
            {{/if}}

            <hr>

            <p>Aren't You Register? <a href="/register">Register Now</a></p>
        </div>
    </div>


</div>