<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Welcome {{user.username}}</h2>
            <hr>
            <img class="image" src="/images/images(1).jpeg" alt="gato rock(1)">
        </div>
    </div>
</div>