<form action="" method="post">
  <label for="">Username</label>
  <input type="text" name="username" required>

  <label for="">Password</label>
  <input type="password" name="password" required>

  {{message}}

  <button type="submit">Log in</button>
</form>