<form class="login-register-form" action="/user/login" method="post">
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  <div class="pb-3">
    <label for="username" class="form-label">User Name</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      value="{{username}}"
    />
    {{#if userNameError}}
      <p class="error">{{userNameError}}</p>
    {{/if}}

  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" />
    {{#if passwordError}}
      <p class="error">{{passwordError}}</p>
    {{/if}}
  </div>

  <button type="submit" class="btn btn-primary">login</button>
</form>
