<div class='main'>
  <h2>CATS :D</h2>
</div>

<div class='cat1'>
  <img src='./../../images/cat1.png' alt='cat1' />
</div>

<div class='cat2'>
  <img src='./../../images/cat2.png' alt='cat2' />
</div>