<div class="container">

    <div class="row justify-content-center">
        <div class="col-10">
            <a href="/">
                <h2>Inicio</h2>
            </a>
            <br>
            <img src="/images/gatitolab.jpg" alt="cat">
        </div>
    </div>

</div>