<div class="container">
    <h1>Welcome, {{loggedUser.username}}</h1>
    <hr>
    <img src="/images/istockphoto-1322123064-612x612.jpg" alt="gatto chulo">
    <hr>
    <a href="/" class="btn btn-dark">Go back</a>
</div>