<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Arya: un poco estresada...</h1>
            <img src="/images/img2.jpeg">
        </div>
    </div>
</div>