<div class="container">

    <img src="https://worldcatcomedy.com/wp-content/uploads/2020/11/maxresdefault-17.jpg" alt="funny cat">

    <a class="btn btn-dark mt-2 col-md-4" href="/myprofile">Volver a tu perfil</a>

</div>