<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center vh-100">
        <img src="/images/cat-white-background.jpg" width="40%" alt="" />
      </div>
    </div>
  </div>
</div>