<div class="container d-flex flex-column ">
  <h1>This is your main:</h1>
  <img src="https://miro.medium.com/max/786/0*qN97ouGakJx0Gthb.jpg" alt="cat">
  <div class=" d-grid  col-3 mt-3 mb-5">
    <a href="/" class="btn btn-secondary">Home</a>
  </div>
</div>