<h3>HoLa MuNdO</h3>
<img src="../../public/images/gatovibing.avif" alt="imagen gato">
<br><br><br>

<a class="btn btn-warning" href="/private" role="button">Private page</a>
<br><br><br>
<a class="btn btn-secondary" href="/" role="button">Take me home</a>