<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="https://i.kym-cdn.com/photos/images/newsfeed/001/653/644/bd3.jpg" alt="meme of baby yoda">
<a href="/cerrar-sesion" class="btn btn-warning btn-sm">Log Out</a>