<div class="container">
    <div class="row justify-content-center">
        <div class="w-75 d-flex flex-column justify-content-center align-items-center">
            <a href="/" class="btn btn-dark">Volver atrás</a>
            <h1 class="display-4">Bienvenido {{user.username}}</h1>
            <img src="https://media.tenor.com/ogsH7Ailje8AAAAd/cat-funny-cat.gif" class="w-50" alt="cat">
        </div>

    </div>
</div>