<h2>Wellcome, {{user.username}}</h2>
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="../images/cat.jpg" class="card-img-top" alt="Cat dressed as bear">
                <div class="card-body">
                    <h5 class="card-title">Just a cat dressed like bear :D</h5>

                </div>
            </div>
        </div>
    </div>
</div>