<div class="container">
    <div class="row">
        <div class="col-6 m-0 m-auto mt-5">
            <img src="../../images/gato.png" alt="">
        </div>
        <a href="/">inicio</a>
    </div>
</div>