<main>
    <h1> YOUR BOOTCAMP</h1>



    <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="text-center">
                    <img src="/images/fine.gif" class=" fine rounded img-fluid d-block w-100" alt="this is fine">
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <img src="/images/fine2.gif" class=" fine rounded img-fluid d-block w-100" alt="fine">
                </div>
            </div>
            <div class="carousel-item">
                <div class="text-center">
                    <img src="/images/fine3.gif" class=" fine rounded img-fluid d-block w-100" alt="totally fine">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</main>

<br><br>



<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary btn-dark" href="http:/user/private">PROFILE</a>
</div>
<br><br>

<form class="d-grid gap-2 col-6 mx-auto" action="/logOut" method="POST">
    <button class="btn btn-primary " type="submit">LOGOUT</button>
</form>