<div class="main-content mt-5">
    <iframe src="https://giphy.com/embed/3ogwFGEHrVxusDbDjO" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p class="mt-5"><a href="/" class="btn btn-secondary btn-sm">GO HOME</a></p>
</div>