<img class=".bg-image" src="./../../images/depositphotos_80421608-stock-photo-funny-cats-self-picture.jpg"
    alt="cat img">
<div class="container">
    <div class="row">
        <a class="btn btn-secondary" href="/">Home page</a>
    </div>
</div>