<div class="container">
    <h1>Hello {{user.username}}, here is a Funny Cat</h1>
    <hr>
    <div class="mb-3"><img class="catimage"
            src="https://d.newsweek.com/en/full/1920025/cat-its-mouth-open.jpg?w=1600&h=1600&q=88&f=b7a44663e082b8041129616b6b73328d"
            alt="cat image"></div>
    <a class="btn btn-dark" href="/" role="button">Home</a>
    <a class="btn btn-dark" href="/logout" role="button">Logout</a>
</div>