<div class="container">
    <div class="row justify-content-center">
        <h1>This is a cool main section</h1>
        <hr>
        <div class="col-md-3 mt-5 d-flex flex-column justify-content-center">
            <img src="https://i.pinimg.com/originals/89/77/41/8977415d71443f6f9348e7301a8ff449.jpg" alt="meme">
            <a href="/" class="btn btn-dark mt-5">Back to homepage</a>
        </div>
    </div>


</div>