<div class="container">
    <h1>Welcome, {{user.username}}</h1>
    <br>
    <br>
    <div class="col-12">
            <img style="width: 100%" src="https://www.rd.com/wp-content/uploads/2021/03/GettyImages-140594401-1-scaled.jpg" alt="funny cat">

    </div>
    <a href="/" class="btn btn-warning btn-block">Home</a>
</div>