<div class="container">

    <h1>Welcome {{username}}!</h1>
    <p>This is your own personal page!</p>

    <a href="/main" class="btn btn-warning btn-lg btn-block">Math Cat</a>
    <a href="/private" class="btn btn-warning btn-lg btn-block">Secret</a>
</div>