<div class="container">
    <div class="row"></div>
    <div class="col-md-12 d-flex justify-content-center">
        <h1>Welcome {{user.username}}</h1>
    </div>
</div>
<div class="container">
    <div class="row"></div>
    <div class="col-md-12 d-flex justify-content-center">
        <a class="btn btn-secondary" href="/main">Main</a>
        <a class="btn btn-secondary" href="/private">Private page</a>
    </div>
</div>
