<div class="container pt-4">
    <h1>Private</h1>
    <hr>
    <div class="row justify-content-center">
        <div class="col-6">
            <img src="images/lol-funny-memes.gif" alt="">
        </div>
    </div>
</div>