<div class="container">
    <h1>Welcome, {{loggedUser.username}}, this page is private! xx</h1>
    <hr>
    <img src="/images/01-cat-stretching-feet.webp" alt="stretching cat">
    <hr>
    <a href="/" class="btn btn-dark">Go back</a>
</div>