<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>OJO, muy privado, solo para {{user.username}}</h2>
            <hr>
            <p>Disfruta.</p>
            <hr>
            <img src="/images/monkey-pissed.gif" alt="babuin">
            <hr>
        </div>
    </div>
</div>