<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <img src="https://assets-global.website-files.com/5f3c19f18169b62a0d0bf387/60d33be8ea3ab2c96bf56e0c_BXId-G1Ggyl_HTcQQpC0m2beUlGyAAgFrBsIsvSjdopQ3Bcu2ElhryoCUXku9YSlWYEBnlpSXFo7a7GrmEC7iIi5lpyuQjl2H7z5wEv_G1DrRVheKrpw5KyvOUrZC2tvAIFCwKxt.png"
                alt="Dev meme" srcset="">
        </div>
    </div>
</div>