<div class="container">

    <div class="d-flex flex-column">
        <h2>Página sólo visible para usuarios registrados</h2>

        <img src="https://i.gifer.com/224.gif" alt="homero">
        <br>
        <a class="btn btn-dark mt-2 col-md-4" href="/myprofile">Volver a tu perfil</a>
    </div>

</div>