<h1>your profile</h1>
<div class="card" style="width: 18rem;">
    <img src="/images/cat.png" class="card-img-top" alt="gato">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<form action="/logOut" method="POST">
    <button class=" log-out btn  btn-dark " type="submit">LOGOUT</button>
</form>