<div class="container">


    <h1 class="text">Hol@ {{user.username}}</h1>
    <h2 class="text">Bienvenido a tu área privada</h2>


    <div class="card" style="width: 18rem;" background-color="grey">
        <img src="/images/descarga.png" class="card-img-top" alt="avatar">
        <div class="card-body">
            <h5 class="card-title">{{user.username}}</h5>
            <p class="card-text">Este es tu avatar, sientete libre de cambiarlo</p>
            <a href="/" class="btn btn-dark">Cambiar avatar</a>
        </div>
    </div>
</div>