<h2>PRIVATE AREA for {{loggedUser.username}}</h2>
<hr>
<a href="/" class="btn btn-dark mb-3">Go Home</a>
<img src="https://media.tenor.com/DHfQs8BKUvIAAAAS/kid-study.gif" class="vh-100" alt="student">