<div class='private'>
  <h2>DO NOT PUSH THE BUTTON!!!</h2>
</div>

<div class='restricted-area'>
  <img src='./../../images/restricted-area.png' alt='restricted-area' />
</div>

<div class='dont-press-gif'>
  <img src='./../../images/peter-griffin-push.gif' alt='peter-griffin-push' />
</div>

<a
  href='/user/private/magic'
  type='button'
  class='btn btn-warning shadow d-flex justify-content-center align-items-center'
>?</a>