<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center vh-100">
        <img src="/images/giphy.gif" width="50%" alt="" />
      </div>
    </div>
  </div>
</div>