<div class="container align-items-center d-flex justify-content-center flex-column">
    <h1>Private</h1>
    <img src="./images/niño.jpeg" alt="boy">
    <a href="/" class="btn btn-dark mt-5">Volver al inicio</a>
</div>