<h1>Hello {{user.username}}</h1>
<h3>Welcome to the private page</h3>
<a href="/">HOME</a> <br> <br>
<a href="/main">Your Main Page</a> <br> <br> <br>
<img src="http://meowgifs.com/wp-content/uploads/2013/02/dancing_cat.gif" alt="cat gif">