<div class="main-content mt-5">
    <h4>This page is for authenticated users. If you see somehting weird...</h4>
    <iframe src="https://giphy.com/embed/374pcIBVEGb6g" width="800" height="500" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>