<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Gandalf: foto sexy no apta para todos los usuarios!</h1>
            <img src="/images/img3.jpeg">
        </div>
    </div>
</div>