<div class="container">
    <div class="row">
        <div class="col-6 m-0 m-auto mt-5">
            <h1>Secretoooooo</h1>
            <img src="../../images/patricio-patrick.gif" alt="">
        </div>
        <a href="/">inicio</a>
    </div>
</div>