<div class="container"></div>
<h1>More Welcome</h1>
<img src="https://media.tenor.com/7rMJZKO5CYYAAAAM/baby-yoda-hi.gif" alt="welcome meme baby yoda">

</div>

<a href="/cerrar-sesion" class="btn btn-warning btn-sm">Log Out</a>