<div class="container">

    <h1>Here's a (slightly gross) fun fact for you:</h1>
    <hr>
    <h5>King Henry VIII of England had servants called “Grooms of Stool”, who wiped him clean after he visited the
        toilet.</h5>

</div>