<div class="container">
    <h1>Private</h1>
    <hr>
    <div class="row">
        <div class="col">
            <img src="https://i.pinimg.com/originals/29/eb/91/29eb91eea74ada9d3cbe4d31b6c83aff.jpg" alt="gato">
        </div>
    </div>
</div>