<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-3">
            <img class="img-fluid" src="/images/private.jpg" alt="personalPhoto">
            <hr>
            <h1>This is private!</h1>
            <hr>
            <a href="/">Return</a>
        </div>
    </div>
</div>