<div class="container">
    <div class="row justify-content-center">
        <div class="w-75 d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-4">¡Eh! Esta zona es privada</h1>
            <img src="https://media.tenor.com/GuM0nJ9zWzMAAAAC/shinchan-meri.gif" class="w-50" alt="favorite gif">
        </div>

    </div>
</div>