<div class="container">

    <h1>Perfil de {{user.username}}</h1>
    <hr>
    <img src="/images/elmo-party.gif" alt="Elmo goes Wild">

    <hr>    <hr>    <hr>    <hr>

    <a class="btn btn-outline-success" href="/perfil">Ve a tu perfil</a>



</div>