<h1>Private Area</h1>

<iframe src="https://giphy.com/embed/jOspuVRZWqvEzDQ28A" width="480" height="270" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/area-51-naruto-run-alienstock-jOspuVRZWqvEzDQ28A"></a></p>

<a class="navbar-brand bg-primary" href="/main">Main page</a>