<div class="container">
    <h1>This is a priate page</h1>
    <figure>
        <img src="https://camo.githubusercontent.com/a3ad2181c791a9e584b53db5c204ec4439da0b97643a4361b68d51d943de3766/68747470733a2f2f73332d65752d776573742d312e616d617a6f6e6177732e636f6d2f69682d6d6174657269616c732f75706c6f6164732f75706c6f61645f30343461376232336339623463663038326531633466616463643132643330382e706e67"
            alt="img">
    </figure>
</div>