<div class="container">
    <h1>Hello {{user.username}}, here is a Funny Gif</h1>
    <hr>
    <div class="mb-3"><img class="catimage" src="https://thumbs.gfycat.com/InfamousSnivelingBobcat-max-1mb.gif"
            alt="cat image"></div>
    <a class="btn btn-dark" href="/" role="button">Home</a>
    <a class="btn btn-dark" href="/logout" role="button">Logout</a>
</div>