<h1>Hello {{username}}</h1>

<img src="http://pa1.narvii.com/7454/35cc8a265edc8c5bfced1470cb53a0d5c05c50c8r1-400-299_00.gif" alt="kitty gif" />

<p>This is your private page</p>

<p>Created by the Michi</p>

<a href="/"> Go back home</a>

