<h1>Private page</h1>

<div class="d-flex justify-content-center">




    <h2>Welcome! {{username}}</h2>
</div>
<div class="container d-flex justify-content-center">
    <img style="width: 50%; height: 50%"
        src="https://i.chzbgr.com/full/7902804736/hF3C11903/uncooked-chicken-will-kill-you">
</div>