<div class='container'>

  <h1>Hola ==> {{user.username}}</h1>
  <img
    src='https://media0.giphy.com/media/1hqYk0leUMddBBkAM7/giphy.gif?cid=ecf05e477c30d9f091a4318abe21cb7dcb58372dd264b7f5&rid=giphy.gif&ct=g'
    alt=''
  />
</div>