<div>
  <h1>Hiiii Suprise!</h1>
  <img src="/images/movingcat.webp" alt="" />
  <a href="/" class="btn btn-primary">Back to Home page</a>
  <a href="/mi-perfil" class="btn btn-primary">Back to profile</a>
</div>