<div class="container">
    <h1>Hola {{user.username}}!</h1>

    <img src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/8692949/no_words_homer_into_brush.gif" alt="homer">
    <h2>This is a private area</h2>
</div>