<div class="container">

    <h1>Bienvenida súbdita {{user.username}}</h1>
    <hr>
    <h5>Tu email es {{user.email}} y juras postrarte ante el Rey Frijol de aquí en adelante</h5>
    <img class="profile-pic" src="../images/Captura de pantalla 2023-05-08 a las 22.16.24.jpg" alt="">
</div>