<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>It´s me: {{user.username}}</h2>
            <hr>
            <img class="image" src="/images/images.jpeg" alt="gato rock">
        </div>
    </div>
</div>