<div class="container">
    <h1>Private Page</h1>
    <p>My favourite GIF</p>
    <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fuser-images.githubusercontent.com%2F274624%2F98246874-2e18a800-1f73-11eb-8583-f2c1f7d293f0.gif&f=1&nofb=1&ipt=4850f965e0ac7f6440cf124e9ad85b9e1f752754db755ef8ca9999da943c427f&ipo=images">
    <a href="/main" class="btn btn-outline-success">Feed</a>
</div>
