{{#if userInSession}}
  <h1 class='display-5 m-5 text-light'>Profile-Page of {{userInSession.username}}</h1>

  <a class='btn btn-secondary' href='/userprofile'>Reload the page</a>
{{else}}

  <p>Still no logged in user, sorry!</p>
{{/if}}