<h2>Profile</h2>

{{#if currentUser}}
  <p>Username: {{currentUser.username}}</p>
  <p>Email: {{currentUser.email}}</p>
{{else}}
  <p>No user found</p>
{{/if}}

<h3>Info</h3>

<p>Lorem fistrum pupita apetecan al ataquerl está la cosa muy malar. La caidita
  benemeritaar de la pradera tiene musho peligro tiene musho peligro. Caballo
  blanco caballo negroorl mamaar mamaar llevame al sircoo. A gramenawer caballo
  blanco caballo negroorl ese pedazo de llevame al sircoo apetecan. Sexuarl
  pecador papaar papaar jarl caballo blanco caballo negroorl la caidita fistro
  diodeno de la pradera a gramenawer. Sexuarl qué dise usteer no te digo trigo
  por no llamarte Rodrigor diodeno por la gloria de mi madre amatomaa a peich
  sexuarl al ataquerl. Amatomaa no puedor a gramenawer papaar papaar por la
  gloria de mi madre quietooor a peich.</p>