<div class="container">
    <img src="../../images/welcome.gif" alt="">
    <h1>Bienvenid@, {{user.username}}</h1>
    <hr>
    <p>Tu email es {{user.email}}</p>
    <a href="/">Ir al inicio</a>
</div>