<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Ya estás autenticado, {{user.username}}</h1>
            <hr>
            <p>Pero no te flipes, que solo tienes 1 minuto.</p>
            <hr>
            <img src="/images/monkey-pissed.gif" alt="babuin">
            <hr>
        </div>
    </div>
</div>