<div class="container align-items-center d-flex justify-content-center flex-column">
    <img src="./images/happy-cat-13.webp" alt="cat">
    <a href="/" class="btn btn-dark mt-5">Volver al inicio</a>
</div>