<div class="container">

    <h1>Welcome, {{loggedUser.username}}</h1>

    <hr>

    <a href="/user/main" class="btn btn-dark">Main</a>

    <hr>

    <a href="/user/private" class="btn btn-dark">Private - shh </a>

    <hr>

    <a href="/" class="btn btn-dark">Back to home</a>
    <a href="/logout" class="btn btn-dark">Logout</a>

</div>