<h1>Hello {{username}}</h1>

<img src="{{profile_pic}}" alt="profile pic"></img>

<p>You successfully logged</p>

<p>For our newsletter, check your {{email}}</p>

<p>Si eres Admin, ve aquí</p>
<a href="/admin/users"> Click here</a>

