<head>
  <link rel="stylesheet" href="stylesheets/profile.css" />
</head>

{{#if user}}
  <nav>
    <a href="/">Homepage</a>
    <a href="/profile/main">Main page</a>
    <a href="/profile/private">Private page</a>
    <a href="/logout">Log out</a>
  </nav>

  <main>
    <h1>hello <em>{{user.username}}</em></h1>
    <h3>You're now logged in and have access to new pages.</h3>
  </main>

{{/if}}