<div class="container">
    <h1>Bienvenid@</h1>
    <hr>
    <p>Tu email es {{user.email}}</p>
    <br>
    <img src="https://i.pinimg.com/originals/29/eb/91/29eb91eea74ada9d3cbe4d31b6c83aff.jpg" alt="gato">
</div>