<div class="container">
    <h1>Bienvenid@, {{user.username}}</h1>
    <a class="btn btn-info" href="/main" role="button">Main Page</a>
    <a class="btn btn-info" href="/private" role="button">Private Page</a>
</div>