<div class="container">
    <h1>Bienvenid@, {{user.username}}</h1>
</div>
<img class="gato1" src="/images/Marvel1.jpg" alt="gato">
<div class="btn-mas">
    <a href="/private" class="btn btn-dark">Más fotos</a>
</div>