<div class="container">
    <h1>Este es tu perfil, {{user.username}}</h1>

    <img src="./images/dui-perro-vietnamita-t.avif" alt="gif">

    {{!-- <a href="/mi-perfil/private" class="btn btn-primary" role="button" data-bs-toggle="button">Zona privada</a>
    --}}





</div>
</div>