<div class="container">
    <form action="/register" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name="email" value="{{user.email}}" class="form-control {{#if errors.email}} is-invalid {{/if}}" id="email" aria-describedby="emailHelp">
            {{#if errors.email}} 
            <div id="emailHelp" class="form-text invalid-feedback">{{errors.email}}</div>
            {{/if}}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control {{#if errors.password}} is-invalid {{/if}}" id="password">
            {{#if errors.password}} 
            <div id="emailHelp" class="form-text invalid-feedback">{{errors.password}}</div>
            {{/if}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>