<h2>Register</h2>
<form action="/user/register" method="post">
<label for="username">Username:</label>
<input type="text" id="userName" name="username">
<label for="password">Password:</label>
<input type="password" name="password" id="password">
<label for="password">Repeat Password:</label>
<input type="password" name="passwordRepeat" id="passwordRepeat">
<button>Enter</button>
</form>
{{#if error}}
<h3>{{error}}</h3>
{{/if}}