<p>Welcome to {{title}}, please create an account</p>

<div id="form">
    <h2>Signup</h2>
    <form action="/user/signup" method="POST">

        <label> Username
            <input type="text" name="username" placeholder="input username" />
        </label>

        <label> Email
            <input type="email" name="email" placeholder="input email" />
        </label>

        <label> Password
            <input type="password" name="password" placeholder="input password" />
        </label>

        <button type="submit">Create account</button>

    </form>
</div>