<div class="d-flex justify-content-center">
    <div class="signup col-4">
        <form action="/user/signup" method="post">
        <h1>Sign Up</h1>
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" required>
            {{#if error}}
                <p class="error-message">{{message}}</p>
            {{/if}}
        </div>
        <button type="submit" class="btn btn-primary">Sing Up</button>
        </form>
    </div>
</div>
