<div class="container">

    <h1>Perfil de {{user.username}}</h1>
    <hr>
    <p>¡Bienvenid@!</p>

    <a class="btn btn-outline-success" href="/perfil">Refresca</a>
    <a class="btn btn-outline-danger" href="/private">Privado</a>
    <a class="btn btn-outline-secondary" href="/main">Principal</a>



</div>