<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 d-flex flex-column align-items-center">
            {{#with user}}
            <h1 class="private-h1">Este gatito representa a {{username}}</h1>
            <img src="./../../images/cat-meme.jpeg" alt="cat meme">
            {{/with}}

            <a class="btn btn-private btn-grad" href="/">Volver a inicio</a>
        </div>
    </div>
</div>