<h2>Welcome, {{ username }}!</h2>
    <p>This is your profile page my friend!</p>
<p><a href='/main'>Main Page</a></p> 
<p><a href='/private'>Private Page</a></p> 
<p><form action="/logout" method="POST"><button type='submit'>Log Out</button></form></p> 