<h1>Hello</h1>
{{#if userInfo}}
  <h2>Welcome, {{ userInfo.email }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/profile">Reload the page</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}