<section class="signup-container">

  <a href="/">Go back</a>
  <form action="/signup" method="post" class="signup-form">
    <label for="">Username:
      <input type="text" name="username" placeholder="Enter you username" />
    </label>
    <label for="">Password:
      <input
        type="password"
        name="password"
        placeholder="Enter your password"
      />
    </label>
    <button type="submit">Signup</button>
  </form>

</section>