{{#if valueCookie}}
    
    <h2>Welcome, {{ valueCookie.username}}!</h2>
    <p>This is your profile page my friend!</p>
      <p><a href="/private"> The best memes </a></p>
    <button>
        <a href="/user-profile">Reload the page</a>
    </button>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}
