<h1>Página de {{user.username}}</h1>

<figure>
    <img src="../../images/drunk-cat.jpeg" alt="funny drunked cat">
</figure>
<form action="/salir" method="POST">
<button class="nav-link">Cerrar Sesión</button>
</form>