<div class="container">
    <h1>Bienvenid@, {{loggedUser.username}}</h1>
    <hr>
    <a href="/" class="btn btn-dark">Volver a inicio</a>
    <a href="/logout" class="btn btn-dark">Log Out</a>
</div>