<div class="container text-center">
  <div class="col-md-4 mx-auto">
    <img src="images/magicWord.gif" alt="ahahah" class="img-thumbnail">
    <a href="/" class="text-info btn btn-outline-secondary">Home</a>
  </div>
</div>