<div class="container text-center">
  <div class="col-md-3 mx-auto">
    <img src=" images/U-shall-not-pass.jpg" alt="you shall not pass" class="img-thumbnail">
    <a href="/" class="text-info btn btn-outline-secondary">Home</a>
  </div>
</div>