<div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/main">Protected Cat Page (requires authentication)</a>
  <a href='/private'>Protected Gif Page (requires authentication)</a>
</div>