<center>
<h1>Main Protected Page</h1>
<a href="/logout">Logout</a> | <a href="/private">Private Protected Page</a><br><br>
<img src="https://media1.giphy.com/media/6IciAdVhhZ2G4/giphy.gif"/>
</center>