<div class="main-container">
<div class="img-container">
  <a id="id="to-right"" href="/">Go Back Home</a>
  <img src="https://img.freepik.com/free-photo/close-up-portrait-beautiful-cat_23-2149214419.jpg?w=2000&t=st=1690040385~exp=1690040985~hmac=1a944af4340d086c1979b8d84136410ab45bb6a5a116691e303fd37b13ee0a1c">
</div>
</div>
