{{!-- {{#if userInSession}} --}}
  <h2>Hey, {{ userInSession.username }}!</h2>
  <img src="https://pbs.twimg.com/media/EyjgO9FWYAMNYwg.jpg" alt="doja cat">
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
  <button>
    <a href="/">Back home</a>
  </button>
   {{!-- don't need because is logged in function --}}
{{!-- {{else}}
  <p>How did you get here?</p>
  <a href="/login">Login</a>
{{/if}} --}}