<div class='container'>
    <div class='row'>
        <h2>This is the main page!</h2>
        <h5>You can see this because you're logged</h5>
        <img src="https://media.wired.com/photos/5cdefb92b86e041493d389df/1:1/w_988,h_988,c_limit/Culture-Grumpy-Cat-487386121.jpg" class="img-fluid" alt="Responsive image" height="500px">
        <a href='/home'>Go home</a>
    </div>
</div>