<div class="container main-view">
    <div class="row">
        <div class="col-md-6 cat-main">
           <figure>
               <img src="../../images/cat-hehe.jpg" alt="cat saying hehe...hehe">
            <a class="btn btn-primary btn-inicio" href="/" role="button">INICIO</a>
           </figure>
        </div>
    </div>
</div>

