<h3>Private route</h3>
<div class="img-container">
  <img src="https://brightspotcdn.byu.edu/dims4/default/980ccfb/2147483647/strip/true/crop/355x325+0+0/resize/355x325!/quality/90/?url=https%3A%2F%2Fbrigham-young-brightspot.s3.amazonaws.com%2F88%2F2e%2F8bd62b724e9f906e2e8569170b04%2Fshaq-gif.gif" alt="gif">
</div>