<div class="container private-view">
    <div class="row">
        <div class="col-md-6 gif-fav">
            <h1>ULTRA SECRET PAGE</h1>
            <figure>
                <img src="../../images/staring-referee.gif" alt="GIF ULTRA DUPPER FUNNY">
                <a class="btn btn-primary btn-inicio" href="/" role="button">INICIO</a>
            </figure>
        </div>
    </div>
</div>