<h3>Hey {{ currentUser.username }}, this is your secret page ujujuju</h3>

<img src="http://24.media.tumblr.com/tumblr_lopqfbqTGA1qint86o1_400.gif" alt="nyan pikachu">
<img src="http://24.media.tumblr.com/tumblr_lopqfbqTGA1qint86o1_400.gif" alt="nyan pikachu">
<img src="http://24.media.tumblr.com/tumblr_lopqfbqTGA1qint86o1_400.gif" alt="nyan pikachu">

<form action="/auth/logout" method="POST">
  <input type="submit" value="logout">
</form>