<div class='container'>
    <div class='row'>
        <div class=' col center__all'>
            <h1 class='col align-items-center'>Private page</h1>
            <a class="btn btn-primary col- my-3" href="/profile" role="button">Go back to profile</a>
        </div>
        <img src="https://media.giphy.com/media/13HgwGsXF0aiGY/giphy.gif" class="img-fluid mb-3" alt="Responsive image">
        
    </div>
</div>