<div class="container">
    <h1>WELCOME, FELLOW STONECUTTER</h1>
    <hr>
    <div class="video-wrapper">
        <iframe width="1088" height="612" src="https://www.youtube.com/embed/dSpOjj4YD8c?autoplay=1" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="text-center mt-3">
    <a href="/logout" class="btn btn-success">Back to the real world with the peasants</a>
</div>