<h1>PRIVATE PAGE</h1><iframe src="https://giphy.com/embed/RJzFUocOULuy5zDDya" width="480" height="480" frameBorder="0"
    class="giphy-embed" allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/cbc-schitts-creek-RJzFUocOULuy5zDDya">via GIPHY</a></p>