<nav>
    <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Create accout</a></li>
        <li><a class="prot-btn" href="/main">Main</a></li>
        <li><a class="prot-btn" href="/private">Private page</a></li>
        <li><a class="logout-btn" href="/auth/logout">Log out</a></li>
    </ul>
</nav>
<h1 class="main-header">Welcome to our new APP {{#if username}}<span>{{ username }}</span>{{/if}}!</h1>



