<nav>
    <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Create accout</a></li>
        <li><a href="/main">Main</a></li>
        <li><a href="/private">Private news</a></li>
    </ul>
</nav>
