<nav>
    <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Create accout</a></li>
        <li><a href="/main">Main</a></li>
        <li><a href="/private">Private page</a></li>
    </ul>
</nav>
<h1 class="main-header">Welcome to our new APP!</h1>


