main {
  color: white;
  background-color: #00b7ff;
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 2.5rem;
  color: #e9f9ff;
}

.main-section {
  background-color: rgba(255, 255, 255, 0.488);
  height: 70vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

form input {
  border: 0.2rem solid #cef1ff;
  margin: 1rem;
  width: 23vw;
  height: 2.5vh;
}

.button {
  height: 3vh;
  color: white;
  background-color: #00b7ff;
  border: 0.1rem solid #cef1ff;
}

.button:hover {
  color: #00b7ff;
  background-color: #cef1ff;
  border: 0.05rem solid #00b7ff;
}
