main {
  color: white;
  background-color: #00b7ff;
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
}

main img {
  border: 0.5rem solid white;
  width: 30vw;
  height: 30vh;
}
