@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$text: #333;
$black: #000;

html {
  font-size: 10px;
}

body {
  margin-top: 6rem;
  font: 1.6rem 'Noto Sans JP', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

form {
  margin-top: 6rem;
  border: solid 0.1rem #ddd;
  padding: 4rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0 1rem rgba($black, 0.3);

  h3 {
    margin-bottom: 3rem;
    text-align: center;
  }

  .input-group-text {
    width: 4.2rem;
    display: flex;
    justify-content: center;
  }

  .form-control {
    padding: 2rem 1rem;
    font-size: 1.4rem;
  }

  .btn {
    font-size: 1.6rem;
    margin-top: 2rem;
    background: $text;
    border: 0;
    padding: 1rem 2rem;
  }
}

.signup {
  border-top: solid 0.1rem rgba($text, 0.2);
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  a {
    color: $text;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.welcome {
  img {
    width: 100%;
  }
  h1 {
    text-align: center;
    margin-top: 3rem;
  }

  form {
    border: 0;
    display: flex;
    justify-content: center;
    box-shadow: none;
    padding: 0;
  }
}
