/* ---------- RESET ---------- */

html {
  box-sizing: border-box;
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

/* ---------- TYPOGRAPHY ---------- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

/* ---------- HOME LAYOUT ---------- */

#site-main { 
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: -100px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 400px;
}

.logo {
  display: flex;
  align-items: center;
}
.main-title {
  font-size: 50px;
  color: lightgray;
  font-weight: 100;
  display: inline-block;
  line-height: 50px;
}

.ih-logo {
  height: 50px;
  margin: 0px 40px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar .main-title {
  font-size: 16px;
  color: lightgray;
  font-weight: 100;
  display: inline-block;
  line-height: 16px;
}

.navbar .ih-logo {
  height: 20px;
  margin: 0px 10px;
}

.btn-holder {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.btn-holder a {
  width: 100px;
}

.no-btn {
  border: none;
  background: initial;
  color: #616668;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  padding: 0 20px;
}

.no-btn:hover {
  color: #3D7DB1;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* ---------- NAVBAR ---------- */

.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #F4F4F4;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 3333;
}

.logo-link {
  text-decoration: none;
}

.navbar .main-title:hover {
  color: #3D7DB1;
  transition: all 0.3s ease;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-link {
  color: #616668;
  font-size: 14px;
  text-decoration: none;
}
.navbar-link:hover {
  color: #3D7DB1;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* ---------- FOOTER ---------- */

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: lightgray;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #3D7DB1;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer .fa-heart {
  color: #D23333;
  margin: auto 10px;
}

.footer-copyright {
  font-weight: 100;
}

/* ---------- STUDENT CARD ---------- */

.cards-container {
  padding-top: 150px;
  margin-bottom: 200px;
}

.row-spacing {
  margin-bottom: 80px;
}

.student-card {
  margin: 0 auto;
  background-color: #F4F4F4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  width: 300px;
  height: 400px;
  border-radius: 4px;
  position: relative;
}

.student-card img {
  width: 100px;
  border-radius: 50%;
  border: 1px solid darkgray;
  position: absolute;
  top: 25px;
  right: 100px;
}

.student-card-top .title {
  font-size: 25px;
  font-weight: 100;
  width: 300px;
  padding: 0 10px;
  color: black !important;
  position: absolute;
  top: 140px;
  text-align: center;
}

.student-card-top .occupation {
  font-size: 15px;
  font-weight: 100;
  width: 300px;
  padding: 0 10px;
  color: black !important;
  position: absolute;
  top: 170px;
  text-align: center;
}

.student-card .phrase {
  font-size: 20px;
  font-weight: 100;
  width: 300px;
  padding: 0 10px;
  color: black !important;
  position: absolute;
  bottom: 100px;
  left: 0px;
  text-align: center;
}

.student-card-top .btn-danger {
  position: absolute;
  bottom: 25px;
  right: 50px;
  z-index: 40;
}

.student-card-top .btn-success {
  position: absolute;
  bottom: 25px;
  left: 50px;
  z-index: 40;
}

.student-card .link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-decoration: none;
  z-index: 30;
}

.student-card .link:hover {
  cursor: pointer;
}

/* ---------- STUDENT SHOW PAGE ---------- */


.student-container {
  width: 90%;
  position: relative;
  background-color: white;
  height: 700px;
}

.student-container .name {
  font-weight: 100;
  font-size: 100px;
  line-height: 100px;
  position: absolute;
  top: 50px;
  left: 0px;
}

.student-container .avatar {
  position: absolute;
  border-radius: 50%;
  top: 0px;
  right: 0px;
  height: 200px;
}

.student-container .occupation {
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  top: 150px;
  left: 0px;
}

.student-container .phrase {
  font-weight: 100;
  font-size: 80px;
  line-height: 70px;
  color: black;
  width: 100%;
  position: absolute;
  top: 400px;
  left: 0px;
  text-align: center;
}

/* ---------- FORM ---------- */

.form-container {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  padding: 50px;
}

.form-container form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
  margin-bottom: 20px;
}

.form-container .main-title {
  color: black;
  font-size: 20px;
}

.form-container .logo {
  display: flex;
  justify-content: space-around;
  padding: 0px 100px;
  margin-bottom: 40px;
}

.form-container .ih-logo{
  height: 30px;
  margin: 0px;
}

.form-container .form-title {
  text-align: center;
  font-weight: 100;
  margin-bottom: 40px;
}

form label {
  display: inline-block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 20px;
  font-size: 16px;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 2px;
}

form textarea {
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  height: 160px;
  width: 400px;
  border: none;
  border-radius: 2px;
}

form .submit {
  padding-top: 20px;
  width: 400px;
  text-align: end;
  margin-bottom: 0px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  width: 30%;
  background-color: #3D7DB1;
  cursor: pointer;
}

/* ---------- FILTER CONTAINER ---------- */

.filter-container {
  margin-bottom: 40px;
  margin-left: 40px;
  text-align: center;
}
.filter-container select {
  margin-right: 30px;
  border-radius: 2px;
  height: 30px;
  width: 200px;
}

.filter-container .btn-submit {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 16px;

}