body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #377791;
}
.nav-bar ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: 50px;
}

.btn1 {
  background-color: #2b683e;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 35px;
  margin: 20px;
  color: white;
  text-decoration: none;
}

.btn2 {
  background-color: #33145a;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 35px;
  margin: 20px;
  color: white;
  text-decoration: none;
}

.container {
  margin: 55px;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

.form-container {
  display: flex;
  flex-direction: column;

}

input {
  border-style: solid 1px;
  width: 400px;
  height: 30px;
  margin: 15px;
}

label {
  margin: 15px;
  font-size: 1.5em;
}

.btn3 {
  background-color: #addd3e;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 35px;
  margin: 20px;
  color: white;
  text-decoration: none;
  width: 150px;
  border-style: none;
}

.btn4 {
  background-color: #addd3e;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 35px;
  margin: 20px;
  color: white;
  text-decoration: none;
  width: 150px;
  border-style: none;
}

.user {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #c26ef3;
}

.btn5 {
  background-color: #377791;
  padding: 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: 35px;
  margin: 20px;
  color: white;
  text-decoration: none;
} 