body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  margin-bottom: 20px;
}

.btn {
  text-decoration: none;
  background-color: #00B7FF;
  margin: 1px solid #00b7ff;
  color: #fff;
  font-size: 1.5em;
  margin: 10px
}
