body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 500px
}

.gif {
  width: 80%;
}

#error {
  background-color: rgb(255, 188, 188);
  padding: 10px;
  text-align: center;
  font-size: .9em;
  margin-bottom: 15px;
}