body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hellouda {
  width: 100%;
}

footer {

  background-color: #212529;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%
}