body {
  font-family: sans-serif;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 200;
}

.navbar {
  margin-bottom: 80px;
}

#error {
  background-color: rgb(255, 205, 205);
  text-align: center;
  padding: 5px;
}

.logout-button button {
  background-color: transparent;
  border: 0;
}


.img {
  padding: 250px;
  background-image: url(./../images/gato.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}