body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.error-message{
  border: 1px solid red;
  padding: 5px;
  background-color: red;
  color: white;
}