body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.catimage {
  width: 40%;
}

#error {
  background-color: rgb(255, 161, 161);
  padding: 10px;
  text-align: center;
}