body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}


a {
  color: #00B7FF;
}

#form{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

#form-inputs{
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vh;
  height: 30vh;
  justify-content: center;

}

#form-inputs label,  #form-inputs button{
  margin: 10px;
}
