body {
  background: #44A08D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #093637;
}

.btn-style {
  border: 1px solid #DDD;
  &:hover, :active {
    color: #FFF;
    background: #093637;
  }
}

nav {
  background: #FFF;
  padding: 1em;
  border-radius: 10px;
}

.nav-links {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } li {
    display: inline;
    margin: 1em;
  } a {
    color: #2B5759;
    &:hover {
      color: #093637;
    }
  }
  form {
    display: inline;
  }
}

.content {
  flex-direction: column;
  justify-content: center;
  background: #FFF;
  margin-top: 0.2em;
  padding: 5em;
  border-radius: 10px;
  & .btn-style {
    margin-top: 0.5em;
  }
}
