<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ1fayxra9aA2PDEfXzHGtCMAuLE1ou7sClS1--oRPiL-GEfVRd&usqp=CAU" alt="funny-cat">
<a href="/"><button>Home page</button></a>
<a href="/user-views/private-view"><button>Private</button></a>
