<div id="container">
  <a href="/signup" class="btn btn-outline-dark">Sign up</a>
  <a href="/login" class="btn btn-outline-dark">Login</a>
  <a href="/private" class="btn btn-outline-dark">Protected page (requires authentication)</a>
  <a href="/main" class="btn btn-outline-dark">Main page (requires authentication)</a>
</div>