<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Join us</h1>
      <div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret">Protected page (requires authentication)</a>
</div>
  </body>
</html>
