<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Join us</h1>
    <h2><a href="/signup"> Sign up!</a></h2>
  </body>
</html>
