<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<a href="/private">Go to private page</a>
<br>
<a href="/main">Go to public page</a>
<br>
<a href="/signup">Sign up</a>
<br>
<a href="/login">Log in</a>