<h1>Paco and Gonzalo</h1>
<p>Welcome to our pagina</p>

<a href="/auth/signup">Sign me up, bitch</a>
<a href="/auth/login">Log in</a>
<a href="/auth/logout">Log out</a>
<a href="/secrets/main">main</a>
<a href="/secrets/private">private</a>
