<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Join us</h1>
      <div id="container">
          <img src="http://positiva.club/wp-content/uploads/2015/05/92.jpg" alt="gatito">
<button type="button" name="button">  <a href="/signup">Sign up</a></button>
  <button type="button" name="button"><a href="/login">Login</a></button>
  <button type="button" name="button"> <a href="/secret">Surprice</a></button>
</div>
  </body>
</html>
