<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/private">Private</a></li>
        <li><a href="/private/main">Main</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
    </ul>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
