<div id="container">
  <h2>You are in a session!</h2>
  <img src="https://www.google.es/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjBtfu47sHdAhVH0RoKHZEdC2EQjRx6BAgBEAU&url=https%3A%2F%2Fwww.pinterest.cl%2Fpin%2F369717450633180850%2F&psig=AOvVaw0eybep5fpyPAJ1E-yLZXU-&ust=1537267654053300" alt="cat">
</div>