<div id="container">
  <h2>You are in a session!</h2>
  <img src="https://www.google.es/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjrit7A78HdAhUQKBoKHVRtBaEQjRx6BAgBEAU&url=https%3A%2F%2Fgiphy.com%2Fgifs%2Fthe-simpsons-ralph-wiggum-9JfywnACXBNF6&psig=AOvVaw2eoSrOcCWQ2dhPfxVFBd-J&ust=1537267927667876" alt="cat">
</div>