<div id="container">
    <a href="/">Home</a>
    <h1>You are in a private page!</h1>

    <img src="https://colinbendell.cloudinary.com/image/upload/c_crop,f_auto,g_auto,h_350,w_400/v1512090971/Wizard-Clap-by-Markus-Magnusson.gif" alt="">
</div>