<div id="container">
  <h2>You are in a session!</h2>
  <div class="btn-group">
	  <button><a href="/secret/main">Main</a></button>
	  <button><a href="/secret/private">Private</a></button>
  </div>
</div>