<div id="container">
  <h2>You are in a session!</h2>
  <iframe src="https://giphy.com/embed/cEOG7nGA7448M" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/scared-family-guy-stewie-cEOG7nGA7448M">via GIPHY</a></p>
</div>
