<link rel='stylesheet' href='/stylesheets/strength.css' />


<div class="centered white">
  <h2>SingUp</h2>
  <form class="centered" id="myform" action="/auth/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <br>
    <br>
    <label for="password">Password:   </label>
    <input type="password" name="password" id="newPassword">
    <br>
    <br>
    <div class="centered">
      <button class="button-send" type="submit">Sign Up</button>
    </div>
  </form>
  <div class="centered ">
    <p>Have an account?
      <a href="/auth/login">Log In</a>
    </p>
  </div>
  <div class="centered red">
    <p>{{ error }}</p>
  </div>
</div>