<h1>Login to enter your private account.</h1>
<form action="/user/login" method="POST">
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="password" placeholder="Password" />
    <button type="submit">Log in!</button>
</form>