<h3>Login</h3>

<form class="user-form" action="/user/login" method="post">

  <label for="username">Username: </label>
  <input type="text" name="username" id="username" required>

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" required>

  <div class="errorMsg">{{errorMsg}}</div>

  <button class="action-button" type="submit">Login</button>
  <p>or <a href="/user/create">register</a> a new account</p>
</form>