<h1>Login</h1>
<form action="/login" method="post">
  <label for="user-name">Username</label>
  <input type="text" name="username" id="user-name">
  <label for="user-password">Username</label>
  <input type="password" name="password" id="user-password">
  <button>Login</button>
</form>

<span>{{msg}}</span>