
<a class="mt-4 btn btn-danger btn-lg" href="/user/private">Go to private</a>
<div class="bg-black d-flex align-conten-centerjustufy-content-center">

    {{#if video}}
  <video class="m-5" controls autoplay>
    <source src="{{video}}" type="video/mp4">
  </video>
  {{/if}}
  {{#if foto}}
  <img  src="{{foto}}">
  {{/if}}
</div>