<div>
  <div>
    <a href="../">Home</a>
  </div>
  <div class="titleMain">
    <h1>Hello <b>{{username}}!</b></h1>
    <h2>Stressed?</h2>
  </div>
        <div class="d-flex flex-wrap justify-content-sm-around">
          <img class="border border-dark" src="https://t2.ea.ltmcdn.com/es/images/3/7/2/remedios_caseros_para_las_pulgas_en_gatos_bebes_22273_600.jpg" alt="Gatito">
          <img class="border border-dark" src="https://cdn2.actitudfem.com/media/files/styles/large/public/images/2015/06/notagatito.jpg">
          <img class="border border-dark" src="https://s3.pixers.pics/pixers/700/FO/27/27/71/41/700_FO27277141_139a17123a7fdd0464c3530c1b3776b2.jpg">  
        </div>
  <div>
    <a href="private"><h2>More kittens here</h2></a>
  </div>
</div>
