<iframe src="https://giphy.com/embed/cfUMNY4RfGhEc" width="446" height="480" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
<p><a href="/user/login">Something went wrong! Click here to log in again.</a></p>