<h1>you are in MAIN user  </h1>
<div>
  <p>Connected username: <%= typeof userValidated != 'undefined' && userValidated.username ? userValidated.username : '' %></p>
  
  <a class="btn btn-primary" href="/user/private">CLICK HERE to go to your private site</a>

</div>

<div class="col-xs-12 col-sm-4 col-sm-offset-4">
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading text-center">
      Click in cat if you want to go home.
      <a href="/">
        <img src="https://favim.com/orig/201104/06/Favim.com-14084.jpg" width="90%" alt="">
      </a>
    </div>
  </div>
</div>