<div id="container">
    <h2>You are in a session! {{username}}</h2>
    <img src="https://k30.kn3.net/taringa/1/0/0/9/2/7/9/iron1982/550x550_5FE.jpg" alt="">
<a href="/home">Home</a>
<a href="/user/private">SHHHHHHHH!!!!!!!!!</a>
</div>