{{#if errorMessage}}
    <div class="errorMessage">{{errorMessage}}</div>
    <a href="/login">login</a>

{{else}}
    <img src="https://media.giphy.com/media/SggILpMXO7Xt6/giphy.gif">
    <a href="/">Back</a>
    
{{/if}}

