<div>
  <div>
    <h1>Thanks for being part of our community <b>{{username}}</b>!</h1>
    <h2 class="titlePrivate">More kittens for you:</h2>
  </div>
      <div class="d-flex flex-wrap justify-content-sm-around">
          <img class="border border-dark" src="https://media2.giphy.com/media/kKfMB7b9OcSu4/source.gif">
          <img class="border border-dark" src="https://media.giphy.com/media/uYh2E1meNXAFa/200_d.gif">
          <img class="border border-dark" src="https://lh3.googleusercontent.com/proxy/eVsm9iPDBJg0oPPT6SPECHSNpdNovIzinMLndH4otxlWeZp2HNhlZPTSm9iN3TBx_D-3tD-xlmS6FOnv6a6X">
          <img class="border border-dark" src="https://24.media.tumblr.com/df237cd7dd5b3e3890f75eb1b682e8b5/tumblr_mmar81emAe1qfyc29o1_500.gif">
          <img src="https://i.pinimg.com/originals/ba/dd/ed/badded35435737fb4cb9b3017fa9fe30.gif">
          <img class="border border-dark" src="https://media1.tenor.com/images/84e36470c3e534a5e71c208cd872d177/tenor.gif?itemid=6108221">
      </div>
  <div>
    <a href="/logout"><h2>Log out</h2></a> 
    <p><b>It's ok, maybe you like dogs more</b></p>
  </div> 
</div>