<div class="justify-content-center align-content-center flex-column d-flex bg-dark">

  <img class="fa fa-text-width" aria-hidden="true" src="{{gif.data.image_url}}" alt="gif">

  <a class="btn btn-dark" href="/user/main">Main</a>
  <a class="btn btn-light" href="/logout">Logout</a>
</div>