<h1>This is my private page</h1>

<img src="https://www.askideas.com/wp-content/uploads/2016/11/Hitting-On-Face-Funny-Slowmotion-Gif.gif" alt="">

<h1>
  <a class="navbar-text" href="/logout"><%= typeof userValidated != 'undefined' && userValidated.username ? userValidated.username+" click to DISCONECT" : '' %></a>
</h1>