<div class="bg-dark d-flex flex-column align-content-center align-items-center justify-content-center">
  <a class="my-4 btn btn-danger btn-lg" href="/user/main">Main</a>
  <img class="imagen m-5 pb-5" src="{{gif.data.image_url}}">
</div>
