<p>Connected username: <%= typeof user != 'undefined' && user.username ? user.username : '' %></p>

<div>
    <a href="/user/main">Main</a>
</div>

<div>
    <a href="/user/private">Private</a>
</div>

<div>
    <a href="/logout">Logout</a>
</div>