<p>Connected username: <%= typeof user != 'undefined' && user.username ? user.username : '' %></p>

<h1>This page is private</h1>
<div class="tenor-gif-embed" data-postid="5426002" data-share-method="host" data-width="100%" data-aspect-ratio="2.4057971014492754"><a href="https://tenor.com/view/puppy-love-gif-5426002">Puppy Love GIF</a> from <a href="https://tenor.com/search/puppylove-gifs">Puppylove GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
