<p>Please sign up!</p>
<form action="/signup" method="POST"> 
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit">Sign up</button>
</form>

{{!-- action signup = name url --}}