<h1>Let's create an account!</h1>
<form action="/user/signup" method="POST">
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="password" placeholder="Password" />
    <button type="submit">Sign up!</button>
</form>