<form action="/signup" method="POST">
    <input type="text" required name="username" placeholder="username" />
    <input type="password" required name="password" placeholder="password" />
    <button type="submit">Sign up</button>
</form>