<div class="container">
  <h1 class="my-3">Hi, <mark>{{ user.username }}</mark></h1>
  <img src="http://ns2.elhacker.net/timofonica/fotos/animales/gato_punk.jpg" alt="cat photo" class="w-50">
  <div class="my-3">
    <a href="/private"><strong>Go to private area</strong></a>
  </div>
  <div class="my-3">
    <a href="../login" class="btn btn-info">Back to log in</a>
  </div>
</div>