<div class="container">
  <h1 class="my-3">PRIVATE AREA, <mark>{{ user.username }}</mark></h1>
  <img src="https://media.giphy.com/media/Wps0kAxpipbi0/giphy.gif" alt="gif-topo" class="w-100"></img>
  <div class="my-3">
    <a href="/main"><strong>Back to main area</strong></a>
  </div>
  <div class="my-3">
    <a href="../login" class="btn btn-info">Back to login</a>
  </div>
</div>