{{#if user}}
  <h2>Welcome, {{ user.username }}!</h2>
  <p>This is your profile page my friend! And your email is: {{ user.email }}</p>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}