<h1>this is the main</h1>

<form action="/logout" method="post">
  <div class="field submit">
    <button type="submit">Logout</button>
  </div>
</form>

<section>
  <h2>waw what a beautiful content</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, mollitia eligendi voluptatem harum a quidem rem consectetur ipsa rerum, ex repellendus modi odio tempora quos sit qui, consequuntur quo eaque?</p>
</section>

<a class="button" href="/private">go to private area</a>