<h1>this is the signup page</h1>

<form method="POST" action="/signup">

  <div class="field">
    <label>Username</label>
    <input type="text" name="username" />
  </div>

  <div class="field">
    <label>Password</label>
    <input type="password" name="password" />
  </div>

  <div class="field submit">
    <button type="submit">Signup</button>
  </div>
</form>
<a href="/" class="button">Back</a>