body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#form {
	margin: 30px auto;
	width: 380px;
}

#form label {
	color: #666;
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

input,
button {
	box-sizing: border-box;
	font-size: 14px;
	outline: 0;
	padding: 15px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #43a3e6;
	margin-bottom: 5px;
}

button {
	background: #43a3e6;
	border: 1px solid #43a3e6;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 15px 16px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s ease background;
	width: 100%;
}

button:hover {
	background: #fff;
	color: #43a3e6;
	transition: .3s ease background;
}

.error-message {
	background: #F02B63;
	box-sizing: border-box;
	color: #fff;
	margin: 20px auto;
	padding: 20px;
	width: 100%;
}

.btn-group {
	width: 400px;
	& > button {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	& > button:hover{
		a{
			color: #43a3e6;
			
		}
	}
	a {
		color: #fff;
		text-decoration: none;
		display: block;
		//padding: 8px 16px;
	}

}

.clearfix {
	&::after{
		content: "";
		display: block;
		height: 0;
		clear: both;
	}

}