<div class='m-3 p-5 d-flex align-items-center flex-column'>
  <div>
    <h1 class='display-5 text-light'>Login</h1>
  </div>
  <form class='w-50 mt-2' action='/login' method='POST'>
    <div class='mb-4'>
      <label for='username' class='form-label text-secondary'>Username</label>
      <input type='text' class='form-control' name='username' />
    </div>
    <div class='mb-4'>
      <label for='password' class='form-label text-secondary'>Password</label>
      <input type='password' class='form-control' name='password' />
    </div>
    <button type='submit' class='btn btn-secondary'>Login</button>
  </form>
</div>