<section class="signup-page">

  <div>
    <form action="/signup" method="post">

      <fieldset>
        <label for="username" id="username">Username</label>
        <input required type="text" name="username" />
      </fieldset>

      <fieldset>
        <label for="password" id="password">Password</label>
        <input
          required
          type="password"
          name="password"
          placeholder="password"
        />
      </fieldset>

      <button type="submit">Create account</button>

    </form>

    {{#if errorMessage}}
      <div>
        <p>{{errorMessage}}</p>
      </div>
    {{/if}}

  </div>
</section>