<h2>dfdf</h2>
<form action="/signup" method="POST">
  <label for="">Username:</label>
  <input type="text" name="username">

  <label for="">Password:</label>
  <input type="text" name="password">


  <button type="submit">Sign up</button>


</form>