<h1>Login page</h1>

<div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">

    <label> User name
      <input type="text" name="username" placeholder="Enter user name here" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>

  </form>
</div>