<h1><strong>Sign up</strong> </h1>

<form action="/signup" method="POST">
<label>Username:
    <input type="text" name="username">
</label>
<label>Password:
    <input type="password" name="Userpassword">
</label>

<button class="action-button shadow animate red" type="submit">Sign up</button>

<a class="action-button shadow animate yellow" href="/">Home</a>

</form>