<h1><strong>Sign up</strong> </h1>

<form action="/signup" method="POST">
<label>Username:
    <input type="text" name="username">
</label>
<label>Password:
    <input type="password" name="Userpassword">
</label>

<button class="btn btn-outline-success" type="submit">Sign up</button>

<button class="btn btn-outline-warning" ><a class="home" href="/">Home</a></button>

</form>