<div id="container">
  <h1>Private page</h1>

  <div>
    <img src="https://media.giphy.com/media/3ohc0SH8Y6TJvc2FMI/giphy.gif" alt="Gif cat">
  </div>

  <div>
    <a href="/">Home</a>
  </div>
</div>