<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
  <li>
    <a href="/auth/signup">Sign up</a>
  </li>
  <li>
    <a href="/auth/login">Login</a>
  </li>
</ul>

{{#if user}} Logged in as: {{user.username}}
<P>
  <a href="auth/logout">Logout</a>
</P>{{/if}}