<h1>{{title}}</h1>

<div class="index">

<h2>Want to join? <a href="/signup">Sign Up here</a></h2>
<h2>Already a user? <a href="/login">Log In</a></h2>

<h3><a href="/private">Access Private Page</a></h3>



</div>
