<link rel="stylesheet" href="/stylesheets/style.css">
<div class="login-page">

  <h1>Log In Here</h1>
  <form action="/login" method="POST">

    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="text" name="password">


    {{#if message}}
      <div class="error">
          {{message}}
      </div>
     {{/if}}
     
    <button> Submit</button>
  
  </form>


</div>