{{#if theUser}}
<div class="main-info">
<h3>{{theUser.username}}</h3>
<br>
<br>
<img id="cat" src="/images/cat.jpg" alt="">
<br>
<br>
<a href="/">Back Home</a>
<br>
<br>
<a href="/private">Private Page</a>
</div>
{{/if}}