{{#if userInSession}}
    <img src="https://64.media.tumblr.com/036c3491ca544f1893a284b5ac746fd7/tumblr_pvxkrjVzhA1xb21v7o2_500.jpg"
        alt="funny picture of cat"><br>
    <a href="/">Home</a>
{{else}}
    You don't have access!
{{/if}}