<h1>WELCOME TO MY AWESOME BASIC SITE</h1>
<ul>
  <li>
    <a href="/signup">SIGN UP</a>
  </li>
  <li>
    <a href="/login">LOG IN</a>
  </li>
  <li>
    <a href="/secret">LOG IN TO SEE PICTURE</a>
  </li>
</ul>