<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styesheets/strength.js">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script type="text/javascript" src="/javascript/strength.js"></script>
  <title>Sign Up</title>
</head>

<body>
  {{{body}}}
</body>

<script src="/javascripts/script.js"></script>
</html>