<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %> - Basic Auth</title>
</head>
<body>
  <img src="http://www.refreshmiami.com/wp-content/uploads/2017/06/55085_logo-ironhack.png" alt="logo ironhack" title="logo ironhack" style="width: 100px" />
  <br/>
  <br/>
    <%- body -%>
</body>
</html>