body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* button {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 3px;
}

button:hover {
  color: #00B7FF;
} */