<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h1>Welcome {{user.username}}</h1>
    </div>

    <div class="col-12 d-flex flex-column">
      <img width="400" src="https://media.tenor.com/images/47b81948be5023555549c01d88ae3289/tenor.gif" class="mb-4"
        alt="Sheldon">
      <a href="/">Back to the home page</a>
    </div>
  </div>
</div>