<form action="/create" method="post">
	<input type="text" name="user" value="" autocomplete="">
	<input type="password" name="password" value="" autocomplete="">
	<input type="submit" value="Create">
</form>