<h1>Welcome to our system!!!</h1>
<form action="/user/signup" method="post">
  <input type="text" name="name" id="name" placeholder="Name">
  <input type="text" name="username" id="username" placeholder="UserName">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Create">
</form>
