<h1>welcome to the dashboard</h1>
<p>You cannot do shit here but if you are here it means that we have kinda managed to configure something and it is making us very proud so at least rejoice for us!</p>