<body class="bg-info">
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-light btn-lg" href="#" role="button">Upload your dog's photo</a>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-3">
      <img class="img-fluid h-50 ml-3 pl-3 my-3" src="/images/linus.jpeg" alt="">
      <p class="font-weight-bold text-center">Linus</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3">
      <img class="img-fluid h-50 ml-3 pl-3 my-3" src="/images/linus.jpeg" alt="">
      <p class="font-weight-bold text-center">Linus</p>
    </div>

  </div>

  <form action="/posts" method="post">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="content" name="content">
    <input type="submit" value="Submit">
  </form>
  <h1>MY posts</h1>
  {{#each user.posts}}
  <ul>
    <li>{{this.title}}</li>
    <li>{{this.content}}</li>
  </ul>
  {{/each}}

  <form id="photo-submit" enctype="multipart/form-data">
    <input type="file" name="avatar" accept="image/*" />
    <input type="submit">
  </form>

  <div id="img-row" class="row">
    {{#each user.photos}}
    {{> itemPhoto this}}
    {{/each}}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="/javascripts/custom.js"></script>
</body>