<body class="bg-info">
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-light btn-lg" href="#" role="button">Upload your dog's photo</a>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-3">
      <img class="img-fluid h-50 ml-3 pl-3 my-3" src="/images/linus.jpeg" alt="">
      <p class="font-weight-bold text-center">Linus</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-3">
      <img class="img-fluid h-50 ml-3 pl-3 my-3" src="/images/linus.jpeg" alt="">
      <p class="font-weight-bold text-center">Linus</p>
    </div>

  </div>
</body>