<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/{{action}}" method="POST">
<input required type="text" name="name" placeholder="Username">
<input required type="password" name="password" placeholder="Password">
<input required type="password" name="password_verify" placeholder="Repeatpassword">
<input type="submit" value= "{{action}}">
</form>


