<section>

<h1>{{action}}</h1>
<h2>{{err}}</h2>
<form action="/{{action}}" method="POST">
<input required type="text" name="user" placeholder="Username">
<input required type="password" name="password" placeholder="Password">
<input type="submit" value="{{action}}">

</form>




</section>