<h1>Este es el gif molón</h1>
<a href="menu">Atrás</a>
<br>
<br>
<iframe src="https://giphy.com/embed/xT9IgzoKnwFNmISR8I" width="480" height="429" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>