<div class="container">
  <div class="linkBox">
    <a class="links" href="/signup">Registro</a>
    <a class="links" href="/login">Iniciar Sesión</a>
    <a class="links" href="/main">Área Privada</a>
    <a class="links" href="/private">Área Privada </a>
    <a class="links" href="/logout">Adiuuus!!</a>
  </div>
</div>