<h2>Bienvenido a la home</h2>
<nav>
  <ul>
    <li><a href="/signup">Sign up here!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/main">Main page (authentication required)</a></li>
    <li><a href="/private">Private page (authentication required)</a></li>
  </ul>
</nav>
