<% if (typeof user !== 'undefined') { %>
  <div class="container">welcome <%= user.username %></div>
<% } %>
<div>
  <a href="/signup">Sign up</a>
</div>
<div>
  <a href="/login">Log in</a>
</div>
<div>
  <a href="/secret">Profile</a>
</div>