<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> Please select one of the following options to proceed accordingly: </h2>
    <ul>
      <li>      <a href="/signup">Sign up</a>
</li>
      <li>      <a href="/login">Login</a>
</li>
      <li>      <a href="/main">Main Protected Page (requires authentication!)</a>
</li>
      <li>      <a href="/private">Protected Page (requires authentication!)</a>
</li><br>
      <a href="/logout">Log Out</a>
    </ul>


  </body>
</html>
