<h1>Lab on basic authorization, authentification and sessions</h1>

<div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/main">Main (protected)</a>
  <a href="/private">Private (protected)</a>
</div>
