<div id="container">
  <a class="btn btn-dark" href="/login">Login</a><br>
  <a class="btn btn-light" href="/signup">Sign up</a><br>
  <a class="btn btn-info" href="/private">Private</a><br>
  <a class="btn btn-info" href="/main">Main</a>
</div>