<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
    <h1>Home</h1>
    <div>
        <a href="/signup">Sign up</a>
    </div>
    <div>
        <a href="/login">Login</a>
    </div>
    <div>
        <a href="/main">Main</a>
    </div>
    <div>
        <a href="/private">Private</a>
    </div>
    </div>
  </body>
</html>
