<div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret">Protected page (requires authentication!)</a>
  <a href="/post">Post</a>
</div>

<img src="https://media.giphy.com/media/lznwJyodlWnyBwTmrZ/giphy.gif">