<div id="container">
  <a class="home" href="/signup">Sign up</a>
  <a class="home" href="/login">Login</a>
  <a class="home" href="/private">Protected page (requires authentication)</a>
  <a class="home" href="/logout">Logout</a>
</div>

