<div id="container">
    <a class="home-button" href=" /signup">Sign up</a>
    <a class="home-button" href="/login">Login</a>
    <a class="home-button" href="/private">Protected page (requires authentication!)</a>
    <a class="home-button" href="/logout">Logout</a>
</div>