<div id="container">
  <a href="/signup">Sign up</a><hr>
  <a href="/login">Login</a><hr>
  <a href="/main">Ruta protegida para ver gato (inicia sesión antes)</a><hr>
  <a href="/private">Ruta protegida (inicia sesión antes)</a>
</div>