home

 <div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  {{!-- <a href="/yourLoginFine">Protected page (requires authentication!)-- Cannot go unless logged in</a> --}}
</div>
