<div id="container">
  <a href="/signup">Sign Up</a><br>
  <a href="/login">Login</a><br>
  <a href="/main">Picture of a cat for users that are logged in</a><br>
  <a href="/private">Gif for users that are logged in</a><br>
  <a href="/logout">Logout</a>
</div>