<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="center">


    <div id="container">
      <a href="/signup">Sign up</a> |
      <a href="/login">Login</a> |
      <a href="/secret">Secret page</a> |
      <a href="/logout">Logout</a>

    </div>
      </div>
  </body>
</html>
