<div id="container" class="d-flex flex-column bd-highlight mb-3 justify-content-center">
  <div class="d-flex flex-column text-center m-5">
    <h2>Basic Auth</h2>
    <a class="btn btn-primary btn-lg btn-block p-2 m-3 align-self-center" href="/signup">Sign up</a>
    <a class="btn btn-lg btn-block btn-outline-primary p-2 m-3 align-self-center" href="/login">Login</a>
    <a class="btn btn-lg btn-block btn-outline-danger p-2 m-3 align-self-center" href="/private">Protected page (requires authentication)</a>
  </div>

</div>

