<div class="container d-flex align-items-center justify-content-around">
    <div><a class="btn btn-info" href="/signup">Signup</a></div>
    <div><a class="btn btn-info" href="/login">Login</a></div>
    <div><a class="btn btn-info" href="/main">Main</a></div>

</div>