<div>
  <h1>Welcome!</h1>
  <p>Please, choose to continue</p>
</div>
<div>
  <form action="/login" method="get"><input type="submit" value="Log in"></form>
  <form action="/register" method="get"><input type="submit" value="Register"></form>
</div>