<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/main">Only The Authenticated Can View Mr. Wiggles</a>
  <a href="/private">Private Page, Wedding Crashers</a>
</div>
<a href="/logout">Logout</a>
