
<h1>Bienvenidos a la mejor página de la historia!!!!</h1>

<br>

<div class="index-container">
  <a href="/signup">
      <button>Sign-Up</button>
  </a>
    <a href="/login">
      <button>Log-In</button>
  </a>
</div>