<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css" />
  </head>
  <body>
    <div class="text-center" id="container">
     <a role="button" class="btn btn-primary" href="/signup">Sign up</a>
     <a role="button" class="btn btn-secondary" href="/login">Login</a> <br> <br>
      <button class="btn btn-success "><a href="/secret">Protected page (requires authentication)</a></button> <br>
      <button class="btn btn-success m-4"><a href="/private">Private (requires authentication)</a></button> <br>
      <button class="btn btn-success"><a href="/main">Main (requires authentication)</a></button>
    </div>
  </body>
</html>



