<div id="container">
    <a href="/signup">Sign up</a>
    <p></p>
    <a href="/login">Login</a> | <a href="/logout">Logout</a>
    <p></p>
    <a href="/main">Main Page (Protected page: requires authentication!)</a>
    <p></p>
    <a href="/private">Private Page (Protected page: requires authentication!)</a>
</div>