<section style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); width: 100vw; height: 100vh">
<div class='homePage'>
  <h1 class="userName" style=" color:  rgb(0, 109, 178);">{{sessionData.user}}</h1>
</div>
<div style="text-align:center">
  <a style="text-decoration: none; color: black; margin-right:10px" href="main">Main</a>
  <a style="text-decoration: none; color: black; margin-right:10px" href="private">Private</a>
  <a style="text-decoration: none; color: black; margin-right:10px" href="logout">Logout</a>
</div>
</section>



