<div class="container">
  <h1>Welcome to Express Auth</h1>
    {{#if this.username}}
      <p>You are now autorized {{this.username}}</p>
      {{else}}
      <p>Please Sign Up or Log in for exclusive content</p>
      {{/if}}
  <img src="https://media.giphy.com/media/NPFQpRI1KpIq9S0YKa/giphy.gif">
</div>


