<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Sign Up</title>
</head>

<div class="page-titles">
  <h1>Home Directory</h1>
</div>

<div class="page-links">
  <a href="/signup">Sign up</a>
  <br>
  <a href="/login">Login</a>
  <br>
  <a href="/main">Image - 1</a>
  <br>
  <a href="/private">Image - Private</a>
  <br>
  <a href="/logout">Logout</a>
</div>