<div>
  <h1>Welcome!</h1>
  <p>Please, choose to continue</p>
</div>
<div class="path-buttons">
  <form action="/login" method="get"><button type="submit">Log in</button></form>
  <form action="/register" method="get"><button type="submit">Register</button></form>
</div>