<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
      <h1>Welcome to the DARKSIDE.....</h1>
      <img src="https://media.giphy.com/media/X1aDZ3TL99XTq/giphy.gif" alt="darkside-dance">
      <br><br>
        <a href="/signup">Sign up</a>
        <a href="/login">Login</a>
    </div>
  </body>
</html>
