<a href="/signup">Sign up</a><br><br>
<a href="/login">Login</a><br><br>
<a href="/main">Main (requires authentication!)</a><br><br>
<a href="/private">Private (requires authentication!)</a><br><br>
<a href="/logout">Logout</a><br><br>