<h1>Welcome to our site</h1>


{{#if message}}
<h4 class="py-3 px-2 bg-success text-light font-weight-bold col-lg-3 rounded-pill text-center">{{message}}</h4>
{{/if}}



<a class=" btn btn-primary" href="/">Home</a>

<a class=" btn btn-primary" href="/signup">Signup</a>
       
<a class=" btn btn-primary" href="/login">Login</a>

<a class=" btn btn-primary" href="/secret">Secret</a>

       