

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="container">

      <a class = "homeDiv" href="/signup">Sign up</a>
        <br><br>
      <a class = "homeDiv" href="/login">Login</a>

        <br><br>
      <a class = "homeDiv" href="/main">Protected page Main (requires authentication)</a>
      <a class = "homeDiv" href="/private">Protected page Private (requires authentication)</a>
    </div>
  </body>
</html>
