<div id="container">
  <h1>Home page</h1>
  <ul>
   <li>
     <a href="/main">Main page (requires authentication)</a>
   </li>
   <li>
     <a href="/private">Private page (requires authentication)</a>
   </li>
   <li>
     <a href="/logout">Logout</a>
   </li>
  </ul>
</div>

