
<div id="container" class="signup-form">
    <form id="form">
        <h1>Basic Authentification</h1>
		<div class="form-group">
            <a href="/signup" class="home btn btn-primary btn-lg">Sign Up</a>
        </div>
        <div class="form-group">
            <a href="/login" class="home btn btn-primary btn-lg">Log In</a>
        </div>
    </form>
</div>