<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  	<h1>Bienvenido a nuestra WEB!!!</h1>
  </body>
</html>
