<!DOCTYPE html>
<html>

<head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    Hello world

    <a href="/auth/signup">Sign up</a>
    <a href="/auth/login">Log in</a>
</body>

</html>
