<div class="pretty_background">

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="signup"><button>sign up</button></a>
<a href="login"></a><button>login</button></a>
 <a href="/main">Protected page (requires authentication!)</a>
  <a href="/private">ANOTHER Protected page (requires authentication!)</a>

</div>