<div class="container">

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="button"><a href="/signup">Sign up</a></div>

<div class="button"><a href="/login">Login</a></div>

<div id="link"><a href="/private">Protected page (require authentification)</a></div>

</div>