<h1>Welcome {{title}}!!!</h1>


<div id="container">
    <a class="btn btn-primary"  href="/signup" required>Sign up</a>
    <a class="btn btn-primary"  href="/login" required>Login</a>
    <a class="btn btn-primary"  href="/user">Protected page (requires authentication!)</a>
</div>
