<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    User profile
                <% if (typeof(user) !== "undefined") { %>
            <div class="error-message">
                <%= user.username %>
            </div>
            <% } %>
  </body>
</html>