<h2>What do you wanna do?</h2>

<div class="col-xs-12 col-sm-4 col-sm-offset-4">
  <div class="btn-group btn-group-justified form-group" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a href="/signup" class="btn btn-primary">SIGN UP</a>
    </div>
  </div>
  <div class="btn-group btn-group-justified form-group" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <a href="/login" class="btn btn-success">LOG IN</a>
    </div>
  </div>
</div>