<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="auth-wrapper">
  <a class="auth-wrapper__item" href="/signup">Sign up</a>
  <a class="auth-wrapper__item" href="/login">Login</a>
  <a class="auth-wrapper__item auth-wrapper__item-logout" href="/logout">Logout</a>
</div>

<div class="private-views">
  <a href="/main">Main secret</a>
  <a href="/private">Private secret</a>
</div>

