<h1>New User ? please Create and account </h1>
<h2>Not new? Please <a href="/login">Log In</a></h2>

<form action ="/" method ="POST">
  <label> 
    Username: 
  </label>
  <input type="text" name="user" >
  <label>Password:</label>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>