{{#if successMessage}}
<p class="sucess-message">{{successMessage}}</p>
{{/if}}
<h1>MY SOCIAL NETWORK</h1>
<p>Welcome to my social network</p>
<a href="/signup">Sign Up</a>
<a href="/login">Login</a>
<a href="/main">Secret Page 1</a>
<a href="/private">Secret Page 2</a>
