<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/auth/signup">Sign up</a>
<a href="/auth/login">Log in</a>
<a href="/auth/private">Private</a>
<a href="/auth/main">Main</a>
<a href="/auth/logout">Log out</a>

