<!DOCTYPE html>
<html>
  <head>
    <title>Welcome </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h2>Account Landing Page</h2>
  <div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/mainpage">Main Page</a>
  <a href="/secret">Protected page (requires authentication)</a>
  </div>
  </body>
</html>
