<!DOCTYPE html>
<html>

<head>
  <title>Basic Auth</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Hello
    <%= title %>
  </h1>


  <a href="/auth/login">LOGIN</a>
  <a href="/auth/signup">SIGNUP BITCH</a>
  <a href="/auth/main">MAIN PAGE</a>
  <a href="/auth/private">PRIVATE GIF</a>

</body>

</html>