<h1>Registro</h1>
<div id="form">

  <form action="/" method="POST">
    <input type="text" name="user" required="required">
    <input type="password" name ="password" required="required">
    <button type="submit">Send</button>
  </form> 
</div>

{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}