<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(loggedUser){ %>
      Hello, <%= loggedUser.username %><br>
      <a href="/logout">logut</a><br>
      <a href="/secret">secret</a>
    <% } else { %>

      <h1>Welcome:</h1>
      <a href="/signup">Signup</a><br>
      <a href="/login">Login</a>
   <%  }%>

  </body>
</html>
