<div class="index">
  <div>
    <h1>Welcome</h1>
    <a href="/signup">Go to SignUp!</a>
    <div>
      <br><br>
      <h2>Look my secret Cats!</h2>
      <a href="/private">Press here</a>
    </div>
  </div>
</div>