<div id="container" class="signup-form">
    <form id="form">
        <h1>Authentification</h1>
		<div class="form-group">
            <a href="/signup">Sign Up</a>
        </div>
        <div>
            <a href="/login">Log In</a>
        </div>
    </form>
</div>