{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


<section id='signUp'>
  <div class="formSingUp">
    <h1>Sign Up</h1>
    <form id="myForm" action="/" method="post" accept-charset="utf-8">
      <input placeholder="Username" type="text" name="user" id="" required>
      <input id="myPassword" placeholder="Password" type="password" name="password" id="" required value="">
      <button class="singUpButton" type="submit">Sign Up</button>
      <div style="text-align:center">
      <p style="display=block;">–––––––––––––– ó ––––––––––––––</p>
      </div>
      <button class="loginButton" type="submit"><a style="text-decoration: none; color:  rgb(0, 109, 178);" href="/login">Login</a></button>
    </form>
  </div>
</section>