<h2>What do you wanna do?</h2>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="/signup" class="btn btn-default">SIGN UP</a>
  </div>
  <div class="btn-group" role="group">
    <a href="/login" class="btn btn-default">LOG IN</a>
  </div>
</div>