<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">

      <h1>Welcome!</h1>
      <h3>to continue, login or sign up.</h3>


      <div class="nav">
         <a href="login">LOGIN</a>
         <a href="signup">SIGN UP</a>
      </div>

      <div class="nav-loggedin">
         <a href="main">main</a>
         <a href="private">private</a>
      </div>

    </div>
  </body>
</html>
