<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world

    <p class="account-message">
     Have an account? <a href="/login">Log In</a>
    </p>

    <p class="account-message">
     Don't have an account? <a href="/signup">Sign up</a>
    </p>

  </body>
</html>
