<div class="back-img">
  <nav id="nav">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/main">Main</a></li>
        <li><a href="/private">Private</a></li>
        <li><a class="right" href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div id="margen">
      <div id="square">
    <img src="https://img.icons8.com/bubbles/2x/home-page.png" alt="">
    <h3>HOME PAGE</h3>
  </div>
  </div>
</div>