<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world: Carlos y Kath
    <a href="/signup">SignUp</a>
    
  </body>
</html>
