
<form action="/signup" method="post">
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="name">Password</label>
  <input type="password" name="pass">
  <input type="submit">
  <% if(errorMessage !== ""){%>
    <p><%= errorMessage %></p>
  <%}%>
</form>
