<center>
	<h1>{{title}}</h1>
</center>

<br>

<div id="container" class="menu">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/private">Private page</a>
  <a href="/main">Main page</a>
  <a href="/logout">Logout</a>
</div>