<div id="index" class="page">
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <p><a href="/register">Register</a> - <a href="/login">Log in</a> - <a href="/main">Main</a></p>
  {{#if isLoggedIn}}
  <p>Hello Mr {{currentUser.username}} <a href="/logout">Logout</a></p>
  <p><a id="private-link" href="/private">Private</a></p>
  {{/if}}
</div>
