<h1>Welcome</h1>
<a href="/login" class="btn btn-primary d-block mt-3">Login</a>
<a href="/signup" class="btn btn-primary d-block mt-3">Signup</a>
<a href="/main" class="btn btn-primary d-block mt-3">Main(Only Registered Users)</a>
<a href="/private" class="btn btn-primary d-block mt-3">Private(Only Registered Users)</a>
