<div class="container">

 <a  href="/auth/signup" type="button" class="btn btn-dark">Sign Up</a>
 <a href="/auth/login" type="button" class="btn btn-light">Login</a>
 <a href="/main" type="button" class="btn btn-primary">Main</a>
 <a href="/private" type="button" class="btn btn-danger">Prive</a>

</div>




