<div class="container">

  <h1>{{title}}</h1>
  
  <p>Welcome to {{title}}</p>

  <div class="inputs">
    <a href="/signup">
      <button>Sign up</button>
    </a>
  </div>

  <div class="inputs">
    <a href="/login">
      <button>Login</button>
    </a>
  </div>
</div>