<h1>First Screen - SignUp</h1>


<form action="/create-user" method="POST">
    <input type="text" name="username" id="" value="" required>
    <input type="password" name="password" id="" value="" required>

    <button>Sign Up!</button>
</form>
<a href="login">Login</a>