<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="container">
    <ul>
        <li><a href="/signup">Signup for an account</a></li>
        <li><a href="/main">Go to main page (MEMBERS ONLY)</a></li>
    </ul>
</div>
