<h1>Rock's Music Planet</h1>
<h3>Bienvenidos a {{title}}</h3>
<div>
  <p>Deseas registrarte:  <a href="/signup">Click aqui.</a></p>
  <p>Ya tienes ususario y deseas ingresar:   <a href="/login">Click aqui</a></p>
</div>
<img src="https://radiotoday.co.uk/wp-content/uploads/2018/06/planet-rock.png" alt="Planet rockx">