<h1>{{title}}</h1>
<p>Welcome {{currentUser.username}}</p>
<div>
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  {{#if currentUser}}
  <a href="/main">Main</a>
  <a href="/private">Private</a>
  <a href="/logout">Logout</a>
  {{/if}}
</div>