<section class=“section”>
    <ul>
        {{#each movies}}
        <li>
            <p>{{this.name}}</p>
            <p>{{this.year}}</p>
            <a href="/movies/{{this.id}}">Details</a>

        </li>
        {{/each}}
    </ul>
    {{#if user}}
    <a href="/movies/create"><button>Create a Movie</button></a>
    {{/if}}
</section>
