<section class="index">

  <figure class="snip1190">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample64.jpg" alt="sample64"/>
    <figcaption>
      <div class="square">
        <div></div>
      </div>
      <h2>Log<span> in</span></h2>
      <p>Be a member of the family</p>
    </figcaption>
    <a href="/auth/login"></a>
  </figure>
  {{#if currentUser}}
    <figure class="snip1190 hover">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample75.jpg" alt="sample75"/>
      <figcaption>
        <div class="square">
          <div></div>
        </div>
        <h2>private<span> content</span></h2>
        <p>This is just for you</p>
      </figcaption>
      <a href="/private"></a>
    </figure>
  {{/if}}
  <figure class="snip1190">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample62.jpg" alt="sample62"/>
    <figcaption>
      <div class="square">
        <div></div>
      </div>
      <h2>Public<span> Galery</span></h2>
      <p>Pictures for all</p>
    </figcaption>
    <a href="/main"></a>
  </figure>

</section>

