<div class="main">
  <a href="/signup"><button>Sign Up</button></a>
  <a href="/login"><button>Log In</button></a>
  <a href="/main">Go to the main room</a>
  <a href="/private">Go to the private room</a>
  </div>
