<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
 <div id="container">
     <a href="/index">Home</a>
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/private">Protected page (requires authentication)</a>
  <a href="/logout">Logout</a>
</div>  
                <% if (typeof(user) !== "undefined") { %>
            <div class="error-message">
                <%= user.username %>
            </div>
            <% } %>
  </body>
</html>