<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello. <br>
    Here you can to <a href="/signup">sign up</a><br>
    And here you can to <a href="/login">login</a>
  </body>
</html>
