<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Homepage</h1>
  <a href="auth/signup">Sign up</a>
  <a href="auth/login">Login</a>
</body>

</html>
