<<<<<<< HEAD
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/signup">Sign Up</a>
<a href="/login">Login</a>
=======
<div class="container-index">

  <h1>{{title}}</h1>

  <p>Welcome to {{title}}</p>
  
  <div class="index-links">
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="/main">Main 🔒</a>
    <a href="/private">Private 🔒</a>
    <a href="/home">User</a>
  </div>


</div>
>>>>>>> 3425e0f6e987f6d7bdc8515d5ec1c9a2ee865d18
