<div class="container">
  <ul id="ul"> 
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Login</a></li>
    <li><a href="/private">Protected page (requires authentication!)</a></li>
  </ul>
</div>
