<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world
      <br>
    <button> <a href="/signup"> Sign up </a> </button>
      <br>
    <button> <a href="/login"> Log in </a> </button>
  </body>
</html>
