<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world
  <a href="/auth/signup">Signup</a>
  <a href="/auth/login">Login</a>
  <a href="/main">Main</a>
  <a href="/private">Private</a>
  </body>
</html>
