<h1>¡Bienvenido!</h1>
<a href="/signup">Sing up</a>
<a href="/login">Log in</a>
<a href="/main">Main</a>
<a href="/private">Private</a>

    {{#if errorMessage}}
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
    {{/if}}