<h1>TEO NO TE QUEREMOS</h1>
<br>
<button type="button"><a href="/signup">¿Te quieres registrar?</a></button>
<br>
<button type="button"><a href="/login">¿Quieres iniciar sesión?</a></button>
<br>
<br>
<br>
<button type="button"><a href="/login">Si me tocas dame tu clave</a></button>