<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Byron will you marry me? /Tania</h1>

     <a href="login">LOGIN</a>
     <a href="signup">SIGN UP</a>
  </body>
</html>
