<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world
<ul>
  <li><a href="/auth/login"> Login </a></li>
  <li><a href="/auth/main"> CATSSS </a></li>
  <li><a href="/auth/private"> AND.... </a></li>
</ul>
  </body>
</html>
