<h1 class="title">Express Basic Auth Site</h1>
<p class="subtitle">Welcome to my site!!!!</p>
<div>
<a class="btn btn-primary btn-sm" href="/login">Login</a>
<a class="btn btn-primary btn-sm" href="/signup">Signup</a>
<a class="btn btn-primary btn-sm" href="/main">Main</a>
<a class="btn btn-primary btn-sm" href="/private">Private</a>
</div>