
<p>Welcome to the homepage</p>
<div id="container">
  <a href="/auth/signup">Sign up</a><p></p>
  <a href="/auth/login">Login</a><p></p>
  <a href="/private">Private</a><p></p>
    <a href="/main">Main</a>
</div> 