<!DOCTYPE html>
<html>


  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Basic Auth</h1>
    <div id="container">
      <a href="/signup">Sign up</a>
      <a href="/login">Login</a>
      <a href="/user">Protected page (requires authentication)</a>
      <a href="/logout">Logout</a>
    </div>






  </body>
</html>
