<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>hola</h1>
    <a href="localhost:3000/signup"></a>
  </body>
</html>
