<!DOCTYPE html>
<html>
  <head>
    <title>DARK SIDE OF AUTH</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world<br>

    <a href="/login">LOGIN</a><br>
    <a href="/main">MAIN</a><br>
    <a href="/private">PRIVATE</a><br>
    <a href="/logout">LOGOUT</a><br>
  </body>
</html>
