<div class="container-index">

  <h1>{{title}}</h1>

  <p>Welcome to {{title}}</p>
  
  <div class="index-links">
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    <a href="/main">Main 🔒</a>
    <a href="/private">Private 🔒</a>
    <a href="/home">User</a>
  </div>


</div>