<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <a href="/signup"> Sign Up </a>
    <!-- Explain route -->
  </body>
</html>
