<header>
    <h1>Welcome to {{title}}</h1>
    <br>
    <h5>You can show the different options in the navbar. <b>Enjoy it!</b></h5>
    {{#if user}}
    <p>You are done login {user.username}</p>
    {{/if}}
</header>