{{#if user}}
<h1>Welcome {{user.name}} {{user.lastname}}</h1>
{{else}}
<h1>Welcome to {{title}}</h1>
{{/if}}

<h2>We help people learn English and prove their skills to the world</h2>

<div class="box-img">
  <img src="../images/class.jpg" alt="English">
</div>

<div class="col-4">
  <div class="col">
    <h3>Schools</h3>
    <p>Our qualifications offer your students a structured way to improve their English. Find out how to join our global
      network of 50,000 preparation centres.</p>
  </div>
  <div class="col">
    <h3>Learners</h3>
    <p>Preparing for one of our exams can help you communicate in real life. Take a look at our range of free resources
      to help you learn English.</p>
  </div>
  <div class="col">
    <h3>Teachers</h3>
    <p>We can help you to prepare your students and improve their English. We also have qualifications and professional
      development to help you get the most out of your teaching.</p>
  </div>
  <div class="col">
    <h3>Organisations</h3>
    <p>By accepting our tests and qualifications, you can access candidates from around the world who have the English
      skills to succeed. Find out how to recognise our exams.</p>
  </div>
</div>

<div class="col-2">
  <div class="col-text">
    <h2>Your path to learning English, step by step</h2>
    <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and
      rewarding. Our unique approach encourages continuous progression with a clear path to improve language skills. We
      have qualifications for schools, general and higher education, and business.</p>
    <a class="btn" href="/about">About us</a>
  </div>
  <div class="col-img">
    <img src="../images/about.jpg" alt="about us">
  </div>
</div>
<div class="col-2 inverse">
  <div class="col-text">
    <h2>Together we inspire learners to go further</h2>
    <p>Our range of free teaching resources, lesson plans and activities is designed to help you prepare your students
      for our exams and tests. We also have a range of teaching qualifications, courses and support to help you develop
      as a teacher.</p>
    <a class="btn" href="/about">About us</a>
  </div>
  <div class="col-img">
    <img src="../images/about2.jpg" alt="about us">
  </div>
</div>
<div class="col-2 ">
  <div class="col-text">
    <h2>Online English testing, simplified</h2>
    <p>Linguaskill is a quick and convenient online test to help higher education institutions and employers check the
      English levels of individuals and groups of candidates. It combines the latest technology with the reliability and
      quality you expect from Cambridge.</p>
    <a class="btn" href="/about">About us</a>
  </div>
  <div class="col-img">
    <img src="../images/about3.jpg" alt="about us">
  </div>
</div>