<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="auth-container">
  {{#if loggedIn}}
  <a href="/private">Private hangout</a>
  <a href="/auth/logout">Log out</a>
  {{else}}
  <a href="/auth/signup">Sign up</a>
  <a href="/auth/login">Log in</a>
  <a href="/main">Main hangout</a>
  {{/if}}
</div>