<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a class="link" href="/auth/signin">go to signin</a>
<a class="link" href="/auth/signup">go to signup</a>
<a class="link" href="/auth/secret">secret page</a>
