<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello world</h1>

      <a href="/signin"><button> Sign in </button></a>
      <a href="/signup"><button> Sign up </button></a>
  </body>
</html>
