<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Welcome to the home page

    <div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
</div>
  </body>
</html>
