<!DOCTYPE html>
<html>
  <head>
    <title>Basic Autherise</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The awesome amazing super secure Website!</h1>
    <br><br>
    <p><a href="/signup">Sign up to receive no updates <strong>HERE!</strong></a></p>
    <p><a href="/login">Login <strong>HERE!</strong></a></p>
    <p><a href="/secret">Go to Secret Page</a></p>
  </body>
</html>
