<h1>Signup</h1>

<form method="post" action="" class="form">
  <label for="username">Username</label>
  <input class="input" id="username" name="username" type="text" value="testname">
  <label for="password">password</label>
  <input class="input" id="password" name="password" type="password" value="12345Sunshine">
  <button class="btn">Create account</button>
</form>