<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world
    <ul>
      <li><a href="/users/signup"> Signup</li>
      <li><a href="/users/login"> Login</li>
      <li><a href="/users/main"> Main</li>
      <li><a href="/users/private"> Private</li>
      <li><a href="/users/logout"> Logout</li>
  </body>
</html>
