<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
  <p>Don't have an account?</p><a href="/auth/signup">Sign Up</a>
</div>
<div>
  <p>Already have an account?</p><a href="/auth/login">Log In</a>
</div>
<div>
  <p>When you log in you can access our <a href="/main">Main</a> and <a href="/private">Private</a> sections</p>
</div>
