<div id = "main">
  <a href="/signup"> <button>Create account</button></a>
  <br>
  <br>
  <br>
  <a href="/login"> <button>Login</button> </a>
  <br>
  <br>
  <br>  
  <a href="/private-login"> <button>Log into your private account</button> </a>
</div>
