<div id="form">
    <a class="button" href="/signup">Sign Up</a>
    <a class="button" href="/login">LogIn</a>
    <hr>
    <a class = "button cl" href="/main"> MAIN PAGE (requires authentication!)</a>
    <a class = "button cl" href="/private">PRIVATE PAGE (requires authentication!)</a>
</div>