<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world
    <form method="get" action="/signup">
      <div>
      <button> Sign up </button>
    </form>
  </body>
</html>
