
<h1>Welcome to our secret page </h1>
<div class="text-home">
<p>If you are a new user: </p>
<a href="/signup"><button>Create New User</button></a> </button> 

<p>If you already have an User Name: </p>
<a href="/login"><button>Log in</button></a> </button>

</div>