<h3>Hi there cowboy!</h3>

<a href="/auth/signup">Sign-up here!</a>
<a href="/auth/login">Login here!</a>
<a href="/main">Cat pic anyone?</a>
<a href="/private">Private eyes only</a>

<div class="infoText">
    <% if (typeof message !== 'undefined') { %>
        <p class="error">
            <%= message %>
        </p>
        <% } %>
</div>