<h1>Welcome to Home</h1>
<img src="https://t2.ea.ltmcdn.com/es/images/0/7/8/img_por_que_mi_gato_se_ha_vuelto_agresivo_22870_600.jpg" alt="">
<div id="containerlogout">
  <button id="logout"><a href="/logout">Log out</a></button>
</div>