<div class="loginpanel">
  <form action="/login" class="loginpanel" method="post">
    <div class="txt">
      <label for="username" class="entypo-user"></label>
      <input name="username" type="text">
    </div>
    <div class="txt">
      <label for="pwd" class="entypo-lock"></label>
      <input name="pwd" type="password">
    </div>
    <div class="buttons">
      <input type="submit" value="Login" />
      <span>
        <a href="views/signup" class="entypo-user-add register">Register</a>
      </span>
    </div>
  </form>
</div>
