<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world
    <h2><a href="/signup">signup</a></h2>
    
  </body>
</html>
