<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1> Welcome </h1>

      <nav>
        <a href="/"> Home </a>
        <a href="/signup"> Sign Up </a>
      </nav>
    </header>

    <h2> Please Sign Up </h2>

  </body>
</html>
