<h1>{{title}}</h1>
{{#if user}}
<a href="/user/main">Gato Page</a>
<a href="/user/private">Gif page</a>
{{/if}}
<p>Welcome to {{title}}</p>
<a href="/user/signUp">Registrese compadre</a>
<a href="/user/login">Inicia tu sesión</a>
