<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>PP Tere y Juan - Inicio</h1>

    <a class="auth-link" href="/auth/signup">Crea tu cuenta aqui</a>
    <a class="auth-link" href="/auth/login">Haz login</a>
    <a class="auth-link" href="/secret">PAGINA SECRETA</a>
  </body>
</html>

<a class="auth-link" href="/auth/logout">Logout</a>
