<body class="bg-info">
  <div class="jumbotron centered bg-dark text-white">
    <div class="container">

      <h1 class="display-3"><i class="fas fa-paw fa"></i> Show me the dog</h1>
      <p class="lead">Here, you can see amazing dog photos</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Sign up</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>

</body>