<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello world

    <div id="container">
      <a href="/signup">Sign up</a>
      <a href="/login">Login</a>
      <br>
      <a style="color:orange" href="/secret">Protected page (requires authentication)</a>
      <br>
      <a style="color:red" href="/logout">Logout</a>
    </div>
  </body>
</html>
