<!DOCTYPE html>
<html>


  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Basic Auth</h1>
    <div id="container">
      <a href="/signup">Sign up</a>
      <a href="/login">Login</a>
      <a href="/user">Protected page (requires authentication)</a>
      <a href="/logout">Logout</a>
    </div>





    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="strength.js"></script>
    <script type="text/javascript" src="js.js"></script>
  </body>
</html>
