
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h2> Express users</h2>
      <nav>
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>

      </nav>
    </header>

    <footer>
      <h3>MAde by Armando</h3>
    </footer>
  </body>
</html>
