<div class="welcome-container">
  <div class="welcome-title">
    <h1>Welcome to {{title}}</h1>
  </div>

  <div class="buttons">
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
  </div>

</div>
