<h1><%= title %></h1>
<ul>
  <li><a href="/signup">Sign-Up</a></li>
  <li><a href="/login">Login</a></li>
</ul>

<% if (typeof(successMessage) != "undefined") { %>
    <div class="success-message"><%= successMessage %></div>
  <% } %>