<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='./public/stylesheets/style.css' />
  </head>
  <body>
    <h1>ESTOY EN INDEX</h1>
    Hello world
  </body>
</html>
