<h1>{{action}} section</h1>

<form method="POST" action="/{{action}}" id="theForm">
  <input type="text" name="username" value="" id="username">
  <input type="password" name="password" value="" id="password">

  <p style="color: red;" id="errorBox"></p>

  <input type="submit" name="" id="submitButton" value="Submit form">
</form>



