<nav>
  <div>
    <a href="/signup">Sign up Now!</a>
    <a href="/signin">Sign in</a>
  </div>
  <div>
    <a href="/private">My profile (must be logged in)</a>
    <a href="/main">My images (must be logged in)</a>
  </div>
</nav>
<h1 class="home-title">WELCOME TO YOUR IRONHACK PRIVATE SPACE!</h1>