<div class="mainpage">
    <h1>{{title}}</h1>
    <div id="links">
        <p>¿Ya tienes cuenta?<a href="login">Log in</a> </p>
        <p>¿Aun no tienes? Hazte una aquí <a href="/signup">Sign up</a></p>
    </div>

</div>