<h1>LAB Express Basic Auth</h1>
<p>Welcome to LAB Express Basic Auth</p>
<p>You can see the Github here: <a href="https://github.com/militroncho7/lab-express-basic-auth"> LAB Express Basic Auth</a></p>
<p>By <a href="https://github.com/militroncho7/">Victor El Auténtico</a> && <a href="https://github.com/joancarballo">Carballo</a></p>