<h1>Regístrate</h1>
<form action="/" method="post">
    <input type="text" name="user" autocomplete="username" placeholder="Username">
    <input type="password" name="password"  autocomplete="current-password" placeholder="Password">
    <input type="submit" value="SignUp">
    <a href="/login">Login</a>
</form>
