{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


<section id='signUp'>
  <div class="formSingUp">
    <h1>Sign Up</h1>
    <form action="/" method="post">
      <input placeholder="Username" type="text" name="user" id="" required>
      <input placeholder="Password" type="password" name="password" id="" required>
      <button class="singUpButton" type="submit">Sign Up</button>
      <div style="text-align:center">
      <p style="display=block;">–––––––––––––– ó ––––––––––––––</p>
      </div>
      <button class="loginButton" type="submit"><a style="text-decoration: none; color:  rgb(0, 109, 178);" href="/login">Login</a></button>
    </form>
  </div>
</section>