<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Welcome to the test app</h1>
        <a href="/signup" class="btn btn-large btn-block btn-primary">Sign Up</a>
        <a href="/login" class="btn btn-large btn-block btn-primary">Log in</a>
    </div>
</div>