<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>You are now correctly logged in!</h2>

<h4>Go to <a href="/main">Main</a></h4>

<h4>Go to <a href="/private">Private</a></h4>

<a href="/logout">
  <button>Logout</button>
</a>