<img src="/images/rawpixel-558599-unsplash.jpg" id="bg2">
<div class="container text-center mt-5">
      <h1 class="jumbotron-heading">Express basic auth Lab</h1>
      <p class="lead text-muted">Lorem fistrum me cago en tus muelas ese que llega condemor pupita va usté muy cargadoo me cago en tus muelas a gramenawer. La caidita amatomaa benemeritaar quietooor pupita ese que llega.</p>
      <p>
        <a class="btn btn-primary btn-lg mr-3" href="auth/register">Register</a>
        <a class="btn btn-success btn-lg" href="auth/login">Login</a>
      </p>
    </div>