<h1>Home</h1>
<p>Welcome</p>

<div id="container">
  <a href="/signup">
    <button>Sign up</button>
  </a>

  <a href="/login">
    <button>Login</button>
  </a>


  <a href="/logout">
    <button style="background: red;">Logout</button>
  </a>


  {{!-- <a href="/secret">
    <button>Protected page (requires authentication!)</button>
  </a> --}}
</div>