<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/secret">
  <h2>The secret content you want</h2>
</a>

<a href="/auth/login"><button>login</button></a>

<a href="/auth/signup">new? sign up</a>

<a href="/auth/logout">logout</a>