<!DOCTYPE html>
<html>
  <head>
    <title>Basic Authentication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Create User Account</h1>
      <div class="">
        <p>Create an account by submitting a username and password</p>
      </div>
      <form action="/index" method="post">
        <label for="index">Select username</label>
        <input id="index" name="user-name" value="">

        <label for="index">Select password</label>
        <input id="index" name="password" value="">
        <button type="submit" name="submit">Create User Account</button>
      </form>
    </div>

  </body>
</html>
