<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
      <ul>
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/main">Protected page (Main) (requires authentication)</a></li>
        <li><a href="/private">Protected page (Private) (requires authentication)</a></li>
      </ul>
</div>
  </body>
</html>
