<h1>Basic authentication example </h1>
<p>Welcome to my page!<br> what would you like to do?</p><br>
<a href="/main"> watch Main content!</a><br>
<a href="/signup">Sign up</a> <br>
<a href="login">Log in</a><br><br>
