<div>
  <nav>
    <div>
      <ul>
        <li><a href="/main">Main</a></li>
        <li><a href="/private">Private</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <div>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTNEQTwqt9OUWwKziyBpTRKJ46l-BpjXEqWg0GWjOBvTG3xcU2P"
        alt="">
      <h3>HOME PAGE</h3>
    </div>
  </div>
</div>