<div class="row"><br><br>
    <div class="col s6 m6 offset-s3 offset-m3">
      <div class="card white darken-1">
        <div class="card-content black-text">
          <span class="card-title">Welcome</span>
          <p></p>
        </div>
        <div class="card-action ">
          <a href="/login">Login</a>
          <a href="/signup">Signup</a>
        </div>
      </div>
    </div>
  </div>