<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div id="container">
  <a href="/users/signup">Sign up</a>
  <a href="/users/login">Login</a>
  <a href="/users/login">Protected page (requires authentication!)</a>
</div>