<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if user}}
<a href="/main">To a funny cat!</a>
<a href="/private">Super secret stuff</a>
{{/if}}

<a href="/signup">Sign up</a>
<a href="/login">Log in</a>
<a href="/logout">Log out</a>