

<div id="container" class="d-flex  justify-content-center flex-column  align-items-center mx-auto">
  <div><h1>Basic-Auth lab</h1></div>  
  <div class="btn-group d-flex justify-content-center align-items-center col-6 flex-row flex-wrap" role="group" aria-label="Basic example">
    <div ><a href="/register" type="button" class="btn btn-secondary w-100 m-1">Register</a></div>
    <div><a href="/login" type="button" class="btn btn-secondary w-100 m-1">Login</a></div>
    <div><a href="/profile" type="button" class="btn btn-secondary w-100 m-1">Profile</a></div>
  </div>
</div>

