<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div id="container">
  <a class="inicio" href="/auth/signup">Sign up</a><br>
  <a class="inicio" href="/auth/login">Login</a><br>
  <a class="inicio" href="/main/home">Main page</a><br>
  <a class="inicio" href="/private/home">Private page</a><br>
</div>