<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<br>
<hr>
<br>
<a href="./auth/signup">Hey you! What would you think about signing up ? we have great stuff to share you!</a>
<br>
<br>
<hr>
<br>
<a href="./auth/signin">Hey hey back! What would you think about signing in, now that you're in'</a>
<br>
<br>
<hr>
<br>
<br>
<a href="./main">Hey hey hey hey hey !!!!!!!!!!!!! wanna see a cat ??? This feature is only for premium members ;) ;) ;) ;) ;) </a>
<br>
<br>
<hr>
