<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= message %></p>
    <a href="http://localhost:3000/signup">Sign Up</a>
  </body>
</html>
