{{#if user}}
  <h1>Welcome <span class="capitalize">{{user.username}}</span> ;)</h1>
  <h2>You are mega awesome!</h2>
{{else}}
  <h1>{{title}}</h1>
  <h2>You need to log in to see the contents!</h2>
{{/if}}
