<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Basic Authorization</h1>
    <div id="container">
      <a href="/signup">Sign up</a><br>
      <a href="/login">Login</a><br>
      <a href="/main">Main page (requires authentication)</a><br>
      <a href="/private">Private GIF (requires authentication)</a><br>
      <a href="/logout">Logout</a><br>
    </div>
  </body>
</html>
