<h1> Welcome to Home</h1>

{{!-- {{>nav}} --}}

{{!-- <div id="container">
  <a href="/auth">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret">Protected page (requires authentication!)</a>
  <a href="/auth/logout">Log Out</a>

</div> --}}
