<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        {{#unless currentUser}}
        <li><a href="/auth/signup">Sign Up</a></li>
        <li><a href="/auth/login">Login</a></li>
        {{else}}
        <li>Welcome {{currentUser.username}}</li>
        <li>
          <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
        </li>
        {{/unless}}
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
