<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav class ="navbar">
  <ul class="nav-list">
    <li><a class="nav-link"  href="/">Home</a></li>
    <li><a class="nav-link"  href="/auth">Sign up</a></li>
    <li><a class="nav-link"  href="/login">Login</a></li>
    <li><a class="nav-link"  href="/secret">Protected page (requires authentication!)</a></li>
    <li><a href="/auth/logout">Log Out</a></li>
    </ul>
</nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>