<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/strength.min.js"></script>
    <script type="text/javascript" src="javascripts/script.js"></script>
    
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>Bulma Signup Thing</title>
</head>

<body class="is-flex">
    {{{body}}}
</body>

<footer class="footer">
    <p>Created with <strong>Bulma</strong> at Ironhack :)</p>
</footer>

</html>