<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/strength.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <header>
    <h1>{{title}}</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <p>Made with ❤️</p>
  </footer>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
  <script src="/javascripts/strength.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>