<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <div>
    <a href="/">HOME</a> | 
    <a href="/auth/login">LOGIN</a> | 
    <a href="/auth/signup">SIGNUP</a> | 
    <a href="/auth/logout">LOGOUT</a> <b>Members only: </b> 
    <a href="/main">main</a> | 
    <a href="/private">private</a>
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>