<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <%- body %>
  </body>
</html>
