<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/signup">Sign up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/private">Página privada (ni lo intentes)</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/main">Checa este gato (sólo si puedes)</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
  
</ul>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>






