<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  
  <div class="center-content">
    <nav class="navigation">
      <div class="menu-button">
        <a href="/">home</a>
      </div>
      <div class="menu-button">
        <a href="/user/create">Register</a>
      </div>
      <div class="menu-button">
        <a href="/member">Member area</a>
      </div>
      <div class="menu-button logout-button">
        <a href="/user/logout">Logout</a>
      </div>
    </nav>
  
    {{{body}}}
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>