<!DOCTYPE html>
<html>
  <head>

    <title>Basic Auth</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>

    <header>
      <h1> Hello world </h1>

      <a href="/"> Home </a>
      <a href="/signup"> Sign Up </a>
    </header>

  <%- body %>

  <footer>
    Made with 👽 at Ironhack.
  </footer>

  </body>
</html>
