<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container-nav">
      <nav id="nav-bar">
        <ul>
          <li><a href="/login">Log in</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/private">Home</a></li>
        </ul>
      </nav>
    </div>
    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
