<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1>
        Express Users
      </h1>
      <nav>
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
      </nav>
    </header>
    <%- body %>
    <footer>
      Made with 💗 by Jess at Ironhack.
    </footer>
  </body>
</html>
