<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../public/stylesheets/strength.css" />
</head>
<body>


  <script src="../public/javascripts/strength.min.js"></script>
  <script type="text/javascript" src="../public/javascripts/strength.js"></script>
  <script src="../public/javascripts/script.js"></script>
  {{{body}}}
</body>
</html>