<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>

  <nav>
    <p>
      <a href="/auth/signin">log in</a> |
      <a href="/auth/signup">sign up</a> |
      <a href="/">do nothing</a>
    </p>
  </nav>

  {{{body}}}

  
  <script src="/javascripts/script.js"></script>
</body>
</html>