<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="plugins/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="plugins/strength/strength.min.js"></script>
    <link rel="stylesheet" href="plugins/strength/strength.css">
    <script type="text/javascript" src="javascripts/main.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>
