<!DOCTYPE html>
<html lang="en">
​
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>{{title}}</title>
 <link rel="stylesheet" href="/stylesheets/strength.css">
 <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
​
<body>
​
 {{{body}}}
​
​
​
 <script src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
 <script type="text/javascript" src="/javascripts/strength.js"></script>
 {{!-- <script type="text/javascript" src="js.js"></script> --}}
​
​
 <script src="/javascripts/script.js"></script>
 {{!-- <script>
  $(document).ready(function ($) {
​
   $('#myPassword').strength({
    strengthClass: 'strength',
    strengthMeterClass: 'strength_meter',
    strengthButtonClass: 'button_strength',
    strengthButtonText: 'Show password',
    strengthButtonTextToggle: 'Hide Password'
   });
​
  });
 </script> --}}
​
</body>
​
</html>