<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/src/strength.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="src/strength.js"></script>
  <script type="text/javascript" src="src/js.js"></script>
</head>
<body>
  <div id="container">
    <a href="/">HOME</a>
    <a href="/signup">Sign up</a>
    <a href="/login">Login</a>
    <a href="/main">Main (protected)</a>
    <a href="/private">Private (protected)</a>
    <a href="/logout">Logout</a>
  </div>
  {{{body}}}
  <script src="main.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>