<form action="/log-in" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

  <button type="submit">Login</button>
</form>

{{#if errorMessage }}
<div class="error-message">{{{ errorMessage }}}</div>
{{/if}}


<p class="account-message">
  Don't have an account? <a href="/signup">Sign up</a>
</p>