<div class="row">
  <div class="col-sm-12">

    <form action="/login" method="POST" id="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" required>
    <small id="emailHelp" class="form-text text-muted">Don't have an account? <a href="/signup">Sign up</a>.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required minlength="8" maxlength="20">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>

  </div>
</div>


{{#if errorMessage}}
<div class="row mt-3">
  <div class="col-md-3">
    <div class="alert alert-danger" role="alert">{{{errorMessage}}}</div>
  </div>
</div>
{{/if}}