{{#if errorMessage}}
<div class="error-message">ERROR: {{errorMessage}}</div>
{{/if}}

<form action="/login" method="post">
<label for="username">Username</label>
<input name="username" id="username" type="text">
<label for="password">Password</label>
<input name="password" id="password" type="password">
<button>Submit</button>
</form>