<a href="signup">Signup</a>

<form action="/login" method="POST">
    <input type="text" name="username" value="Estefania">
    <input type="password" name="password" value="123">

    <input type="submit" value="Login">
</form>