<h1>Login form</h1>
    <nav>
        <a href="/signup">Signup</a>
    </nav>
    <form action="/login" method="POST">
        <input type="text" name="username" value="" placeholder="User name">
        <input type="password" name="password" value="" placeholder="Insert password">

        <input type="submit" value="Login">
    </form>