<h2>
    <%=error%>
</h2>
<h2>Please Login</h2>
<form action="/login" method="post">
    <input placeholder="Username" type="text" name="userName" required>
    <input placeholder="Password" type="password" name="password" required>
    <input type="submit">
</form>