<h2>Login</h2>
 {{error}}
<form action="/login" method="post">
<p>Usuario
  <input type="text" name="username"  required value="{{username}}">
</p>
<p>Contraseña
  <input type="password" name="password" required value="{{password}}">

</p>
<input type="submit">
</form>