<h2>Log in</h2>
<form action="/auth/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button type="submit">Log in</button>
</form>

{{#if message}}
<p class="error-message">{{message}}</p>
{{/if}}