<h1>Login</h1>
<form action="/login" method="post">
    <input type="text" name="user" autocomplete="username" placeholder="Username">
    <input type="password" name="password" autocomplete="current-password" placeholder="Username" >
    <input type="submit" value="Login">
</form>
