<h2>Log In</h2>
{{!-- route to the middle path request --}}
<form action="/process-login" method="POST">
  <label>
    Username:
    <input type="text" name="username" placeholder="Log In" />
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="Log In" />

  </label>

  <button>Log In</button>
</form>