<form action="/auth/login" method="post">
    <h2>Login</h2>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
    {{#if message}}
    <p class="error-message">{{message}}</p>
    {{/if}}
</form>