<h1>{{title}}</h1>
<h2>Login</h2>
<p>If you want to get access to our private site, you are in the right place.</p>
<form action="/login" method="POST"> 
<input type="text" name="user" value="" placeholder="User">
<input type="password" name="password" value="" placeholder="Password">
<input type="submit"  class="button" value="Login">
</form>
<p>Do you want to see the private site but you have not registered yet?</p><a href="/signup">Create an account</a>😎</p>
