<div class="login-container">
  <form action="/auth/login" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
    {{#if msg}}
    <p class="err-msg">{{msg}}</p>
    {{/if}}
  </form>
</div>