<form action="/login" method="post">

  <label for="">Username</label>
  <input type="text" name="username">

  <label for="">Password</label>
  <input type="password" name="password">

  <button>Log In</button>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}