<h1>Login</h1>
<form id="login" action="/signin" method="post">
    <label for="username">Username</label>
    <input class="input" id="username" name="username" type="text" value="Anakin Skywalker">
    <label for="password">Password</label>
    <input class="input" id="password" name="password" type="password" value="123456">
    <a href="">Show Password</a>
    <button>Login</button>
</form>