<h1>Signup form</h1>

<form action="/signup" method="POST">
    <input type="text" name="username" value="Manu">
    <input type="password" name="password" value="666">

    <input type="submit" value="Signup">
</form>