<div>
  {{#if errorMessage}}
    {{ errorMessage }}
  {{/if}}
</div>

<form action="/login" method="post">
	<input type="text" name="user" value="" autocomplete="username">
	<input type="password" name="password" value="" autocomplete="current-password">
	<input type="submit" value="Login">
</form>