<form action ="/login" method="post">  
  
  <label for="fname">First name:</label><br>
  <input type="text" name="name" placeholder="Name"><br>
  <label for="lname">Last name:</label><br>
  <input type="text"  name="lastName" placeholder="Last Name"><br><br>
   <label for="pass">Password:</label><br>
  <input type="password" name="password" placeholder="password"><br><br>
  <button type="submit">Log in</button>

</form>

{{#if errorMessage}}

<div class='error-message'> {{errorMessage}}</div>
{{/if}}