<main class="signup">
  <h2>Login</h2>
  <form action="/login" method="POST" id="form">
    <div class="field">
      <label for="user">User</label>
      <input type="text" name="user" id="user" required>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" required>
    </div>

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <div class="button-container">
      <button type="submit">Sign In</button>
    </div>

    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>
  </form>

</main>