<form action="/auth/login" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <button>Login</button>
    {{#if message}}
    <p class="error-message">{{message}}</p>
    {{/if}}
</form>
<p class="account-message">
    Don't have an account? <a href="/auth/signup">Sign up</a>
</p>
</form>