<div class="back-img">
<div id="margen">
      <div id="square">
      <form action="/auth/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button class="btn">Sign in</button><br><br><br>

  <p class="account-message">
    Don't have an account? <a href="/auth/signup">Sign up</a>
  </p>
</form>
</div>
</div>
</div>