<h1>Log in:</h1>


<form action="/login" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" required>
  <label for="password">Password: </label>
  <input id="myPassword" type="password" name="password" id="password" required>

  <button type="submit">Login</button>
</form>


{{#if message}}
<p>{{message}}</p>
{{/if}}