<div class="container">
  <div class="row">
    <h1>Incio Sesión</h1>

    <div class="caja row">
      <form action="/login" method="post">
      <div>
        <label for="email-input">Usuario</label>
        <input name="email" type="email" id="email.input">
      </div>
      <div>
        <label for="password-input">COntraseña</label>
        <input name="password" type="password" id="password-input">
      </div>
      <button type="submit" class="btn btn-dark">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>