<form action="/login" method="POST">
  <label for="username">Username</label>
  <input tpye="text" id="username" name="username">
  <label for="password">Password</label>
  <input type="text" id="password" name="password">
  <button tpye="submit">Login</button>
</form>