<form action="/login-user" method="POST">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">

  {{#if errorMessage}}
    <div style="padding:20px; background: red;">
      {{errorMessage}}
    </div>
  {{/if}}

  <input type="Submit" value="Log in">
</form>