<div class="div-form">
    <form  class="form" action="/login" method="post">
        <h2>Login</h2>
        <input type="text" name="user" required>
        <input type="password" name="password" required>
        <button type="submit"> Login </button> 
           <a  class="button-link" href="/SingUp"> Register </a> 
    </form>
</div>