<form id="form" action="/login" method="POST">
    <label for="username">Username</label><br>
    <input type="text" name="username"
      placeholder="AnakinSkywalker">

    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="DeathStar">

    <button>Log in</button>
  </form>