<form method="post" action="/login">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required="required">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required="required" minlength="6">
    <button type="submit">Login</button>
</form>