<h2>Log In</h2>

<form action="/login-process" method="post">
  <label>
    Username:
    <input type="text" name="userName" placeholder="my username" required />
  </label>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="secret word" required />
  </label>

  <button>Log In</button>

</form>