<form method="POST" action="/login">
<input type="text" placeholder="username" name="username" required>
<input type="password" placeholder="password" name="password" required>

<input type="submit" value="Login">

{{#if error}}
<p style="color:#ff0000">{{error}}</p>
{{/if}}
</form>