<form method="post" action="/login" class="form">
    <h1 class="title">PLEASE TRY TO LOG IN </h1>

    <label for="username"></label>
    <input class="input" name="username" type="text" value="test@gmail.com" required>
    <label for="password"></label>
    <input class="input" name="password" type="password" value="12345" required>

    <button class="btn">go !</button>
    <hr>

    <p>
        No account yet ? <a class="link" href="/register">please register in our database !</a>
    </p>
</form>