<form action="/users/login" method="post">
    <input placeholder="Write your username" type="text" name="username">
    <input placeholder="Write your password" type="password" name="password">
    <input type="submit">
</form>