<div>
    <div class="flex background">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="Login">

            {{#if error}}
            <p style="color:red">{{error}}</p>
            {{/if}}
        </form>

        <p>Not a user?</p>
        <a href="/signup">Signup</a>
    </div>
</div>