<h2>Login</h2>
<form method="POST" action="/login">
  <label for="">User</label>
  <input type="text" name="user" placeholder="USERNAME">
  <label for="">Password</label>
  <input type="password" name="pass" placeholder="PASSWORD">
  <input type="submit" value="Enviar">
</form>
{{error}}
<h4><a href="/sign">Sign in here</a></h4>