<a class="formlink" href="/">Go back</a>
<section class="form">
    <h1>Log In</h1>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" value="" required placeholder="Enter your nickname">
        <label for="password">Password</label>
        <input type="password" name="password" value="" required placeholder="Enter your password">
        <input class="button" type="submit" value="Log In">
        {{#if error}}
            <p class="error">{{error}}</p>
        {{/if}}
    </form>
</section>