<div class="index-div">
    <div id="signup-container">
        <h1><span>Login</span></h1>
        <form id="myform" action="/login" method="post" accept-charset="utf-8">
            <br>

            <h2>Username</h2>
            <input type="text" name="user" placeholder="user" required="required" autocomplete="username">
            <h2>Password</h2>
            <input id="myPassword" type="password" name="password" placeholder="pwd" required="required" autocomplete="current-password">
            <br><a href="">Show Password</a>
            <input type="submit" value="Login" >
        </form>
    </div>
</div>
