
<h1>LOGIN FORM</h1>

<form action='/auth/login' method='POST'>

  <label for=''>Username</label>
  <input type='text' name='username'>

  <label for=''>Password</label>
  <input type='password' name='password'>

  <button type='submit'>LOGIN</button>

    <p class="account-message">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>

</form>

{{!-- error message display --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}