<h1> Welcome Back , Please Log in </h1>
<form action ="/login" method ="POST">
  <label> 
    Username: 
  </label>
  <input type="text" name="user" >
  <label>Password:</label>
  <input type="password" name="password">
  <input type="submit" value="login">
</form>