<h1>Log IN</h1>
<form action="/login" method="POST">
  <label for="logInUserName">
    Username
    <input id="logInUserName" name="userName" placeholder="here" required minlength="6">
  </label>
  <label for="logInPassword">Password
    <input type="password" id="LogInPassword" , name="originalPassword" placeholder="here" required minlength="6">
  </label>
  <button>Log in</button>
</form>