<form action="/login" method="POST" id="form">
  <h2>LOGIN</h2>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Your Username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="******">

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <button class = "button">Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>