<form id="form" action="/login" method="POST" >
    <h2>Log in</h2>
    <label for="username">Username</label>
    <input type="text" name="username" required="required" placeholder="Insert yout username">
    <br>
    <label>Password</label>
    <input type="password" name="password" required="required" placeholder="*******">
    <br>
    <button type="submit">Log in</button>
</form>