<!-- after signup is called we'll be receiving the name used in signup as well -->
<form action='/login' method='POST'>
    <input type='text' name='name' placeholder='Your name' value='{{name}}' required>
    <input type='password' id='login-password' name='password' placeholder='Your password' minlength='4'>
    <button type='submit'>Log in</button>
</form>