<div class="signUp">
  <h1>LogIn</h1>
  <form action="/login" method="post">
  <p>Username</p>
	<input id="user" type="text" name="user" value="" autocomplete="username"><br><br>
  <p>Password</p>
	<input id="pass" type="password" name="password" value="" autocomplete="current-password"><br><br>
	<input id="button" type="submit" value="Log In">
</form>
{{!-- <p>Already hava an account? <a href="">Login</a></p> --}}
</div>