<h1>Login page</h1>
<form action="/login" method="post">
    Username<br>
    <input type="text" name="username"><br>
    Password<br>
    <input type="password" name="password"><br>
    <button type="submit">Login</button>
    <div>{{error}}</div>
</form>