<div>
    <form action="/login" method="POST" id="form">
        <h2>Login</h2>

        <label for="username">Username</label>
        <input type="text" required="required" name="username" placeholder="Please insert your username">

        <label for="password">Password</label>
        <input type="password" required="required" name="password" placeholder="*******">

            {{#if errorMessage }}
            <div class="error-message">{{ errorMessage }}</div>
            {{/if}}

        <button>Sign in</button>

        <p class="account-message">
            Don't have an account? <a href="/signup">Sign up</a>
        </p>
    </form>
</div>


