{{> header
  title="Login"
}}

{{> menu}}

<div class="container">
  <form action="/login" method="post" class="form form--login">
    <div class="form__field">
      <input type="text" name="username" id="username">
      <label for="username">Username</label>
    </div>
    <div class="form__field">
      <input type="password" name="password" id="password">
      <label for="password">Password</label>
    </div>
    <div class="form__actions">
      <input type="submit" value="Login" class="button button--submit">
    </div>
  </form>
</div>