{{! --- iteration 2 --- }}
<form action="/login" method="POST">
    <label for="">Username</label>
    <input type="text" name="username" id="">

    <label for="">Password</label>
    <input type="text" name="password">

    <button type="submit">Submit</button>
</form>