<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> The following image is strictly confidential! </h2>
    <a href="/">Go Back</a><br><br>
<img src="../images/cat.jpg" alt="">
  </body>
</html>
