<div id="container">
      <a href="/private" class="btn btn-primary btn-lg">Go to private page</a>
    <h2>You are in a session! {{username}}</h2>
    <a href="/logout">Logout</a>
    <br>
    <img class="gato" src="/images/cat.jpg">
</div>
