<nav> <a href="/private"> Go to your PRIVATE page.</a> </nav>

<a href="logout">Logout</a>

<h1>welcome to MAIN, user.</h1>


<div class="main-container">
<img src="https://i.pinimg.com/originals/0a/72/ef/0a72efd2abb871f9afb7d31b07142cb2.jpg" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxN7lFo4zPv7-W6diN-nvBk1zxp_vJSjHg5WQyanSpQxqMtt1p" alt="">
<img src="https://randomcatgifs.com/wp-content/uploads/2018/07/cropped-0vaUsxH-1.png" alt="">
<img src="https://lh3.googleusercontent.com/ykuq3KjWWVgwt9fV1zh1ZzAhXJF6pKV5tbUGH0BZIBBP5yIICcavfO-knvLifR1rv0uBiEnlngw=w640-h400-e365" alt="">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV88yZ0auBHhKAYfKhPhWmII3P8Amf4M4P54zewjN4ac8DPi1b&s" alt="">
<img src="https://i.blogs.es/9e2919/platano/450_1000.jpg" alt="">


</div>
