<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello
    <div id="container">
      <img src="https://c1.staticflickr.com/8/7022/6540669737_7527a5de13_b.jpg" alt="awesome-cat">
  <h2>Maaaaain</h2>
  <a href="/"> GO BACK I WANT TO SEE MORE </a>
</div>
  </body>
</html>
