<div id="container">
  <img src="http://www.quickmeme.com/img/58/584c3be491fe5228309fc7a56b371b0f87c35804f2ba52c6815ecfc285de3074.jpg"
    alt="">
</div>
<br>
<a href="/logout">
  <button type="button" class="btn btn-dark">Logout</button>
</a>
<a href="/">
  <button type="button" class="btn btn-dark">Back to Home</button>
</a>