<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>KITTY!</title>
</head>

<div class="page-titles">
  <h1>Life At Ironhack:</h1>
</div>
<div class="page-images">
  <img class="kitty" src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif">
</div>

<div class="page-links">
  <a href="/">Back To Reality</a>
</div>