<a href="/">Home Page</a>
<h1>Bem-vindo ao GatosBook</h1>
<img src="https://s2.glbimg.com/LtxbmWHyYTKkDWI8oCbV26ViftU=/e.glbimg.com/og/ed/f/original/2019/09/11/kitten-2288404_1920.jpg" alt="gatinho" class="gato-img">