<h1>Sala principal</h1>

<nav>
  <a href="/private">Area privada</a>
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
  </nav>

  <img src="https://i.pinimg.com/originals/03/4f/54/034f54a7e860308f79a0422a5246031e.jpg" alt="gatitos kawaii">