<div class="container d-flex align-items-center justify-content-around">
    <img src="https://i.blogs.es/3861b2/grumpy-cat/450_1000.png" alt="">
    <div><a class="btn btn-info" href="/">Inicio</a></div>
    
    <div><a class="btn btn-info" href="/private">Private</a></div>

</div>