<div class="d-flex flex-column">
<img class="align-self-center" src="https://sophiebousset.files.wordpress.com/2013/06/developer-cat.jpg" alt="Cat Logo">

<a class="align-self-center" href="/">Go to Home!</a>
</div>
