{{#if isLoggedIn}}
<a href="/">Back to home page</a>
<h1>main !</h1>
<a href="/private">Private</a>
super vous êtes connectés sur la main road !!
<img
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Stray_kitten_Rambo002.jpg/1200px-Stray_kitten_Rambo002.jpg"
  alt="kity">
{{/if}}