<h1>This is the Main page only accessible if you are logged in</h1>
<img src="https://media.giphy.com/media/KZd26L2o8QXtK/giphy.gif" alt="gif">
<a href="login">Go back</a>
<a href="logout">Log out</a>