<div id="container">
  <img src="https://media1.tenor.com/images/841aeb9f113999616d097b414c539dfd/tenor.gif?itemid=5368357" alt=""><br>
  <a class="btn btn-light" href="/">Home</a>
  <a class="btn btn-light" href="/logout">Logout</a>
</div>