<div>
<h1>Welcome to your profile page! {{username}}</h1>
<a href="/private">Private</a> <br> <br>
<a href="/logout">Log Out</a>
</div>
<div>
<iframe src="https://media.giphy.com/media/3oEjHWpiVIOGXT5l9m/giphy.gif" height="450" width="480"></iframe>
</div>