<div class="bg-dark">
  <div class="container">
    <div class="row fullheight">
      <div class="col-12 col-md-5 m-auto text-white text-center">
        <h1 class="h3 mb-4">Me with the backend:</h1>
        <img
          src="https://media2.giphy.com/media/NjevnbNiUmeLm/giphy.gif?cid=790b76116dee1a1bce8c376949336add265426df1e7681c3&rid=giphy.gif"
          alt="cat" class="img-fluid w-100 mb-4">
        <small>Btw, you should only be able to see this if you are logged in 👀</small>
        <div class="mt-4">
          <a href="/" class="btn btn-outline-light mr-3">Back home</a>
          <a href="/private" class="btn btn-info">Funny GIF</a>
        </div>
      </div>
    </div>
  </div>
</div>