<div id="container">
    <h2>You are in a session! {{username}}</h2>
<div>
    <img src="https://cdn-media.italiani.it/site-vicenza/2018/10/magnagati.jpg" alt="funny-cat">
</div>
</div>
 <a href="/private">Private</a><br>
<a href="/">Home</a><br>
<a href="/logout">Logout</a>
