<div>
  <nav>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <img src="https://cdn.shopify.com/s/files/1/1835/5761/products/7047a312f35f782e71452d3621f2ba95.png?v=1558722100"
      alt="">
  </div>
</div>