<div id="container">
<h1> Mr. Wiggles </h1>

<iframe src="https://giphy.com/embed/13oXfgpAyytBF6" width="480" height="252" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<a href="/home">Home</a>
</div>
