<h1>Main</h1>
<a href="/login">Login</a>
<a href="/signup">Signup</a>
<a href="/main">Main</a>
<iframe src="https://giphy.com/embed/aLdiZJmmx4OVW" width="480" height="363" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/applause-clapping-clap-aLdiZJmmx4OVW">via GIPHY</a></p>
<a href="/private">Private</a>