{{!-- main - Add a funny picture of a cat and a link back to the home page --}}
<div id="page-container">
<h1>MAIN SECRET CAT PAGE!!</h1>

  <a href="/">
    <button>HomePage</button>
  </a>

      <a href="/logout">
    <button>LogOut</button>
  </a>

      <a href="/private">
    <button>Private Page</button>
  </a>
  
<img id="cat-img" src="https://images.unsplash.com/photo-1552944150-6dd1180e5999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80" alt="cat">
</div>