<div class="container">
  <h2>Look at this cute Cat</h2>
  <img src="https://images.pexels.com/photos/3197978/pexels-photo-3197978.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="picture of a cute cat">
</div>