<div class="linkscontainer">
    <a class="formlink" href="/logout">Log out</a>
    <a class="formlink" href="/private">Gifs Aquí</a>
</div>
<img class="main"src="images/funnycat.jpg" alt="funny cat">