<iframe src="https://giphy.com/embed/o0vwzuFwCGAFO" width="480" height="480" frameBorder="0" class="giphy-embed"
  allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/cat-hacker-webs-o0vwzuFwCGAFO">via GIPHY</a></p>

<p><a href="/private">Go private</a></p>
<p><a href="/">Back Home</a></p>