<div class="d-flex flex-column justify-content-center items-center text-center">
<h1>FUNNY CAT</h1>
<div>
 <img src="/images/funny-cat.jpg" alt="photo kitty funny"> 
</div>


<a href="/user">Go back</a>
<a href="/">Back to home page</a>
</div>