<div id="main-container">
  <h1>Website Main Page</h1>
  <p>You are logged mr {{sessionData.user}}</p>
  <img src="https://vignette.wikia.nocookie.net/especiesaliens/images/3/31/Img_como_adoptar_un_gato_2503_orig.jpg/revision/latest?cb=20141005042505&path-prefix=es">
  <a href="/private">Private Page</a>
</div>
