<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     

    <img src="/images/cat.jpg" alt="cat image"/>

    <a href="/"> Home </a>

  </body>
</html>
