<p>Hola {{username}}! estás en MAIN, te dejo una imagen de como pensé que sería mi fin de semana... pero no lo fue :(</p>
<div class="box">
    <img class="content-img" src="https://pbs.twimg.com/media/CsFao40WEAASIu2.jpg" alt="Dougthepug">
    <a href="/"><button class="back-button">Inicio</button></a>
</div>