<h1>Hello {{username}}</h1>
<img src="http://www.petsworld.in/blog/wp-content/uploads/2014/09/adorable-cat.jpg" alt="My cat" class="private-image">
<a href="/private">Private page</a>
<a href="/logout">Logout</a>