<div style="font-family: monospace">
  ···············································.--.····················<br>
  ···············································`.··\···················<br>
  ·················································\··\··················<br>
  ··················································.··\·················<br>
  ··················································:···.················<br>
  ··················································|····.···············<br>
  ··················································|····:···············<br>
  ··················································|····|···············<br>
  ··..._··___·······································|····|···············<br>
  ·`."".`''''""--..___······························|····|···············<br>
  ·,-\··\·············""-...__·········_____________/····|···············<br>
  ·/·`·"·'····················`""""""""··················.···············<br>
  ·\······················································L··············<br>
  ·(>······················································\·············<br>
  /·························································\············<br>
  \_····___..---.············································L···········<br>
  ··`--'·········'.···········································\··········<br>
  ·················.···········································\_········<br>
  ················_/`.···········································`.._····<br>
  ·············.'·····-.·············································`.··<br>
  ············/·····__.-Y·····/''''''-...___,...--------.._············|·<br>
  ···········/···_."····|····/················'·.······\···'---..._····|·<br>
  ··········/···/······/····/················_,.·'····,/···········|···|·<br>
  ··········\_,'·····_.'···/··············/''·····_,-'············_|···|·<br>
  ··················'·····/···············`-----''···············/·····|·<br>
  ··················`...-'·······································`...-'··<br>
</div>
<a href="/other">A different page</a>
<a href="/logout">Log out</a>