<p style="text-align:right"><a href="private">Private</a></p>

<img style="margin:0 auto; display:block" src="/images/chapu.png" width="350">

<p style="text-align:center"><a href="/">Go back home.</a></p>