<div>
    <img src="https://lh3.googleusercontent.com/proxy/v4VBy_kNbDAAxMp8sblI4pdCfZNT7jp2Z1VzYQNqG7Kp-UtjDIj30EJxL4867anBuKtE1UXDIjV7ds8oxCwSXPSBtIxicJOtoERRXqUB_fK4pRCtJa-d3HzoTHJvwjCu8_qOMrOTYl7PfWPH9oCs2nQnCoHkqMD9gSQ"
        alt="">
</div>
<a href="/">Home</a>