<div class="mainPage" style="width: 100vw; hegith: 100wh">
 <a href="/home">Back</a>
<img src="https://images.unsplash.com/photo-1532386236358-a33d8a9434e3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf078475951d45a6103cf1cc0e05ae4e&auto=format&fit=crop&w=1278&q=80" alt="">
</div>
