<h1>Main</h1>
<h2>See a random cat image from the npm-package "random-cat"</h2>
<img src="{{randomCatUrl}}">
<ul>
  <li><a href="/">Back to home page</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>