<div id="container">
  <h1>Welcome</h1>
  <a href="/signup">Sign up</a><br>
  <a href="/login">Login</a><br>
  <a href="/private">Protected page (requires authentication!)</a><br>
  <a href="/logout">Logout</a><br>
</div>