{{!-- main - Add a funny picture of a cat and a link back to the home page --}}

<h1>MAIN SECRET CAT PAGE!!</h1>

  <a href="/">
    <button>Back to HomePage</button>
  </a>
  
<img id="cat-img" src="https://images.unsplash.com/photo-1552944150-6dd1180e5999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80" alt="cat">
