<div class="back-img">
  <nav id="nav">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <div id="margen">
    <img src="https://s2.eestatic.com/2018/02/22/actualidad/Actualidad_286987076_66964076_1024x576.jpg" alt=""> 
  </div>
</div>