<h1>main page</h1>

<img src="https://toppng.com/uploads/preview/funny-cat-catlover-cats-selfie-dzhonni-ketsvill-11563282575a8opxauxa6.png">

<ul>
<li><a href="/">home</a></li>
<li><a href="/private">private</a></li>
<li><a href="/logout">logout</a></li>

</ul>
