<h1>MAIN</h1>
<p>See also <a href="/private">Private</a></p>
<p><a href="/logout">Logout</a></p>
<img src="https://animaltoday.net/wp-content/uploads/2019/04/Funny-Cat-Videos1.jpg" alt="Funny cat pic">