<a href="/">Home</a>
<div class="container">
  <img src="images/sprayaway.png">
  <img src="images/livvy.JPG">
</div>
<div class="info">
  <h1>Welcome, visitor!</h1>
  <p>Your username is: {{ user.username }}</p>
  <p>Your password hash is: {{ user.password }}</p>
</div>
