<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">

      <img src="./images/main-cat.jpg" alt="welcome">
      
      <div class="nav-loggedin">
        <a href="private">private</a>
        <a href="/">home</a>
      </div>

    </div>
  </body>
</html>
