<div id = "form">
    <h1>MAIN-PAGE</h1>
 <img src="https://media1.tenor.com/images/73df2e79e6babf605ec0ada23d4825d1/tenor.gif?itemid=12638875" alt="Bongo-cat">
 <a class = "button" href="/">Back</a>
</div>