{{#if user }}
<a href="/">Back home!</a>
<br>
<br>
<img src="https://i.ytimg.com/vi/OOFGdRmN70k/maxresdefault.jpg" alt="funny dog">

{{else}}
<p>Sorry, you can't see this!! You need to login <a href="login">here</a> first!
</p>
{{/if}}