<div class="container">
    <nav class="navbar">
        <a href="/main">Main</a>
        <a href="/private">Private</a>
        <a href="/logout">Logout</a>
    </nav>
    
    <img src="../images/funnycat.jpeg" alt="funny cat">
    <a href="/private">Go back!</a>
</div>