<h1>Hello {{username}}</h1>
<img src="https://2eu.funnyjunk.com/pictures/Catch+em+all_d4a696_6949604.jpg" alt="cat" class="private-image">
<a href="/private">Private page</a>
<a href="/logout">Logout</a>