<h2>¡No tienes permiso!</h2>
<p> 
  <a href="/signup">Regístrate</a>
  o
  <a href="/login">introduce tus datos de acceso</a>
  </p>

<img src="https://img.huffingtonpost.com/asset/5cde7e302100005800809061.jpeg?cache=G1nVn8p1ku&ops=336_189%2Cquality_75" alt="Funny cat image">

<a href="/index"></a>