<h1>Página principal</h1>
<img class="pomo" src="/images/IMG_20190717_151447.jpg" alt="imgPomo">
<div class="logins">
    <a href="/private">Tu página privada</a>
    <a href="/logout">Salir</a>
</div>