<div id="container">
  <h1>You are in a session!</h1>
  <img src="https://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg">
  <a href="/">Protected page (requires authentication)</a>
</div>
