<div id="container">
    <h2>You are in a session!</h2>
</div>

<div>
    <img style="width:50vw" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t31.0-8/10704265_758702904178473_4546653346472455040_o.jpg?_nc_cat=106&_nc_sid=6e5ad9&_nc_ohc=nk3MfmAj0DsAX-aogKY&_nc_ht=scontent-cdt1-1.xx&oh=31acd4ada7d8038758606cd4f7e42c87&oe=5EC4107F" alt="Cat image">
    <a style="font-size:100px" href="/">Miaou</a>
</div>