<div id="container">
  <h2>You are in a session!</h2>
  <iframe src="https://giphy.com/embed/2JcGvbvNalb32" width="413" height="480" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
  <p><a href="https://giphy.com/gifs/2JcGvbvNalb32">via GIPHY</a></p>
</div>