<link rel='stylesheet' href='/stylesheets/style.css' />

<h2>Private Main Page</h2>

<img style="width: 400px" src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg">

<br />
<br />

<a href="/">Come back to home page</a>
