<div class="main">
  <div>
    <img src="https://i.chzbgr.com/full/9036098304/h533D74FE/" height="400vw" alt="">
    <br>
    <h3>You need to be logged in!</h3>
    <a href="/">Go home!</a>
  </div>
</div>