<h2>You don't have permission!</h2>
<p> 
  <a href="/signup">Sign up!</a>
  
  <a href="/login">Log in</a>
  </p>

<img src="https://media.giphy.com/media/4cuyucPeVWbNS/source.gif" alt="Nope">

<a href="/index"></a>