<div>
  <div class="flex background">
    <h1>Login Succesfully</h1>

<img src="https://media.mnn.com/assets/images/2018/07/cat_eating_fancy_ice_cream.jpg.1080x0_q100_crop-scale.jpg" alt="horrible cat">


<a href="/private">Your private page</a>

<a href="/logout">Logout</a>
  </div>
</div>