<h1>Big logged home of</h1>
<h2>{{userLogged.username}}</h2>

<iframe src="https://giphy.com/embed/55SfA4BxofRBe" width="480" height="282" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<a href="/private">Your private place</a>
<a href="/logout">Logout</a>
