<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Log in</title>
</head>

<body>
    <div id="container">
        <h2>You are in a session!</h2>
      </div>
  <img src="smiley.gif" alt="Smiley face" height="42" width="42">

</body>
</html>