<div class="private-container">

  <h1>You are NOT allowed to BE here</h1>
  <h3>Please, GET OUT</h3>

  <a href="/login">
    <img src="/images/scared-cat.jpg" alt="Scared Cat">
    <p>Log in</p>
  </a>

</div>