
<h1>Hi <span class="capitalize">{{user.username}}</span>!</h1>
<h2>This is the main page</h2>
<p>You are in a session!</p>
<img src="https://cataas.com/cat/gif" class="img-fluid" alt="Cat image">
<a href="/" class="btn btn-primary roundedBtn">Back to home</a>
