<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Hello {{username}}</h2>
<img src="https://www.wnpr.org/sites/wnpr/files/styles/x_large/public/201512/praline3001.jpg" alt="">
<a href="/private">You should click here</a>