<h1>Private main</h1>


<img src="http://cdn.foodbeast.com.s3.amazonaws.com/content/uploads/2013/11/turkey-cat-5.jpg" alt="cat">
<p><a href="/private">Private</a></p>

<p><a href="/logout">Logout</a></p>