<div id="container">
  <h2>
    TU PAGINA 
  </h2>
  <div>
    <img src="http://cdn.akc.org/content/article-body-image/funny-beagle_working_from_home.jpg" alt="dog-picture">
  </div>
  <div>
     <a href="/private">Secret</a>
    <a href="/logout">Cerrar sesión</a>
  </div>
</div>