<div class="columns is-mobile is-centered">
	<div class="column is-6">
		<h2 class="title is-3 has-text-centered has-text-success">Yei !!!</h2>

		<figure class="image">
			<img class="is-rounded" src="https://media.giphy.com/media/126haqxZSYGRUI/giphy.gif">
		</figure>

	</div>
</div>