<h1>Hello there user!</h1>
<p>Welcome!</p>
<img class="coolCat" src="https://www.itl.cat/pngfile/big/37-372067_beautiful-tumblr-laptop-cat-wallpaper-cool-cat.jpg" alt="cool-cat">
<button><a href="/secret">See the secret!</a></button>
<button><a href="/auth/login">Back to login</a></button>
