<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Private GIF</h1>
    <div id="container">
      <img src="https://media.giphy.com/media/yZswJrvrauddm/giphy.gif" alt=""><br>
      <a href="/">Back to Home</a><br>
    </div>
  </body>
</html>
