<div id="container">
    <h1>You are in a private session! {{name}}</h1>
</div>

<iframe src='https://giphy.com/gifs/TsxMkIKHpvFaU/html5 height="100px" width=“200px”'></iframe>

<a href="/logout">Logout</a>