<div class="d-flex flex-column justify-content-center items-center text-center">
<h1>BEST GIF EVER</h1>
<div>
<img src="/images/funny-giphy.gif" alt="funny coding">
</div>
<a href="/user">Go back</a>
<a href="/">Back to home page</a>

</div>