{{!-- <a href="/logout">Log out</a> --}}
<h1>YAY!!</h1>
<img src="../public/images/gif1.gif" alt="Mola programar">
<h1>I'm private!</h1>
<img src="../public/images/gif2.gif" alt="Mola mazo programar">
<h1>You got your cookie??</h1>
<img src="../public/images/gif3.gif" alt="Flipa programar">
<h1>Done!!</h1>
<img src="../public/images/gif4.gif" alt="Claro tío!">