
<h1>Hi <span class="capitalize">{{user.username}}</span>!</h1>
<h2>Welcome to your private page</h2>
<p>You are in a session!</p>
<img src="https://media.giphy.com/media/lHMCC5anW8GIM/giphy.gif" class="img-fluid" alt="Responsive image">
