<div id="container">
  <h2>You are in a session!</h2>
  <h3>Click the link below to see a funny cat</h3>
  <img src="https://media.giphy.com/media/nNxT5qXR02FOM/giphy.gif" alt="welcome gif">
  <br>
  <br>
  <br>
  <br>
  <a class="home" href="/main">Go see a hoover cat</a>
  <br>
  <br>
  <br>
  <br>
  <a class="home" href="/logout">Logout</a>
</div>