

<div id="container">
  <h2>Welcome {{username}}, enjoy!</h2>
  <img src="https://media.giphy.com/media/LVO6SbTmWA3Ru/giphy.gif" alt="" style="height: auto; width: 500px;">
</div>

<a href="/">go to main</a>

<a href="/logout">Log out</a>
<br>
<br>