<div id="container">
  <h1>
    Secreto
  </h1>
  <img src="https://www.sanfranciscobaycoffee.com/wp-content/uploads/2017/03/52279468.jpg" alt="coffe">
  <div>
    <a href="/main">Main</a>
    <a href="/logout">Cerrar sesión</a>
  </div>
</div>