<h1>Area privada</h1>
<nav>
  <a href="/main">Ir a la Sala principal</a>
  <a href="/">Home</a>
  <a href="/logout">Logout</a>
</nav>

<iframe src="https://giphy.com/embed/3ohhwi25ISXC7Z4tMs" width="480" height="478" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbc-funny-comedy-3ohhwi25ISXC7Z4tMs">via GIPHY</a></p>