<div id="container">
  <h2>Private</h2>
<img src="https://www.lavanguardia.com/r/GODO/LV/p0/WebSite/2016/05/13/Recortada/77672-126064-giphy-500-375-20160513110001@LaVanguardia-Web.gif" alt="">

</div>
<a href="/secret">private</a>
<a href="/logout">Logout</a>