<div id="container">
  <h1>FOR YOUR EYES ONLY</h1>
  <iframe src="https://giphy.com/embed/38oFEVp0xt7sQ" width="480" height="203" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/friday-talking-38oFEVp0xt7sQ"></a></p>
  <a href="/">Home</a>
</div>