<div>
  <div class="flex background"><h1>YOUR PRIVATE SECTION</h1>

<img src="https://media.giphy.com/media/l378BzHA5FwWFXVSg/giphy.gif" alt="rick and morty">

<a href="/main">Go back</a>

<a href="/logout">Logout</a></div>
</div>