<div id="container">
    <a href="/main" class="main">Go to main page</a>
    <h2>This is your private page! {{username}}</h2>
    <a href="/logout">Logout</a><br>
    <div></div>
    <iframe src="https://media.giphy.com/media/3Q9qgxYPDnWpO/giphy.gif" height="450" width="450"></iframe>
    </div>
</div>
