<h1>{{title}}</h1>
<p>OK, I have nothing so important to be in a private area, so here you have one of the <span>BEST GIF OF ALL TIMES:</span></p>
<img src="https://media.giphy.com/media/13CoXDiaCcCoyk/giphy.gif">
<p><a href="/">Go back Home </a></p>