<a href="/">Home</a>
<a href="/account/logout">Logout</a>
<h1></h1>
<p>Este adiós, no maquilla un "hasta luego",<br>
este nunca, no esconde un "ojalá",<br>
estas cenizas, no juegan con fuego,<br>
este ciego, no mira para atrás.<br></p>
<p>
Este notario firma lo que escribo,<br>
esta letra no la protestaré,<br>
ahórrate el acuse de recibo<br>
estas vísperas, son las de después.<br>
</p>


<p>A este ruido, tan huérfano de padre<br>
no voy a permitirle que taladre<br>
un corazón, podrido de latir<br>
este pez ya no muere por tu boca<br>
este loco se va con otra loca<br>
estos ojos no lloran más por ti.</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Animated-Flag-Argentina.gif" alt="">

