<div id="container">
  <img src="https://media1.tenor.com/images/2400b3884bb2cbfa0b1b1004f1bee025/tenor.gif?itemid=5047450" alt="">
</div>
<br>
<br>
<a href="/logout">
  <button type="button" class="btn btn-dark">Logout</button>
</a>
<a href="/">
  <button type="button" class="btn btn-dark">Back to Home</button>
</a>