<h2>My Secret cats</h2>
<div class="private">

  <section>
    <div>
      <img src="https://de10.com.mx/sites/default/files/2019/08/06/memes_dia_del_gato_humor_p.jpg" width="300vw"
        alt="Fat Cat">
    </div>
    <br>
    <div>
      <img src="https://media.metrolatam.com/2019/05/13/capturadepantall-6f55f1581cfc6316bbc7dfedc389a508-600x400.jpg"
        width="300vw" alt="anvorgesa">
    </div>
    <br>
    <div>
      <img
        src="https://de10.com.mx/sites/default/files/styles/galeria_photo_760x508/public/2019/08/06/dia_del_gato_mejores_memes_humor_1_0.jpg?itok=CmyFfMMH"
        width="300vw" alt="Crying">
    </div>
    <br>
    <div>
      <img src="https://i.ytimg.com/vi/yW9OBSQKn4w/maxresdefault.jpg" width="300vw" alt="Huge Cat">
    </div>

  </section>
</div>