<h1>Hello from private page</h1>
<iframe src="https://giphy.com/embed/9VrLkD25PILpu6D0jS" width="480" height="480" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/private-screen-shot-meme-account-9VrLkD25PILpu6D0jS">via GIPHY</a></p>

<div class="container">
    <ul>
        <div class="row">
            <h1><a href="/main">Go to main page</a></h1>
            <h1><a href="/logout">Logout</a></h1>
        </div>
    </ul>
</div>
