<div class="row">
  <div class="columns col-12">
<h1>FOR VERY IMPORTANT PEOPLE</h1>
  </div>
</div>
<div class="row">
  <div class="columns col-12">
    <iframe src="https://giphy.com/embed/uAMhEzcTEO1Tq" width="480" height="261" frameBorder="0" class="giphy-embed"></iframe>
  </div>
</div>