<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <a href="/" style="font-size: 2em"> Back </a>

    <div id="container">
    <img src="http://i.imgur.com/4bUV7Ls.gif" />
      <h2>You are in a session!</h2>
    </div>
  </body>
</html>
