<h1>This is a private page, belonging to {{yourInfo.username}}</h1>
<iframe src="https://giphy.com/embed/1BGBpw9shhfjDCgnaY" width="480" height="269" frameBorder="0" class="giphy-embed"
  allowFullScreen></iframe>
<p>
  
</p>
<a href="/">Main page</a>
<a href="/logout">Logout</a>