<div>
  <nav>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <img src="http://giphygifs.s3.amazonaws.com/media/11e56tPCqD9kjK/giphy.gif" alt="">
  </div>
</div>