<div class="d-flex flex-column">
<h1 class="align-self-center">This page is PRIVATE!</h1>
<iframe class="align-self-center" src="https://giphy.com/embed/Ibd8rxdyKlTe8" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/breaking-bad-walter-white-bryan-cranston-Ibd8rxdyKlTe8">via GIPHY</a></p>

<a class="align-self-center" href="/">Go to Home!</a>
</div>


