<<<<<<< HEAD
<h1>Private</h1>

<span>Username : {{userinfos.username}}</span>

<a href="/logout">Logout</a>
=======
<div class="container-private">
  <h1>PRIVATE!</h1>
  <img src="https://media.giphy.com/media/QGzPdYCcBbbZm/giphy.gif" alt="">
  <a href="/">Home</a>
</div>
>>>>>>> 3425e0f6e987f6d7bdc8515d5ec1c9a2ee865d18
