<div class="linkscontainer">
    <a href="/logout">Log out</a>
    <a href="/main">Go back</a>
</div>
<section class="gifcontainer">
    <div class="gif">
        <h1>YAY!!</h1>
        <img src="/images/giphy1.gif" alt="Mola programar">
    </div>
    <div class="gif">
        <h1>I'm private!</h1>
        <img src="/images/giphy2.gif" alt="Mola mazo programar">
    </div>
    <div class="gif">
        <h1>You got your cookie??</h1>
        <img src="/images/giphy3.gif" alt="Flipa programar">
    </div>
    <div class="gif">
        <h1>Done!!</h1>
        <img src="/images/giphy4.gif" alt="Claro tío!">
    </div>    
    <div class="gif">
        <h1>Done!!</h1>
        <img src="/images/giphy5.gif" alt="Claro tío!">
    </div>
    <div class="gif">
        <h1>Done!!</h1>
        <img src="/images/giphy6.gif" alt="Claro tío!">
    </div>
</section>