<h1>This is private!</h1>
<div class="gif">
    <iframe src="https://giphy.com/embed/HP5dest4oOHf2" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/reactiongifs-HP5dest4oOHf2">via GIPHY</a></p>
</div>
<a href="/logout">Logout</a>