<div id="container">
    <h1>Private Page</h1>
    <img src="https://media3.giphy.com/media/SggILpMXO7Xt6/200w.webp?cid=3640f6095c41274f3051594f32ef89d4" alt="">
    <a href="/">Return Home Page</a>
</div>
