<h1>Welcome to your private page {{user.username}}</h1>

<img
  src="https://media3.giphy.com/media/wW95fEq09hOI8/giphy.gif?cid=790b76116f2513ef2782736882e9ce9f406b355f77669953&rid=giphy.gif"
  alt="dog dancing">