<div>
<iframe src="https://giphy.com/embed/XcAa52ejGuNqdb5SFQ" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/keep-going-XcAa52ejGuNqdb5SFQ">via GIPHY</a></p>
</div>
<div>
  <h1>This page is only for you, User !</h1>
  <a href="/">Volver al home</a>
</div>