{{#if isLoggedIn}}
<a href="/">Back to home page</a>
<a href="/main ">Main</a>
<h1>Private road !</h1>
super vous êtes connectés sur la private road!!
<img src="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif" alt="">
{{/if}}