<p style="text-align:right"><a href="main">Main</a></p>


<h1 style="color:red; text-align:center">Private</h1>

<img style="margin:0 auto; display:block" src="https://media.giphy.com/media/l0IybmZqeWiroRJdK/giphy.gif" width="350">

<p style="text-align:center"><a href="/">Go back home.</a></p>