<!DOCTYPE html>
<html>
  <head>
    <title>Members Area</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Welcome to the members area!</h1><br><br>
<img src="../images/welcome.gif" alt="">

</body>
