<p>Hola {{username}}! estás en PRIVATE</p>
<div class="box">
    <img class="content-img" src="https://media.giphy.com/media/pR8zHItvQDvBC/giphy.gif" alt="Dougthepug">
    <a href="/"><button class="back-button">Inicio</button></a>
</div>