<div class="columns is-mobile is-centered">
	<div class="column is-6">
		<h1 class="title is-2 has-text-centered">My private</h1>

		<figure class="image">
			<img class="is-rounded" src="https://media.giphy.com/media/3oKIP5WqUCPLHXwzAI/giphy.gif">
		</figure>

	</div>
</div>