
  {{#if welcomeMessage}}
    <div class="welcome-message"><h1>{{ welcomeMessage }}</h1></div>
  {{/if}}


<img src="https://media.giphy.com/media/hV04hesI73vJDLqfbR/giphy.gif" alt="Tom Hanks, da!"><br>

<a href="/">home</a><br>
<a href="/user/logout">logout</a>