<div id="container">
    <a href="/main" class="btn btn-primary btn-lg">Go to main page</a>
    <h2>This is your private page! {{username}}</h2>
    <a href="/logout">Logout</a><br>
    <iframe src="https://giphy.com/embed/CobhYK8Nh3T5m" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    </div>
