<div id="container">
  <img src="https://cdn.memegenerator.es/imagenes/memes/full/31/29/31298627.jpg" alt=""><br>
  <a class="btn btn-light" href="/">Home</a>
  <a class="btn btn-light" href="/logout">Logout</a>
</div>