<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <a href="/">
    <h3 style="color: grey">Home Page</h3>
  </a>
  <h1 style="font-size: 5rem">Congratulations on being part of the most private page ever.</h1>


  <img src="https://media.giphy.com/media/12YimfUI3xDZzq/giphy.gif">

  <script src="/javascripts/script.js"></script>
</body>

</html>