<div>
  <h1>Estás en tu perfil {{username}}</h1>

  <a href="/main">Main</a>

  <br>

  <img src="https://steamuserimages-a.akamaihd.net/ugc/780728778064453873/82940C526170406504C51E0DFF74289BC61F872E/"> 
</div>