<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Hello
    <img src="https://media.giphy.com/media/d31wJWAJfRRGIL3G/giphy.gif" alt="gif">
    <div id="container">
  <h2>JEJEJEJEJE!</h2>
  <a href="/"> GO BACK I WANT TO SEE MORE </a>
</div>
  </body>
</html>
