<div class="private-container">


  <h1>Welcome {{yourInfo.username}}</h1>
  <h3>You are a smart kiddo!</h3>


  <a href="/logout"><img src="https://media.giphy.com/media/sRFym5lssgcTFrMSac/source.gif" alt="homer gif"></a>

</div>