<h1>Esta es una página privada de {{User.username}}</h1>
<div class="gif">
    <img src="/images/giphy.gif" alt="gif">
</div>
<div class="logins">
    <a href="/main">Página principal</a>
    <a href="/logout">Salir</a>
</div>