<h1>YOU ARE NOW ON THE PRIVATE PAGE ! </h1>


<img src="https://as1.ftcdn.net/jpg/00/67/29/96/500_F_67299656_CR0aw9kR69LnNOrSSUSHN8wB0LqOZ4Yc.jpg">

<div>
<a href="/"> index</a>
</div>
<a href="/logout">Logout</a>