<div id="page-container">
<h1>PRIVATE PAGE!!</h1>
  <a href="/">
    <button>HomePage</button>
  </a>

    <a href="/logout">
    <button>LogOut</button>
  </a>

<iframe src="https://giphy.com/embed/RTGptCQyfIbqU" width="480" height="268" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>