<h1>private page</h1>
<img src="https://media1.tenor.com/images/5c36b5497629f905d0c011d16f01c0ff/tenor.gif?itemid=10312546">


<ul>
<li><a href="/">home</a></li>
<li><a href="/main">main</a></li>
<li><a href="/logout">logout</a></li>

</ul>