<h1>This page is private</h1>

<iframe src="https://giphy.com/embed/cO39srN2EUIRaVqaVq" width="480" height="270" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>

<a href="/">Go home!</a>
<a href="/logout">Logout</a>