
<div id="container">
  <h2>Has iniciado la sesión correctamente</h2>
</div>
<img src="https://1.bp.blogspot.com/-5ySdo4G9z-k/WlZrLJW8agI/AAAAAAAB3D8/sxfRq4whKC8BZoQuQaI_PhOdieSLXFgtwCLcBGAs/s1600/funny-cat-293-01.jpg">
<a href="/">Go back</a>