<div class="private-container">
<h1>The page is private</h1>
<img src="https://giphy.com/gifs/sblobbery-clbarrr-idzz-SggILpMXO7Xt6" alt="">
<iframe class ="gif" src="https://giphy.com/embed/SggILpMXO7Xt6" width="480" height="262" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sblobbery-clbarrr-idzz-SggILpMXO7Xt6">via GIPHY</a></p>
</div>