<h1>Welcome to the private room. Enjoy</h1>
<img src="https://media1.giphy.com/media/3oEjHKjVoNVsCeMoDe/giphy.gif?cid=3640f6095beef50b49444874515fc117" alt="Fridayyyy">
<a href="/logout"><button>Logout</button></a>