<div class="container">
  <h1>Esto es un espacio secreto ....sientete como en casa , {{user.username}}, colega....</h1>
  <iframe class="imagen justify-content-center" src="/images/private gif.gif" frameborder="0"></iframe>
</div>