<div id="private" class="page">
  <h2>Your private - favorite gif <a href="/">&lt; back</a></h2>
  <div style='position:relative; padding-bottom:calc(50.00% + 44px)'><iframe src='https://gfycat.com/ifr/CrazyArtisticGodwit' frameborder='0' scrolling='no' width='50%' height='50%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div><p> <a href="https://gfycat.com/crazyartisticgodwit-cat">via Gfycat</a></p>
</div>
