<div class="back-img">
  <nav id="nav">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
  <div id="margen">
    <img src="https://media.giphy.com/media/l2R0cE5EqO3QHiCoU/giphy.gif" alt=""> 
  </div>
</div>