<h1>Welcome to the private pizza party...</h1>
<iframe src="https://giphy.com/embed/9fuvOqZ8tbZOU" width="480" height="480" frameBorder="0" class="giphy-embed"
  allowFullScreen></iframe>
<p><a href="https://giphy.com/gifs/happiness-9fuvOqZ8tbZOU">Welcome to the private pizza party...</a></p>
<a href="/">Go back</a>