<h1>Estefaniaaaaaaaa</h1>

<iframe src="https://giphy.com/embed/e7PqVgDzxiQgzHxuLf" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/globaltv-big-brother-canada-bbcan-bbcan7-e7PqVgDzxiQgzHxuLf">via GIPHY</a></p>

<a href="/">Home</a>
<a href="/main">main</a>
<a href="/logout">Log out</a>

{{!-- <nav>
    <h1>Hola {{userFound.username}}</h1>
    <button>Logout</button>
</nav>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptates quaerat exercitationem nemo reprehenderit. Accusantium, quis provident. Nemo dignissimos minima dolorem aliquid dolorum vero, placeat adipisci, libero harum incidunt iure!</p> --}}

