<div id="container">
    <div class="col-12 d-flex justify-content-center">
        <h1 class="display-2">Bienvenido {{username}}!</h1>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <img src="https://media0.giphy.com/media/NZMLHf7gYhlC0/giphy.gif" alt="">
    </div>
<div class="col-12 d-flex justify-content-center mt-5">
    <a class="btn btn-danger mr-3"href="/logout">Logout</a>
    <a class="btn btn-success ml-3"href="/">Inicio</a>
</div>    
</div>

