<h2>This is a secret!</h2>

<img src="https://68.media.tumblr.com/2dfc3369827df9b981e111d7fd8fc732/tumblr_mvemcyarmn1rslphyo1_400.gif" alt="Dance Carlton, Dance!">

<p><a href="/main">Where is that cat?</a></p>
<p><a href="/">Back to home!</a></p>
