<div class="bg-dark">
  <div class="container">
    <div class="row fullheight">
      <div class="col-12 col-md-5 m-auto text-white text-center">
        <h1 class="h3 mb-4">Me with the backend && authentication:</h1>
        <img src="https://media.giphy.com/media/26tPlltsuA89RwYww/giphy.gif" alt="girl"
          class="img-fluid w-100 mb-4 drama">
        <small>Btw, you should only be able to see this if you are logged in 👀</small>
        <div class="mt-4">
          <a href="/" class="btn btn-outline-light mr-3">Back home</a>
          <a href="/main" class="btn btn-info">Cat image</a>
        </div>
      </div>
    </div>
  </div>
</div>

<audio src="/assets/evil-morty.mp3" id="song"></audio>
<script src="/javascripts/drama.js"></script>