<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Private</title>
</head>

<div class="page-titles">
  <h1>Private!</h1>
</div>

<div class="page-images">
  <img class="buttbeav" src="https://media.giphy.com/media/weDQ9UGdxFahi/giphy.gif" alt="">
</div>

<div class="page-links">
  <a href="#">This Link Doesn't Work LoLz</a>
  <br>
  <a href="/">Back To Stuff</a>
</div>
