<h1>PRIVATE PAGE</h1>
<div>created at: {{createdAt}}</div>
<div>Username: {{userName}}</div>
<br><br>
<a href="/main">main</a>
<br><br>
<img src="https://data.whicdn.com/images/190954249/original.gif" alt="">
