<h1>Private</h1>

{{#if user}}
<img src="https://media.giphy.com/media/18LZm8w9R8T0Q/giphy.gif" alt="funny dog gipgys">
{{else}}
<p>This page is private!!! Login <a href="login">here </a>to see the rest of the page!</p>
{{/if}}