<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Private
    <img src="http://www.laguiadelvaron.com/wp-content/uploads/2016/07/google.com_.mx-0AE.jpg" alt="">
  </body>
</html>
