<div id="container">
  <h1>Estás en tu área privada disfrutando del gif que más te mola!</h1>
  <iframe src="https://giphy.com/embed/jUwpNzg9IcyrK" width="480" height="360" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
  <p><a href="https://giphy.com/gifs/the-simpsons-scared-homer-simpson-jUwpNzg9IcyrK">via GIPHY</a></p>

</div>