<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Fun </h1>
    <img src="https://media.giphy.com/media/26tPplGWjN0xLybiU/giphy.gif" alt="simpson gif"/>

  </body>
</html>
