<nav> <a href="/main"> Go to your MAIN page.</a> </nav>

<a href="logout">Logout</a> 

<h1>welcome to PRIVATE, user.</h1>


<iframe src="https://giphy.com/embed/VbnUQpnihPSIgIXuZv" width="384" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>




