<div>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzenW2WQ2L0whqnWsnU2xukIAepJEEJbrt-NeY7I6H2_zTqEhY&usqp=CAU"
    alt="cat">
</div>
<a href="/">Home</a>
<a href="/private">Private</a>