<h1>Welcome to the Photo Project</h1>
<div class="movies-wrapper">
  {{#each photos}}
    <div class="movie-item">
      <img src="{{this.imgPath}}" alt="">
      <h4>{{this.title}}</h4>
      <p>{{this.description}}</p>
    </div>
  {{else}}
    <p>There are no photos yet! :(</p>
  {{/each}}
  <a href="/profile/add-photo">Add a New Photo</a>
</div>