<div class="page">
<h2>Register</h2>
<form action="/register" method="POST">

  <label for="username">Choose a Username</label>
  <input id="username" type="text" name="username">

  <label for="password">Choose a Password</label>
  <input id="password" type="text" name="password">

  <button type="submit">REGISTER</button>
</form>
</div>
