<body class="bg-info">
  <div class="d-flex my-3">
    <a class="btn btn-dark btn-lg mr-3" href="/" role="button">Home</a>
    <h1 class="ml-3">Enjoy <i class="fas fa-door-closed"></i></h1>
  </div>



  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <form action="/register" method="POST" autocomplete="nope">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" autocomplete="nope">
            </div>
            <div class="form-group">
              <label for="password">Password</label>

              <input id="myPassword" type="password" class="form-control" name="password" autocomplete="nope">
            </div>
            {{#if errorMessage}}
            <div class="alert alert-danger">{{ errorMessage }}</div>
            {{/if}}
            <button type="submit" class="btn btn-dark">Sign up</button>

            <p class="my-3">
              Do you have an account? <a href="/login">Login</a>
            </p>
          </form>

        </div>
      </div>

</body>