<form action="/register" method="post" class="form">
  <h1 class="title">CREATE AN ACCOUNT AND REGISTER </h1>
  <label for="username">username</label>
  <input class="input" name="username" type="text" value="test@gmail.com" required>
  <label for="password">password</label>
  <input class="input" name="password" type="password" value="12345" required>
  <button class="btn">Create a User </button>

</form>