<h1>Register page</h1>
<form action="/register" method="post">
    Username<br>
    <input type="text" name="username"><br>
    Password<br>
    <input type="password" name="password"><br>
    <button type="submit">Register</button>
    <div>{{error}}</div>
</form>