<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
      <h2>You are ona secret page!</h2>
      <iframe src="//giphy.com/embed/BtedgmzGNCiuk" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/do-not-want-BtedgmzGNCiuk"></a></p>
      <a href="/">back</a>
    </div>
  </body>
</html>
