<h1>Profile section {{username}}</h1>
<div class="text-home">
<a href="/logout"><button>logout</button> </a>
<a href="/main"><button>Main page</button> </a>
<a href="/private"><button>Private</button> </a>
</div>