<div id="secret">
  <h1>Session secret page</h1>
  <hr>
  <p>Hello, {{dbRes.username}}</p>
  <a class="link" href="/auth/signin">go to sign in</a>
  <a class="link" href="/auth/signout">signout</a>
</div>