<h1>RESTRICTED AREA</h1>

<a href="/home"><p>RESTRICTED CONTENT 1 AKA "/home"</p></a>

<a href="/private"><p>RESTRICTED CONTENT 2 AKA "/private"</p></a>


<p class="account-message">
      Return to home<a href="/">Get back</a>
</p>

<p class="account-message">
    Want to Log out ?<a href="/logout">Log out</a>
</p>
