<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Welcome</title>
</head>

<div class="page-titles">
  <h2>Welcome!</h2>
  <h2>Click below to view the pictures.</h2>
</div>


<div class="page-links">
  <a href="/main">Click Here To See A Kitty</a>
</div>

<div class="page-links">
  <a href="/private">Private Picture</a>
</div>

<div class="page-links">
  <a href="/logout">Logout</a>
</div>