{{!-- <div id="container">
  <h2>You are in a session!</h2>
</div>
<a href="/logout">Logout</a> --}}


<form action="/logout" method="POST" id="form">
<div id="container">
  <h1>You are in a session!</h1>
  <p>
    Hize este ejercicio al pie de la letra de las "learnings"
    <br/>Me estoy tardando mucho en hacer tareas, por el trabajo. 
    jelp :c
  </p>
  <img src="https://statics.memondo.com/p/99/gifs/2012/05/GIF_110579_db8e0923f1d64b3c9131117bdcdab7ab_cuando_te_ries_por_obligacion_thumb.jpg?cb=804705">
</div>
  <button>Logout</button>
</form>
