<h1>Wellcome <%= user %></h1>
<nav>
   <a href="/">Index</a> |
   <a href="/secret">Secret</a> |
   <a href="/login">login</a> |   
   <a href="/logout">Log out</a>
</nav>
<br>
<h1>Shhhhh it's a secret..!!</h1>
<br>
<img src="http://i.giphy.com/hEIuLmpW9DmGA.gif"/>
