<div id="container">
  <h2>Página con gato</h2>
  <img src="https://t1.uc.ltmcdn.com/images/6/1/6/img_por_que_mi_gato_maulla_mucho_26616_600.jpg" alt="gato" width="200px">
</div>
<a href="/logout">Cerrar sesión</a><hr>
<a href="/">Página de inicio</a>