<div id="container">
  <h2>You are in a session!</h2>
    Usuario:{{user.username}}
<img src="https://i.redd.it/s9y4op02gpy01.jpg" alt="">
<a href="/private">private</a>
</div>

<a href="/logout">Logout</a>