
<div class="d-flex flex-column align-items-center">

<h1>Bienvenido a la ZONA SECRETA</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/2MtOpB5LlUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<img src="https://www.wrir.org/wp-content/uploads/2020/03/battle-2.gif" class="d-block" alt="jojo is awesome">
<br>
<a href="/logout" class="btn btn-danger col-lg-2">Log out of your session</a>
</div>
