<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Secret</title>
  </head>
  <body>
    <h1>This is the secret... THE SECRET!!!</h1>
    <br><br>
    <p><a href="/">Home</a></p>
    <p><a href="/login">Back</a></p>
    <p><a href="/logout">Logout</a></p>
  </body>
</html>
