<h2>Sign Up</h2>
<form action="/auth/signup" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign up</button>
</form>

<div>
    {{#if errorMessage}}
    <span>{{errorMessage}}</span>
    {{/if}}
</div>