<h2>Sign in</h2>
<form method="POST" action="/sign">
  <label for="">User</label>
  <input type="text" name="user" placeholder="USERNAME">
  <label for="">Password</label>
  <input type="password" name="pass" placeholder="PASSWORD">
  <input type="submit" value="Enviar">
</form>
{{error}}
<h4><a href="/">Log in here</a></h4>