<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Signup</title>
</head>

<body>
  <h1>{{title}}</h1>
  <h2>Signup form</h2>
  <nav>
    <a href="signup">Signup</a>
  </nav>
  <form action="/signup" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Signup">
  </form>
</body>

</html>