<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Sign Up</h2>
    <form id='form' method='POST' action='/signup'>
        <label for='username'>Username</label>
        <input type= 'text' id='username' name='username'>

        <label for='password'>Password</label>
        <input type= 'password' id='password' name='password'>

        <button type='submit'>Create Account</button>
    </form>
    <p class="login">
      Already have an account? <a href='/login'>Login</a>
    </p>

    <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>
  </body>
</html>
