<h2>Sign Up</h2>

<form id="youpi" action="/signup-process" method="post">
  <label>
    Username:
    <input type="text" name="userName" placeholder="my username" required />
  </label>

  <label>
    Password:
    <input id="userPassword" type="password" name="originalPassword" placeholder="secret word" required />
  </label>

  <button>Sign Up</button>

</form>