<form action="/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required minlength="6" maxlength="20">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" required>
    <button type="button">Sign Up!</button>
</form>