<h1>Sign In</h1>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="username" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="password" required>
  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <input type="submit" value="Submit">
</form>
<p class="account-message">
  Don't have an account? <a href="/">Sign Up</a>
</p>