<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      
    </div>

    <!-- Login Form -->
    <form method="post" action="/auth">
        <h3>Nuevo resgistro</h3>
      <label class="type_label" for="user-input">Usuario</label>
      <input type="text" id="user-input" class="fadeIn second" name="user" placeholder="">
      <label class="type_label"for="pass-input">Password</label>
      <input type="text" id="pass-input" class="fadeIn third" name="password" placeholder="">
      <input type="submit" class="fadeIn fourth" value="Registrar">
    </form>

  

  </div>
</div>