<article>
  <form action="auth/signup" method="POST">
    <label for="username">Username</label>
    <input type="name" name='username'>
    <label for="password">Password</label>
    <input type="password" name='password'>
    <button type="submit">SIGNUP</button>
  </form>
</article>

