<section>
<h1>Sign up</h1>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Create</button>
    </form>
</section>