<form action="/user/{{_id}}" method="POST"> 
<input type="text" name="user" value="JohnDoe">
<input type="password" name="Password" value="incorrect">
<input type="button" name="send" value="Sign Up">
</form>
