<h1>Registro</h1>
<form action="/signUp" method="post">
<input type="text" name="username" placeholder="Username"><br><br>
<input id="password" type="password" name="password" placeholder="Password" required><br><br>
<button type="submit">Done</button>
</form>
