<link rel='stylesheet' href='/stylesheets/style.css' />

<h2>Signup Page</h2>


<form action="/signup" method="POST">
  <label>
    Username:
  </label>
  <input type="text" name="username">
  <label>
    Password:
  </label>
  <input type="password" name="password">

  <input type="submit" value="Sign up">
</form>
