<form action="/signup" method="POST">
    <input type="text" name="username" required value="usuario">
    <input type="password" name="password" required value="elvaquilla">
    <button type="submit">Sign up</button>
</form>