
<form method="post" action="/signup">
  <div>
    <label for="username"> New username: </label>
    <input type="text" name="username">
  </div>

  <div>
    <label for="password"> New password: </label>
    <input type="password" name="password">
  </div>
  <% if (typeof(errorMessage) != "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
  <% } %>
  <button> Sign up </button>
</form>
