<h1>Signup form</h1>
    <nav>
        <a href="login">Login</a>
    </nav>
    <form action="/signup" method="POST">
        <input type="text" name="username" value="alfredo" placeholder="User name">
        <input type="password" name="password" value="123" placeholder="Insert Password">
        <input type="submit" value="Signup">
    </form>