<form action="/signup" method="POST">
    <input type="text" name="username" value="usuario">
    <input type="password" name="password" value="elvaquilla">
    <button type="submit">Sign up</button>
</form>