<h1>Sign Up</h1>
<p>Please fill the required fields</p>
<form action="/signup" id="form" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Signup">
</form>

{{#if errorMessage}}
<div>{{errorMessage}}</div>
{{/if}}

{{#if Message}}
<div>{{Message}}</div>
{{/if}}