<h2>Sign Up</h2>

<form action="/process-signup" method="POST">
  <label>
    Create a Username:
    <input type="text" name="username" placeholder="" />
  </label>
  <label>
    Create a Password:
    <input type="password" name="originalPassword" placeholder="" />
  </label>
  <button>Sign Up</button>
</form>