<h1>Signup</h1>



<form action="" method="POST">

  <label>Username</label>
  <input type="text" name="theUserName" required>


  <label>Password</label>
  <input type="text" name="thePassWord" required>


  <button>Submit</button>


</form>

{{#if errorMessage}}
<h3>
  {{errorMessage}}
</h3>
{{/if}}