<article>
  <form action="/auth/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name='username' required>
    <label for="password">Password</label>
    <input id="password" type="password" name='password' required>
    <button type="submit">SIGNUP</button>
  </form>
  {{#if errorMessage}}
  <span>{{errorMessage}}</span>
  {{/if}}
</article>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="./src/strength.js"></script>

<script>
  $(document).ready(function($) {
    
$('#password').strength({
            strengthClass: 'strength',
            strengthMeterClass: 'strength_meter',
            strengthButtonClass: 'button_strength',
            strengthButtonText: 'Show Password',
            strengthButtonTextToggle: 'Hide Password'
        });

});
</script>
