  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="username" id="input">
    <input type="password" name="password" placeholder="password" id="input">
    <input type="submit" value="Sign up">

    {{#if error}}
        <p style="color:red">{{error}}</p>
    {{/if}}
</form>

<a href="/login">Login</a>