{{!-- Iteration 1 - Sign Up --}}
<h1>Signup</h1>

<form action="/signup" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
    <div class="rating"></div>

    <button  class="btn btn-primary mb-2" type="submit">Sign up</button>
</form>
{{#if message}}
    <p style="color: red">{{message}}</p>
{{/if}}