<h1 class="title">Create your user</h1>
<form class="form" action="/signup" method="post">
  <label for="username">Username: </label><br>
  <input type="text" name="username" id="username" placeholder="Your username" required><br>
  <label for="password">Password: </label><br>
  <input type="password" name="password" id="myPassword" placeholder="****" required><br>
  {{#if errorMessage}}
  <p class="error-message">{{errorMessage}}</p>
  {{/if}}
  <button type="submit">Save User</button>
<a href="/" class="centered-item">Home</a>
</form>