<form id="myform" action="/signup" method="POST" >
    <h2> Sign up</h2>
    <label for="username">Username</label>
    <input type="text" name="username" required="required" placeholder="Insert yout username">
    <br>
    <label>Password</label>
    <input type="password" id="myPassword" name="password" required="required" placeholder="*******">
    <br>
    <button type="submit">Create account</button>
</form>