<h1>Sign in</h1>
<form action="/sign-in" method="post">
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
    <button>sign in</button>
</form>