<h2>Sign UP</h2>
<form action="signup" method="Post">
  <label for="signInUserName">
    UserName:
    <input type="text" id="signInUserName" name="userName" placeholder="your username" required minlength="6">
  </label>
  <label for="signInPassword">
    Password
    <input type="password" id="myPassword" name="originalPassword" placeholder="here 's your password'" required
      minlength="6">
  </label>
  <button>Sign UP</button>
</form>