<div>
  {{#if errorMessage}}
    {{ errorMessage }}
  {{/if}}
</div>

<form action="/signup" method="post">
	<input type="text" name="user" autocomplete="username">
	<input type="password" name="password" autocomplete="current-password">
	<input type="submit" value="Login">
</form>