<h1>SignIN</h1>


<form method="post" action="/signin" class="form">
  <label for="username">Username</label>
  <input class="input" id="username" name="username" type="text" value="">
  <label for="password">password</label>
  <input class="input" id="password" name="password" type="password" value="">
  <button class="btn">Login</button>
</form>

{{!-- if to add --}}
<p>You don't have an account yet : SIGN UP !</p>
<a href="/">Sign up</a>