<h1>Sign up</h1>
<form action="/signUp" method="post">
  <input type="text" name="userName" placeholder="Enter Name">
  <input type="password" name="password" placeholder="Enter Password">
  <input type="submit">
</form>