<h1>Signup</h1>

<a href="/login">Log User</a>

<form action="/create-user" method="POST">
    <input type="text" name="username" id="" value="manuatope" required>
    <input type="password" name="password" id="" value="1234" required>

    <button>Sign up</button>
</form>