{{!-- <form method="post" action="/signup" class="form" enctype="multipart/form-data"> --}}
<form method="post" action="/signup" class="form">
    <h1 class="title">Signup</h1>
    
    <label for="email">email</label>
    <input class="input" name="email" type="text" value="test@yopmail.com">
    <label for="password">password</label>
    <input class="input" name="password" type="password" value="12345">

    <button class="btn">go !</button>
    <hr>
    <p>
        Already have an account ? <a class="link" href="/login">please signin !</a>
    </p>
</form>