<h2>Sign Up</h2>
<form class="form" action="/signUp" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Your name...">

  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Your password...">

  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>

  <button>Sign Up!</button>
</form>
