<a href="/">Back home!</a>
<br>
<br>

<form id="signup-form" action="/signup" method="POST">

  <label for="username">Username: </label>
  <input id="username" name="username" type="text">
  <br>
  <label for="password">Password: </label>
  <input id="password" name="password" type="password">

  <button type="submit">Sign me up!</button>
</form>

<p>Already signed up? Click <a href="login">here </a>to log in!</p>

{{#if error}}
<p class="error-message">{{error}}</p>
{{/if}}