<form 
    action="/auth/signup" 
    method="POST"
    >
    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" name="username" type="text">
            
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" name="password" type="password">
        </div>
    </div>
    {{#if error}}
        <div>
            <span>{{error}}</span>
        </div>
    {{/if}}
    <button type="submit" class="uk-button uk-button default">Register</button>
</form>