<form id="myform" method="POST" action="/sign-up">
<input type="text" placeholder="username" name="username" required>
<input id="myPassword" type="password" placeholder="password" name="password" required>

<input type="submit" value="Sign up">

{{#if error}}
<p style="color:#ff0000">{{error}}</p>
{{/if}}
</form>

