<div class="loginpanel">
  <form action="/signup" class="loginpanel" method="post">
    <div class="txt">
      <label for="username" class="entypo-user" placeholder=""></label>
      <input name="username" type="text" />
    </div>
    <div class="txt">
      <label for="pwd" class="entypo-lock"></label>
      <input name="pwd" type="password" />
    </div>
    <div class="buttons">
      <input type="submit" value="Sign up" />
    </div>
  </form>
</div>
