<section id="signup-header" class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="/">Signup</a>
            </h1>
            <h2 class="subtitle">
                <a>Are you already register?</a>
                <a href="/login"><strong>Log in</strong></a>
            </h2>
        </div>
    </div>
</section>


<section id="signup-form" class="section columns">
    <div class="container column is-two-thirds">
        <form action="/" method="POST">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input is-primary is-large" type="text" placeholder="Username" name="username" value="" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input is-primary is-large" type="password" placeholder="Password" name="password" value="" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-primary is-large">
                        Login
                    </button>
                </p>
            </div>
        </form>

    </div>
</section>