<h1>Sign up</h1>
<a href="login">Login</a>
<form action="/create-user" method="POST">
    <input type="text" name="username" id="" value="tobajas">
    <input type="password" name="password" id="" value="123">
    <button>Sign Up!</button>
</form>