{{!-- iteration 1 --}}
<form action="/signup" method="POST">
    <label for="">Username</label>
    <input type="text" name="username" id="">

    <label for="">Password</label>
    <input type="text" name="password">

    <button type="submit">Submit</button>
</form>