<div>
  {{#if errorMessage}}
    {{ errorMessage }}
  {{/if}}
</div>

<h1>Regístrate</h1>
<form action="/" method="post">
    <input type="text" name="user" value="dani" autocomplete="username">
    <input type="password" name="password" value="123" autocomplete="current-password">
    <input type="submit" value="SignUp">
    <a href="/login">Login</a>
</form>