
<form method="post" action="/index">
  <div>
    <label for="username"> New username: </label>
    <input type="text" name="username">
  </div>

  <div>
    <label for="password"> New password: </label>
    <input type="password" name="password">
  </div>

  <button> Sign up </button>
</form>
