<div class="div-form">
    <form class="form" action="/singUp" method="post">
    <h2>Sing Up</h2>
        <input type="text" name="user" placeholder="User" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit"> Register </button> 
        <a  class="button-link" href="/login"> Login </a>
    </form>
       
</div>