<form action="/singup" method="POST">
<input type="text" name="username" value="" placeholder="New user name">
<input type="password" name="password" value="" placeholder="New password">
<input type="submit" value="Add new user">
</form>