<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Webpage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<h1>Safe Space, baby</h1>
<!--

<form action="">
  <button type="submit">Log out</button>
</form> -->



  </body>
</html>
