<p>Welcome to {{title}}, {{username}}</p>
<div>
    Options:
    <ul>
        <li><a href='/main'>Cat images</a></li>
        <li><a href='/private'>Holiday images</a></li>
    </ul>
</div>
<button onclick='window.location.href="/logout";'>Log out</button>