<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
         <h2> Welcome </h2>

          <h5>Would you like to access <a href="">Support</a> or <a href="">Accounts</a>?
  </body>
</html>
