<h2>Credenciales erroneas Bang Bang!</h2>
<p>Ahora que deseas hacer:</p>
<p>REGISTRATE en Rock's Music Planet: <a href="/signup">Click aqui.</a></p>
<p>INGRESAR en Rock's Music Planet: <a href="/login">Click aqui.</a></p>
<img src="https://media.giphy.com/media/Wq9RLX06zRg4UM42Qf/giphy.gif" alt="Wrong Chicken">
<p>Pagina de INICIO de Rock's Music Planet:   <a href="/">Click aqui.</a></p>