<!DOCTYPE html>
<html>
  <head>
    <title>Exercise</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <a href = "/login" >Login</a>
    <a href = "/signup" >Sign up</a>
    <a href = "/secret" >Secret</a>
    <a href = "/logout" >Logout</a>


  </body>
</html>
