<h2>Login</h2>

<form action="/login" method="post">
  <p>
    <label for="username">Username :</label>
    <input type="text" name="username" id="username" required>
  </p>
  <p>
    <label for="password">Password :</label>
    <input type="password" name="password" id="password" required>
  </p>
  <input type="submit" value="Login">
</form>

<p>Don't have an account yet? <a href="/signup">Register</a></p>