<h1>Sign Up </h1>
<form action="/login" method="post">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" id ="username">
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id ="password">
    </p>
   <button typpe="submit" value="Login"> Login</button>
</form>
<br/>
<p>Si no tienes cuenta <button><a href="/signup">Registrate Aqui</a> </button></p> 
<p>{{error}}</p>