<h1>Your'e in session</h1>
<div>
    <img src="https://www.askideas.com/wp-content/uploads/2016/11/Hello-How-Are-You-Funny-Mr.-Bean-Baby-Image.jpg" alt="">
</div> 
<br/>
<button> <a href="/">Logout</a></button>