<h1>Your'e in a private session</h1>

<div> <img src="https://78.media.tumblr.com/94067770566e9a2aaba6c1f99498e11b/tumblr_o9lpv7EqCG1udh5n8o1_500.gif" alt=""> </div>
<br/>
<button> <a href="/">Logout</a></button>
