<h3>Member area</h3>
<p>Welcome!</p>
<img class="img-block" src="https://media.giphy.com/media/bcKmIWkUMCjVm/giphy.gif" alt="welcome gif">
 
<div class="action-button">
  <a href="/member/main">Main area</a>
</div>
<div class="action-button">
  <a href="/member/private">Private page</a>
</div>