<main>
    <h2>OUR MAIN PAGE.</h2>
    <hr>
    <img src="https://yandex.ru/images/search?text=auto&img_url=https%3A%2F%2Fget.wallhere.com%2Fphoto%2Fcar-vehicle-sports-car-Ferrari-coupe-performance-car-Ferrari-458-458-italia-2012-netcarshow-netcar-car-images-car-photo-supercar-land-vehicle-automotive-design-automobile-make-luxury-vehicle-ferrari-spa-391700.jpg&pos=0&isize=medium&rpt=simage" alt="Super car">
    <hr>
    <a href="/">Return to the home page</a>
</main>