<div class="greyBackground">
    <h2>New Celeb</h2>
    <form action=" /operas/create" method="POST">

        <div class="mb-3 mt-5">
            <label for="operaTitle" class="form-label">Title: </label>
            <input type="text" class="form-control" id="operaTitle" name="title">
        </div>
        <div class="mb-3 mt-5">
            <label for="composer" class="form-label">Composer: </label>
            <input type="text" class="form-control" id="composer" name="composer">
        </div>
        <div class="mb-3 mt-5">
            <label for="operaPic" class="form-label">Image URL: </label>
            <input type="text" class="form-control" id="operabPic" name="image">
        </div>

        <button type="submit" class="btn btn-lg btn-dark">Create</button>
    </form>
</div>