<div id="home-div">
    <h1>IronAuthentication</h1>
    <p class="mb-5">Welcome to the user's registration lab</p>
    <div>
        <a class="btn btn-primary" href="/register">Register</a>
        <a class="btn btn-primary" href="/login">Login</a>
    </div>
</div>

