body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgoldenrodyellow;
}

a {
  color: #00B7FF;
}

#form {
  margin: 30px auto;
  width: 380px;
  text-align: center;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.imgContainer{
  width: 100vw;
  text-align: center;
  font-size: 2vw;
}

.imgCat{
  height: 70vh;
}

.imgGif{
  margin-top: 15vh;
  height: 40vh;
}

.container{
  width: 100vw;
  display: flex;
  font-size: 1.5vw;
  text-align: center;
}

.cont1_4{
  width: 25vw;
  text-align: center;
}

.cont1_2{
  width: 50vw;
  text-align: center;
}