<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  
  <h1>Login</h1>
  <form action="/users/login" method='post'>
    <label for="username">Username: </label>
    <input type='text' size="20" name="username">
    <label for="password">Password: </label>
    <input type='password' size="20" name="password">
    <input type="submit" value="send">
  </form>

</body>
</html>