<h2>Sign up page</h2>

<form action="/process-signup" method="POST">
    <label>
        Username:
        <input type="text" name="username" placeholder="Your username..."/>
    </label>
    <br />
    <label>
        Password:
        <input type="password" name="originalPassword" placeholder="Your password..." />
    </label>
    <br/>
    <button>Sign up</button>
</form>