<h2 class="login">Login</h2>


<form action="/login" method="post">
<label>Username
    <input class="username" type="text" name= "username" placeholder="Username"/>
</label>
<label>
    <input class="password" type="password" name="password" placeholder="********"/>
</label>

<button type="submit" class="btn btn-outline-danger">Accept</button>



{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</form>