<h2>Login</h2>


<form action="/login" method="post">
<label>Username
    <input type="text" name= "username" placeholder="Username"/>
</label>
<label>
    <input type="password" name="password" placeholder="********"/>
</label>

<button>Login</button>


{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</form>