<div class="hero">
  <div class="logo">
    <h1 class="main-title">IRON</h1>
    <img class="ih-logo"src="images/logo.png" alt="">
    <h1 class="main-title">Quotes</h1>
  </div>
  <div>
    <h1>404 - Not Found</h1>
  </div>
</div>