<h3>Logn In</h3>

<form action="/login" method="post">
    <label>username: <input type="text" name="username" placeholder="username"/label>
    <br><br>
    <label>password: <input type="text" name="password" placeholder="******"></label>
    <br><br>
    <button>submit</button>
</form>

{{#if errorMessage}}
    <p>{{ errorMessage }}</p>
{{/if}}