<div id="form">
     <h2>Login</h2>
     <form action="/auth/login" method="POST">
        <label for="input-username">Username</label>
        <input type="text" id="input-username" name="username" placeholder="Your uesername" />

        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" placeholder="********" />

        <button type="submit">Login</button>

        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
     </form>
 </div> 





