<section class="container">
  <div class="row mt-4">
    <div class="col-md-6 mx-auto text-center">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
      <a class="btn btn-primary" href="auth/signup" role="button">Sign up</a>
      <a class="btn btn-primary" href="auth/login" role="button">Login</a>
    </div>
  </div>
</section>