<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      {{#if currentUser}}
        <p>logged as: {{currentUser.username}}</p>
        <form action="/auth/logout" method="post">
          <input type="submit" value="logout">
        </form>
     {{/if}}
    </nav>
    {{{body}}}
  </body>
</html>
