<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <p>Logged as: {{ currentUser.username }}</p>
    </nav>
    {{{body}}}
  </body>
</html>
