<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{#if user}}
  <a href="/main">Main</a>
  <a href="/private">Private page</a>
  <a href="/logout">Log Out</a>
  {{/if}} 
  {{#unless user}}
  <a href="/signup">Sign up</a>
  <a href="/login">Log in</a>
  {{/unless}}
  {{{body}}}

  <script src='/javascripts/script.js'></script>
</body>

</html>