<div class="hero">
  <div class="logo">
    <h1 class="main-title">IRON</h1>
    <img class="ih-logo"src="images/logo.png" alt="">
    <h1 class="main-title">Quotes</h1>
  </div>
  <div class="btn-holder">
    <a href="/quotes" class="btn btn-success">List</a>
    <a href="/quotes/random" class="btn btn-danger">Random</a>
  </div>
</div>


