<div class="col-6 register profile">
    <h1>Usuario de {{user.username}}</h1>
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRJWBa_wSZPNyLl8OoaUwXGHcx8YeFr-T823gRTP7NsC5h4hs7L"
        alt="half cat">
    <form action="/cerrar-sesion" method="POST">
        <button class="btn btn-outline-warning registerbutton">
            CERRAR SESIÓN
        </button>
    </form>
</div>