<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <h1>Esta página es publica</h1>
            <hr>
            <figure class="mt-5">
                <img src="../../images/main.png">
            </figure>
        </div>
    </div>
</div>