<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <h1>Esta página es privada</h1>
            <hr>
            <figure class="mt-5">
                <img src="../../images/oleee.gif">
            </figure>
        </div>
    </div>
</div>