
body {
  color: rgb(206, 65, 14);
  background-color: rgba(198, 128, 71, 0.2);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html a:visited, a{
  text-decoration: underline;
  color: rgb(242, 128, 75);
}


.background{
  color: rgb(206, 65, 14);
  background-color: rgba(198, 128, 71, 0.2);
}

.index, .signup, .login-page, .secret, .private{
  // color: rgb(206, 65, 14);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.error{
  color:white;
  background-color: rgb(221, 72, 55);
  width: 20vw;
}

img{
  width: 50vw;
  height: 50%;
}
