<h2>Create User</h2>

<form action="/signup" method="POST">

    <label>Username:</label>
    <input type="text" name="username" required/>

    <label>Password:</label>
    <input type="password" name="password" required/>

    <button type="submit">Create User</button>

</form>

{{#if justCreatedUser}}
    <h3>User {{justCreatedUser}} created succesfully</h3>
{{/if}}

{{#if errorMsg}}
  <h3>{{errorMsg}}</h3>
{{/if}}