<div class="iniciar">
  <div class="container">
    <form action="/login" method="POST" class="log">
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" name="email" value="{{user.email}}" class="form-control" size="50" minlength="3"
          maxlength="100" id="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" id="password" required>
      </div>

      {{#if errors}}
      <div class="alert alert-danger" role="alert">
        {{errors}}
      </div>

      {{/if}}
      {{#if message}}
      <p class="success-message">{{message}}</p>
      {{/if}}
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
  </div>
</div>