<h3>Login</h3>

<form action="/login" method="POST">
    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>

    <button>Log in</button>
</form>