<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div id="signup">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="input-email">Email</label>
                        <input type="email" id="input-email" name="email" placeholder="Your email"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="input-password">Password</label>
                        <input type="password" name="password" id="input-password" placeholder="********"
                            class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-success">Login</button>

                    {{!-- error message will be added here --}}
                    {{#if errorMessage}}
                    <p class="error">{{errorMessage}}</p>
                    {{/if}}
                </form>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>