<div id="login" class="container col-xxl-4">
  <h1 class="text-center mt-5 mb-4">Login</h1>

  <form class="container-sm mx-auto" style="max-width: 400px;" action="/login" method="POST">
    <div class="mb-3">
      <label for="email" style="color: #3498db;" class="form-label">Username</label>
      <input value="{{username}}" type="username" name="username" class="form-control" id="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" style="color: #3498db;" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
