<h2>Log In!</h2>


<form action="/users/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required/>
    
    <label>Password:</label>
    <input type="password" name="password" required/>

    <button type="submit">Log In</button>
</form>

{{#if msg}}
    <h3>{{msg}}</h3>
{{/if}}