<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <h1>User Auth</h1>
    </div>
    <div class="col-12 col-md-6 offset-md-3">
      
      <div class="btn-group mt-3">
        <a href="/signup" class="btn btn-primary">Register</a>
        <a href="/login" class="btn btn-primary">login</a>
      </div>
    </div>
  </div>
</div>