<div class="container">
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input type="email" name="email" value="{{user.email}}" class="form-control" id="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" name="password" class="form-control" id="password" required>
    </div>

    {{#if error}}
      <p class="error-message">{{error}}</p>
    {{/if}}

    {{#if message}}
      <p class="success-message">{{message}}</p>
    {{/if}}
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </form>
</div>