<div class="container">
  <div class="row">
    <div class="col-12 col-md-4 offset-md-1">
      <h4 class="text-center">You Are loged!! - logout?</h4>
      <form action="/users/logout" method="POST">
        <button type="submit" class="btn btn-danger btn-lg btn-block">Logout</button>
      </form>
    </div>
  </div>
</div>