<div class="container">
    <div class="row">
        <div class="column d-flex align-items-center justify-content-center">
            <h1>Please, check your email</h1>
        </div>
        <div class="column d-flex align-items-center justify-content-center my-3 py-3">
            <h3>We have sent you a confirmation email.</h3>
        </div>
        <div class="column d-flex align-items-center justify-content-center my-3 py-3">
             <img src="../public/images/template-mail.jpg" alt="email image">
        </div>
    </div>
</div> 