<div class="container">
  <h1>Usser logged in</h1>
  <div class="card" style="width: 18rem;">
    <img src="/images/perro.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">Welcome</p>
  </div>
</div>