<div id="main-page">
    <a href="/user-profile">Return to home</a>
    <img src="https://cdn.pixabay.com/photo/2017/10/01/20/39/cat-2806957_960_720.jpg" alt="Cat, Blanket, Hide, Cute, Cheeky, Funny">
</div>
