{{#if userInSession}}
    <h2>Welcome, {{ userInSession.username }}!</h2>
    <img src="/images/funny-cat.jpg"/>
    <br>
    <button>
        <a href="/">Back to home</a>
    </button>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}