<div class="container text-center">
    <h1>Main</h1>
    <img src="https://media1.tenor.com/images/32717540dc7239da535c919571111366/tenor.gif?itemid=12928299" class="mb-4">
    <br>
    <a href="/" class="btn btn-primary">Home</a>
</div>