{{#if userInSession}}
<div id="protected">
    <h2>Here's your cat, {{ userInSession.username }}!</h2>
    <img src="/images/cat.png" alt="Cat">
    <a href="/">Go back home</a>
</div>
{{else}}
<div>
  <p>No one's logged in!</p>
</div>
{{/if}}