{{#if userInSession}}
<img src="images/cat.jpg" alt="Cat in a costume">
<br>
<a href="/">Home</a>
<br>
<a href="/userProfile">Your Profile</a>
{{else}}
<h1>Sorry you need to log in to meet My cat with a hat!</h1>
{{/if}}