{{#if userInSession}}
  <img class="fat-cat" src="https://bemorepanda.com/files/2020-04-12/images/345651.jpg" alt="Fat cat">
{{else}}
  <p>Please login to see this page</p>
{{/if}}

<a href="/">Home</a>