<div class="container">

  <div class="row justify-content-center">

    <div class="col-10">

      <a href="/"><h2>Inicio</h2></a>
      <br />
      <img src="images/perros.jpg" width="50%" />

    </div>
  </div>
</div>

  <a href="/private" class="btn btn-light">Si pinchas veras!</a>