<div>
  <img
    src="https://unsplash.com/photos/Sh9ANn-qXPU/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTh8fGZ1bm55JTIwZG9nc3xlbnwwfDB8fHwxNjkwMjg5ODYwfDA&force=true&w=640"
  />
</div>
<a href="/">Take me back home</a>