<h1>Hola</h1>

<img src="https://img-9gag-fun.9cache.com/photo/aDDo4KN_460s.jpg">
{{#if isLoggedIn}}
<a href="/private"><button>private</button></a>
{{/if}}

<a href="/"><button>Return homepage</button></a>