{{#if userInSession}}
    <img src="https://www.purina.es/gato/purina-one/sites/g/files/mcldtz1856/files/2018-06/Mi_gato_me_muerde%281%29.jpg"
        alt="funny picture of cat"><br>
    <a href="/">Home</a>
{{else}}
    You don't have access!
{{/if}} 
