<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="mainPgBody">
  <h1>Welcome {{userInfo.username}}!</h1>
 
<img src="https://www.meme-arsenal.com/memes/cc0bcc28b08ce52b6a5de40f0770998f.jpg">
<br>
<br>
<a class="homeBtn" href="./">Home</a>
</body>
</html>

