<div class="allPagesDiv">
    <div class="allTextDiv">
        <h2>{{title}}</h2>
        <p>This is the main page!</p>
        <img src="/images/funnyCat.jpg" alt="image">

        <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
    </div>
</div>