<a href="/">Home</a>

<img
  src="https://ae01.alicdn.com/kf/HTB1vYwwJXXXXXXRXXXXq6xXFXXXn/MPK-Store-Funny-Cat-Wig-Pet-Wig-Cat-Headwear-Cat-Party-Assessories.jpg_Q90.jpg_.webp"
  alt="funny cat image :D"
/>