


<div class="card" style="width: 18rem;">
  <img src="https://canineconciergepets.com/wp-content/uploads/2018/06/welcome-home.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Estas en la página de Main</p>
    <a href="/"><button type="submit" class="btn btn-warning">Go home</button></a>
    <a href="/users/private"><button type="submit" class="btn btn-warning">Go private</button></a>

  </div>
</div>