<div class="gato">
    <div class='container'>
        <div class='row center__all'>
            <div>
                <h1>¡Felicidades!</h1>
                <h5>Estas en la página principal</h5>
                <h6>Recuerda desconectarte al finalizar la sesión </h6>
                <a class="btn btn-profile btn-primary" href="/profile" role="button">Regresa a tu perfil</a>
            </div>
            <img src="https://www.blogdehumor.com/wp-content/2010/10/gato-conectado.jpg" class="img-fluid" id="imageMain" alt="cat"
                height="500px">
        </div>
    </div>
</div>