<h1>Cat gif page</h1>
<hr>

<main class="gifDiv">
  <img class='gif' src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="cat coding gif">
  <img class='gif' src="https://media.giphy.com/media/JuFwy0zPzd6jC/giphy.gif" alt="cat gif">
  <img class='gif' src="https://media.giphy.com/media/lzz3B3xLZluuY/giphy.gif" alt="cat gif">
</main>

<div class="linkDiv">
  <a class="linkButton" href='/user-page'>Return</a>
</div>
