<div class='main__page'>
  <div>
    <h1>Welcome {{user.username}}</h1>
  </div>
  <div>
    <span>here is your funny cat picture</span>
  </div>
  <div>
    <img src='/images/portrait-funny-cat.jpg' alt='Funny Cat' />
  </div>
</div>