<h1>Private page</h1>
<h2>Hola {{userFound.username}}</h2>
<img src="http://24.media.tumblr.com/63ec631a1342e53155e4fcfeb205e030/tumblr_n54oyeYYav1rd0rbzo1_500.gif" alt="gif de algo"> 
<a href="/"><button>Return homepage</button></a>