<div class="container">
    <h2>Private page</h2>
    <img src="https://cdn.thingiverse.com/renders/9c/39/83/0b/8e/d0fe30dc81817fe22b0190f1f0650dcb_preview_featured.jpg"
        alt="cute kitty">
</div>