{{#if userInSession}}
<h1>Private</h1>
<img src="https://s1.qwant.com/thumbr/0x380/2/a/d4962e88c3727d8d205f2d85b062642a41502abad7214b9344399fb72e569e/Happy-Cat-Gif.gif?u=http%3A%2F%2Fmemesbams.com%2Fwp-content%2Fuploads%2F2017%2F11%2FHappy-Cat-Gif.gif&q=0&b=1&p=0&a=1" alt="cat">
<a href="/userProfile">Profile</a>
{{else}}
  
  <br><p>Still no logged in user, sorry!</p>

{{/if}}

