<div class="container login">
  <h1>Private Page</h1>
  <div class="card" style="width: 18rem;">
    <img src="/images/gif.gif" class="card-img-top" alt="" />
    <div class="card-body">
      <p class="card-text">Welcome</p>
    </div>
  </div>
</div>