<h1>ZONA PRIVADA PARA: @{{currentUser.username}}</h1>
<p>Disfruta de tu Suscripción PRIMIUM</p>

<div class="text-center">
  <img src="https://media.giphy.com/media/13CoXDiaCcCoyk/giphy.gif" class="rounded" alt="gatitogif">
</div>