<img style="padding-bottom: 100px" src="https://media2.giphy.com/media/gngO1gmBhS9na/giphy-downsized.gif"
    alt="john travolta being confused in pulp fiction">

<h2>This is a private room, only accesible after logging in</h2>

<div>
    <a href="/profile" class="btn btn-secondary">Go back to the menu</a>

</div>