{{#if userInSession}}
 <img src="https://media3.giphy.com/media/unRa3ffljnuec/giphy.gif?cid=ecf05e47r40nnk6hqwlrj640zhcal8afuk8h4cnbagly89ve&rid=giphy.gif" alt="Lil Drake dancing">
 <a href="/">Home</a>
{{else}}
  <p>Please login to see this page</p>
{{/if}}
