<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"> Secret!!!</h1>
      {{> messages}}
      <div class=" dashContent card-body text-center">
        <p>Super secret private page!</p>
      <iframe src="https://giphy.com/embed/3o6Zt481isNVuQI1l6" width="480" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-smoke-smoking-3o6Zt481isNVuQI1l6">via GIPHY</a></p>
      </div>
      <p class="lead mt-4 text-center">
       <a href="/">Home</a> - <a href="/userProfile">Back</a>
      </p>
    </div>
  </div>
</div>