<!-- views/private.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>Private Page</title>
</head>
<body>
  <h1>This is a Private Page!</h1>
  <img src="https://media.giphy.com/media/Dh5q0sShxgp13DwrvG/giphy.gif" alt="Favorite GIF">
</body>
</html>
