{{#if userInSession}}
<h1>Esta página es privada</h1>


<img src=" https://www.trecebits.com/wp-content/uploads/2015/08/slide_303383_2577027_free.gif ">

<button>
  <a href="/">Home</a>
</button>


{{/if}}