<h1>This is a private page</h1>

<iframe src="https://giphy.com/embed/qPD4yGsrc0pdm" width="480" height="396" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hammer-super-mario-8-bit-qPD4yGsrc0pdm">via GIPHY</a></p>
<a class="btn btn-primary" href="/" role ="button">Home</a>