<div class="container">
    <h1>this page is private</h1>

{{#if user}}
  <img src='https://media.giphy.com/media/Zx1ZEctOOvxK5VCwwE/giphy.gif' alt='Sci Fi Lol'>
{{else}}
  <p>Please login to see this page</p>
{{/if}}
</div> 