<div class='container'>
    <div class='row'>
        <div class=' col center__all'>
            <h1 class='col align-items-center'>Estas en la página privada</h1>
            <a class="btn btn-profile btn-primary col- my-3" href="/profile" role="button">Regresa a tu perfil</a>
        </div>
         <img src="https://cdn.elgrupoinformatico.com/Noticias/2018/08/gato-gafas-sol-400x225.gif" class="img-fluid" id="imageMain" alt="cat"
                height="500px">
</div>