{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <h1>This is your Private page my friend!</h1>
  <img src="https://tenor.com/view/no-privacy-gif-11810154" alt="funny gif" />

  <br />
  <br />

  <button>
    <a href="/">Home</a>
  </button>
  <br />
  <br />

  <button>
    <a href="/userProfile">Back</a>
  </button>

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}