<div id="private-page">
    <h1>Private page</h1>
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    <iframe src="https://giphy.com/embed/B0vFTrb0ZGDf2" width="480" height="253" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/city-bus-doll-B0vFTrb0ZGDf2"></a></p>
</div>