<div class="container">
    <h1>this page is private</h1>

{{#if user}}
  <img src='https://media.giphy.com/media/u0LxmF9QVeDoQ/giphy.gif' alt='hehehe'>
{{else}}
  <p>Please login to see this page</p>
{{/if}}
</div>