<div class="container">

    <div class="row justify-content-center">
        <div class="col-10">
            <a href="/">
                <h2>Inicio</h2>
            </a>
            <br>
            <img src="/public/images/bailarin.gif" width="50%" alt="perro bailando">
        </div>
    </div>

</div>