{{#if userLoggedIn}}
<h1>Hi {{userLoggedIn.username}}! This page is private</h1>

<img src="https://i.pinimg.com/originals/6c/90/28/6c90288d7e10d46d18895f17f420a92c.gif" alt="">

{{else}}
<div class="alert alert-danger error" role="alert">
  Access denied! Go back to the homepage.
</div>
 
{{/if}}