

<div class="contenedor">
<div class="card" style="width: 30rem;">
  <iframe src="https://giphy.com/embed/BK8hW6YBpnvSU" width="427" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/funny-lol-scared-BK8hW6YBpnvSU">via GIPHY</a></p>
  <div class="card-body">
    <p class="card-text">Estas en la página de private</p>
    <a href="/"><button type="submit" class="btn btn-warning">Go home</button></a>
    <a href="/users/private"><button type="submit" class="btn btn-warning">Go private</button></a>

  </div>
</div>
</div>