{{!-- ./views/users/profile.hbs --}}

<h1>Private</h1>
<iframe src="https://giphy.com/embed/wAxlCmeX1ri1y" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/romy-dance-dancing-snoop-dogg-wAxlCmeX1ri1y"></a></p>