<div class="container">

  <div class="row justify-content-center">

    <div class="col-md-6">

      <h1>Acceso no autorizado </h1>
      <br />
      <figure>
        <img src="https://media.giphy.com/media/a93jwI0wkWTQs/giphy.gif" />
      </figure>
    </div>
  </div>
</div>