{{#if userInSession}}
<h1>This is a private page</h1>
    <h2>Welcome, {{ userInSession.username }}!</h2>
    <img src="/images/funny.gif"/>
    <br>
    <button>
        <a href="/">back to Home</a>
    </button>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}