{{#if userInSession}}
<h1>Private</h1>


<img src="https://media2.giphy.com/media/scZPhLqaVOM1qG4lT9/giphy.gif" alt="">

<a href="/userProfile"><button>back</button></a>
{{else}}
  
  <br><p>Still no logged in user, sorry!</p>

{{/if}}