<div class="container">
    <h1>User profile</h1>


{{#if user}}
<p>Welcome to your profile page, <span class="user">{{user.username}}</span></p>
<br>
<br>
<a href="/profile" class="btn5">Reeeeeeload</a>
<a href="/main" class="btn5">Surprise 1</a>
<a href="/private" class="btn5">Surprise 2</a>
{{else}}

<p>You are not logged in</p>
{{/if}}
</div>