This is your profile.
Your profile is empty.
Woe is your profile!
{{user.name}}

<img src="/images/catmeme.jpg" alt="catmeme">

<a href="/">Go Home</a>

<form action="/logout" method="post"><button type="submit">Log out</button></form>