<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Welcome {{user.username}}!</h1>
            <hr>
            <p>Here is your profile!</p>
            <img src="/images/cat.jpg" alt="">
        </div>
    </div>
    <hr>
</div>