<div class='container'>
    <h1>Welcome back {{currentUser.username}}</h1>
    <p>Your personal data: </p>
    <ul>
        <li>{{currentUser.username}}</li>
        <li>{{currentUser.email}}</li>
    </ul>
</div>