<div class = container>
<h1>Yeeeeeeepa</h1>
<p>Bienvenido a tu perfil {{currentUser.email}}</p>
    <a class="dropdown-item" href="/main">Main</a>
    <a class="dropdown-item" href="/private">Private</a>
</div>