{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <a href="/main">Check main page</a>
  <a href="/private">Go to personal information</a>
  <button>
    <a href="/profile">Reload the page</a>
  </button>
{{else}}
  <p>Nobody is logged in, login or sign-up first</p>
{{/if}}