<div class="container">
  <h1>¡Hola!</h1>
  <p>Actualmente estás conectado como {{currentUser.email}}</p>

  <a class="btn btn-profile btn-primary sm-col my-3" href="/main" role="button">Main Page</a>
        <a class="btn btn-profile btn-primary sm-col my-3" href="/private" role="button">Private page</a>
</div>