<div class="d-flex flex-column justify-content-center align-items-center">
    <p class="fw-bold pt-5">Welcome to your profile</p>
    <img src="https://cdn-icons-png.flaticon.com/512/194/194938.png" width="200px" alt="image-profile">
    <h1 class="fw-bold pt-5">Bienvenid@: {{user.username}}</h1>
    <p>Email: {{user.email}}</p>
</div>