<div class="container">
    <h1>Sign Up</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <form action="/users/signup" method="POST">
                <div class="form-group">
                    <label for="occupation">User</label>
                    <input type="text" class="form-control" name="user" id="user" aria-describedby="nameHelp">
                    <small id="nameHelp" class="form-text text-muted">Insert valid user</small>
                </div>
                <div class="form-group">
                    <label for="occupation">Password</label>
                    <input type="password" class="form-control" name="password" id="password"
                        aria-describedby="passwordHelp" placeholder="">
                    <small id="passwordHelp" class="form-text text-muted">Min 8 Characters</small>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>