<div>

  <h1>Crea tu usuario</h1>
  <form action='/signup' method='POST'>

    <h2>Tu nombre de usuario</h2>
    <input type='text' name='username' />
    <h2>Password</h2>
    <input type='password' name='password' />
    <button type='submit'>
      Crear usuario
    </button>
  </form>
</div>