<div class="col-md-6 main">
    <form action="/users/signup" method="post">
        <h1> Signup form </h1>
        <input class="box" type="text" name="name" id="name" placeholder="Name" required /><br>
        <input class="box" type="password" name="password" id="password" placeholder="Password " required /><br>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>