<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <h1>Create - User Auth</h1>
    </div>
    <div class="col-12 col-md-6 offset-md-3">
      <form action="/users/create" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control{{#if errors.username}} is-invalid{{/if}}" id="username" name="username" {{#if user.username}}value="{{user.username}}"{{/if}}>
          {{#if errors.username}}
          <div class="invalid-feedback">
            {{ errors.username.message}}
          </div>
          {{/if}}
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control{{#if errors.password}} is-invalid{{/if}}" id="password" name="password" {{#if user.password}}value="{{user.password}}"{{/if}}>
          {{#if errors.password}}
           <div class="invalid-feedback">
            {{ errors.password.message}}
          </div>
          {{/if}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>