{{!-- <h1>CREATE USER</h1>
<form action="/signup" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </div>

  <button type="submit" class="btn btn-primary">Sign up</button>
</form> --}}

<form action="/signup" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input name="username" type="text" class="form-control {{#if error.username }}is-invalid{{/if}}" id="username"
      placeholder="Enter username" value="{{ user.username }}">

    {{#if error.username}}
    <div class="invalid-feedback">
      {{error.username.message}}
    </div>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input name="password" type="password" class="form-control {{#if error.password }}is-invalid{{/if}}" id="password"
      placeholder="password" value="{{ user.password }}">

    {{#if error.password}}
    <div class="invalid-feedback">
      {{error.password.message}}
    </div>
    {{/if}}
  </div>

  <button type="submit" class="btn btn-primary">
    Sign up
  </button>
</form>