<h3>Sign up</h3>
<form action="/signup" method="POST">
    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>

    <button>Sign up</button>
</form>