<h1>Sign Up Form</h1>

<form action="/users/create-user" method="post">
    <label for="username">Enter name: </label>
    <input id="username" type="text" name="username" value="" placeholder="Insert username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Submit">
</form>