<div>
    <h1>Crea tu usuario</h1>
    <form action="/signup" method="POST">
    <h2>Crea tu nombre de usuario</h2> 
    <input type="text" name="username" placeholder="usuario1"/>
    <h2>Ingresa tu contraseña</h2> 
    <input type="password" name="password" placeholder="holamundo"/>
    <button type="submit">Crear cuenta</button>

    </form>

</div>