{{!-- views/users/userProfile.hbs --}}

{{#if user}}
<h2>Welcome, {{ user.username }}!</h2>
<p>This is your profile page my friend!</p>
<button>
    <a href="/user-profile">Reload the page</a>
</button>
<a href="/main">Go to Main!</a>
<a href="/private">Go to Private!</a>
<br>
<form action="/logout" method="POST">
    <input type="submit" value="LOGOUT">
</form>
{{else}}
<p>Still no logged in user, sorry!</p>
<a href="/login">Login</a>
{{/if}}