<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1>Haciendo lab's</h1>

      <img src="../../images/mejorprogramador.gif" alt="Yo haciendo lab" />
    </div>
  </div>
</div>