<div>
    <h2>Profile page</h2>
    {{#if userInSession}}
        <h2>Welcome, {{ userInSession.username }}!</h2>

        <button>
            <a href="/userProfile">Reload the page</a>
        </button>
    {{else}}
        <p>Still no logged in user, sorry!</p>
    {{/if}}
</div>