<h1>Welcome</h1>
<form action='/logout' method='post'>
  <button type='submit' class='btn btn-primary'>Logout</button>
</form>
  <img style="width: 90%;" src="https://images.pexels.com/photos/954599/pexels-photo-954599.jpeg?cs=srgb&dl=alfabetos-arcilla-cartas-colores-954599.jpg&fm=jpg" alt="hello">