<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <h1>User profile page</h1>
            {{#if userInSession}}
                <h2>Welcome, {{ userInSession.username }}!</h2>
                <p>This is your profile page my friend!</p>
                <button>
                    <a href="/user-profile">Reload the page</a>
                </button>
            {{else}}
                <p>Still no logged in user, sorry!</p>
            {{/if}}
        </div>
    </div>
</div>