<div class="container">
    <h1>Perfil de {{user.username}}</h1>
    <hr>
    <p>¡Bienvenid@!</p>


    <a href="/main">Main</a>
    <div>
        <a href="/private">Private</a>
    </div>
</div>


<form action="/logout" method="POST">
    <button class="nav-link">Logout</button>
</form>