<div>

    <h1>Welcome {{this.username}} to Your Profile Page</h1>

    <div>

        <img src="http://i.imgur.com/QvrGWJ4.gif" alt="description of gif" />

    </div>

    <br><br>
    <a href="/">Home</a>
    <a href="/signup">Back</a>

</div>