<h1>This is your profile</h1>

{{#if userInSession}}

	<div class='user-profile'>
		<h3>Hello, {{userInSession.username}}!!</h3>

		<img src='images/{{userInSession.username}}.png' alt='profile pic' />
		<a href='/userProfile'>Reload the page</a>

	</div>
{{/if}}