{{#if userInSession}}
<div>
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page</p>
  <button>
    <a href="/userProfile">Refresh</a>
  </button>
</div>
{{else}}
<div>
  <p>No one's logged in!</p>
</div>
{{/if}}