<h1>Perfil de Usuario</h1>
<img src="/images/user-icon.png" alt=""/>
{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page my friend!</p>
  {{!-- <button>
    <a href="/userProfile">Reload the page</a>
  </button> --}}
{{else}}
  <br><p>Still no logged in user, sorry!</p>
{{/if}}