{{#if userInSession}}

  <h1>Hello {{userInSession.username}}</h1>
  <div>
    <p>Welcome to your private page</p>
  </div>
  <button><a href="/users/user-page">Reload page</a></button>

  <a href="/users/private">Private</a>

  <a href="/users/main">Main</a>

{{else}}
  <p>The user is not logged in</p>
  <button><a href="/login">Click here to log in</a></button>
{{/if}}