<div class="container">
    {{#with user}}
        <h1>Hola {{username}}</h1>
        <p>Today we have for you 2 amazing options</p>
        <p>First, take a look at these pretty little cats</p>
        <a class="btn btn-danger" href="/main">Litte cats</a>
        <br>
        <p>Then, we prepare a surprise gif for you</p>
        <a class="btn btn-danger" href="/private">Surprise</a>
    
    {{/with}}
</div>
    

