<h2>Edit Profile</h2>

<div>

    <span>name</span>
    <input type="text" name="name" value="{{userIn.username}}">
    <br>

    <span>Username</span>
    <input type="text" name="username" value="{{userIn.username}}"
    <br>

    <button type="submit">Upload</button>

    </form>
</div>