{{#if userInSession }}
<h2>Welcome, {{ userInSession.username }}!</h2>
<p>Profile page</p>

<a class="action-button shadow animate yellow" href="/">Home</a>
<a class="action-button shadow animate yellow" href="../login/auth/private.hbs">Private Page</a>
<a class="action-button shadow animate yellow" href="../login/auth/main.hbs">Surprise</a>


<!--<a href="/user.profile">Reload the page</a>
    <form action="/logout" method="post"></form> -->

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}