<h2>User Profile Page</h2>

{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <h3>This is your email address: {{userInSession.email}}</h3>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
{{else}}
  <p>You are not logged in.</p>
{{/if}}
