{{!-- views/users/userProfile.hbs --}}

{{#if user}}
  <h2>Welcome, {{ user.username }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
{{else}}
  <p>Inicia sesión por primera vez!</p>
      <a href="/login">Iniciar sesión</a>

{{/if}}
