
<div>
  <form action='/logout' method="post">
    <button class='logoutButton'type="submit">Logout</button>
  </form>
  
  <h1>Welcome {{user.username}}</h1>

  <hr>

  <p class="userText">Only registered users can visit to this page, as a reward, here are a couple of links only you can visit. Have fun!</p>

  <a href='/main'>Cat memes</a>

</div>
