<h2>User Registration:</h2>
<form method="POST" action="/auth/register">
<input type="text" name="username" required="true" placeholder="Username" >
   <input type="text" name="password" required="true" placeholder="Password" >
   <button type="submit"> Submit</button>
 </form>