{{#if userInSession}}
    <h2>Welcome, {{ userInSession.username }}!</h2>
    <p>This is your profile page my friend!</p>

    <a href="/private">Go to private page</a>
    <a href="/main">go to main page</a> 
    
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}