
{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page my friend!</p>
  
  <button>
    <a href="/userProfile">Reload the page</a>
  </button>

  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>

{{else}}
  <p>Please sign in to view profile</p>
{{/if}}