<div class="container">
    <h1>User profile</h1>

    {{#if user}}
    <h2>Hola, {{user.username}}</h2>

    <p>Tus rutas secretas:</p>
    <a href="/main" class="btn btn-primary">Main</a>
    <a href="/private" class="btn btn-primary">Private</a>

    {{else}}
    <p>Please, login first!</p>
    {{/if}}


</div>