{{#if userInSession}}
  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/">Home</a>
  </button>

<button>
  <a href="/private">Private</a>
</button>

<img src="https://www.zooplus.es/magazine/wp-content/uploads/2022/05/Cuanto-pesa-un-gato-2.jpeg" alt="Cat">


{{else}}
  
  <br><p>Still no logged in user, sorry!</p>
 
{{/if}}