<div class="users">
    {{#if userInSession}}
    <div class="giraffe">
        <img src="https://i.pinimg.com/564x/de/70/8b/de708b5ac69f5c5bdc40cd714cb5c6e7.jpg" alt="">
    </div>
    <div class="text">
        <h2>Welcome, {{ userInSession.username }}!</h2>
        <p>This is your profile page my friend!</p>
        <button class="btn btn-outline-primary">
            <a href="/auth/userProfile">Reload the page</a>
        </button>
    {{else}}
        <p>Still no logged in user, sorry!</p>
    {{/if}}
    </div>
</div>