<div class="container">
    <h1>Perfil de {{user.username}}</h1>
    <hr>
    <p>¡Bienvenid@!</p>
    <button type="button" class="btn btn-info">
        <a href="/main">Funny cat</a>
    </button>
    <button type="button" class="btn btn-info">
        <a href="/private">Private</a>
    </button>
</div>