<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registro">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inicio-sesion">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/perfil">Perfil</a>
        </li>
        <li class="nav-item">
          <form action="/cerrar-sesion" method="POST">
            <button class="nav-link">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>
  
  <div class="row justify-content-center">
  <h1>Perfil de {{user.username}}</h1>

  <p>¡Bienvenid@!</p>
</div>
