<div class="container">
    <h1>Perfil de {{user.username}}</h1>
    <hr>
    <p>¡Bienvenid@ a tu perfiiiiiiillllll! yujuuuuuuuuu</p>
</div>
<br>

<a href="/main" class="btn btn-dark block" >Si pinchas veras!</a>

<br>
          <form action="/cerrar-sesion" method="POST">
            <button class="nav-link">Logout</button>
          </form>
       
<br>

  <div class="row justify-content-center">
  <h1>Perfil de {{user.username}}</h1>

  <p>¡Bienvenid@!</p>
</div>