<div class="container">
    <h2>Enjoy it :)!</h2>
    <br>
    <iframe src="https://giphy.com/embed/11c7UUfN4eoHF6" width="1200" height="700" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/cats-spin-cat-gif-11c7UUfN4eoHF6"></a></p>
</div>