<div class="container index-div">
    <h1>Perfil</h1>
    <hr>
    <p>Bienvenido/a <strong>{{user.username}}</strong></p>
    <br>
    <a class="user-button" href="/perfil/principal">Ir a principal</a>
    <a class="user-button" href="/perfil/privado">Ir a privado</a>
</div>