<div class="container welcome">
    <div class="row justify-content-center">
        <div class="col-4">
            <img
                src="https://media2.giphy.com/media/3HxKww6HNjlYE7LPLR/giphy.gif?cid=ecf05e4771d8f2553e1242cca6ecc763860cf1d84cb38ccd&rid=giphy.gif">
            <h1>Welcome to your page</h1>
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>
</div>