<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <div class="container">

    <h2>Sign Up</h2>

    <form action="/" method="POST">

      <label for="username">Enter A Username</label>
      <input type="text" name="username" id="username" placeholder="Enter username here...">

      <label for="password">Enter Your Password</label>
      <input type="password" name="password" id="password" placeholder="Enter password here...">

      <button type="submit">Submit</button>

    </form>

    <% if (typeof(errorMessage) !== "undefined") { %>

      <div class="error-message"><%= errorMessage %></div>

    <% } %>

  </div>
