<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <div class="container">

    <h2>Sign Up</h2>

    <form action="/" method="POST">

      <label for="username">Enter A Username</label>
      <input type="text" name="username" id="username">

      <label for="firstName">Enter Your First Name</label>
      <input type="text" name="firstName" id="firstName">

      <label for="lastName">Enter Your Last Name</label>
      <input type="text" name="lastName" id="lastName">

      <label for="email">Enter Your Email</label>
      <input type="text" name="email" id="email">

      <label for="password">Enter Your Password</label>
      <input type="password" name="password" id="password">

      <button type="submit">Submit</button>

    </form>

    <% if (typeof(errorMessage) !== "undefined") { %>

      <div class="error-message"><%= errorMessage %></div>
      
    <% } %>

  </div>
