
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10;
  padding: 10;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}


 h1 {
   text-align: center;
 }
/*
h2 {}

h3 {} 
*/

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 0;
  margin-bottom: 20px;
  background-color: lightgrey;
  padding: 10px;
  
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */


/* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #27afdc;
  cursor: pointer;
}

form .validation {
  margin: 5px 0 10px;
  color: red;
}

form .field.has-error label {
	color: red;
}
form .field.has-error input {
	border: 1px solid  red;
}

.button {
  text-decoration: none;
  border: 1px solid rgba(100, 100, 100, 0.5);
  padding: 5px;
  border-radius: 3px;
  background-color: #27afdc;
  color: #111;
  text-shadow: #ffffff 1px 1px 1px;
}


