<h2>Sign Up to our site</h2>

{{>flash_messages}}

<form action="/process-signup" method="POST">

<label>
  <input type="text" name="userName" placeholder="Paolo123" required>
</label>
<br/>

<label>
  <input id="myPassword" type="password" name="originalPassword" placeholder="we won't tell.." required>
</label>
<br/>

<button>Signup</button>

</form>