<h2>Sign up</h2>

<form action="/process-signup" method="POST">
  <label>
    Username:
    <input type="text" name="username" placeholder="Choose a username">
  </label>
  <br>

  <label>
    Password:
    <input type="password" name="originalPassword" placeholder="Choose a password">
  </label>
  <br>

  <button>Create account</button>
</form>