<h2>Sign Up</h2>

<form action="/process-signup" method="POST">
  <label>
    USERNAME:
    <input type="text" name="userName" placeholder="username...">
  </label>
  <br/>

  <label>
    PASSWORD:
    <input type="password" name="userPassword" placeholder="password...">
  </label>
  <br/>
  <button>
    Sign Up
  </button>
</form>

