<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Auth app</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/strength.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/strength.js"></script>
    <script type="text/javascript" src="/javascripts/customjs.js"></script>
  </head>
  <nav>
    <li><a href="/">Main</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/main">Protected main</a></li>
    <li><a href="/private">Private route</a></li>
    <li><a href="/logout">Logout</a></li>
  </nav>
  <%- body -%>
</html>
