<!DOCTYPE html>
<html>

<head>
    <title>
        Basic Auth
    </title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel='stylesheet' href='../stylesheets/strength.css' />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <p class="navbar-text">PP | Basic Auth</p>
            <a class="navbar-text" href="/">Home </a>
            <a class="navbar-text" href="/signup">Sign up </a>
            <a class="navbar-text" href="/login">Log in </a>
            <p class="navbar-text"><%= typeof userValidated != 'undefined' && userValidated.username ? "Welcome: " +userValidated.username : '' %></p>
            <a class="navbar-text" href="/logout"><%= typeof userValidated != 'undefined' && userValidated.username ? "DISCONECT" : '' %></a>
        </div>
    </nav>
    <br>

    <%- body -%>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="../js/strength.js"></script>
        <script>
            $(document).ready(function ($) {
                $('#myPassword').strength({
                    strengthClass: 'strength',
                    strengthMeterClass: 'strength_meter',
                    strengthButtonClass: 'button_strength',
                    strengthButtonText: 'Show password',
                    strengthButtonTextToggle: 'Hide Password'
                }); 
            });   
        </script>
</body>

</html>