<!doctype html>
<html lang="en">
  <!-- <head>
    <title>Login</title>
    <meta charset="utf-8">
    </head> -->
  <body>
    <!-- <header id="site-header">
      <div class="container">
        <h1>What you will do now?</h1>
      </div>
    </header> -->
    <div id="site-main" class="container">
      <%- body %>
    </div>
    <!-- <footer id="site-footer">
      <div class="container">
        <p>&copy; 2018 Ironhack</p>
      </div>
    </footer> -->
  </body>
</html>
