<!doctype html>
<html lang="en">
  <head>
    <title>Basic Auth</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header id="site-header">
    </header>
    <div id="site-main" class="container">
      <%- body %>
    </div>
    <footer id="site-footer">
    </footer>
  </body>
</html>