<h1>Funny Cat Picture</h1>

<img src="images/cat-2083492_640.jpg" alt = "Funny Cat">

<ul>
<li><a href="home">Home Page Secret</a></li>
<br>
<li><a href="private">Private Page Secret</a></li>

</ul>

<br>
<a href="logout">Logout</a>