<h1>Sign Up</h1>

<form action="/signup" method="post">

  <label for="username">Username: </label>
  <input type="text" name="username" id="username" />

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" />

  <button type="submit">Create User</button>

</form>

{{#if errorMessage}}
  <p
    style="background-color: red; color:white; padding: 5px"
  >{{errorMessage}}</p>
{{/if}}