<div class="imgContainer">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
</div>
<br>
<div class="container">
    <div class="cont1_4"><a href="/signup">Crear cuenta</a></div>
    <div class="cont1_4"><a href="/login">Iniciar sesi칩n</a></div>
    <div class="cont1_4"><a href="/main">P치gina protegida (requiere autenticaci칩n)</a></div>
    <div class="cont1_4"><a href="/logout">Cerrar sesi칩n</a></div>
</div>