<div>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWHZS37ifiw6w-OMe0thAu6AurTBPGaohZKwkYa0zaC93a9996" alt="img">
<li>
      <a href="/auth/signup">Sign up!</a>
    </li>
    <li>
      <a href="/auth/login">Login</a>
    </li>

</div>

