<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/strengthify.css" type="text/css">
  </head>
  <body>

    {{{body}}}
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="/javascripts/jquery.strengthify.js"></script>
    <script src='/javascripts/script.js'></script>
  </body>
</html>
