<div class="imgContainer">
    <h3>Est치s en una p치gina privada, felicidades!!!</h3>
    <img class="imgCat" src="https://images3.alphacoders.com/116/116775.jpg" alt="">
    <div class="container">
        <div class="cont1_2"><a href="/private">P치gina privada</a></div>
        <div class="cont1_2"><a href="/logout">Cerrar sesi칩n</a></div>
    </div>
</div>