<div class="imgContainer">
    <h3>Observa a los gatos Jedi!!!</h3>
    <img class="imgGif" src="https://i.giphy.com/media/Ov5NiLVXT8JEc/200.gif" alt="">
    <br><br>
    <div class="container">
        <div class="cont1_2"><a href="/main">Regresar</a></div>
        <div class="cont1_2"><a href="/logout">Cerrar sesión</a></div>
    </div>
</div>