<div>
 <ul>
    {{#if user}}
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/auth/logout">Logut</a>
    </li>
    {{/if}} {{#unless user}}
    {{/unless}}
  </ul>


<h1>Private Page</h1>
<img src="https://media.giphy.com/media/nNxT5qXR02FOM/giphy.gif" alt="cat">
<a href="/">Go back</a>
</div>