<div class="main">
    <img src="https://media.giphy.com/media/mlvseq9yvZhba/giphy.gif" alt="" class="m-3">
    <div>
        <a href="/" class="btn btn-secondary active m-3" role="button" aria-pressed="true">Back to Home</a>
    </div>
</div>
