<body>
    <form id="form" action="/signup" method="POST">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="AnakinSkywalker" required minlength="2">

        <br><br>
        <label for="password">Password</label><br>
        <input id="signPass" type="password" name="password" placeholder="DeathStar" required minlength="8" maxlength="16">
        <br><br>

        <button>Create account</button>

        {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
        {{/if}}

    </form>
</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="../../public/javascripts/strength.js"></script>
<script type="text/javascript" src="../../public/javascripts/js.js"></script>