<div class="main-page-container">
  <h2>Please enjoy this picture of a cat: </h2>

  <img
    src="https://www.kidscodecs.com/wp-content/uploads/2020/02/History_TS_ProgrammingMemes_image4.png"
    alt="Progamming kitty"
  />

  <a href="/">Home</a>
</div>