<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <h1>Cat Math</h1>
            <img src="https://i.ebayimg.com/images/g/r8EAAOSw6BpeqKd6/s-l1600.jpg" alt="">

            <a href="/my-profile" class="btn btn-warning btn-lg btn-block">Back To Personal Page</a>
            <a href="/" class="btn btn-danger btn-lg btn-block">Go Home</a>

        </div>

    </div>

</div>