<div class="row justify-content-center pt-5">
	<img src="https://media.istockphoto.com/id/1322123064/es/foto/retrato-de-un-adorable-gato-blanco-con-gafas-de-sol-y-camisa-yace-sobre-una-hamaca-de-tela.jpg?s=612x612&w=0&k=20&c=4nnNjVz6ma2rlq60kO4-aK7aDAxZ-DvYnL1h5Z2jpEs="
		alt="A cat">
</div>