<form action="/login" method="POST" id="form">
    <h2>Inicia sesión</h2>
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Nombre de usuario">
    <br><br>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password">
    <br><br>
    <button>Sign in</button>
    <p class="account-message">
        Aún no tienes cuenta? <a href="/signup">Crea una cuenta</a>
    </p>
    <br><br>
    <a href="/">Página de inicio</a>
</form>
{{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
{{/if}}