<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<a class="btn btn-primary" href="./register">Register</a>
<a class="btn btn-primary" href="./login">Login</a>
<a class="btn btn-primary" href="./protected">Discover the secret</a>